<div class='pmMain'>
    <section id="content">
        <h2 class="skip">사이트 이용 정보</h2>    
        <div class="guest ">
            <div class="com">
                <div class="top_box">
                    <div class="inner_v2">
                        <h3>대기 가능한 스케쥴</h3>
                    </div>
                </div>
                <div class="top_box4">
                    <div class="inner_v2">
                        <h3><span class="titSub">
                            <ul>
                                <li>- 촬영순번대기인원 이란 일정시간 이후부터 가능한 인원들이나 스케줄 배정을 받지 못한 인원들이 모집완료 된 스케줄 중 급작스러운 인원의 부재로 인한 자리를 채울 수 있는 시스템 입니다.</li>
                                <li>- 대기 완료 후 촬영 시작 시 까지 알림이 없을 경우 취소입니다.</li>
                                <li>- 대기 스케줄 확인은 스케줄관리 란에서 신청현황에 가시면 확인 가능합니다.</li>
                            </ul>
                        </span></h3>
                    </div>
                </div>
                <div class="subject_bx">
                        <div class="wrap_job_list recommend2">
                            <ul>
                                <li ng-repeat='item in psStandbyList.mod.standby.list'>
                                    <a ng-click='psStandbyList.evt.standby.go(item.RCUT_BASE_SEQ , item.REQUST_INFO_SEQ)'>
                                        <span class="img_area">
                                            <img src="{{psStandbyList.const.endPoint + item.FILE_WEB_PATH}}" onError="this.src='../images/sprite-icon.png'"/>
                                        </span>
                                        <span class="txt_area">
                                            <span class="flug {{item.PGM_REUT_FIELD}}">&nbsp;{{item.PGM_REUT_FIELD_NM}}&nbsp;</span>
                                            <span class="desc">[{{item.PGM_HOPE_CAST}}] {{item.PGM_NAME}}<label ng-if="item.TITLE_GUBUN != ''">({{item.TITLE_GUBUN}})</label>  </span>
                                            <div class="subTxt">
                                                <span class="date">촬영일: 
                                                    <em ng-bind='item.PGM_START_DTM | shortDate'></em><label ng-if="item.PGM_SHOOT_KIND">({{item.PGM_SHOOT_KIND}})</label></span>
                                                <span class="tag" ng-bind="item.PGM_POINT + ' / ' + item.AGE_MIN + '~' + item.AGE_MAX + '세 ' + item.TOT_COUNT + ' 명 / ' + item.GENDER"></span>
                                            </div>     
                                        </span>
                                    </a>
                                </li>
                            </ul>
                    </div>
                    <div class="more_wrap" >
                        <a class="more"  ng-click='psStandbyList.evt.standby.loadMore()' ng-if='psStandbyList.mod.standby.listMaxCount !== psStandbyList.mod.standby.list.length'>
                            <span>더보기</span>
                        </a>
                        <span ng-if='psStandbyList.mod.standby.listMaxCount === 0'>표시할 정보가 없습니다</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>
