<div class="cpViewPesnR1List">
    <section id="content">
        <h2 class="skip">사이트 이용 정보</h2>
        <div class="content">
            <div class="com">
                <div class="top_box">
                    <div class="inner top">
                        <div class="flug2 type2"><span>{{cpViewPesnR1List.detailBaseInfo.PGM_REUT_FIELD_NM}}</span></div>
                        <span class="desc top">[{{cpViewPesnR1List.detailBaseInfo.PGM_HOPE_CAST_NM}}] {{cpViewPesnR1List.detailBaseInfo.PGM_NAME}}<label ng-if="cpViewPesnR1List.detailBaseInfo.TITLE_GUBUN != ''">({{cpViewPesnR1List.detailBaseInfo.TITLE_GUBUN}})</label></span>
                    </div>
                </div>

                <div class="form-box-cont form-box-cont2 pt0 pb0">
                    <div class="inner4">
                        <dl>
                            <dt class="hide">출연자모집 정보 검색</dt>
                            <dd>
                                <div class="row-group">
                                            <span class="select-box">
                                                <select title="모집상태 선택" ng-options="opt.v as opt.k for opt in cpViewPesnR1List.statusSelelctInfo" ng-model="cpViewPesnR1List.memberStateCode"></select>
                                            </span>
                                </div>
                                <span class="post-input">
                                            <input type="text" class="" placeholder="검색어를 입력해주세요." ng-model="cpViewPesnR1List.searchData">
                                            <button type="button" class="btn_sh" ng-click="cpViewPesnR1List.search(false)"><span class="hide">검색</span></button>
                                        </span>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="content-cont-view">
                <div class="tab_cont_box_1">
                    <div class="total-wrap">
                        <div class="">
                            <h3>모집정보/현황/ 총모집인원</h3>
                            <div class="value">{{cpViewPesnR1List.requestMemberTotCnt | number}}명 / <em>{{cpViewPesnR1List.requestCompleteCnt | number}}명</em></div>
                            <ul>
                                <li ng-repeat="data in cpViewPesnR1List.requestCompleteInfo">
                                    <span class="label">{{data.AGE_MIN | number}} ~ {{data.AGE_MAX | number}}세  {{data.GENDER_NM}}</span>
                                    <span class="value2">{{data.PEOPLE_NUM | number}}명 / <em>{{data.TOT_CNT | number}}명</em></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap_job_list my_recommend pt50">
                <div class="com">
                            <span class="chk-box">
                                <input type="checkbox" id="preferredYn" class="rect" ng-model="cpViewPesnR1List.allChk" ng-click="cpViewPesnR1List.allChkFn(cpViewPesnR1List.rcutRequestMemeberList);">
                                <label for="preferredYn"><span class="selectAll">전체선택</span></label>
                            </span>
                </div>
                <div class="inner peopleList">
                    <ul>
                        <li ng-repeat="data in cpViewPesnR1List.rcutRequestMemeberList">
                            <span class="chk-box2"><input type="checkbox" class="rect2" ng-model="data.chk"></span>
                            <span class="img_area" ng-click="cpViewPesnR1List.goDetail(data)"><img src="{{endPoint.service + data.PHOTO_DATA[0].FILE_WEB_PATH}}" onError="this.src='../images/sprite-icon.png'"/></span>
                            <span class="txt" ng-click="cpViewPesnR1List.goDetail(data)">
                                        <span class="stateInfo stateInfo01" ng-if="data.MEMBER_STATE_CODE === 'A7'">{{data.MEMBER_STATE_NAME}}</span>
                                        <span class="stateInfo stateInfo02" ng-if="data.MEMBER_STATE_CODE === 'A8'">{{data.MEMBER_STATE_NAME}}</span>
                                        <span class="stateInfo stateInfo03" ng-if="data.MEMBER_STATE_CODE === 'A9'">{{data.MEMBER_STATE_NAME}}</span>
                                        <span class="stateInfo stateInfo01" ng-if="data.MEMBER_STATE_CODE !== 'A7' && data.MEMBER_STATE_CODE !== 'A8' && data.MEMBER_STATE_CODE !== 'A9'">확정</span>
                                        <span class="desc">{{data.MEMBER_NM}}</span>
                                        <span class="date">{{data.MEMBER_AGE}}세 / {{data.MEMBER_GENDER_NM}} / {{data.MEMBER_ADDR}} / {{data.MEMBER_SUBWAY_LINES}} {{data.MEMBER_SUBWAY_NAME}}{{data.MEMBER_SUBWAY_TIME}}분</span>
                                        <span class="date">{{data.SUB_INFO}}</span>
                                    </span>
                            <button class="btn_phone" ng-click="cpViewPesnR1List.callNumber(data.MEMBER_HP)"></button>
                            <button class="btn_confirm" ng-if="data.MEMBER_STATE_CODE === 'A7'" ng-click="cpViewPesnR1List.procRequest(data, 'P3')"><span class="callPeople callPeople01">취소</span></button>
                            <button class="btn_confirm" ng-if="data.MEMBER_STATE_CODE === 'A8'" ng-click="cpViewPesnR1List.procRequest(data, 'P2')"><span class="callPeople callPeople02">수락</span></button>
                            <button class="btn_confirm" ng-if="data.MEMBER_STATE_CODE === 'A9'" ng-click="cpViewPesnR1List.procRequest(data, 'P1')"><span class="callPeople callPeople03">요청취소</span></button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="more_wrap" ng-if="cpViewPesnR1List.rcutRequestMemeberList.length < cpViewPesnR1List.rcutRequestMemeberListCount"><a class="more" ng-click="cpViewPesnR1List.search(true)"><span>더보기</span></a></div>
            <div class="more_wrap" ng-if="cpViewPesnR1List.rcutRequestMemeberListCount === 0"><span>조회된 정보가 없습니다.</span></div>
            <div class="form-box-cont">
                <div class="btn_wrap btn_wrap3 btn_wrap4  col2">
                    <button type="button" class="btn blue4" ng-click="cpViewPesnR1List.showReqPushPopup()">알림발송</button>
                    <button type="button" class="btn lineBtn01" ng-click="cpViewPesnR1List.showSchduleMngPopup()">스케줄변경알림 관리</button>
                </div>
                <div class="btn_wrap btn_wrap3 btn_wrap4 mt10">
                    <button type="button" class="btn2 btn_cyon" ng-click="cpViewPesnR1List.rcutEndProc()" ng-if="cpViewPesnR1List.detailBaseInfo.RCUT_BASE_STATE == 'R1'">모집완료</button>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>