<div class="singupPesnDetail">
	<section>
		<h2 class="skip">사이트 이용 정보</h2>
		<div class="cont-box">
			<div class="form-box-cont">
				<div class="inner4 pt0">
					<dl>
						<dt class="star">직업</dt>
						<dd>
							<span class="text-input">
								<input type="text" class="w90" ng-model="piPesnModDetail.job" placeholder="직업을 입력해주세요.">
							</span>
						</dd>
					</dl>
					<dl class="clfix">
						<dt class="star">지원분야</dt>
						<dd>
							<div class="list-chk col">
								<!-- 0428 class명 수정-->
								<span class="rel check-box" ng-repeat="data in piPesnModDetail.supportFieldOptions">
									<input type="checkbox" id="{{data.value}}" ng-model="data.chk" ng-click="piPesnModDetail.onSupportFieldChange(data)" value="{{data.value}}">
									<label for="{{data.value}}">
										<span>{{data.text}}</span>
									</label>
								</span>
							</div>
						</dd>
					</dl>
					<dl>
						<dt class="star">희망배역</dt>
						<dd>
						<div ng-repeat="subData in piPesnModDetail.supportFieldOptions" ng-if="subData.chk === true">
								<div class="flug_l">
									<span>{{subData.text || '지원분야를 선택해주세요.'}}</span>
								</div>
								<div class="mt20 type1">
									<div class="row list-rdo col2">
										<span class="rel chk-box2" ng-repeat="data in subData.hopeCastOptions">
											<input class="rect2" type="checkbox" id="{{data.value+data.type}}" ng-model="data.chk" ng-click="piPesnModDetail.onHopeCastChange(subData, data)" value="{{data.value}}">
											<label class="mr8" for="{{data.value+data.type}}">
												<span>{{data.text}}</span>
											</label>
										</span>
									</div>
									<div class="row" ng-if="subData.hopeCast === 'H6'">
										<span class="text-input">
											<input type="text" placeholder="희망배역을 입력하세요." ng-model="subData.hopeCastEtc">
										</span>
										<!--0428 dt클래스삭제-->
									</div>
								</div>
							</div>
						</dd>
					</dl>
					<dl>
						<dt>신체사항</dt>
						<dd>
							<span class="select-box"> <select class="w90"
								meta-Options="BODY_INFO" meta-options-data="999$신체사항선택"
								ng-model="piPesnModDetail.bodyInfo"></select>
							</span>
						</dd>
					</dl>
					<dl>
						<dt>보유방송등급</dt>
						<dd>
							<span class="select-box"> <select class="w90"
								meta-Options="CLASS_INFO" meta-options-data="999$보유방송등급선택"
								ng-model="piPesnModDetail.classInfo"></select>
							</span>
						</dd>
					</dl>
					<dl>
						<dt>헤어상태</dt>
						<dd>
							<div class="ms col2">
								<span class="select-box"> <select class="w90"
									meta-Options="HAIR_STATE" meta-options-data="999$머리색선택"
									ng-model="piPesnModDetail.hairState"></select>
								</span> <span class="space-block"></span> <span class="select-box">
									<select class="w90" meta-Options="HAIR_HEIGHT"
									meta-options-data="999$머리길이선택"
									ng-model="piPesnModDetail.hairHeight"></select>
								</span>
							</div>
						</dd>
					</dl>
					<dl>
						<dt>헤어상태 상세입력</dt>
						<dd>
							<span class="text-input">
								<input type="text" class="w90" ng-model="piPesnModDetail.hairEtc" placeholder="헤어상태를 상세하게 적어주세요.">
							</span>
						</dd>
					</dl>
					<dl>
						<dt>치아교정</dt>
						<dd>
							<span class="select-box"> <select class="w90"
								meta-Options="TOOTH_CORREC" meta-options-data="999$치아교정여부선택"
								ng-model="piPesnModDetail.toothCorrec"></select>
							</span>
						</dd>
					</dl>
					<dl>
						<dt>노출가능여부</dt>
						<dd>
							<span class="select-box"> <select class="w90"
								meta-Options="EXPOSURE_INFO" meta-options-data="999$노출가능여부선택"
								ng-model="piPesnModDetail.exposureInfo"></select>
							</span>
						</dd>
					</dl>
					<dl>
						<dt></dt>
						<dd class="ms acc">
							<ul>
								<li><strong>문신</strong>
									<div class="ms col2">
										<span class="select-box"> <select class="w90"
											meta-Options="TATOO_INFO" meta-options-data="999$문신선택"
											ng-model="piPesnModDetail.tatooInfo"></select>
										</span>
									</div></li>
								<li class="space-block"></li>
								<li><strong>피어싱</strong>
									<div class="ms col2">
										<span class="select-box"> <select class="w90"
											meta-Options="PIER_INFO" meta-options-data="999$피어싱선택"
											ng-model="piPesnModDetail.pierInfo"></select>
										</span>
									</div></li>
							</ul>
						</dd>
					</dl>
					<dl>
						<dt>문신, 피어싱 상세입력</dt>
						<dd>
							<span class="text-input">
								<input type="text" class="w50" ng-model="piPesnModDetail.tatooEtc" placeholder="문신,피어싱상태를 상세하게 적어주세요.">
							</span>
						</dd>
					</dl>
					<dl class="clfix">
						<dt>수염</dt>
						<dd>
							<div>
								<span class="rel radio-box mr8"
									ng-repeat="data in piPesnModDetail.beardOptions"> <input
									type="radio" id="{{data.value}}"
									ng-model="piPesnModDetail.beardInfo" value="{{data.value}}">
									<label for="{{data.value}}"><span>{{data.text}}</span></label>
								</span>
							</div>
						</dd>
					</dl>
					<dl>
						<dt></dt>
						<dd class="ms acc">
							<ul>
								<li><strong>보조개</strong>
									<div class="ms col2">
										<span class="select-box"> <select class="w90"
											meta-Options="DIMPLE_INFO" meta-options-data="999$보조개선택"
											ng-model="piPesnModDetail.dimpleInfo"></select>
										</span>
									</div></li>
								<li class="space-block"></li>
								<li><strong>눈쌍커풀</strong>
									<div class="ms col2">
										<span class="select-box"> <select class="w90"
											meta-Options="DOUBLE_EYE_INFO" meta-options-data="999$쌍커풀선택"
											ng-model="piPesnModDetail.doubleEyeInfo"></select>
										</span>
									</div></li>
							</ul>
						</dd>
					</dl>
					<dl>
						<dt>하의사이즈</dt>
						<dd>
							<span class="select-box"> <select class="w90"
								meta-Options="BOTTOMS_SIZE" meta-options-data="999$하의사이즈 선택"
								ng-model="piPesnModDetail.bottomsSize"></select>
							</span>
						</dd>
					</dl>
					<dl>
						<dt>상의사이즈</dt>
						<dd>
							<span class="select-box"> <select class="w90"
								meta-Options="TOP_SIZE" meta-options-data="999$상의사이즈 선택"
								ng-model="piPesnModDetail.topSize"></select>
							</span>
						</dd>
					</dl>
					<dl>
						<dt>발사이즈</dt>
						<dd>
							<span class="select-box"> <select class="w90"
								ng-options="data.value as data.text for data in piPesnModDetail.footSizeOptions"
								ng-model="piPesnModDetail.footSize"></select>
							</span>
						</dd>
					</dl>
					<dl>
						<dt class="fl mr12">자전거운전</dt>
						<dd>
							<span class="rel radio-box mr8"
								ng-repeat="data in piPesnModDetail.driveBicycleOptions">
								<input type="radio" id="'bicycle' + {{data.value}}"
								ng-model="piPesnModDetail.driveBicycleYn" value="{{data.value}}">
								<label for="'bicycle' + {{data.value}}"><span>{{data.text}}</span></label>
							</span>
						</dd>
					</dl>
					<dl>
						<dt class="fl mr12">자동차운전</dt>
						<dd>
							<span class="rel radio-box mr8"
								ng-repeat="data in piPesnModDetail.driveCarOptions"> <input
								type="radio" id="'car' + {{data.value}}"
								ng-model="piPesnModDetail.driveCarYn" value="{{data.value}}">
								<label for="'car' + {{data.value}}"><span>{{data.text}}</span></label>
							</span>
						</dd>
					</dl>
					<dl>
						<dt class="fl mr12">오토바이</dt>
						<dd>
							<span class="rel radio-box mr8"
								ng-repeat="data in piPesnModDetail.driveMotercycleOptions">
								<input type="radio" id="'bike' + {{data.value}}"
								ng-model="piPesnModDetail.driveMotercycleYn"
								value="{{data.value}}">
								<label for="'bike' + {{data.value}}"><span>{{data.text}}</span></label>
							</span>
						</dd>
					</dl>
					<dl>
						<dt class="fl mr12">흡연여부</dt>
						<dd>
							<span class="rel radio-box mr8"
								ng-repeat="data in piPesnModDetail.smokeOptions"> <input
								type="radio" id="'smoke' + {{data.value}}"
								ng-model="piPesnModDetail.smokeYn" value="{{data.value}}">
								<label for="'smoke' + {{data.value}}"><span>{{data.text}}</span></label>
							</span>
						</dd>
					</dl>
					<dl class="bt clfix">
						<dt class="mt20"
							ng-click="piPesnModDetail.dressSamplePopup = true">
							<span class="col_ty_01">의상</span> <em class="ico">sample</em>
						</dt>
						<dd>
							<div class="row ms">
								<span class="w100 list-chk"> <input type="checkbox"
									id="isDressBase" ng-model="piPesnModDetail.isDressBase">
									<label for="isDressBase"> <span>기본정장</span>
								</label>
								</span> <span class="text-input"> <input type="tel"
									placeholder="벌수" title="기본정장 벌수" input-Filter="n"
									ng-model="piPesnModDetail.dressBaseCount"
									ng-disabled="piPesnModDetail.isDressBase === false">
								</span> <span class="text-input"> <input type="text"
									placeholder="색상" title="기본정장 색상"
									ng-model="piPesnModDetail.dressBaseColor"
									ng-disabled="piPesnModDetail.isDressBase === false">
								</span>
							</div>
							<div class="row ms">
								<span class="w100 list-chk"> <input type="checkbox"
									id="isDressSemi" ng-model="piPesnModDetail.isDressSemi">
									<label for="isDressSemi"> <span>세미정장</span>
								</label>
								</span> <span class="text-input"> <input type="tel"
									placeholder="벌수" title="세미정장 벌수" input-Filter="n"
									ng-model="piPesnModDetail.dressSemiCount"
									ng-disabled="piPesnModDetail.isDressSemi === false">
								</span> <span class="text-input"> <input type="text"
									placeholder="색상" title="세미정장 색상"
									ng-model="piPesnModDetail.dressSemiColor"
									ng-disabled="piPesnModDetail.isDressSemi === false">
								</span>
							</div>
							<div class="row list-group">
								<span class="w100 list-chk"> <input type="checkbox"
									id="dressBlackShoes" ng-model="piPesnModDetail.dressBlackShoes"
									ng-value-true="Y" ng-value-false="">
									<label for="dressBlackShoes"> <span>검정구두</span>
								</label>
								</span> <span class="w100 list-chk"> <input type="checkbox"
									id="dressSwimsuit" ng-model="piPesnModDetail.dressSwimsuit"
									ng-value-true="Y" ng-value-false="">
									<label for="dressSwimsuit"> <span>수영복</span>
								</label>
								</span> <span class="w100 list-chk"> <input type="checkbox"
									id="dressSchoolUniform"
									ng-model="piPesnModDetail.dressSchoolUniform" ng-value-true="Y"
									ng-value-false="">
									<label for="dressSchoolUniform"> <span>교복</span>
								</label>
								</span> <span class="w100 list-chk"> <input type="checkbox"
									id="dressMilitaryBoots"
									ng-model="piPesnModDetail.dressMilitaryBoots" ng-value-true="Y"
									ng-value-false="">
									<label for="dressMilitaryBoots"> <span>군화</span>
								</label>
								</span>
							</div>
						</dd>
					</dl>
					<div class="btn_wrap type1">
						<button type="button" class="btn cyon"
							ng-click="piPesnModDetail.onSubmit()">수정완료</button>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- popup -->
	<div class="alert_popup" data-popup="popup" data-popup-name="pop-2"
		ng-if="piPesnModDetail.dressSamplePopup">
		<div class="backdrop"></div>
		<div class="popup_area" ng-if="piPesnModDetail.dressSamplePopup">
			<h2 class="title">
				<span>기본정장,세미정장 예시</span>
			</h2>
			<div class="scroll-box-content">
				<div class="ct-info-box">
					<div>
						<h2>기본 정장 예시</h2>
						<span class="imgbox"><img src="../images/@sample4.png"
							alt=""></span>
					</div>
					<div>
						<h2>세미 정장 예시</h2>
						<span class="imgbox"><img src="../images/@sample6.jpg"
							alt=""></span>
					</div>
				</div>
				<div class="btn_wrap">
					<button type="button" class="btn blue2"
						ng-click="piPesnModDetail.dressSamplePopup = false">
						<span>닫기</span>
					</button>
				</div>
			</div>
			<!-- / scroll-box-content -->
		</div>
		<div>
			<a class="close" ng-click="piPesnModDetail.dressSamplePopup = false"><span
				class="hide">닫기</span></a>
		</div>
	</div>
	<!-- / popup -->

	<div ng-include="doryConst.FOOTER.URL"></div>
</div>