<div class="cmPesnInfoVideo">
    <section id="content">
        <h2 class="skip">사이트 이용 정보</h2>
        <div class="content">
            <section class="photoWrap">
                <h3 class="hide">출연자 영상 리스트</h3>
                <div class="bxslider">
                    <div>
                        <video style="width:100%" id="myVideo" controls="controls">
                            <!-- <source src="Kalimba.webm" type="video/webm" /> -->
                        </video>
                    </div><!-- 이미지 링크 영상 링크로 교체 및 영상 추가하면 잘 나옴 -->
                </div>
                <div class="imgNum">
                    <span class="nowImgNum">1</span> / <span class="allImgNum">{{cmPesnInfoVideo.memberVideoAttachInfo.length}}</span>
                </div>
            </section>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>