<div class='cnNtDetail'>
    <section id="content">
        <h2 class="skip">사이트 이용 정보</h2>    
        <div class="guest">
            <div class="mypage-wrap">
                <div class="recruit_cont">
                    <ul>
                        <li class="active">
                            <div class="top">
                                <div class="flug type5 P8"><span ng-if="cnNtDetail.viewData.NOTI_KIND == 'P'">출연자공지</span><span ng-if="cnNtDetail.viewData.NOTI_KIND == 'CC'">기업내공지</span><span ng-if="cnNtDetail.viewData.NOTI_KIND == 'C'">기업공지</span><span ng-if="cnNtDetail.viewData.NOTI_KIND == 'A'">전체공지</span></div>
                                <span class="subject" ng-class="{required : cnNtDetail.viewData.TOP_NOTI_YN == 'Y'}"><h3>{{cnNtDetail.viewData.TITLE}}</h3></span>
                            </div>
<!--                            <span ng-class="{required : cnNtDetail.viewData.TOP_NOTI_YN == 'Y'}"><h3>{{cnNtDetail.viewData.TITLE}}</h3></span>-->
                            <span class="date fr">{{cnNtDetail.viewData.CREATE_DTM | shortDate}}</span>
                        </li>
                    </ul>
                </div>
                <div class="recruit_cont">
                   <ul>
                       <li class="active">
                           	{{cnNtDetail.viewData.DETAIL_CNTN}}
                       </li>
                   </ul>
                   <div class="btn_wrap inner" ng-if="cnNtDetail.writeUser === cnNtDetail.viewData.WRITE_NAME && (cnNtDetail.viewData.NOTI_KIND === 'P' || cnNtDetail.viewData.NOTI_KIND === 'CC')">
                        <a ng-click="cnNtDetail.update()" class="btn_cyon"><span>공지수정</span></a>
                   </div>
                    <div class="btn_wrap inner">
                        <a ng-click="cnNtDetail.goList()" class="btn_blue"><span>목록</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>