<div class="cpPaymtList">
    <section id="content">
      <h2 class="skip">정산관리</h2>
      <div class="bgi guest">
        <div class="top_box">
          <div class="inner_v2">
            <h3>정산관리</h3>
          </div>
        </div>
        <div class="form-box-cont form-box-cont2">
          <div class="inner4">
            <dl>
              <dt class="hide">정산관리</dt>
              <dd>
                <div class="row-group">
                  <span class="select-box">
                    <select
                      title="정산상태"
                      ng-model="cpPaymtList.calculateStateCode"
                    >
                      <option value="999">전체</option>
                      <option value="A2">정산완료</option>
                      <option value="A1">미완료</option>
                      <option value="A3">정산불가</option>
                    </select>
                  </span>
                </div>
                <div class="ms cal row-group">
                  <span class="rel text-input cal">
                    <input
                      type="text"
                      class="dateSelect"
                      datepicker
                      readonly
                      ng-model="cpPaymtList.startDate"
                    >
                    <em class="hide">달력선택</em>
                  </span>
                  <span class="space-block">-</span>
                  <span class="rel text-input cal">
                    <input
                      type="text"
                      class="dateSelect"
                      datepicker
                      readonly
                      ng-model="cpPaymtList.endDate"
                    >
                    <em class="hide">달력선택</em>
                  </span>
                </div>
                <span class="post-input">
                  <input type="text" placeholder="검색어를 입력해주세요." ng-model="cpPaymtList.searchData">
                  <button type="button" class="btn_sh" ng-click="cpPaymtList.search()">
                    <span class="hide">검색</span>
                  </button>
                </span>
              </dd>
            </dl>
          </div>
        </div>

        <div class="subject_bx subject_bx2">
          <div class="wrap_job_list my_recommend">
            <ul>
              <li ng-repeat="data in cpPaymtList.calculatePgmList">
                <span class="desc">이름(아이디)</span><label class="txt_val"> : {{data.MEMBER_NM}}({{data.MEMBER_ID}})</label><br>
                    <span class="desc">촬영시작일</span><label class="txt_val"> : {{data.PGM_START_DTM | shortDate}}</label><br>
                    <span class="desc">프로그래명</span><label class="txt_val"> : [{{data.PGM_REUT_FIELD_NM}}][{{data.PGM_HOPE_CAST}}]{{data.PGM_NAME}}</label><br>
                    <span class="desc">출석(본인)</span><label class="txt_val"> : {{data.ME_ATTEND_DTM | shortDateTime}} ({{data.ME_ATTEND_POINT}})</label><br>
                    <span class="desc">종료(본인)</span><label class="txt_val"> : {{data.ME_END_DTM | shortDateTime}} ({{data.ME_END_POINT}})</label><br>
                    <span class="desc">총시간(본인)</span><label class="txt_val"> : {{data.ME_TOT_TM | number}}</label><br>
                    <span class="desc">확정금액</span><label class="txt_val"> : {{data.AMT1 | number}}</label><br>
                    <span class="desc">식대</span><label class="txt_val"> : {{data.AMT2 | number}}</label><br>
                    <span class="desc">교통비</span><label class="txt_val"> : {{data.AMT3 | number}}</label><br>
                    <span class="desc">지역지원금</span><label class="txt_val"> : {{data.AMT4 | number}}</label><br>
                    <span class="desc">기타</span><label class="txt_val"> : {{data.AMT5 | number}}</label><br>
                    <span class="desc">합계</span><label class="txt_val"> : {{data.AMT6 | number}}</label><br>
                    <span class="desc">상태</span><label class="txt_val"> : {{data.CALCULATE_STATE_CODE_NAME}}</label>
              </li>
            </ul>
          </div>
          <div class="more_wrap">
            <a
              class="more"
              ng-if="cpPaymtList.showShowMoreButton"
              ng-click="cpPaymtList.searchMore();"
            >
              <span>더보기</span>
            </a>
            <span ng-if="cpPaymtList.calculatePgmListCount === 0">
              표시할 프로그램이 없습니다.
            </span>
          </div>
        </div>
      </div>
    </section>
  <div ng-include="doryConst.FOOTER.URL"></div>
</div>