<section class="callPop">
    <h3 class="hide">출석/종료 관리 팝업</h3>
    <div>
        <h4>출석/종료 관리</h4>
        <div class="innerForm">
            <dl>
                <dt>출석
                    <div class="com">
								<span class="chk-box">
									<input type="checkbox" name="tardyCheck" id="tardyCheck" class="rect2" ng-model="cpAttendEndP.companyMemberAttendCode">
									<label for="tardyCheck"><span class="selectAll">지각일 경우 체크</span></label>
								</span>
                    </div>
                </dt>
                <dd>
                    <div class="ms col2">
								<span class="rel text-input cal">
									<input datepicker type="text" readonly ng-model="cpAttendEndP.companyMemberAttendDtm">
                                    <a href="" class="cal"><span class="hide">달력선택</span></a>
								</span>
                    </div>
                </dd>
                <dd>
                    <div class="ms two">
								<span class="select-box select-box2">
									<select class="sel_m" title="시간 선택" ng-model="cpAttendEndP.companyMemberAttendHour">
										<option ng-repeat="data in cpAttendEndP.pgmMeetingHourList track by $index" value="{{data.v}}">{{data.k}}</option>
									</select>
								</span>
                        <span class="space-block"></span>
                        <span class="select-box select-box2">
									<select class="sel_m" title="분 선택" ng-model="cpAttendEndP.companyMemberAttendMinite">
										<option ng-repeat="data in cpAttendEndP.pgmMeetingMiniteList track by $index" value="{{data.v}}">{{data.k}}</option>
									</select>
								</span>
                    </div>
                </dd>
                <dd>
                    <div class="ms col2">
								<span class="rel text-input">
									<input type="text" name="" class="" placeholder="장소입력" ng-model="cpAttendEndP.companyMemberAttendPoint">
								</span>
                    </div>
                </dd>
            </dl>
            <dl class="mt30">
                <dt>종료</dt>
                <dd>
                    <div class="ms col2">
								<span class="rel text-input cal">
									<input datepicker type="text" readonly ng-model="cpAttendEndP.companyMemberEndDtm">
                                    <a href="" class="cal"><span class="hide">달력선택</span></a>
								</span>
                    </div>
                </dd>
                <dd>
                    <div class="ms two">
								<span class="select-box select-box2">
									<select class="sel_m" title="시간 선택" ng-model="cpAttendEndP.companyMemberEndHour">
										<option ng-repeat="data in cpAttendEndP.pgmMeetingHourList track by $index" value="{{data.v}}">{{data.k}}</option>
									</select>
								</span>
                        <span class="space-block"></span>
                        <span class="select-box select-box2">
									<select class="sel_m" title="분 선택" ng-model="cpAttendEndP.companyMemberEndMinite">
										<option ng-repeat="data in cpAttendEndP.pgmMeetingMiniteList track by $index" value="{{data.v}}">{{data.k}}</option>
									</select>
								</span>
                    </div>
                </dd>
                <dd>
                    <div class="ms col2">
								<span class="rel text-input">
									<input type="text" name="" class="" placeholder="장소입력" ng-model="cpAttendEndP.companyMemberEndPoint">
								</span>
                    </div>
                </dd>
            </dl>
            <div class="btn_wrap">
                <div class="row">
                    <button type="button" class="btn" ng-click="cpAttendEndP.confirm()">등록</button>
                </div>
            </div>
            <a ng-click="cpAttendEndP.dismiss()" class="closePop"><span class="hide">닫기</span></a>
        </div>
    </div>
</section>