<div class="cmPesnInfoPhoto">
    <section id="content">
        <h2 class="skip">사이트 이용 정보</h2>
        <div class="content">
            <section class="photoWrap">
                <h3 class="hide">출연자 사진 리스트</h3>
                <div class="bxslider">
                    <img class="w100p" ng-src="{{endPoint.service + cmPesnInfoPhoto.memberPhotoAttachInfo[cmPesnInfoPhoto.currentPage].FILE_WEB_PATH}}">
                </div>
                <div class="imgNum">
                    <span class="nowImgNum">{{cmPesnInfoPhoto.currentPage}}</span> / <span class="allImgNum">{{cmPesnInfoPhoto.memberPhotoAttachInfo.length}}</span>
                </div>
                <div class="imgList">
                    <ul>
                        <li ng-repeat="data in cmPesnInfoPhoto.memberPhotoAttachInfo track by $index"><a ng-click="cmPesnInfoPhoto.showPage($index)"><img src="{{endPoint.service + data.FILE_WEB_PATH}}"/></a></li>
                    </ul>
                </div>
            </section>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>