<div class="cpStandbyPesnList">
    <section id="content">
        <h2 class="skip">사이트 이용 정보</h2>
        <div class="guest ">
            <div class="com">
                <div class="subject_bx">
                    
                    <div class="top_box">
                        <div class="inner top">
                            <div class="flug2 type2" ng-if="cpStandbyPesnList.detailBaseInfo.EMER_YN === 'Y'" ><span>급구</span></div>
                            <span class="desc top">{{'['+cpStandbyPesnList.detailBaseInfo.PGM_REUT_FIELD_NM+'] '+cpStandbyPesnList.detailBaseInfo.PGM_NAME}}<label ng-if="cpStandbyPesnList.detailBaseInfo.TITLE_GUBUN != ''">({{cpStandbyPesnList.detailBaseInfo.TITLE_GUBUN}})</label></span>
                        </div>
                    </div>
                    
                    <div class="wrap_job_list my_recommend" ng-if="cpStandbyPesnList.rcutRequestMemeberList.length > 0">
                        <!-- <div class="com mt10">
                                    <span class="chk-box">
                                        <input type="checkbox" name="allCheck" id="allCheck" class="rect" ng-model="cpStandbyPesnList.isAllChk" ng-click="cpStandbyPesnList.allChk(cpStandbyPesnList.rcutRequestMemeberList);">
                                        <label for="allCheck"><span class="selectAll">전체선택</span></label>
                                    </span>
                        </div> -->
                        <div class="inner peopleList">
                            <ul>
                                <li ng-repeat="data in cpStandbyPesnList.rcutRequestMemeberList">
                                    <!-- <span class="chk-box2"><input type="checkbox" class="rect2" ng-model="data.chk"></span> -->
                                    <span class="img_area"><img src="{{endPoint.service + data.url}}" onError="this.src='../images/sprite-icon.png'"/></span>
                                    <span class="txt">
                                        <span class="wait_flug">대기</span>
                                        <span class="desc">{{data.MEMBER_NM}}</span>
                                        <span class="date">{{data.MEMBER_AGE + ' / ' + data.MEMBER_GENDER_NM}}</span>
                                        <span class="tag">{{data.MEMBER_ADDR + ' / ' + data.MEMBER_SUBWAY_LINES + ' / ' + data.MEMBER_SUBWAY_NAME + ' ' + data.MEMBER_SUBWAY_TIME + '분'}}</span>
                                    </span>
                                    <button ng-click="cpStandbyPesnList.procRequest('P4', data)" class="btn_confirm"><span>수락</span></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="more_wrap" ng-if="cpStandbyPesnList.rcutRequestMemeberList.length < cpStandbyPesnList.rcutRequestMemeberListCount"><a ng-click="cpStandbyPesnList.search(true);" class="more"><span>더보기</span></a></div>
                    <div class="more_wrap" ng-if="cpStandbyPesnList.rcutRequestMemeberListCount === 0"><span>조회된 정보가 없습니다.</span></div>
                </div>
            </div>
            <!-- <div class="btn_wrap mt25 mb25">
                <div class="row-group">
                    <button type="button" ng-if="cpStandbyPesnList.rcutRequestMemeberListCount !== 0" class="btn2 blue" ng-click="cpStandbyPesnList.showCheckedProgmSelectPopup()">출연 요청</button>
                </div>
            </div> -->
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>