
<div class="inputLayerType allMenu" id="tsot2104p" style="display:block;">
	<div class="popupHeading">
		<h3>전체메뉴 보기</h3>
		<div class="close"><a ng-click="closeMainMenu()"><img src="../images/popup/close.png" alt="닫기" /></a></div>
	</div>
	<div class="popupContentWrapCase">
		<div class="popupContentWrap">

	
	<div class="scrollBox" >

		<div class="siteMap">
			
			<div class="menuLine">
				<ul class="depth1" ng-repeat="dep1 in menu | filter:filterGroupA">
					<li>
						<strong>{{dep1.name}}</strong>
						<ul class="depth2">
							<li ng-repeat="dep2 in dep1.menu">
								<strong ng-if="!dep2.uri">{{dep2.name}}</strong>
								<a href="{{dep2.uri}}" ng-if="dep2.uri" ng-click="closeMainMenu()"><strong>{{dep2.name}}</strong></a>
								<ul class="depth3">
									<li ng-repeat="dep3 in dep2.menu"><a href="{{dep3.uri}}" ng-click="closeMainMenu()">{{dep3.name}}</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="menuLine">
				<ul class="depth1" ng-repeat="dep1 in menu | filter:filterGroupB">
					<li>
						<strong>{{dep1.name}}</strong>
						<ul class="depth2">
							<li ng-repeat="dep2 in dep1.menu | filter:filterExceptMe">
								<strong ng-if="!dep2.uri">{{dep2.name}}</strong>
								<a href="{{dep2.uri}}" ng-if="dep2.uri" ng-click="closeMainMenu()"><strong>{{dep2.name}}</strong></a>
								<ul class="depth3">
									<li ng-repeat="dep3 in dep2.menu"><a href="{{dep3.uri}}" ng-click="closeMainMenu()">{{dep3.name}}</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="menuLine">
				<ul class="depth1" ng-repeat="dep1 in menu | filter:filterGroupC">
					<li>
						<strong>{{dep1.name}}</strong>
						<ul class="depth2">
							<li ng-repeat="dep2 in dep1.menu">
								<strong ng-if="!dep2.uri">{{dep2.name}}</strong>
								<a href="{{dep2.uri}}" ng-if="dep2.uri" ng-click="closeMainMenu()"><strong>{{dep2.name}}</strong></a>
								<ul class="depth3">
									<li ng-repeat="dep3 in dep2.menu"><a href="{{dep3.uri}}" ng-click="closeMainMenu()">{{dep3.name}}</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="menuLine">
				<ul class="depth1" ng-repeat="dep1 in menu | filter:filterGroupD">
					<li>
						<strong>{{dep1.name}}</strong>
						<ul class="depth2">
							<li ng-repeat="dep2 in dep1.menu">
								<strong ng-if="!dep2.uri">{{dep2.name}}</strong>
								<a href="{{dep2.uri}}" ng-if="dep2.uri" ng-click="closeMainMenu()"><strong>{{dep2.name}}</strong></a>
								<ul class="depth3">
									<li ng-repeat="dep3 in dep2.menu"><a href="{{dep3.uri}}" ng-click="closeMainMenu()">{{dep3.name}}</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="menuLine">
				<ul class="depth1" ng-repeat="dep1 in menu | filter:filterGroupE">
					<li>
						<strong>{{dep1.name}}</strong>
						<ul class="depth2">
							<li ng-repeat="dep2 in dep1.menu">
								<strong ng-if="!dep2.uri" class="ellipsis">{{dep2.name}}</strong>
								<a href="{{dep2.uri}}" ng-if="dep2.uri" ng-click="closeMainMenu()"><strong class="ellipsis">{{dep2.name}}</strong></a>
								<ul class="depth3">
									<li ng-repeat="dep3 in dep2.menu"><a href="{{dep3.uri}}" ng-click="closeMainMenu()" class="ellipsis">{{dep3.name}}</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>

	</div>

		</div>
	</div>
</div>
