<div class="cmMngList">
    <section id="content">
      <h2 class="skip">사이트 이용 정보</h2>
      <div class="bgi guest">
        <div class="top_box">
          <div class="inner_v2">
            <h3>출연자 관리</h3>
          </div>
        </div>
        <div class="tabBtn">
          <ul>
            <li class="tabCol">
              <a
                class="view01"
                ng-class="{active: cmMngList.activeTabNumber === 1}"
                ng-click="cmMngList.onTabClick(1)"
              >
                관심출연자
              </a>
            </li>
            <li class="tabCol">
              <a
                class="view02"
                ng-class="{active: cmMngList.activeTabNumber === 2}"
                ng-click="cmMngList.onTabClick(2)"
              >
                출연수락/요청중
              </a>
            </li>
            <li class="tabCol">
              <a
                class="view03"
                ng-class="{active: cmMngList.activeTabNumber === 3}"
                ng-click="cmMngList.onTabClick(3)"
              >
                출연완료
              </a>
            </li>
          </ul>
        </div>


        <div class="tab01 tabForm01" ng-if="cmMngList.activeTabNumber === 1">
          <div class="guest">
            <div class="com">
              <div class="subject_bx">
                <div class="tit_n">
                  <h3 class="hide">출연자 정보</h3>
                  <span class="chk-box infoClick">
                    <input
                      type="checkbox"
                      name="preferredYn"
                      id="preferredYn"
                      class="viewAll"
                      ng-model="cmMngList.interestedActorsTabVars.showMoreOptions"
                    >
                    <label for="preferredYn">
                      <span>검색조건모두 열기</span>
                    </label>
                  </span>
                </div>
                <div class="inner6">
                  <div class="mb50">
                    <fieldset>
                      <div class="form-box-cont">
                        <div class="ms col2">
                          <span class="select-box">
                              <select
                                class="sel_m"
                                title="지원분야"
                                meta-Options="PGM_REUT_FIELD"
                                meta-options-data="999$지원분야"
                                ng-model="cmMngList.interestedActorsTabVars.supportField"
                              ></select>
                            </span>
                          <span class="space-block"></span>
                          <span class="select-box">
                              <select
                                class="sel_m"
                                title="희망배역 전체"
                                ng-model="cmMngList.interestedActorsTabVars.hopeCast"
                                ng-disabled="cmMngList.interestedActorsTabVars.supportField == '999'"
                              >
                                <option
                                  ng-repeat="data in cmMngList.interestedActorsTabVars.hopeCastOptions track by $index"
                                  value="{{data.v}}"
                                >
                                  {{data.k}}
                                </option>
                              </select>
                            </span>
                        </div>
                        <div class="ms col2">
                          <span class="select-box">
                            <select
                              class="sel_m"
                              title="최소연령"
                              ng-model="cmMngList.interestedActorsTabVars.startAge"
                            >
                              <option
                                ng-repeat="data in cmMngList.startAgeOptions track by $index"
                                value="{{data.v}}"
                              >
                                {{data.k}}
                              </option>
                            </select>
                          </span>
                          <span class="space-block"></span>
                          <span class="select-box">
                            <select
                              class="sel_m"
                              title="최대연령"
                              ng-model="cmMngList.interestedActorsTabVars.endAge"
                            >
                              <option
                                ng-repeat="data in cmMngList.endAgeOptions track by $index"
                                value="{{data.v}}"
                              >
                                {{data.k}}
                              </option>
                            </select>
                          </span>
                        </div>
                        <div class="ms col2">
                          <span class="select-box">
                            <select
                              class="sel_m"
                              title="성별 전체"
                              meta-Options="GENDER"
                              meta-options-data="999$성별"
                              ng-model="cmMngList.interestedActorsTabVars.memberGender"
                            ></select>
                          </span>
                          <span class="space-block"></span>
                          <span class="select-box">
                            <select
                              class="sel_m"
                              title="키"
                              ng-model="cmMngList.interestedActorsTabVars.height"
                            >
                              <option value="999">키</option>
                              <option value="100~0">100이하</option>
                              <option value="100~110">100~110</option>
                              <option value="110~120">110~120</option>
                              <option value="120~130">120~130</option>
                              <option value="130~140">130~140</option>
                              <option value="140~145">140~145</option>
                              <option value="145~150">145~150</option>
                              <option value="150~155">150~155</option>
                              <option value="155~160">155~160</option>
                              <option value="160~165">160~165</option>
                              <option value="165~170">165~170</option>
                              <option value="170~175">170~175</option>
                              <option value="175~180">175~180</option>
                              <option value="180~900">180이상</option>
                            </select>
                          </span>
                        </div>
                        <div class="ms col2">
                          <span class="select-box">
                            <select
                              class="sel_m"
                              title="보유 의상선택1"
                              meta-Options="DRESS_INFO"
                              meta-options-data="999$보유의상1"
                              ng-model="cmMngList.interestedActorsTabVars.dressInfo"
                            ></select>
                          </span>
                          <span class="space-block"></span>
                          <span class="select-box">
                            <select
                              class="sel_m"
                              title="보유 의상선택2"
                              meta-Options="DRESS_INFO"
                              meta-options-data="999$보유의상2"
                              ng-model="cmMngList.interestedActorsTabVars.dressInfo2"
                            ></select>
                          </span>
                        </div>
                        <div class="ms col2">
                          <span class="select-box">
                            <select
                                    class="sel_m"
                                    title="헤어컬러"
                                    meta-Options="HAIR_STATE"
                                    meta-options-data="999$헤어컬러"
                                    ng-model="cmMngList.interestedActorsTabVars.hairState"
                            ></select>
                          </span>
                          <span class="space-block"></span>
                          <span class="select-box">
                            <select
                                    class="sel_m"
                                    title="헤어길이"
                                    meta-Options="HAIR_HEIGHT"
                                    meta-options-data="999$헤어길이"
                                    ng-model="cmMngList.interestedActorsTabVars.hairHeight"
                            ></select>
                          </span>
                        </div>
                        <div class="ms col2">
                          <span class="select-box">
                            <select
                                    class="sel_m"
                                    title="문신"
                                    meta-Options="TATOO_INFO"
                                    meta-options-data="999$문신"
                                    ng-model="cmMngList.interestedActorsTabVars.tatooInfo"
                            ></select>
                          </span>
                          <span class="space-block"></span>
                          <span class="select-box">
                            <select
                                    class="sel_m"
                                    title="운전"
                                    ng-model="cmMngList.interestedActorsTabVars.driveInfo"
                            >
                              <option value="999">운전</option>
                              <option value="D1">자동차운전가능</option>
                              <option value="D2">오토바이운전가능</option>
                              <option value="D3">자전거운전가능</option>
                              <option value="ALL">모든운전가능</option>
                            </select>
                          </span>
                        </div>
                        <!-- more options -->
                        <div
                          class="ms col2"
                          ng-if="cmMngList.interestedActorsTabVars.showMoreOptions"
                        >
                          <span class="select-box">
                            <select
                              class="sel_m"
                              title="몸무게"
                              ng-model="cmMngList.interestedActorsTabVars.weight"
                            >
                              <option value="999">몸무게</option>
                              <option value="30~0">30이하</option>
                              <option value="30~35">30~35</option>
                              <option value="34~40">34~40</option>
                              <option value="40~45">40~45</option>
                              <option value="45~50">45~50</option>
                              <option value="50~55">50~55</option>
                              <option value="55~60">55~60</option>
                              <option value="60~65">60~65</option>
                              <option value="65~70">65~70</option>
                              <option value="70~75">70~75</option>
                              <option value="75~80">75~80</option>
                              <option value="80~85">80~85</option>
                              <option value="85~90">85~90</option>
                              <option value="90~95">90~95</option>
                              <option value="95~100">95~100</option>
                              <option value="100~900">100이상</option>
                            </select>
                          </span>
                          <span class="space-block"></span>
                          <span class="select-box">
                            <select
                              class="sel_m"
                              title="출연횟수 선택"
                              ng-model="cmMngList.interestedActorsTabVars.requestCount"
                            >
                              <option
                                ng-repeat="data in cmMngList.requestCountOptions track by $index"
                                value="{{data.v}}"
                              >
                                {{data.k}}
                              </option>
                            </select>
                          </span>
                        </div>
                        <div
                          class="ms col2"
                          ng-if="cmMngList.interestedActorsTabVars.showMoreOptions"
                        >
                          <span class="select-box">
                            <select
                              class="sel_m"
                              title="신체사항"
                              meta-Options="BODY_INFO"
                              meta-options-data="999$체형"
                              ng-model="cmMngList.interestedActorsTabVars.bodyInfo"
                            ></select>
                          </span>
                          <span class="space-block"></span>
                          <span class="select-box">
                            <select
                              class="sel_m"
                              title="보유 방송등급"
                              meta-Options="CLASS_INFO"
                              meta-options-data="999$방송등급"
                              ng-model="cmMngList.interestedActorsTabVars.classInfo"
                            ></select>
                          </span>
                        </div>
                        <div
                                class="ms col2"
                                ng-if="cmMngList.interestedActorsTabVars.showMoreOptions"
                        >
                          <span class="select-box">
                            <select
                                    class="sel_m"
                                    title="피어싱"
                                    meta-Options="PIER_INFO"
                                    meta-options-data="999$피어싱"
                                    ng-model="cmMngList.interestedActorsTabVars.pierInfo"
                            ></select>
                          </span>
                        </div>
                        <div class="ms col2">
                          <span class="rel text-input cal">
                            <input
                              type="text"
                              class="dateSelect"
                              datepicker
                              readonly
                              ng-model="cmMngList.interestedActorsTabVars.startDate"
                            >
                            <em class="hide">달력선택</em>
                          </span>
                          <span class="space-block">-</span>
                          <span class="rel text-input cal">
                            <input
                              type="text"
                              class="dateSelect"
                              datepicker
                              readonly
                              ng-model="cmMngList.interestedActorsTabVars.endDate"
                            >
                            <em class="hide">달력선택</em>
                          </span>
                        </div>
                        <div class="rel ms col2">
                          <span class="select-box select01">
                            <select
                              class="sel_m"
                              title="검색조건"
                              ng-model="cmMngList.interestedActorsTabVars.searchKind"
                            >
                              <option value="999">검색조건</option>
                              <option value="2">이름</option>
                              <option value="4">연락처</option>
                              <option value="1">사는곳</option>
                              <option value="3">근처역</option>
                            </select>
                          </span>
                          <span class="space-block"></span>
                          <span class="post-input">
                            <input
                              type="text"
                              placeholder="검색어를 입력해주세요."
                              ng-model="cmMngList.interestedActorsTabVars.searchData"
                            >
                            <button
                              type="button"
                              class="btn_sh"
                              ng-click="cmMngList.search(1)"
                            >
                              <span class="hide">검색</span>
                            </button>
                          </span>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>

                <div class="wrap_job_list my_recommend">
                  <div class="com"  ng-if="cmMngList.interestedActorsTabVars.memberListCount !== 0">
                    <span class="chk-box">
                      <input
                        type="checkbox"
                        name="selectAll"
                        id="selectAll"
                        ng-model="cmMngList.interestedActorsTabVars.isSelectedAll"
                        ng-click="cmMngList.selectAll(1, cmMngList.interestedActorsTabVars.isSelectedAll, cmMngList.interestedActorsTabVars.memberList);"
                        class="rect"
                      >
                      <label for="selectAll">
                        <span class="selectAll">전체선택</span>
                      </label>
                    </span>
                  </div>
                  <div class="inner peopleList">
                    <ul>
                      <li ng-repeat="data in cmMngList.interestedActorsTabVars.memberList">
                        <span class="chk-box2">
                          <input
                            type="checkbox"
                            name="preferredYn"
                            id="preferredYn"
                            ng-model="data.chk"
                            class="rect2"
                          >
                        </span>
                        <span class="img_area" ng-click="cmMngList.onMemberClick(data)">
                          <img src="{{endPoint.service + data.url}}" onError="this.src='../images/sprite-icon.png'"/>
                        </span>
                        <span class="txt">
                          <span class="desc" ng-click="cmMngList.onMemberClick(data)">{{data.MEMBER_NM}}</span>
                          <span class="date" ng-click="cmMngList.onMemberClick(data)">
                            {{data.MEMBER_AGE}} / {{data.MEMBER_GENDER_NM}} {{data.HEIGHT}}Cm/{{data.WEIGHT}}Kg / {{data.REQUEST_COUNT}}
                          </span>
                          <span class="tag" ng-click="cmMngList.onMemberClick(data)">
                            {{data.MEMBER_ADDR}} / {{data.MEMBER_SUBWAY_LINES}} {{data.MEMBER_SUBWAY_NAME}} {{data.MEMBER_SUBWAY_TIME | toNumber}}분
                          </span>
                        </span>
                        <span class="star" ng-class="{'ea1' : data.MEMBER_INTERSET == '1'}" ng-click="cmMngList.intersetMem('D', data)"></span>
                        <button
                          class="btn_confirm"
                          ng-click="cmMngList.onRequestClick(data)"
                        >
                          <span>요청</span>
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="more_wrap" ng-if="cmMngList.interestedActorsTabVars.memberList.length < cmMngList.interestedActorsTabVars.memberListCount">
                  <a
                    class="more"
                    ng-click="cmMngList.searchMore(1);"
                  >
                    <span>더보기</span>
                  </a>
                </div>
                <div class="more_wrap" ng-if="cmMngList.interestedActorsTabVars.memberListCount === 0"><span>표시할 출연자가 없습니다.</span></div>
              </div>
            </div>
          </div>

          <div class="btn-wrap mb25" ng-if="cmMngList.interestedActorsTabVars.memberListCount !== 0">
            <div class="row-group">
              <button
                type="button"
                class="btn2 blue"
                ng-click="cmMngList.onRequestClick(cmMngList.interestedActorsTabVars.memberList)"
              >
                출연요청
              </button>
            </div>
          </div>
        </div>

        <div class="tab02 tabForm02" ng-if="cmMngList.activeTabNumber === 2">
          <div class="form-box-cont form-box-cont2">
            <div class="inner4">
              <dl>
                <dt class="hide">출연수락 / 요청중 출연자</dt>
                <dd>
                  <div class="ms cal row-group">
                    <span class="select-box">
                      <select
                        class="sel_m"
                        title="검색조건"
                        ng-model="cmMngList.pendingActorsTabVars.searchKind"
                      >
                        <option value="999">검색조건</option>
                        <option value="2">이름</option>
                        <option value="4">연락처</option>
                        <option value="1">사는곳</option>
                        <option value="3">근처역</option>
                      </select>
                    </span>
                  </div>
                  <span class="post-input">
                    <input
                      type="text"
                      placeholder="검색어를 입력해주세요."
                      ng-model="cmMngList.pendingActorsTabVars.searchData"
                    >
                    <button
                      type="button"
                      class="btn_sh"
                      ng-click="cmMngList.search(2)"
                    >
                      <span class="hide">검색</span>
                    </button>
                  </span>
                </dd>
              </dl>
            </div>
          </div>
          <div class="wrap_job_list my_recommend tabCont">

            <div class="inner peopleList">
              <ul>
                <li ng-repeat="data in cmMngList.pendingActorsTabVars.memberList">
                  <div class="peoplePprog">
                    <span>{{data.PGM_REUT_FIELD_NM}}</span><span>{{data.PGM_HOPE_CAST}}</span> {{data.PGM_NAME}}<label ng-if="data.TITLE_GUBUN != ''">({{data.TITLE_GUBUN}})</label>
                  </div>
                  <span class="img_area" ng-click="cmMngList.onMemberClick(data)">
                    <img src="{{endPoint.service + data.url}}" onError="this.src='../images/sprite-icon.png'"/>
                  </span>
                  <span class="txt">
                    <span class="desc" ng-click="cmMngList.onMemberClick(data)">{{data.MEMBER_NM}}</span>
                   	<span class="date" ng-click="cmMngList.onMemberClick(data)">
                	     {{data.MEMBER_AGE}} / {{data.MEMBER_GENDER_NM}} {{data.HEIGHT}}Cm/{{data.WEIGHT}}Kg / {{data.REQUEST_COUNT}}
                    </span>
                    <span class="tag" ng-click="cmMngList.onMemberClick(data)">
                      {{data.MEMBER_ADDR}} / {{data.MEMBER_SUBWAY_LINES}} {{data.MEMBER_SUBWAY_NAME}} {{data.MEMBER_SUBWAY_TIME | toNumber}}분
                    </span>
                  </span>
                  <span class="star" ng-class="{'ea1' : data.MEMBER_INTERSET == '1'}" ng-click="cmMngList.intersetMem('I', data)"></span>
                  <button class="btn_confirm guBtn1" ng-click="cmMngList.onCancelClick(data, 'P1')" ng-if="data.REQUEST_KIND == 'R1' && data.REQUEST_STATE == 'R1'">
                    <span>요청 취소</span>
                  </button>
                  <button class="btn_confirm guBtn2" ng-click="cmMngList.onCancelClick(data, 'P2')" ng-if="data.REQUEST_KIND == 'R2' && data.REQUEST_STATE == 'R1'">
                    <span>요청 수락</span>
                  </button>
                  <button class="btn_confirm guBtn3" ng-click="cmMngList.onCancelClick(data, 'P3')" ng-if="(data.REQUEST_KIND == 'R2' && data.REQUEST_STATE == 'R2') || (data.REQUEST_KIND == 'R1' && data.REQUEST_STATE == 'R2')">
                    <span>취소</span>
                  </button>
                  
                </li>
              </ul>
            </div>
          </div>
          <div class="more_wrap" ng-if="cmMngList.pendingActorsTabVars.memberList.length < cmMngList.pendingActorsTabVars.memberListCount">
            <a
              class="more"
              ng-click="cmMngList.searchMore(2);"
            >
              <span>더보기</span>
            </a>
          </div>
          <div class="more_wrap" ng-if="cmMngList.pendingActorsTabVars.memberListCount === 0"><span>표시할 출연자가 없습니다.</span></div>
        </div>


        <div class="tab03 tabForm01" ng-if="cmMngList.activeTabNumber === 3">

          <div class="guest ">
            <div class="com">
              <div class="subject_bx">
                <div class="tit_n">
                  <h3 class="hide">출연자 정보</h3>
                  <span class="chk-box infoClick">
                    <input
                      type="checkbox"
                      name="preferredYn"
                      id="preferredYn"
                      class="viewAll"
                      ng-model="cmMngList.completedActorsTabVars.showMoreOptions"
                    >
                    <label for="preferredYn">
                      <span>검색조건모두 열기</span>
                    </label>
                  </span>
                </div>
                <div class="inner6">
                  <div class="mb50">
                    <fieldset>
                      <div class="form-box-cont">
                        <div class="ms col2">
                          <span class="select-box">
                              <select
                                class="sel_m"
                                title="지원분야"
                                meta-Options="PGM_REUT_FIELD"
                                meta-options-data="999$지원분야"
                                ng-model="cmMngList.completedActorsTabVars.supportField"
                              ></select>
                            </span>
                          <span class="space-block"></span>
                          <span class="select-box">
                              <select
                                class="sel_m"
                                title="희망배역 전체"
                                ng-model="cmMngList.completedActorsTabVars.hopeCast"
                                ng-disabled="cmMngList.completedActorsTabVars.supportField == '999'"
                              >
                                <option
                                  ng-repeat="data in cmMngList.completedActorsTabVars.hopeCastOptions track by $index"
                                  value="{{data.v}}"
                                >
                                  {{data.k}}
                                </option>
                              </select>
                            </span>
                        </div>
                        <div class="ms col2">
                          <span class="select-box">
                            <select
                              class="sel_m"
                              title="최소연령"
                              ng-model="cmMngList.completedActorsTabVars.startAge"
                            >
                              <option
                                ng-repeat="data in cmMngList.startAgeOptions track by $index"
                                value="{{data.v}}"
                              >
                                {{data.k}}
                              </option>
                            </select>
                          </span>
                          <span class="space-block"></span>
                          <span class="select-box">
                            <select
                              class="sel_m"
                              title="최대연령"
                              ng-model="cmMngList.completedActorsTabVars.endAge"
                            >
                              <option
                                ng-repeat="data in cmMngList.endAgeOptions track by $index"
                                value="{{data.v}}"
                              >
                                {{data.k}}
                              </option>
                            </select>
                          </span>
                        </div>
                        <div class="ms col2">
                          <span class="select-box">
                            <select
                              class="sel_m"
                              title="성별 전체"
                              meta-Options="GENDER"
                              meta-options-data="999$성별"
                              ng-model="cmMngList.completedActorsTabVars.memberGender"
                            ></select>
                          </span>
                          <span class="space-block"></span>
                          <span class="select-box">
                            <select
                              class="sel_m"
                              title="키"
                              ng-model="cmMngList.completedActorsTabVars.height"
                            >
                              <option value="999">키</option>
                              <option value="100~0">100이하</option>
                              <option value="100~110">100~110</option>
                              <option value="110~120">110~120</option>
                              <option value="120~130">120~130</option>
                              <option value="130~140">130~140</option>
                              <option value="140~145">140~145</option>
                              <option value="145~150">145~150</option>
                              <option value="150~155">150~155</option>
                              <option value="155~160">155~160</option>
                              <option value="160~165">160~165</option>
                              <option value="165~170">165~170</option>
                              <option value="170~175">170~175</option>
                              <option value="175~180">175~180</option>
                              <option value="180~900">180이상</option>
                            </select>
                          </span>
                        </div>
                        <div class="ms col2">
                          <span class="select-box">
                            <select
                              class="sel_m"
                              title="보유 의상선택1"
                              meta-Options="DRESS_INFO"
                              meta-options-data="999$보유의상1"
                              ng-model="cmMngList.completedActorsTabVars.dressInfo"
                            ></select>
                          </span>
                          <span class="space-block"></span>
                          <span class="select-box">
                            <select
                              class="sel_m"
                              title="보유 의상선택2"
                              meta-Options="DRESS_INFO"
                              meta-options-data="999$보유의상2"
                              ng-model="cmMngList.completedActorsTabVars.dressInfo2"
                            ></select>
                          </span>
                        </div>
                        <div class="ms col2">
                          <span class="select-box">
                            <select
                                    class="sel_m"
                                    title="헤어컬러"
                                    meta-Options="HAIR_STATE"
                                    meta-options-data="999$헤어컬러"
                                    ng-model="cmMngList.completedActorsTabVars.hairState"
                            ></select>
                          </span>
                          <span class="space-block"></span>
                          <span class="select-box">
                            <select
                                    class="sel_m"
                                    title="헤어길이"
                                    meta-Options="HAIR_HEIGHT"
                                    meta-options-data="999$헤어길이"
                                    ng-model="cmMngList.completedActorsTabVars.hairHeight"
                            ></select>
                          </span>
                        </div>
                        <div class="ms col2">
                          <span class="select-box">
                            <select
                                    class="sel_m"
                                    title="문신"
                                    meta-Options="TATOO_INFO"
                                    meta-options-data="999$문신"
                                    ng-model="cmMngList.completedActorsTabVars.tatooInfo"
                            ></select>
                          </span>
                          <span class="space-block"></span>
                          <span class="select-box">
                            <select
                                    class="sel_m"
                                    title="운전"
                                    ng-model="cmMngList.completedActorsTabVars.driveInfo"
                            >
                              <option value="999">운전</option>
                              <option value="D1">자동차운전가능</option>
                              <option value="D2">오토바이운전가능</option>
                              <option value="D3">자전거운전가능</option>
                              <option value="ALL">모든운전가능</option>
                            </select>
                          </span>
                        </div>
                        <div
                          class="ms col2"
                          ng-if="cmMngList.completedActorsTabVars.showMoreOptions"
                        >
                          <span class="select-box">
                            <select
                              class="sel_m"
                              title="몸무게"
                              ng-model="cmMngList.completedActorsTabVars.weight"
                            >
                              <option value="999">몸무게</option>
                              <option value="30~0">30이하</option>
                              <option value="30~35">30~35</option>
                              <option value="34~40">34~40</option>
                              <option value="40~45">40~45</option>
                              <option value="45~50">45~50</option>
                              <option value="50~55">50~55</option>
                              <option value="55~60">55~60</option>
                              <option value="60~65">60~65</option>
                              <option value="65~70">65~70</option>
                              <option value="70~75">70~75</option>
                              <option value="75~80">75~80</option>
                              <option value="80~85">80~85</option>
                              <option value="85~90">85~90</option>
                              <option value="90~95">90~95</option>
                              <option value="95~100">95~100</option>
                              <option value="100~900">100이상</option>
                            </select>
                          </span>
                          <span class="space-block"></span>
                          <span class="select-box">
                            <select
                              class="sel_m"
                              title="출연횟수 선택"
                              ng-model="cmMngList.completedActorsTabVars.requestCount"
                            >
                              <option
                                ng-repeat="data in cmMngList.requestCountOptions track by $index"
                                value="{{data.v}}"
                              >
                                {{data.k}}
                              </option>
                            </select>
                          </span>
                        </div>
                        <div
                          class="ms col2"
                          ng-if="cmMngList.completedActorsTabVars.showMoreOptions"
                        >
                          <span class="select-box">
                            <select
                              class="sel_m"
                              title="신체사항"
                              meta-Options="BODY_INFO"
                              meta-options-data="999$체형"
                              ng-model="cmMngList.completedActorsTabVars.bodyInfo"
                            ></select>
                          </span>
                          <span class="space-block"></span>
                          <span class="select-box">
                            <select
                              class="sel_m"
                              title="보유 방송등급"
                              meta-Options="CLASS_INFO"
                              meta-options-data="999$방송등급"
                              ng-model="cmMngList.completedActorsTabVars.classInfo"
                            ></select>
                          </span>
                        </div>
                        <div
                          class="ms col2"
                          ng-if="cmMngList.completedActorsTabVars.showMoreOptions"
                        >
                          <span class="select-box">
                            <select
                              class="sel_m"
                              title="피어싱"
                              meta-Options="PIER_INFO"
                              meta-options-data="999$피어싱"
                              ng-model="cmMngList.completedActorsTabVars.pierInfo"
                            ></select>
                          </span>
                        </div>
                        <div class="ms col2">
                          <span class="rel text-input cal">
                            <input
                              type="text"
                              class="dateSelect"
                              datepicker
                              readonly
                              ng-model="cmMngList.completedActorsTabVars.startDate"
                            >
                            <em class="hide">달력선택</em>
                          </span>
                          <span class="space-block"></span>
                          <span class="rel text-input cal">
                            <input
                              type="text"
                              class="dateSelect"
                              datepicker
                              readonly
                              ng-model="cmMngList.completedActorsTabVars.endDate"
                            >
                            <em class="hide">달력선택</em>
                          </span>
                        </div>
                        <div class="rel ms col2">
                          <span class="select-box select01">
                            <select
                              class="sel_m"
                              title="검색조건"
                              ng-model="cmMngList.completedActorsTabVars.searchKind"
                            >
                              <option value="999">검색조건</option>
                              <option value="2">이름</option>
                              <option value="4">연락처</option>
                              <option value="1">사는곳</option>
                              <option value="3">근처역</option>
                            </select>
                          </span>
                          <span class="space-block"></span>
                          <span class="post-input">
                            <input
                              type="text"
                              placeholder="검색어를 입력해주세요."
                              ng-model="cmMngList.completedActorsTabVars.searchData"
                            >
                            <button
                              type="button"
                              class="btn_sh"
                              ng-click="cmMngList.search(3)"
                            >
                              <span class="hide">검색</span>
                            </button>
                          </span>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>


                <div class="wrap_job_list my_recommend tabCont">


 				  <div class="com" ng-if="cmMngList.completedActorsTabVars.memberListCount !== 0">
                    <span class="chk-box">
                      <input
                        type="checkbox"
                        name="selectAll"
                        id="selectAll"
                        ng-model="cmMngList.completedActorsTabVars.isSelectedAll"
                        ng-click="cmMngList.selectAll(3, cmMngList.completedActorsTabVars.isSelectedAll, cmMngList.completedActorsTabVars.memberList);"
                        class="rect"
                      >
                      <label for="selectAll">
                        <span class="selectAll">전체선택</span>
                      </label>
                    </span>
                  </div>

                  <div class="inner peopleList">
                    <ul>
                      <li ng-repeat="data in cmMngList.completedActorsTabVars.memberList">
                        <div class="peoplePprog" ng-click="cmMngList.onMemberClick(data)">
                          <span>{{data.PGM_REUT_FIELD_NM}}</span><span>{{data.PGM_HOPE_CAST}}</span> {{data.PGM_NAME}}<label ng-if="data.TITLE_GUBUN != ''">({{data.TITLE_GUBUN}})</label>
                        </div>
                        <span class="img_area" ng-click="cmMngList.onMemberClick(data)">
                          <img src="{{endPoint.service + data.url}}" onError="this.src='../images/sprite-icon.png'"/>
                        </span>
                        <span class="txt">
                          <span class="desc" ng-click="cmMngList.onMemberClick(data)">{{data.MEMBER_NM}}</span>
                          <span class="date date2" ng-click="cmMngList.onMemberClick(data)">
                            {{data.MEMBER_AGE}} / {{data.MEMBER_GENDER_NM}} {{data.HEIGHT}}Cm/{{data.WEIGHT}}Kg / {{data.REQUEST_COUNT}}
                          </span>
                          <span class="tag tag2" ng-click="cmMngList.onMemberClick(data)">
                            {{data.MEMBER_ADDR}} / {{data.MEMBER_SUBWAY_LINES}} {{data.MEMBER_SUBWAY_NAME}} {{data.MEMBER_SUBWAY_TIME | toNumber}}분
                          </span>
                        </span>
                        <span class="star" ng-class="{'ea1' : data.MEMBER_INTERSET == '1'}" ng-click="cmMngList.intersetMem('I', data)"></span>
                        <button
                          class="btn_confirm btn_confirm2"
                          ng-click="cmMngList.onRequestClick(data)"
                        >
                          <span>요청</span>
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="more_wrap" ng-if="cmMngList.completedActorsTabVars.memberList.length < cmMngList.completedActorsTabVars.memberListCount">
                  <a
                    class="more"
                    ng-click="cmMngList.searchMore(3);"
                  >
                    <span>더보기</span>
                  </a>
                </div>
                <div class="more_wrap" ng-if="cmMngList.completedActorsTabVars.memberListCount === 0"><span>표시할 출연자가 없습니다.</span></div>
            </div>
          </div>
        </div>
        
        <div class="btn-wrap mb25" ng-if="cmMngList.completedActorsTabVars.memberListCount !== 0">
           <div class="row-group">
             <button
               type="button"
               class="btn2 blue"
               ng-click="cmMngList.onRequestClick(cmMngList.completedActorsTabVars.memberList)"
             >
               출연요청
             </button>
           </div>
         </div>
      </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>