<div class="caMenuMng">
    <section>
      <h2 class="skip">소속별 메뉴 관리</h2>
      <div class="cont-box">
        <div class="top_box">
          <div class="inner_v2">
            <h3>소속별 메뉴 관리</h3>
          </div>
        </div>

        <div class="form-box-cont" id="scrollTop">
          <div class="inner4 pt0">
            <dl>
              <dt class="hide">소속 선택</dt>
              <dd>
                <div class="row-group">
                  <span class="select-box">
                    <select
                      class="sel_m"
                      title="소속 선택"
                      ng-model="caMenuMng.userRoleId"
                      ng-change="caMenuMng.onUserRoleChange()"
                    >
                      <option
                        ng-repeat="data in caMenuMng.userRoleOptions"
                        value="{{data.AUTH_INFO_SEQ}}"
                      >
                        {{data.AUTH_INFO_NAME}}
                      </option>
                    </select>
                  </span>
                </div>
                <div class="ms mt10">
                  <span class="rel text-input idInput">
                    <input type="text" placeholder="소속명칭" ng-model="caMenuMng.userRoleText" ng-disabled="caMenuMng.userRoleTextDisabled">
                  </span>
                  <span class="overlapId">
                    <button
                      class="blue"
                      ng-disabled="caMenuMng.userRoleId == '999'"
                      ng-click="caMenuMng.onRoleNameChangeButtonClick()"
                    >
                      명칭변경
                    </button>
                  </span>
                </div>
              </dd>
            </dl>
          </div>
          <div class="inner7 tableWrap">
            <table>
                <caption>알림설정</caption>
                <colgroup>
                    <col style="width:74%" />
                    <col style="width:13%" />
                    <col style="width:13%" />
                </colgroup>
                <thead>
                    <tr>
                        <th>메뉴</th>
                        <th>권한</th>
                        <th>알림</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in caMenuMng.menuList">
                        <td><span class="bul"><label ng-if="data.COMMON_INFO_VALUE3 == 'L1'">&nbsp;&nbsp;&nbsp;&nbsp;</label><label ng-if="data.COMMON_INFO_VALUE3 == 'L2'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>{{data.COMMON_INFO_VALUE2}}</span></td>
                        <td>
                            <span class="chk-box">
                                <input class="rect" type="checkbox" ng-model="data.menuChk" ng-click="caMenuMng.checkAuth()" ng-disabled="caMenuMng.userRoleTextDisabled">
                            </span>
                        </td>
                        <td>
                            <span class="chk-box">
                               <input class="rect" type="checkbox" ng-model="data.pushChk" ng-click="caMenuMng.checkAuth()" ng-disabled="caMenuMng.userRoleTextDisabled">
                            </span>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
          </div>
          <div class="btn_wrap mt35">
            <div class="row-group">
              <button
                type="button"
                class="btn2 cyon"
                ng-click="caMenuMng.onEditButtonClick()"
                ng-if="caMenuMng.userRoleId != '999'"
              >
                수정
              </button>
              <button
                type="button"
                class="btn2 cyon"
                ng-click="caMenuMng.insertAuth()"
                ng-if="caMenuMng.userRoleId == '999'"
              >
                추가
              </button>
            </div>
              <div class="row-group" ng-if="caMenuMng.userRoleMenuCode != 'COMALL' && caMenuMng.userRoleMenuCode != 'INIT'
                                            && caMenuMng.userRoleMenuCode != 'ALL' && caMenuMng.userRoleMenuCode != ''">
                  <button
                          type="button"
                          class="btn2 btn_red"
                          ng-click="caMenuMng.deleteAuth()"
                  >
                      삭제
                  </button>
              </div>
            <div class="row-group">
              <button
                type="button"
                class="btn2 blue2"
                ng-click="caMenuMng.onAddButtonClick()"
              >
                소속추가
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>