<div class="cmInfoMod">
	<section>
		<h2 class="skip">사이트 이용 정보</h2>
		<div class="cont-box">
			<div class="top_box">
				<div class="inner_v2">
					<h3>정보수정</h3>
				</div>
			</div>

			<div class="form-box-cont">
				<div class="inner4 pt0">
					<dl class="oneLine">
						<dt class="star">업체명</dt>
						<dd>{{cmInfoMod.companyCeoInfo.COMPANY_NM}}</dd>
					</dl>
					<dl class="oneLine">
						<dt class="star">사업자등록번호</dt>
						<dd>
							<span class="text-input"> <input type="tel"
								class="inp_box" value="" maxlength="20" title=""
								ng-model='cmInfoMod.companyCeoInfo.COMPANY_NO' input-Filter="n"
								placeholder="(-)하이픈 생략" />
							</span>
						</dd>
					</dl>
					<dl class="oneLine">
						<dt class="star">대표자명</dt>
						<dd>{{cmInfoMod.companyCeoInfo.COMPANY_CEO_NM}}</dd>
					</dl>
					<dl class="oneLine">
						<dt class="star">대표자 연락처</dt>
						<dd>
							<div class="row">
								<span class="select-box"> <select class="sel_m"
									title="통신사 선택" meta-Options="HP_KIND"
									meta-options-data="999$선택"
									ng-model="cmInfoMod.companyCeoInfo.COMPANY_CEO_HP_KIND"></select>
								</span>
							</div>
							<div class="ms mt10">
								<!--0511 클래스 row추가-->
								<span class="text-input w100"> <input type="tel"
									ng-model='cmInfoMod.companyCeoInfo.COMPANY_CEO_HP'
									placeholder="(-)하이픈 생략" input-Filter="n">
								</span>
							</div>
						</dd>
					</dl>
					<dl class="oneLine">
						<dt class="star oneLineTit">담당자명</dt>
						<dd>
							<div class="row-group">
								<span class="text-input"> <input type="text"
									placeholder="이름입력"
									ng-model="cmInfoMod.companyCeoInfo.COMPANY_MEMBER_NAME">
								</span>
							</div>
						</dd>
					</dl>
					<dl class="oneLine">
						<dt class="star">아이디</dt>
						<dd>{{cmInfoMod.companyCeoInfo.COMPANY_MEMBER_ID}}</dd>
					</dl>
					<dl>
						<dt class="star">비밀번호</dt>
						<dd>
							<div class="row-group">
								<span class="text-input"> <input type="password"
									placeholder="비밀번호(6~8자 영문, 숫자)" ng-model="cmInfoMod.pwd">
								</span>
							</div>
							<div class="row-group">
								<span class="text-input"> <input type="password"
									placeholder="비밀번호확인(6~8자 영문, 숫자)" ng-model="cmInfoMod.pwdChk">
								</span>
							</div>
						</dd>
					</dl>
					<dl class="oneLine">
						<dt class="star">연락처 1</dt>
						<dd>
							<div class="ms">
								<!--0511 클래스 row추가-->
								<span class="text-input w100"> <input type="tel"
									ng-model="cmInfoMod.companyCeoInfo.COMPANY_TEL1"
									input-Filter="n" placeholder="(-)하이픈 생략">
								</span>
							</div>
						</dd>
					</dl>
					<dl class="oneLine">
						<dt>연락처 2</dt>
						<dd>
							<div class="ms">
								<!--0511 클래스 row추가-->
								<span class="text-input w100"> <input type="tel"
									ng-model="cmInfoMod.companyCeoInfo.COMPANY_TEL2"
									input-Filter="n" placeholder="(-)하이픈 생략">
								</span>
							</div>
						</dd>
					</dl>
					<dl>
						<dt class="star">이메일</dt>
						<dd>
							<div class="ms">
								<span class="text-input"> <input type="text" id=""
									name="" ng-model='cmInfoMod.companyEmail1'
									style="ime-mode: inactive;">
								</span> <span class="space_block">@</span> <span
									class="select-box w144" ng-if="cmInfoMod.companyEmail2 !== '0'">
									<select ng-model='cmInfoMod.companyEmail2'>
										<option
											ng-repeat="data in cmInfoMod.emailDomainOptions track by $index"
											value="{{data.value}}">{{data.text}}</option>
								</select>
								</span> <span class="text-input"
									ng-if="cmInfoMod.companyEmail2 === '0'"> <input
									type="text" ng-model="cmInfoMod.companyEmail2Etc">
								</span>
							</div>
						</dd>
					</dl>
					<dl>
						<dt>회사소개</dt>
						<dd>
							<div class="ms">
								<span class="text-input">
									<textarea placeholder="회사소개를 입력해 주세요." cols="30" rows="5" ng-model="cmInfoMod.companyInfo"></textarea>
								</span>
							</div>
						</dd>
					</dl>
					<dl>
						<dt>사업자등록증 및 증빙 서류 첨부</dt>
						<div class="bx">

							<form id="formfile1" class="filebox"
								action="/api/com/fileUpload.login" method="post"
								enctype="multipart/form-data">
								<a
									ng-click="!cmInfoMod.photofileDisabled1 && cmInfoMod.fileAdd('file1')"
									class="txt-btn"><span>사업자등록증 첨부하기</span></a> <label>{{cmInfoMod.photofileOrgName1}}</label><img
									src="../images/bg_close.png"
									style="width: 21px; vertical-align: middle; margin-left: 11px;"
									ng-click="cmInfoMod.fileDel('file1')"
									ng-if="cmInfoMod.photofileDisabled1" /> <input type="file"
									id="file1" name="file" class="upload-hidden"
									fileread="cmInfoMod.readfile1" accept="image/*"
									ng-disabled="cmInfoMod.photofileDisabled1"> <input
									type="hidden" name="busnLinkKey" value="-1" />
							</form>
							<form id="formfile2" class="filebox"
								action="/api/com/fileUpload.login" method="post"
								enctype="multipart/form-data">
								<a
									ng-click="!cmInfoMod.photofileDisabled2 && cmInfoMod.fileAdd('file2')"
									class="txt-btn"><span>통장사본 첨부하기</span></a> <label>{{cmInfoMod.photofileOrgName2}}</label><img
									src="../images/bg_close.png"
									style="width: 21px; vertical-align: middle; margin-left: 11px;"
									ng-click="cmInfoMod.fileDel('file2')"
									ng-if="cmInfoMod.photofileDisabled2" /> <input type="file"
									id="file2" name="file" class="upload-hidden"
									fileread="cmInfoMod.readfile2" accept="image/*"
									ng-disabled="cmInfoMod.photofileDisabled2"> <input
									type="hidden" name="busnLinkKey" value="-1" />
							</form>
							<form id="formfile3" class="filebox"
								action="/api/com/fileUpload.login" method="post"
								enctype="multipart/form-data">
								<a
									ng-click="!cmInfoMod.photofileDisabled3 && cmInfoMod.fileAdd('file3')"
									class="txt-btn"><span>대중문화예술기획업 허가증 첨부</span></a> <label>{{cmInfoMod.photofileOrgName3}}</label><img
									src="../images/bg_close.png"
									style="width: 21px; vertical-align: middle; margin-left: 11px;"
									ng-click="cmInfoMod.fileDel('file3')"
									ng-if="cmInfoMod.photofileDisabled3" /> <input type="file"
									id="file3" name="file" class="upload-hidden"
									fileread="cmInfoMod.readfile3" accept="image/*"
									ng-disabled="cmInfoMod.photofileDisabled3"> <input
									type="hidden" name="busnLinkKey" value="-1" />
							</form>
							<form id="formfile4" class="filebox"
								action="/api/com/fileUpload.login" method="post"
								enctype="multipart/form-data">
								<a
									ng-click="!cmInfoMod.photofileDisabled4 && cmInfoMod.fileAdd('file4')"
									class="txt-btn"><span>직업소개소 증빙자료 첨부</span></a> <label>{{cmInfoMod.photofileOrgName4}}</label><img
									src="../images/bg_close.png"
									style="width: 21px; vertical-align: middle; margin-left: 11px;"
									ng-click="cmInfoMod.fileDel('file4')"
									ng-if="cmInfoMod.photofileDisabled4" /> <input type="file"
									id="file4" name="file" class="upload-hidden"
									fileread="cmInfoMod.readfile4" accept="image/*"
									ng-disabled="cmInfoMod.photofileDisabled4"> <input
									type="hidden" name="busnLinkKey" value="-1" />
							</form>
							<form id="formfile5" class="filebox"
								action="/api/com/fileUpload.login" method="post"
								enctype="multipart/form-data">
								<a
									ng-click="!cmInfoMod.photofileDisabled5 && cmInfoMod.fileAdd('file5')"
									class="txt-btn"><span>기타 증빙서류 첨부</span></a> <label>{{cmInfoMod.photofileOrgName5}}</label><img
									src="../images/bg_close.png"
									style="width: 21px; vertical-align: middle; margin-left: 11px;"
									ng-click="cmInfoMod.fileDel('file5')"
									ng-if="cmInfoMod.photofileDisabled5" /> <input type="file"
									id="file5" name="file" class="upload-hidden"
									fileread="cmInfoMod.readfile5" accept="image/*"
									ng-disabled="cmInfoMod.photofileDisabled5"> <input
									type="hidden" name="busnLinkKey" value="-1" />
							</form>
						</div>
					</dl>
					<dl>
						<dt>계좌번호</dt>
						<dd class="bank">
							<div class="row">
								<!--0511 추가-->
								<span class="select-box"> <select id="" title="은행 선택"
									meta-Options='BANK_NAME' meta-options-data='999$은행선택'
									ng-model='cmInfoMod.companyCeoInfo.ACC_BANK_NAME'></select>
								</span>
							</div>
							<div class="ms row">
								<!--0511 클래스 row추가-->
								<span class="text-input" style="width: 20%"> <input
									type="text" id="" name="" placeholder="예금주" title=""
									ng-model='cmInfoMod.companyCeoInfo.ACC_NAME'>
								</span> <span class="space-block">-</span> <span class="text-input"
									style="width: 100%"> <input type="tel" id="" name=""
									placeholder="계좌번호" title=""
									ng-model='cmInfoMod.companyCeoInfo.ACC_NO' input-Filter="n"
									placeholder="(-)하이픈 생략">
								</span>
							</div>
						</dd>
					</dl>
				</div>
				<div class="btn_wrap mt25">
					<div class="row-group">
						<button type="button" class="btn2 blue"
							ng-click="cmInfoMod.modifyMem()">회원정보 수정</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div ng-include="doryConst.FOOTER.URL"></div>
</div>