<div class="cqQnaInfo">
    <section id="content">
        <h2 class="skip">사이트 이용 정보</h2>
        <div class="bgi guest">
            <div class="subject_bx subject_bx2">
                <div class="wrap_job_list my_recommend">
                    <ul>
                        <li class="qaList qaListen" ng-class="{qaFinish : cqQnaInfo.qnaDetailInfo.STATE ==='Y'}">
                            <a>
                                <span class="qaNot">{{cqQnaInfo.qnaDetailInfo.STATE ==='Y' ? '답변완료' : '미처리'}}</span>
                                <span class="program">{{cqQnaInfo.qnaDetailInfo.QNA_KIND_NM}} &gt; {{cqQnaInfo.qnaDetailInfo.PGM_NAME}}<label ng-if="cqQnaInfo.qnaDetailInfo.TITLE_GUBUN != ''">({{cqQnaInfo.qnaDetailInfo.TITLE_GUBUN}})</label></span>
                                <span class="title">{{cqQnaInfo.qnaDetailInfo.TITLE}}</span>
                                <span class="date">{{cqQnaInfo.qnaDetailInfo.CREATE_DTM | shortDateTime}}</span>
                                <span class="profile">{{cqQnaInfo.qnaDetailInfo.WRITE_NAME}} ({{cqQnaInfo.qnaDetailInfo.WRITE_PHONE | fmtPhone}}, {{cqQnaInfo.qnaDetailInfo.WRITE_EMAIL}})</span>
                            </a>
                        </li>
                        <li class="qaList qaTxt">{{cqQnaInfo.qnaDetailInfo.DETAIL_CNTN1}}</li>
                        <li class="qaList qaComment">
                            <textarea placeholder="답변입력" name="" id="" cols="30" rows="8" ng-model="cqQnaInfo.detailCntn"></textarea>
                        </li>
                    </ul>
                </div>
                <div class="btn_wrap pb30 mt30">
                    <div class="row-group">
                        <button type="button" class="btn2 cyon" ng-click="cqQnaInfo.insertQnaAnswer()">확인</button>
                    </div>
                    <div class="row-group">
                        <button type="button" class="btn2 blue4" ng-click="cqQnaInfo.goQnaList()">목록</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>