<div class="cpProgmList">
    <section id="content">
        <h2 class="skip">사이트 이용 정보</h2>
        <div class="bgi guest">
            <div class="top_box">
                <div class="inner_v2">
                    <h3>프로그램 관리</h3>
                </div>
            </div>
            <div class="form-box-cont form-box-cont2">
                <div class="inner4">
                    <dl>
                        <dt class="hide">프로그램 관리</dt>
                        <dd>
                            <div class="row-group">
                                <span class="select-box">
                                    <select title="분야 전체"
                                            meta-options="PGM_REUT_FIELD"
                                            meta-options-data="999$분야"
                                            ng-model="cpProgmList.pgmReutField">
                                    </select>
                                </span>
                            </div>
                            <div class="row-group">
                                <span class="select-box">
                                    <select title="상태 선택" ng-model="cpProgmList.pgmStateKind">
                                        <option value="999">전체</option>
                                        <option value="P1">상태 대기</option>
                                        <option value="P2">상태 진행중</option>
                                        <option value="P3">상태 종료</option>
                                    </select>
                                </span>
                            </div>
                            <div class="ms cal row-group">
                                <span class="rel text-input cal">
                                    <input datepicker type="text" title="촬영시작일자" readonly ng-model="cpProgmList.startDate">
                                    <a href="" class="cal"><span class="hide">달력선택</span></a>
                                </span>
                                <span class="space-block">-</span>
                                <span class="rel text-input cal">
                                    <input datepicker type="text" title="촬영종료일자" readonly ng-model="cpProgmList.endDate">
                                    <a href="" class="cal"><span class="hide">달력선택</span></a>
                                </span>
                            </div>
                            <span class="post-input">
                                <input type="text" class="" placeholder="검색어를 입력해주세요."  ng-model="cpProgmList.searchData">
                                <button type="button" class="btn_sh" ng-click="cpProgmList.search(false)"><span class="hide">검색</span></button>
                            </span>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="subject_bx subject_bx2">
                <div class="wrap_job_list my_recommend">
                    <ul>
                        <li ng-repeat="data in cpProgmList.pgmList" >
                            <span class="img_area img_area2" ng-click="cpProgmList.goDetail(data)"><img src="{{endPoint.service + data.PGM_IMG_WEB_PATH}}" onError="this.src='../images/sprite-icon.png'"/></span>
                            <span class="desc desc2" ng-click="cpProgmList.goDetail(data)">{{'[' + data.PGM_REUT_FIELD_NM + ']' + data.PGM_NAME}}</span>
                            <span class="date date2" ng-click="cpProgmList.goDetail(data)">촬영기간 : <em>{{data.PGM_START_DTM | shortDate}}</em> ~ <em>{{data.PGM_END_DTM | shortDate}}</em></span>
                            <span class="tag tag2" ng-click="cpProgmList.goDetail(data)">담당자 : {{data.COMPANY_MEMBER_POSITION}} {{data.COMPANY_MEMBER_NAME}}({{data.COMPANY_MEMBER_PHONE_NO | fmtPhone}})</span>

                        </li>
                    </ul>
                </div>
                <div class="more_wrap" ng-if="cpProgmList.pgmList.length < cpProgmList.pgmListCount"><a class="more" ng-click="cpProgmList.search(true)"><span>더보기</span></a></div>
                <div class="more_wrap" ng-if="cpProgmList.pgmListCount === 0"><span>조회된 정보가 없습니다.</span></div>
            </div>
            <div class="btn_wrap mt25 mb25">
                <div class="row-group">
                    <button type="button" class="btn2 blue" ng-click="cpProgmList.programReg()">등록</button>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>