<!-- 기업 개인정보 취급 팝업 -->
<section class="infoAcceptPop">
    <h3 class="hide">정보 동의 팝업</h3>
    <div>
        <h4 class="hide">개인정보 동의</h4>
        <p>출연자의 개인정보를 출연자 구인 목적 이외에는 활용 할 수 없습니다. 이에 동의 하십니까?</p>
        <div class="infoCheck">
            <input ng-click='iaPersonInfP.agree()' checked="checked" type="radio" value="" name="locationInfo" id="locationInfo_ok"
            ><label for="locationInfo_ok" class="mr12">동의</label> 
            <input ng-click='iaPersonInfP.disagree()'type="radio" value="" name="locationInfo" id="locationInfo_no"><label for="locationInfo_no">미동의</label>
        </div>
    </div>
</section>