<!-- 개인 개인정보 취급 팝업 -->
<section class="infoAcceptPop">
	<h3 class="hide">정보 동의 팝업</h3>
	<div>
		<h4 class="hide">개인정보 동의</h4>
		<p>본인의 인적 사항 등을 구인 기업, 제작사 등이 열람하시는데 동의하십니까? 미동의 시 클릭잡 이용이 불가 합니다.</p>
		<div class="infoCheck">
			<input ng-model="iaPushP.chkVal" checked="checked" type="radio" value="Y" name="locationInfo" id="locationInfo_ok">
			<label for="locationInfo_ok" class="mr12">동의</label>
			<input ng-model="iaPushP.chkVal" type="radio" value="N" name="locationInfo" id="locationInfo_no">
			<label for="locationInfo_no">미동의</label>
		</div>
		<div class="confirmPop">
			<a ng-click='iaPrivacyP.agree()'>확인</a>
		</div>
	</div>
</section>
