<div class="cmNotiChk">
	<section id="content">
            <h2 class="skip">사이트 이용 정보</h2>    
            	<div class="bgi guest">
	               <div class="top_box">
	                   <div class="inner_v2">
	                       <h3>알림확인</h3>
	                   </div>
	               </div>
	              	<div class="form-box-cont form-box-cont3 pt0 pb0 bgGray">
	                      <div class="inner4">
	                          <dl>
	                              <dt class="hide">알림확인</dt> 
	                              <dd>
	                                  <div class="row-group">
	                                      <span class="select-box">
	                                          <select id="" title="프로그램 선택" ng-model='cmNotiChk.rcutBaseSeq' ng-options='item.v as item.k for item in cmNotiChk.pgmList' ng-change="cmNotiChk.searchFn(true)">
                                    		  </select>
	                                      </span>
	                                  </div>  
	                                 <div class="row-group">
	                                      <span class="select-box">
	                                          <select
							                      meta-Options="MESSAGE_TYPE"
							                      meta-options-data="999$알림전체"
												  ng-model="cmNotiChk.messageType"
												  ng-change="cmNotiChk.searchFn(true)"
							                    >
							                    </select>
	                                      </span>
	                                  </div> 
	                                  <!-- <div class="cmSearchBtn">
	                                  	<button ng-click="cmNotiChk.searchFn(true)">조회</button>
	                                  </div> -->
	                              </dd> 
	                          </dl>
	                      </div>
	                  </div>
				<div class="alertList">
					<ul ng-repeat="data in cmNotiChk.requstPushList">
						<li ng-if="data.MESSAGE_TYPE == 'P1'" class="acceptState nowState01">{{data.MESSAGE_TYPE_NM}}</li>
						<li ng-if="data.MESSAGE_TYPE == 'P2'" class="acceptState nowState02">{{data.MESSAGE_TYPE_NM}}</li>
						<li ng-if="data.MESSAGE_TYPE == 'P3'" class="acceptState nowState03">{{data.MESSAGE_TYPE_NM}}</li>
						<li ng-if="data.MESSAGE_TYPE == 'P4'" class="acceptState nowState04">{{data.MESSAGE_TYPE_NM}}</li>
						<li ng-if="data.MESSAGE_TYPE == 'P5'" class="acceptState nowState05">{{data.MESSAGE_TYPE_NM}}</li>
						<li ng-if="data.MESSAGE_TYPE == 'P6'" class="acceptState nowState06">{{data.MESSAGE_TYPE_NM}}</li>
						<li ng-if="data.MESSAGE_TYPE == 'P7'" class="acceptState nowState07">{{data.MESSAGE_TYPE_NM}}</li>
						<li ng-if="data.MESSAGE_TYPE == 'P8'" class="acceptState nowState08">{{data.MESSAGE_TYPE_NM}}</li>
						<li ng-if="data.MESSAGE_TYPE == 'P9'" class="acceptState nowState09">{{data.MESSAGE_TYPE_NM}}</li>
						<li ng-if="data.MESSAGE_TYPE == 'P10'" class="acceptState nowState09">{{data.MESSAGE_TYPE_NM}}</li>
						<li ng-if="data.MESSAGE_TYPE == 'P11'" class="acceptState nowState09">{{data.MESSAGE_TYPE_NM}}</li>
						<li class="viewTime">{{data.RESERVE_DTM | shortDate}}</li>
						<li class="contState"><p>{{data.MESSAGE}}</p></li>
					</ul>
				</div>
				<div class="more_wrap">
					<a ng-if="cmNotiChk.showShowMoreButton" class="more" ng-click='cmNotiChk.searchMore()' ><span>더보기</span></a>
					<span ng-if="cmNotiChk.requstPushListCount === 0">
			              표시할 정보가 없습니다.
			        </span>
				</div>
            </div>
        </section>
	<div ng-include="doryConst.FOOTER.URL"></div>
</div>