<!-- 요청 팝업 -->
<section class="callPop">
    <h3 class="hide">출연요청 프로그램 선택 팝업</h3>
    <div>
        <h4>출연요청 프로그램 선택</h4>
        <div class="innerForm">
            <label for="programSelect">프로그램 선택</label>
            <span class="select-box">
                        <select id="programSelect" class="sel_m" title="프로그램 선택" ng-model="cmMainReqP.pgmBaseSeq">
                            <option ng-repeat="data in cmMainReqP.pgmList track by $index" value="{{data.v}}">{{data.k}}</option>
                        </select>
					</span>
            <label for="callSelect">모집정보 선택</label>
            <span class="select-box">
                        <select id="callSelect" class="sel_m" title="모집정보 선택" ng-model="cmMainReqP.pgmRcutSeq"
                                ng-disabled="cmMainReqP.pgmBaseSeq === '999'">
                            <option ng-repeat="data in cmMainReqP.pgmRcutList track by $index" value="{{data.v}}">{{data.k}}</option>
                        </select>
					</span>
            <label for="ageSelect">나이_성별 선택</label>
            <span class="select-box">
                        <select id="ageSelect" class="sel_m" title="모집정보 선택" ng-model="cmMainReqP.pgmRcutSubSeq"
                                ng-disabled="cmMainReqP.pgmRcutSeq === '999'">
                            <option ng-repeat="data in cmMainReqP.pgmRcutSubList track by $index" value="{{data.v}}">{{data.k}}</option>
                        </select>
					</span>
            <div class="btn_wrap">
                <div class="row">
                    <button type="button" class="btn" ng-click="cmMainReqP.confirm()">보내기</button>
                </div>
            </div>
            <a ng-click="cmMainReqP.dismiss()" class="closePop"><span class="hide">닫기</span></a>
        </div>
    </div>
</section>