<div class="piRegPhoto">
	<section id="content">
		<div class="content">
			<div class="subject_bx pT">
				<div class="photowrap">
					<div class="photoGuide">
						<button type="button" ng-click="piRegPhoto.goGuide()">
							<span class="guide">사진 영상 용량 축소 방법 가이드</span>
						</button>
					</div>
					<div class="photo">
						<ul>
							<li>
								<form id="formfile1" class="filebox"
									action="/api/com/fileUpload.login" method="post"
									enctype="multipart/form-data">
									<div class="img">
										<img
											src="{{endPoint.service + piRegPhoto.photopgmImgFileWebPath1}}"
											onError="this.src='../images/sprite-icon.png'"
											ng-if="piRegPhoto.photofileDisabled1" />
									</div>
									<input type="file" id="file1" name="file" class="upload-hidden"
										fileread="piRegPhoto.readfile1" accept="image/*"> <input
										type="hidden" name="busnLinkKey" value="-1" />
									<div class="btnwrap">
										<button type="button" class="btn"
											ng-click="piRegPhoto.fileAdd('file1')"
											ng-if="!piRegPhoto.photofileDisabled1">
											<span>추가</span>
										</button>
										<button type="button" class="btn"
											ng-click="piRegPhoto.fileDel('file1')"
											ng-if="piRegPhoto.photofileDisabled1">
											<span>삭제</span>
										</button>
									</div>
								</form>
							</li>
							<li>
								<form id="formfile2" class="filebox"
									action="/api/com/fileUpload.login" method="post"
									enctype="multipart/form-data">
									<div class="img">
										<img
											src="{{endPoint.service + piRegPhoto.photopgmImgFileWebPath2}}"
											onError="this.src='../images/sprite-icon.png'"
											ng-if="piRegPhoto.photofileDisabled2" />
									</div>
									<input type="file" id="file2" name="file" class="upload-hidden"
										fileread="piRegPhoto.readfile2" accept="image/*"> <input
										type="hidden" name="busnLinkKey" value="-1" />
									<div class="btnwrap">
										<button type="button" class="btn"
											ng-click="piRegPhoto.fileAdd('file2')"
											ng-if="!piRegPhoto.photofileDisabled2">
											<span>추가</span>
										</button>
										<button type="button" class="btn"
											ng-click="piRegPhoto.fileDel('file2')"
											ng-if="piRegPhoto.photofileDisabled2">
											<span>삭제</span>
										</button>
									</div>
								</form>
							</li>
							<li>
								<form id="formfile3" class="filebox"
									action="/api/com/fileUpload.login" method="post"
									enctype="multipart/form-data">
									<div class="img">
										<img
											src="{{endPoint.service + piRegPhoto.photopgmImgFileWebPath3}}"
											onError="this.src='../images/sprite-icon.png'"
											ng-if="piRegPhoto.photofileDisabled3" />
									</div>
									<input type="file" id="file3" name="file" class="upload-hidden"
										fileread="piRegPhoto.readfile3" accept="image/*"> <input
										type="hidden" name="busnLinkKey" value="-1" />
									<div class="btnwrap">
										<button type="button" class="btn"
											ng-click="piRegPhoto.fileAdd('file3')"
											ng-if="!piRegPhoto.photofileDisabled3">
											<span>추가</span>
										</button>
										<button type="button" class="btn"
											ng-click="piRegPhoto.fileDel('file3')"
											ng-if="piRegPhoto.photofileDisabled3">
											<span>삭제</span>
										</button>
									</div>
								</form>
							</li>
							<li>
								<form id="formfile4" class="filebox"
									action="/api/com/fileUpload.login" method="post"
									enctype="multipart/form-data">
									<div class="img">
										<img
											src="{{endPoint.service + piRegPhoto.photopgmImgFileWebPath4}}"
											onError="this.src='../images/sprite-icon.png'"
											ng-if="piRegPhoto.photofileDisabled4" />
									</div>
									<input type="file" id="file4" name="file" class="upload-hidden"
										fileread="piRegPhoto.readfile4" accept="image/*"> <input
										type="hidden" name="busnLinkKey" value="-1" />
									<div class="btnwrap">
										<button type="button" class="btn"
											ng-click="piRegPhoto.fileAdd('file4')"
											ng-if="!piRegPhoto.photofileDisabled4">
											<span>추가</span>
										</button>
										<button type="button" class="btn"
											ng-click="piRegPhoto.fileDel('file4')"
											ng-if="piRegPhoto.photofileDisabled4">
											<span>삭제</span>
										</button>
									</div>
								</form>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="phototextwrap">
				<ul>
					<li class="f-blue">사진은 5MB 이내의 gif, jpg, jpeg 이미지 파일만 등록
						가능합니다.</li>
					<li class="f-blue">모델/ 연기자 지원의 경우 반드시 사진 4매, 셀카사진 (현재모습 1매)</li>
					<li class="f-blue">보조출연 신청의 경우 현재 사진 2매(전신, 얼굴)을 등록해 주세요</li>
					<li class="f-blue">본점 또는 지점 방문 시 촬영 및 등록 가능합니다 (문의번호 070-5213-1747)</li>
				</ul>
			</div>
			<div class="btn_wrap type1">
				<button type="submit" class="btn cyon"
					ng-click="piRegPhoto.fileConfirm()">확인</button>
			</div>
		</div>
	</section>
	<div ng-include="doryConst.FOOTER.URL"></div>
</div>