<div class='pcList'>
    <section id="content">
        <h2 class="skip">사이트 이용 정보</h2>    
        <div class="bgi guest">
            <div class="top_box">
                <div class="inner_v2">
                    <h3>쿠폰현황 <span class="titSub">현재 나의 보유 쿠폰 개수를 확인합니다</span></h3>
                </div>
            </div>
            <div class="myCoupon">
                <dl>
                    <dt>나의 보유쿠폰</dt>
                    <dd>{{pcList.mod.coupAmounts}}개</dd>
                </dl>
            </div>
            <div class="top_box4">
                <div class="inner_v2">
                    <h3><span class="titSub">
                        출연자는 모집이 확정되면 쿠폰 1개가 차감되며, 쿠폰이 없을 경우는 마이너스로 차감되며 정산 전까지 쿠폰을 구매하셔야합니다. 마이너스 쿠폰이 있을경우는 정산이 되지 않습니다.
                        모집 확정 후 취소시에는 차감되었던 쿠폰은 반환됩니다.
                    </span></h3>
                </div>
            </div>
            <div class="form-box-cont form-box-cont2 orderList">
                <div class="ms cal row-group" >
                    <span class="rel text-input cal">
                        <input type="text" id="" name="rrn1" ng-model='pcList.mod.search.startDate' datepicker class="dateSelect" ng-change='pcList.evt.search(pcList.__id.SEARCH_DATE.START_DATE)' readonly>
                        <a href="" class="cal"><span class="hide">달력선택</span></a>
                    </span>
                    <span class="space-block">-</span>
                    <span class="rel text-input cal">
                        <input type="text" id="" name="rrn2" class="dateSelect" ng-model='pcList.mod.search.endDate' datepicker ng-change='pcList.evt.search(pcList.__id.SEARCH_DATE.END_DATE)' readonly>
                        <a href="" class="cal"><span class="hide">달력선택</span></a>
                    </span>  
                </div>
                <ul class="myCpHistory">
                    <li ng-repeat='item in pcList.mod.list'>
                        <span class="cState " ng-class="{'cUsed' : item.CODENAMECODE == 'C3' && item.CODENAMECODE_NM == '사용', 'cUsed2' : item.CODENAMECODE == 'C3' && item.CODENAMECODE_NM == '취소' , 'cGift' : item.CODENAMECODE == 'C2', 'cBuy' : item.CODENAMECODE == 'C1'}" ng-bind='item.CODENAMECODE_NM'></span>
                        <span class="cTit">{{item.VIEWTIELE}} {{item.VIEWCOUNT}}개</span>
                        <span class="cDate">{{item.VIEWDATE | shortDate}}</span>
                    </li>
                </ul>
                <div class="more_wrap">
                	<a ng-if="pcList.showShowMoreButton" ng-click='pcList.evt.loadMore()' class="more"><span>더보기</span></a>
                	<span ng-if="pcList.mod.listCount === 0">
			           	   표시할 정보가 없습니다.
		         	</span>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>