
<div class="test">
  <div>
    <h1>
        MEMBER TEST PAGE
    </h1>
    
    <table>
        <thead>
            <tr>
                <th>
                    페이지 이름 
                </th>
                <th>
                    이동
                </th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat='item in test.states'>
                <Td ng-bind='item.name'>
                </Td>
                <td>
                    <button type='button' class='button' ng-click='test.move(item.state)'>
                        이동
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    </div>
</div>