@charset "utf-8";

/*common*/
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul{margin:0;padding:0;}
body,button,input,select,table,textarea{font-size:14px;font-family:Malgun Gothic,'맑은 고딕',Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif;color:#000;}
button,input{border-radius:0;}
fieldset,img{border:0;}
img{vertical-align:middle;}
ol,ul{list-style:none;}
address,em{font-style:normal;}
a{display:inline-block;text-decoration:none;color:#000;vertical-align:middle;}
iframe{overflow:hidden;margin:0;padding:0;border:0;}
.blind{position:absolute;overflow:hidden;clip:rect(0 0 0 0);margin:-1px;width:1px;height:1px;}
input[type="file"],input[type="text"]{padding:0 5px;height:26px;line-height:28px;border:1px solid #d7d7d7;vertical-align:middle;}
input[type="file"]{padding:0;}
select{padding:0 0 0 5px;height:28px;line-height:26px;border:1px solid #d7d7d7;vertical-align:middle;}
textarea{padding:5px;border:1px solid #d7d7d7;vertical-align:middle;}
.hidden, .hide, caption { overflow:hidden; position:absolute; left:-999em; width:0; height:0; line-height:0; text-indent:-9999px;}

.upload { margin:0px 15px; -webkit-box-sizing: border-box; box-sizing: border-box; }
.upload .input { position: relative; height: 45px; margin-bottom: 12px; padding-right: 100px; }
.upload .input label { display: block; position: absolute; right: 0; top: 0; width: 100px; height: 45px; padding-top: 12px; text-align: center; background-color: #757d8a; font-size: 13px; color: #fff; -webkit-box-sizing: border-box; box-sizing: border-box; }
.upload .input input { overflow: hidden; position: absolute; clip: rect(0 0 0 0); clip: rect(0, 0, 0, 0); width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; }
.upload .path { height: 45px; padding: 11px 20px 0; border: 1px solid #e5e5e5; border-right: 0; background-color: #fff; color: #333; font-size: 14px; -webkit-box-sizing: border-box; box-sizing: border-box; }
.upload .text p { margin-bottom: 2px; padding: 0 5px; color: #666; font-size: 12px; }

.al_l{text-align:left !important }
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt50{margin-top:50px;}
.w40{width:40px !important;}
.txt_blue{color:#224272;}
.info{padding-bottom: 13px; font-size: 14px;}
.info strong{ color: #4267b2;}
* {box-sizing:border-box}
/*layout*/
html, body, #wrap{width:100%;height:100%;}
body{background:#fff;}
#wrap{display:table;width:100%;min-width:1300px;}
#header{position:absolute; width: 100%; min-width:1300px; top: 0; left: 0; height: 75px; background: #4267b2;}
#header h1{display:inline-block;padding:12px 0 0 22px;}
#header h1 img{vertical-align: top;}
#header .gnb{position:absolute; right:40px; top:10px;}
#header .gnb li{display: inline-block;color:#8ea4d1;}
#header .gnb li a {padding:0 6px;color: #fff;font-weight:bold;letter-spacing: -1px;}
#nav{display:table-cell;table-layout:fixed;width:270px;height:100%;border-right:1px solid #e2e3ec;background:#e9ebee;}
#nav h2.lnbTit{padding-top:81px;}
#nav h2.lnbTit span{display:block;margin: 0 12px 19px;padding:13px 0 15px; text-align: center;color:#fff;  background:#4267b2;font-size: 18px;}
#nav .lnb{border-top: 1px solid #d7d8e4;}
#nav .lnb > li > a{ display: block; padding:9px 0 0 54px; height:26px; border-bottom: 1px solid #d7d8e4; font-size: 14px; font-weight: bold; letter-spacing: -1px; background: #dce7f8 url(../images/ico_lnb.gif) no-repeat 40px -29px;}
#nav .lnb > li > a.active{ color:#0b51e0; background-position:  40px 15px;}
#nav .lnb > li > ul {display:none; background: #fff;}
#nav .lnb > li > ul li a { display: block; padding:9px 0 8px 58px;border-bottom: 1px solid #e2e3ec;font-size: 14px; letter-spacing: -1px;}
#nav .lnb > li > ul li a:hover, #nav .lnb > li > ul li a.active { background: url(../images/ico_lnb_sub.gif) no-repeat 44px 15px;font-weight: bold;}
#section{display:table-cell;table-layout:fixed;vertical-align:top;height:100%;}
#navTop{padding-top: 75px;border-bottom: 1px solid #e2e3ec;}
#navTop .menu:after{clear:both;display:block;width:100%;content:"";}
#navTop .menu li { float: left; width: 16.6%; vertical-align:top;}
#navTop .menu li a{ display: block;padding-top:17px; height:41px; font-size: 16px; font-weight: bold; letter-spacing: -1px; text-align: center;}
#article{padding:35px 38px 50px;min-height:600px;}
#article:after{clear:both;display:block;width:100%;content:"";}

/*title*/
.cntTit{margin:-5px 0 30px;font-size:21px;letter-spacing:-2px;color:#000;}
.cntTit small{margin-left:4px;font-size: 15px; color:#858585;letter-spacing:-1px;}
.location{padding:0 0 23px;text-align: right; font-size: 13px;}

/*btn*/
.btn{display:inline-block;padding:0 10px;min-width:97px;height:47px;line-height:45px;text-align:center;font-size:14px;font-weight: bold; letter-spacing:-1px;color:#fff;background:#0d004c;border-radius:5px;border:0;vertical-align:middle;cursor:pointer;}
a.btn{min-width:77px;line-height:45px;}
.sbtn{display:inline-block;padding:0 5px;min-width:74px;height:32px;line-height:30px;text-align:center;font-size:14px;font-weight: bold; letter-spacing:-1px;color:#fff;background:#3a4884;border-radius:5px;border:0;vertical-align:middle;cursor:pointer;}
a.sbtn{min-width:64px;line-height:30px;}
.pbtn{display:inline-block;padding:0 10px;min-width:160px;height:63px;line-height:61px;text-align:center;font-size:18px;font-weight: bold; letter-spacing:-1px;color:#fff;background:#425796;border-radius:30px;border:0;vertical-align:middle;cursor:pointer;}
a.pbtn{min-width:140px;line-height:61px;}
.btn.gray, .sbtn.gray{background: #888d96;}
.btn.red{min-width:175px;background:#be1950;}
a.btn.red{min-width:155px;}
.btn.green{min-width:175px;background: #03a4a6;}
a.btn.green{min-width:155px;}
.btn_area{padding-top:20px;}
.btn_area:after{clear:both;display:block;width:100%;content:"";}
.btn_area .btn_left{float: left;}
.btn_area .btn_right{float: right;}
.btn_center{padding-top:20px;text-align:center;}
.btn_area .btn, .btn_area .sbtn{margin:0 2px;}

/*table*/
.tblBox:after{clear:both;display:block;width:100%;content:"";}
.tblBox {margin-top:20px}
.tableType1{width:100%;border:1px solid #e2e3ec;border-collapse: collapse;}
.tableType1 th{padding:5px 20px; height:28px; font-size:13px;border:1px solid #e2e3ec;background:#eee;text-align:left;letter-spacing:-1px;}
.tableType1 td{padding:5px 20px; height:28px;border:1px solid #e2e3ec;font-size:13px;}

.tableType2{width:100%;border:1px solid #e2e3ec;border-collapse:collapse;}
.tableType2 th{padding:10px 4px;height:30px;border:1px solid #e2e3ec;background:#f0f0f0;color:#333;font-size:11px;letter-spacing:-1px;}
.tableType2 td{padding:10px;height:30px;border:1px solid #e2e3ec;color:#737373;font-size:11px;text-align:center;}

/*paging*/
.paging{margin-top:30px;text-align:center;}

.paging:after {
    content:  '';
    display:  block;
    clear: both;
}
.paging a{display:inline-block;padding:0 4px;min-width:14px;height: 22px;line-height: 19px;border:1px solid #d1d1d1;vertical-align:middle;text-align:center;color:#a2a2a2;font-family:verdana;font-size:9px;}
.paging a.active{border-color:#4267b2;background:#3a4884;color:#fff;font-weight:bold;}
.paging a.img{padding:0;}
.paging a img{vertical-align:top;}

/*login*/
#loginWrap{height:100%;min-width:800px;min-height:800px;background:#f2f3f6;}
#loginWrap .loginBox{position:absolute;top:50%;left:50%;margin:-325px 0 0 -325px;width:650px;height:650px;}
#loginWrap h1{padding-bottom:50px;text-align: center;}
#loginWrap fieldset{padding:70px 75px 74px;border: 1px solid #e8e8e8;background:#fff;border-radius: 6px;}
#loginWrap fieldset h2{padding-bottom:49px; font-size: 33px; text-align: center;letter-spacing:-1px;font-family:"sans-serif", Helvetica, Arial;}
#loginWrap fieldset label{display:block; vertical-align:middle;}
#loginWrap fieldset label + label{margin:13px 0 18px;}
#loginWrap fieldset label span{display:inline-block;width:66px;color:#555;letter-spacing:-1px;}
#loginWrap fieldset label input[type="text"]{padding:0;width:100%;height:60px;line-height:60px;border-color:#d2d2d2;border-radius:3px;font-size:20px;text-indent:20px;}
#loginWrap fieldset .lg_btn{display:block;height:77px;line-height:75px;text-align:center;font-size:30px;letter-spacing:-1px;color:#fff;background:#425796;border-radius:14px;}
#loginWrap .info{padding:35px 10px 0;font-size:19px;font-weight:bold;letter-spacing:-2px;color:#18191b;}
#loginWrap .info:after{clear:both;display:block;width:100%;content:"";}
#loginWrap .info label{float:left;color:#18191b;}
#loginWrap .info label input[type="checkbox"]{display:inline-block;margin:2px 10px -2px 0;width:20px;height: 20px;border: 2px solid #7a7a7a;}
#loginWrap .info span{float:right;}
#loginWrap .info span a{color:#18191b;}

/*popup*/
#pop_wrap.pop_movie{position: relative;margin:0 auto;padding:40px 50px;width:712px;}
#pop_wrap.pop_con{position: relative;margin:0 auto;padding: 40px 20px;background: #fff;}

#pop_wrap.pop_con.w500 {width: 540px !important;}
#pop_wrap .btn_close{position: absolute;top:40px;right: 20px;}
#pop_wrap h1{margin-bottom: 45px; padding-bottom: 30px; font-size: 36px;border-bottom: 5px solid #000;}
#pop_wrap .movie{position: relative;}
#pop_wrap .movie > img{width:710px;height:480px;border:1px solid #c7c7c7;}
#pop_wrap .movie > a{position: absolute;top:50%; left: 50%;margin:-42px 0 0 -42px;}
#pop_wrap .pager{padding:20px 0 40px;text-align: center;font-size: 25px;}
#pop_wrap .pager em{ color: #f5064f;}
#pop_wrap .pager span{padding: 0 18px;}
#pop_wrap .thumbnail:after{clear:both;display:block;width:100%;content:"";}
#pop_wrap .thumbnail li{position: relative;float: left;}
#pop_wrap .thumbnail li > img{width:134px;height:134px;border:1px solid #c7c7c7;}
#pop_wrap .thumbnail li > a{position: absolute;top:50%; left: 50%;margin:-20px 0 0 -20px;}
#pop_wrap .thumbnail li > a img{width:40px; height: 40px;}
#pop_wrap .thumbnail li + li {margin-left:8px;}
#pop_wrap .btn_center{padding-top:40px;}

/** alert popup
================================================== */	
.alert_popup { position:fixed; z-index:2015; left:20px; right:20px; background-color:#fff; display:none; top:20px !important;}
.alert_popup .scroll-box-content {padding: 70px 20px 15px;background: #fff;z-index: 1000000;}
.backdrop {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    /* z-index:1000; */
    opacity: 0.7;
    pointer-events: none;
    background-color: rgba(0,0,0,.74);
    transition: all 0.5s cubic-bezier(.35,0,.25,1);
    transition-property: opacity;
    will-change: opacity;
}
.backdrop.active { opacity:1; pointer-events:auto;}
.alert_popup { position:fixed; z-index:2015; left:20px; right:20px; background-color:#fff; display:none; top:20px !important;}
.alert_popup .close { position:absolute; right:0; top:0; width:46px; height:46px;}
.alert_popup .close:before {content:'';width:18px;height: 18px;background-position: 0px -162px;margin: 15px 0 0 14px;display:  block;}	
.alert_popup .popup_area {
    /* background: #fff; */
    z-index: 99999;
    position: absolute;
    width:100%;
}
.row +.row {margin-top:10px}
.col2 .in_group{float:left;width:49%}
.input_box input, .sel_box select{width:100%}
.form-box-cont .ms {display: table;width:100%;}
.sel_box {width: 245px;display:block;}
.in_group{display:table-cell}
.space-block {margin:0px 5px}
.chk_box {position: relative;right:0}
.rel {position: relative !important}
.tit{position: relative;margin-bottom:10px}
.tit .chk_box{position: relative;top:0;display:inline-block}
.tit h3{display: inline-block}
.con-box +.con-box{margin-top:40px}
.textarea textarea{width:100%;resize: none;height:100%}
.textarea{height: 150px}
.btn_wrap input {width:100% !important}
.w700{width:712px}

.popup{
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
}

.popup > div{
	width: 400px;
	position: fixed;
	left: 50%;
	top: 20%;
	border-radius: 10px;
	transform: translateX(-50%);
}

.popup > div h4{
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	background-color: #4267b2;
	color: #fff;
	border-radius: 10px 10px 0 0;
	padding: 0 20px;
}

.popup > div dl{
	background-color: #fff;
	border-radius: 0 0 10px 10px;
	padding: 10px 20px;
}

.popup > div dl dt{
	padding: 0 0 10px;
}

.popup > div dl dd{
	margin-bottom: 5px;
}

.popup > div dl dd select{
	width: 100%;
	padding: 5px;
	height: auto;
}

.popup > div dl dd textarea{
	margin: 0px;
	width: 100%;
	height: 203px;
	resize: none;
	padding: 10px;
}
	
.popup > div dl dd.bottonWrap a{
	width: 170px;
	background-color: #0d004c;
	display: block;
	text-align: center;
	color: #fff;
	height: 47px;
	min-width: 97px;
	border-radius: 5px;
	line-height: 47px;
	font-size: 14px;
	margin: 15px auto 0;
}

.popup .closePop{
	display: block;
	position: absolute;
	height: 50px;
	width: 50px;
	top: 0;
	right: 0;
	background: url(../images/bg_close1.png) 0 0 no-repeat;
	background-position: center;
}

.popup > div.tableType {
	width: 940px;
}

.popup > div.tableType table{
	border-collapse: collapse;
}

.popup > div.tableType table th{
	background-color: #eee;
	border: 1px solid #e2e3ec;
}

.popup > div.tableType table td{
	padding: 5px 5px;
	border: 1px solid #e2e3ec;
}

.popup > div.tableType table input{
	width: 40%;
	height: auto;
}

.popup > div.tableType table .popSearchBtn{ 
	background-color: #be1950;
	height: unset;
	text-align: center;
	color: #fff;
	min-width: 50px;
	padding: 5px;
	border-radius: 5px;
}

.popup > div.tableType .searchInfo{
	margin-top:20px;
}

.width50{width: 50% !important;}
.width25{width: 25% !important;}
.width100{width: 100% !important;}
