<div class="signupRegVideo">
	<section id="content">
		<div class="content">
			<div class="subject_bx pT">
				<div class="photowrap">
					<div class="photoGuide">
						<button type="button" class="movSample"
							ng-click="signupRegVideo.goGuide('K2')">
							<span class="guide">샘플영상보기</span>
						</button>
						<button type="button" ng-click="signupRegVideo.goGuide('K1')">
							<span class="guide">사진 영상 용량 축소 방법 가이드</span>
						</button>
					</div>
					<div class="movie">
						<form id="form" class="filebox" action="/api/com/fileUpload.login"
							method="post" enctype="multipart/form-data">
							<video class="img" id="myVideo" controls>
								<!--<source id='currentVID' src="{{signupRegVideo.videofileData}}" type="video/*">-->
							</video>
							<input type="file" id="file" name="file" class="upload-hidden"
								fileread="signupRegVideo.readfile" accept="video/*"> <input
								type="hidden" name="busnLinkKey" value="-1" /> <a class="play"
								ng-if="!signupRegVideo.videofileDisabled"><span class="hide">재생하기</span></a>
							<div class="btn_wrap">
								<button type="button" class="btn blue5"
									ng-click="signupRegVideo.fileAdd()">
									<span>영상등록하기</span>
								</button>
								<button type="button" class="btn gray"
									ng-click="signupRegVideo.fileDel()">
									<span>영상삭제하기</span>
								</button>
							</div>
						</form>
					</div>


				</div>
			</div>
			<div class="phototextwrap">
				<ul>
					<li class="f-blue">영상은 50MB까지 등록 가능합니다.</li>
					<li class="f-blue">모델/ 연기자 지원의 경우 반드시 등록해주세요</li>
					<li class="f-blue">본점 또는 지점 방문 시 촬영 및 등록 가능합니다 (문의번호 070-5213-1747)</li>
				</ul>
			</div>
			<div class="btn_wrap type1">
				<button type="submit" class="btn cyon"
					ng-click="signupRegVideo.fileConfirm()">확인</button>
			</div>
		</div>
	</section>
	<div ng-include="doryConst.FOOTER.URL"></div>
</div>