<div class='psPnlty'>
        <section id="content">
                <h2 class="skip">사이트 이용 정보</h2>    
                <div class="guest bgi">
                    <div class="top_box">
                        <div class="inner">
                            <h3 class="tit"><span>패널티현황 </span></h3>
                            <span class="sub">나의 패널티 현황을 확인합니다.</span>
                        </div>
                    </div>   
                    <div class="subject_bx mt10">
                        <div class="tb">
                            <table>
                                <col width="20%" >
                                <col width="80%" >
                                <tr>
                                    <th>패널티</th>
                                    <td>{{psPnlty.mod.info.penaltyCnt}}회</td>
                                </tr>
                                <tr ng-if='psPnlty.mod.info.penaltyCnt > 0'>
                                    <th >사용정지</th>
                                    <td>{{psPnlty.mod.info.desc}} ({{psPnlty.mod.info.endDate | shortDateTime}}까지)</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="subject_bx">
                        <div class="inner">
                            <div class="row-group">
                                <div class="form-box-cont">
                                    <div class="ms cal">
                                        <span class="rel text-input">
                                            <input type="text" id="" name="rrn1" ng-model='psPnlty.mod.search.startDate' datepicker ng-change='psPnlty.evt.cal()' readonly>
                                            <a class="cal"><span class="hide">달력선택</span></a>
                                        </span>
                                        <span class="space-block">-</span>
                                        <span class="rel text-input">
                                            <input type="text" id="" name="rrn2" ng-model='psPnlty.mod.search.endDate' datepicker ng-change='psPnlty.evt.cal()' readonly>
                                            <a class="cal"><span class="hide">달력선택</span></a>
                                        </span>  
                                    </div>
                                </div>
                            </div>
                            <div class="row-group">
                                <span class="select-box">
                                    <select id="" title="유형 선택" ng-model='psPnlty.mod.kind.selected' ng-options='item.COMMON_INFO_VALUE1 as item.COMMON_INFO_VALUE2 for item in psPnlty.mod.kind.list' ng-change='psPnlty.evt.sel(item.COMMON_INFO_VALUE1)'>>
                                    </select>
                                </span>
                            </div>
                            <div class="wrap_job_list_2">
                                <ul>
                                    <li ng-repeat='item in psPnlty.mod.info.list'>
                                        <a>     
                                            <div class="flug"><span class="" ng-class="{ 'panalty' : item.PENALTY_KIND === 'P1', 'stopped' : item.PENALTY_KIND === 'P2'}" >&nbsp;&nbsp;{{item.PENALTY_KIND_NM}}&nbsp;&nbsp;</span></div>
                                            <div class="text"> 
                                                <span class="desc" ng-bind='item.PENALTY_NAME'>‘영화’ 촬영 나가실분 구합니다</span>
                                                <span class="date"><em ng-bind='item.PENALTY_END_DTM | shortDateTime'>2017.09.27</em></span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            
                            <div class="more_wrap">
                            	<a ng-if="psPnlty.showShowMoreButton" class="more" ng-click='psPnlty.evt.loadMore()'><span>더보기</span></a>
                            	<span ng-if="psPnlty.mod.info.listCount === 0">
						           	   표시할 정보가 없습니다.
					         	</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>
