<div class="singupPesnDetail">
	<section>
		<h2 class="skip">사이트 이용 정보</h2>
		<div class="cont-box">
			<div class="form-box-cont">
				<div class="inner4 pt0">
					<dl>
						<dt class="star">직업</dt>
						<dd>
							<span class="text-input">
								<input type="text" class="w90" ng-model="signupPesnDetail.job" placeholder="직업을 입력주세요.">
							</span>
						</dd>
					</dl>
					<dl class="clfix">
						<dt class="star">지원분야</dt>
						<dd>
							<div class="list-chk col">
								<!-- 0428 class명 수정-->
								<span class="rel check-box" ng-repeat="data in signupPesnDetail.supportFieldOptions">
									<input type="checkbox" id="{{data.value}}" ng-model="data.chk" ng-click="signupPesnDetail.onSupportFieldChange(data)" value="{{data.value}}">
									<label for="{{data.value}}">
										<span>{{data.text}}</span>
									</label>
								</span>
							</div>
						</dd>
					</dl>
					<dl>
						<dt class="star">희망배역</dt>
						<dd>
							<div ng-repeat="subData in signupPesnDetail.supportFieldOptions" ng-if="subData.chk === true">
								<div class="flug_l">
									<span>{{subData.text || '지원분야를 선택해주세요.'}}</span>
								</div>
								<div class="mt20 type1">
									<div class="row list-rdo col2">
										<span class="rel chk-box2" ng-repeat="data in subData.hopeCastOptions">
											<input class="rect2" type="checkbox" id="{{data.value+data.type}}" ng-model="data.chk" ng-click="signupPesnDetail.onHopeCastChange(subData, data)" value="{{data.value}}">
											<label class="mr8" for="{{data.value+data.type}}">
												<span>{{data.text}}</span>
											</label>
										</span>
									</div>
									<div class="row" ng-if="subData.hopeCast === 'H6'">
										<span class="text-input">
											<input type="text" placeholder="희망배역을 입력하세요." ng-model="subData.hopeCastEtc">
										</span>
										<!--0428 dt클래스삭제-->
									</div>
								</div>
							</div>
						</dd>
					</dl>
					<dl>
						<dt>신체사항</dt>
						<dd>
							<span class="select-box">
								<select class="w90" meta-Options="BODY_INFO" meta-options-data="999$신체사항선택" ng-model="signupPesnDetail.bodyInfo"></select>
							</span>
						</dd>
					</dl>
					<dl>
						<dt>보유방송등급</dt>
						<dd>
							<span class="select-box">
								<select class="w90" meta-Options="CLASS_INFO" meta-options-data="999$보유방송등급선택" ng-model="signupPesnDetail.classInfo"></select>
							</span>
						</dd>
					</dl>
					<dl>
						<dt>헤어상태</dt>
						<dd>
							<div class="ms col2">
								<span class="select-box">
									<select class="w90" meta-Options="HAIR_STATE" meta-options-data="999$머리색선택" ng-model="signupPesnDetail.hairState"></select>
								</span>
								<span class="space-block"></span>
								<span class="select-box">
									<select class="w90" meta-Options="HAIR_HEIGHT" meta-options-data="999$머리길이선택" ng-model="signupPesnDetail.hairHeight"></select>
								</span>
							</div>
						</dd>
					</dl>
					<dl>
						<dt>헤어상태 상세입력</dt>
						<dd>
							<span class="text-input">
								<input type="text" class="w90" ng-model="signupPesnDetail.hairEtc" placeholder="헤어상태를 상세하게 적어주세요.">
							</span>
						</dd>
					</dl>
					<dl>
						<dt>치아교정</dt>
						<dd>
							<span class="select-box">
								<select class="w90" meta-Options="TOOTH_CORREC" meta-options-data="999$치아교정여부선택" ng-model="signupPesnDetail.toothCorrec"></select>
							</span>
						</dd>
					</dl>
					<dl>
						<dt>노출가능여부</dt>
						<dd>
							<span class="select-box">
								<select class="w90" meta-Options="EXPOSURE_INFO" meta-options-data="999$노출가능여부선택" ng-model="signupPesnDetail.exposureInfo"></select>
							</span>
						</dd>
					</dl>
					<dl>
						<dt></dt>
						<dd class="ms acc">
							<ul>
								<li>
									<strong>문신</strong>
									<div class="ms col2">
										<span class="select-box">
											<select class="w100p" meta-Options="TATOO_INFO" meta-options-data="999$문신선택" ng-model="signupPesnDetail.tatooInfo"></select>
										</span>
									</div>
								</li>
								<li class="space-block"></li>
								<li>
									<strong>피어싱</strong>
									<div class="ms col2">
										<span class="select-box">
											<select class="w100p" meta-Options="PIER_INFO" meta-options-data="999$피어싱선택" ng-model="signupPesnDetail.pierInfo"></select>
										</span>
									</div>
								</li>
							</ul>
						</dd>
					</dl>
					<dl>
						<dt>문신, 피어싱 상세입력</dt>
						<dd>
							<span class="text-input">
								<input type="text" class="w50" ng-model="signupPesnDetail.tatooEtc" placeholder="문신,피어싱상태를 상세하게 적어주세요.">
							</span>
						</dd>
					</dl>
					<dl class="clfix">
						<dt>수염</dt>
						<dd>
							<div>
								<span class="rel radio-box" ng-repeat="data in signupPesnDetail.beardOptions">
									<input type="radio" id="{{data.value}}" ng-model="signupPesnDetail.beardInfo" value="{{data.value}}">
									<label class="mr8" for="{{data.value}}">
										<span>{{data.text}}</span>
									</label>
								</span>
							</div>
						</dd>
					</dl>
					<dl>
						<dt></dt>
						<dd class="ms acc">
							<ul>
								<li>
									<strong>보조개</strong>
									<div class="ms col2">
										<span class="select-box">
											<select class="w100p" meta-Options="DIMPLE_INFO" meta-options-data="999$보조개선택" ng-model="signupPesnDetail.dimpleInfo"></select>
										</span>
									</div>
								</li>
								<li class="space-block"></li>
								<li>
									<strong>눈쌍커풀</strong>
									<div class="ms col2">
										<span class="select-box">
											<select class="w100p" meta-Options="DOUBLE_EYE_INFO" meta-options-data="999$쌍커풀선택" ng-model="signupPesnDetail.doubleEyeInfo"></select>
										</span>
									</div>
								</li>
							</ul>
						</dd>
					</dl>
					<dl>
						<dt>하의사이즈</dt>
						<dd>
							<span class="select-box">
								<select class="w90" meta-Options="BOTTOMS_SIZE" meta-options-data="999$하의사이즈 선택" ng-model="signupPesnDetail.bottomsSize"></select>
							</span>
						</dd>
					</dl>
					<dl>
						<dt>상의사이즈</dt>
						<dd>
							<span class="select-box">
								<select class="w90" meta-Options="TOP_SIZE" meta-options-data="999$상의사이즈 선택" ng-model="signupPesnDetail.topSize"></select>
							</span>
						</dd>
					</dl>
					<dl>
						<dt>발사이즈</dt>
						<dd>
							<span class="select-box">
								<select class="w90" ng-options="data.value as data.text for data in signupPesnDetail.footSizeOptions" ng-model="signupPesnDetail.footSize"></select>
							</span>
						</dd>
					</dl>
					<dl>
						<dt class="fl mr8">자전거운전</dt>
						<dd>
							<span class="rel radio-box" ng-repeat="data in signupPesnDetail.driveBicycleOptions">
								<input type="radio" id="'bicycle' + {{data.value}}" ng-model="signupPesnDetail.driveBicycleYn" value="{{data.value}}">
								<label class="mr8" for="'bicycle' + {{data.value}}">
									<span>{{data.text}}</span>
								</label>
							</span>
						</dd>
					</dl>
					<dl>
						<dt class="fl mr8">자동차운전</dt>
						<dd>
							<span class="rel radio-box" ng-repeat="data in signupPesnDetail.driveCarOptions">
								<input type="radio" id="'car' + {{data.value}}" ng-model="signupPesnDetail.driveCarYn" value="{{data.value}}">
								<label class="mr8" for="'car' + {{data.value}}">
									<span>{{data.text}}</span>
								</label>
							</span>
						</dd>
					</dl>
					<dl>
						<dt class="fl mr8">오토바이</dt>
						<dd>
							<span class="rel radio-box" ng-repeat="data in signupPesnDetail.driveMotercycleOptions">
								<input type="radio" id="'bike' + {{data.value}}" ng-model="signupPesnDetail.driveMotercycleYn" value="{{data.value}}">
								<label class="mr8" for="'bike' + {{data.value}}">
									<span>{{data.text}}</span>
								</label>
							</span>
						</dd>
					</dl>
					<dl>
						<dt class="fl mr8">흡연여부</dt>
						<dd>
							<span class="rel radio-box" ng-repeat="data in signupPesnDetail.smokeOptions">
								<input type="radio" id="'smoke' + {{data.value}}" ng-model="signupPesnDetail.smokeYn" value="{{data.value}}">
								<label class="mr8" for="'smoke' + {{data.value}}">
									<span>{{data.text}}</span>
								</label>
							</span>
						</dd>
					</dl>
					<dl class="bt clfix">
						<dt class="mt20" ng-click="signupPesnDetail.dressSamplePopup = true">
							<span class="col_ty_01">의상</span>
							<em class="ico">sample</em>
						</dt>
						<dd>
							<div class="row ms">
								<span class="w100 list-chk">
									<input type="checkbox" id="isDressBase" ng-model="signupPesnDetail.isDressBase">
									<label for="isDressBase">
										<span>기본정장</span>
									</label>
								</span>
								<span class="text-input">
									<input type="tel" placeholder="벌수" title="기본정장 벌수" input-Filter="n" ng-model="signupPesnDetail.dressBaseCount" ng-disabled="signupPesnDetail.isDressBase === false">
								</span>
								<span class="space-block"></span>
								<span class="text-input">
									<input type="text" placeholder="색상" title="기본정장 색상" ng-model="signupPesnDetail.dressBaseColor" ng-disabled="signupPesnDetail.isDressBase === false">
								</span>
							</div>
							<div class="row ms">
								<span class="w100 list-chk">
									<input type="checkbox" id="isDressSemi" ng-model="signupPesnDetail.isDressSemi">
									<label for="isDressSemi">
										<span>세미정장</span>
									</label>
								</span>
								<span class="text-input">
									<input type="tel" placeholder="벌수" title="세미정장 벌수" input-Filter="n" ng-model="signupPesnDetail.dressSemiCount" ng-disabled="signupPesnDetail.isDressSemi === false">
								</span>
								<span class="space-block"></span>
								<span class="text-input">
									<input type="text" placeholder="색상" title="세미정장 색상" ng-model="signupPesnDetail.dressSemiColor" ng-disabled="signupPesnDetail.isDressSemi === false">
								</span>
							</div>
							<div class="row list-group">
								<span class="w100p list-chk">
									<input type="checkbox" id="dressBlackShoes" ng-model="signupPesnDetail.dressBlackShoes" ng-value-true="Y" ng-value-false="">
									<label for="dressBlackShoes">
										<span>검정구두</span>
									</label>
								</span>
								<span class="w100p list-chk">
									<input type="checkbox" id="dressSwimsuit" ng-model="signupPesnDetail.dressSwimsuit" ng-value-true="Y" ng-value-false="">
									<label for="dressSwimsuit">
										<span>수영복</span>
									</label>
								</span>
								<span class="w100p list-chk">
									<input type="checkbox" id="dressSchoolUniform" ng-model="signupPesnDetail.dressSchoolUniform" ng-value-true="Y" ng-value-false="">
									<label for="dressSchoolUniform">
										<span>교복</span>
									</label>
								</span>
								<span class="w100p list-chk">
									<input type="checkbox" id="dressMilitaryBoots" ng-model="signupPesnDetail.dressMilitaryBoots" ng-value-true="Y" ng-value-false="">
									<label for="dressMilitaryBoots">
										<span>군화</span>
									</label>
								</span>
							</div>
						</dd>
					</dl>
					<dl class="bt mt20" ng-if="signupPesnDetail.memberBaseInfo.memberKind!=='M3'">
						<dt class="mt30">
							<span class="col_ty_01">방문가능일*</span>
						</dt>
						<dd>
							<div class="ms col2">
								<span class="rel text-input cal">
									<input type="text" class="dateSelect" datepicker readonly ng-model="signupPesnDetail.availableDate">
									<em class="hide">달력선택</em>
								</span>
								<span class="space-block"></span>
								<span class="select-box">
									<select class="w90" ng-options="data.value as data.text for data in signupPesnDetail.availableTimeOptions" ng-model="signupPesnDetail.availableTime" ng-disabled="signupPesnDetail.availableDate === ''"></select>
								</span>
							</div>
						</dd>
					</dl>
					<div class="textwrap">
						<ul>
							<li class="f-blue">
								클릭잡 앱은 회원가입을 요청 하신 후 해당 담당 업체 사무실에 방문 하시고, 면접 절차를 거친 후 승인된 사용자만 이용 가능하십니다. (기업추천자는 면접절차가 없이 해당기업 승인만으로 이용 가능합니다.)
							</li>
							<li class="f-blue">
								회원가입 요청을 하시면 담당 업체에서 확인 후 개별 연락 드리도록 하겠습니다.
							</li>
						</ul>
					</div>
					<div class="btn_wrap type1">
						<button type="button" class="btn cyon" ng-click="signupPesnDetail.onSubmit()">확인</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- popup -->
	<div class="alert_popup" data-popup="popup" data-popup-name="pop-2" ng-if="signupPesnDetail.dressSamplePopup">
		<div class="backdrop"></div>
		<div class="popup_area" ng-if="signupPesnDetail.dressSamplePopup">
			<h2 class="title">
				<span>기본정장,세미정장 예시</span>
			</h2>
			<div class="scroll-box-content">
				<div class="ct-info-box">
					<div>
						<h2>기본 정장 예시</h2>
						<span class="imgbox">
							<img src="../images/@sample4.png" alt="">
						</span>
					</div>
					<div>
						<h2>세미 정장 예시</h2>
						<span class="imgbox">
							<img src="../images/@sample6.jpg" alt="">
						</span>
					</div>
				</div>
				<div class="btn_wrap">
					<button type="button" class="btn blue2" ng-click="signupPesnDetail.dressSamplePopup = false">
						<span>닫기</span>
					</button>
				</div>
			</div>
			<!-- / scroll-box-content -->
		</div>
		<div>
			<a class="close" ng-click="signupPesnDetail.dressSamplePopup = false">
				<span class="hide">닫기</span>
			</a>
		</div>
	</div>
	<!-- / popup -->
	<div ng-include="doryConst.FOOTER.URL"></div>
</div>