<div class="cpRcrutInfo">
    <section id="content">
        <h2 class="skip">사이트 이용 정보</h2>
        <div class="content">
            <div class="com">
                <div class="top_box">
                    <div class="inner top">
                        <div class="flug2 type2" ng-if="cpRcrutInfo.detailBaseInfo.EMER_YN === 'Y'" ><span>급구</span></div>
                        <span class="desc top">{{'['+cpRcrutInfo.detailBaseInfo.PGM_REUT_FIELD_NM+'] '+cpRcrutInfo.detailBaseInfo.PGM_NAME}}<label ng-if="cpRcrutInfo.detailBaseInfo.TITLE_GUBUN != ''">({{cpRcrutInfo.detailBaseInfo.TITLE_GUBUN}})</label></span>
                    </div>
                </div>
                <div class="rowPublic rowPublic1">
                    <ul>
                        <li>
                            <strong>모집분야</strong>
                            <span class="subject">{{cpRcrutInfo.detailBaseInfo.PGM_HOPE_CAST_NM}}</span>
                        </li>
                        <li>
                            <strong>모집정보</strong>
                            <span class="subject" ng-repeat="data in cpRcrutInfo.subPeopleInfo">
                                {{data.AGE_MIN}}~{{data.AGE_MAX}}세 {{data.GENDER == 'G1' ? '남자' : '여자'}} {{data.PEOPLE_NUM}}명
                            </span>
                        </li>
                        <li>
                            <strong>촬영일</strong>
                            <span class="subject"><label ng-if="cpRcrutInfo.detailBaseInfo.PGM_SHOOT_KIND">({{cpRcrutInfo.detailBaseInfo.PGM_SHOOT_KIND}})</label> {{cpRcrutInfo.detailBaseInfo.PGM_START_DTM2 | shortDate}} ~ {{cpRcrutInfo.detailBaseInfo.PGM_END_DTM2 | shortDate}}</span>
                        </li>
                        <li>
                            <strong>장소</strong>
                            <span class="subject">{{cpRcrutInfo.detailBaseInfo.PGM_POINT}}</span>
                        </li>
                        <li>
                            <strong>시간</strong>
                            <span class="subject">{{cpRcrutInfo.detailBaseInfo.PGM_MEETING_HOUR}}시 {{cpRcrutInfo.detailBaseInfo.PGM_MEETING_MINITE}}분</span>
                        </li>
                        <li>
                            <strong>상세정보</strong>
                            <span class="subject">{{cpRcrutInfo.detailBaseInfo.PGM_SUPPLIES}}</span>
                        </li>
                        <li>
                            <strong>주요장면</strong>
                            <span class="subject">{{cpRcrutInfo.detailBaseInfo.PGM_MAIN_SCENE}}</span>
                        </li>
                    </ul>
                </div>
                <div class="rowPublic rowPublic1">
                    <ul>
                        <li>
                            <strong>기타사항</strong>
                            <span class="subject">{{cpRcrutInfo.detailBaseInfo.PGM_ETC_INFO}}</span>
                        </li>
                    </ul>
                </div>
                <div class="rowPublic rowPublic1">
                    <ul>
                        <li>
                            <strong>담당자</strong>
                            <span class="subject" ng-repeat="data in cpRcrutInfo.chargeInfo">
                                {{data.COMPANY_MEMBER_POSITION}} {{data.COMPANY_MEMBER_NAME}} {{data.COMPANY_MEMBER_PHONE_NO | fmtPhone}}
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="rowPublic rowPublic1">
                    <ul>
                        <li>
                            <strong>등록 <br /> / 수정이력</strong>
                            <span class="subject" ng-repeat="data in cpRcrutInfo.modifyInfo">
                                {{data.CREATE_DTM | shortDateTime}} ({{$index+1}}회 수정)
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="rowPublic rowPublic1 bdbn" ng-if="cpRcrutInfo.stateKind === 'S4'">
                    <ul>
                        <li>
                            <strong>종료</strong>
                            <span class="subject">{{cpRcrutInfo.detailBaseInfo.PGM_REAL_END_DTM}}</span>
                        </li>
                    </ul>
                </div>
                <div class="form-box-cont" ng-if="cpRcrutInfo.stateKind === 'S1' || cpRcrutInfo.stateKind === 'S2'">
                    <div class="btn_wrap btn_wrap3 btn_wrap4  col2">
                        <button type="button" class="btn btn_cyon" ng-click="cpRcrutInfo.viewRequestMemeberPopup()">출연(신청)자 보기</button>
                        <button type="button" class="btn blue2" ng-click="cpRcrutInfo.modifyRcut()">수정 (스케줄변경)</button>
                    </div>
                    <div class="btn_wrap btn_wrap3 btn_wrap4  col2">
                        <button type="button" class="btn blue4" ng-click="cpRcrutInfo.rcutEndProc('R2')" ng-if="cpRcrutInfo.detailBaseInfo.RCUT_BASE_STATE == 'R1'">모집완료</button>
                        <button type="button" class="btn gray" ng-click="cpRcrutInfo.rcutDel()" ng-if="cpRcrutInfo.detailBaseInfo.RCUT_BASE_STATE == 'R1'">삭제</button>
                    </div>
                </div>
                <div class="form-box-cont" ng-if="cpRcrutInfo.stateKind === 'S3'">
                    <div class="btn_wrap btn_wrap3 btn_wrap4  col2">
                        <button type="button" class="btn btn_cyon" ng-click="cpRcrutInfo.viewRequestMemeberPopup()">출연자 보기</button>
                        <button type="button" class="btn blue2" ng-click="cpRcrutInfo.modifyRcut()">수정 (스케줄변경)</button>
                    </div>
                    <div class="btn_wrap btn_wrap3 btn_wrap4">
                            <button type="button" class="btn btn_orange w100p" ng-click="cpRcrutInfo.viewStandbyListMember()">촬영순번대기인원 보기</button>
                        </div>
                    <div class="btn_wrap btn_wrap3 btn_wrap4">
                        <button type="button" class="btn red w100p" ng-click="cpRcrutInfo.showRcrutClsPopup()">촬영종료</button>
                    </div>
                </div>
                <div class="form-box-cont" ng-if="cpRcrutInfo.stateKind === 'S4'">
                    <div class="btn_wrap btn_wrap3 btn_wrap4">
                        <button type="button" class="btn btn_cyon w100p" ng-click="cpRcrutInfo.viewRequestMemeberPopup()">출연자 보기</button>
                    </div>
                    <div class="btn_wrap btn_wrap3 btn_wrap4">
                        <button type="button" class="btn red w100p" ng-click="cpRcrutInfo.showRcrutClsPopup()">촬영종료</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>