<div class="cmNotiSet">
   <section>
        <h2 class="skip">사이트 이용 정보</h2>    
        <div class="cont-box">
            <div class="top_box">
                <div class="inner_v2">
                    <h3>알림설정</h3>
                </div>
            </div>
               <div class="innerEtc">
                        <dl>
                            <dt>GPS 동의</dt> 
				<dd class="gpsAccept">
					<input ng-click="cmNotiSet.setGps()" class="hidden" type="checkbox" id="" ng-model="cmNotiSet.gpsAgree" ng-true-value="'Y'" ng-false-value="'N'"/>
					<a class="btnStyle01" ng-class="{'active' : cmNotiSet.gpsAgree == 'Y'}">ON</a>
					<a class="btnStyle02" ng-class="{'active' : cmNotiSet.gpsAgree == 'N'}">OFF</a>
				</dd>
                        </dl>
                        <dl>
                            <dt>PUSH 알림</dt> 
				<dd class="pushAccept">
					<input ng-click="cmNotiSet.setPush()" class="hidden" type="checkbox" id="" ng-model="cmNotiSet.pushAgree" ng-true-value="'Y'" ng-false-value="'N'"/>
					<a class="btnStyle01" ng-class="{'active' : cmNotiSet.pushAgree == 'Y'}">ON</a>
					<a class="btnStyle02" ng-class="{'active' : cmNotiSet.pushAgree == 'N'}">OFF</a>
				</dd>
                        </dl>
               </div>
               <p class="bottomTxt">GPS, PUSH 알람을 OFF로 설정하시면 출연 신청 및 관리 등에 제약이 있을 수 있습니다.</p>
         </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>