<div class='cnNtForm'>
	<section>
		<h2 class="skip">사이트 이용 정보</h2>
		<div class="guest">
			<div class="top_box">
				<div class="inner">
					<h4>
						<span>공지사항 등록/수정</span>
					</h4>
				</div>
			</div>
			<div class="recruit_cont">
				<div class="inner">
					<div class="form-box-cont">
						<dl>
							<dt>공지종류</dt>
							<dd>
								<div class="ms">
									<span class="select-box">
										<select class="sel_m"
												title="공지종류"
												meta-options-data="P$출연자공지"
												ng-model="cnNtForm.notiKind">
											<option value="P"selected>출연자공지</option>
											<option value="CC">기업내공지</option>
										</select>
									</span>
								</div>
							</dd>
						</dl>
						<dl>
							<dt>상단공지여부</dt>
							<dd>
								<div class="ms">
									<span class="select-box">
										<select class="sel_m"
												title="상단공지여부"
												meta-options-data="Y$상단공지"
												ng-model="cnNtForm.topNotiYn">
											<option value="Y" selected>상단공지</option>
											<option value="N">일반공지</option>
										</select>
									</span>
								</div>
							</dd>
						</dl>
						<dl>
							<dt>제목</dt>
							<dd>
								<span class="text-input"> <input type="text" id=""
									name="" ng-model='cnNtForm.title' placeholder='제목을 입력해주세요'>
								</span>
							</dd>
							</dd>
						</dl>
						<dl>
							<dt>공지일</dt>
							<dd>
								<div class="ms cal">
                                <span class="rel text-input cal">
                                    <input type="text" class="dateSelect" datepicker readonly="readonly" ng-model="cnNtForm.notiStartDtm">
                                    <a href="" class="cal"><span class="hide">달력선택</span></a>
                                </span>
									<span class="space-block">-</span>
									<span class="rel text-input cal">
                                    <input type="text" class="dateSelect" datepicker readonly="readonly" ng-model="cnNtForm.notiEndDtm">
                                    <a href="" class="cal"><span class="hide">달력선택</span></a>
                                </span>
								</div>
							</dd>
						</dl>
						<dl>
							<dt>내용</dt>
							<dd>
								<textarea placeholder="내용을 입력해 주세요." cols="30" rows="7"
									ng-model='cnNtForm.detailCntn'></textarea>
							</dd>
						</dl>
						<div class="btn-wrap">
							<div class="row-group" ng-if="cnNtForm.prevViewId === 'cnNtList'">
								<button type="button" class="btn blue2"
									ng-click='cnNtForm.insert()'>등록</button>
							</div>
							<div class="row-group" ng-if="cnNtForm.prevViewId === 'cnNtDetail'">
								<button type="button" class="btn blue2"
									ng-click='cnNtForm.update()'>수정</button>
							</div>
							<div class="row-group">
								<button type="button" class="btn cyon"
									ng-click='cnNtForm.cancel()'>취소</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div ng-include="doryConst.FOOTER.URL"></div>
</div>