<div class='piList'>
    <section id="content">
        <h2 class="skip">사이트 이용 정보</h2>    
        <div class="guest">
            <div class="mypage-wrap">
                <div class="top_box mb10" style="padding-top : 10px; height : 65px;">
                    <div class="inner">
                        <div class="btn-wrap">
                            <div class="row-group">
                                <button type="button" ng-click='piList.evt.goToMakeInquiry()' class="btn cyon">문의하기</button>
                            </div>   
                        </div>
                    </div>
                </div>
                <div class="recruit_cont">
                   <ul>
                       <li ng-repeat='item in piList.mod.list' ng-click='piList.evt.goToDetail(item)'>
                            <div class="top">
                                    <div class="flug2" ng-class="{off : item.STATE == 'N'}"><span ng-if="item.STATE == 'Y'">답변완료</span><span ng-if="item.STATE == 'N'">미처리</span></div>
                                    <span class="subject">{{item.QNA_KIND_NM}} <label ng-if="item.PGM_NAME">> {{item.PGM_NAME}}</label><label ng-if="item.TITLE_GUBUN != ''">({{item.TITLE_GUBUN}})</label></span>
                            </div>
                            <strong>{{item.TITLE}}</strong>
                            <span class="date">{{item.CREATE_DTM | shortDate}}</span>
                       </li>
                   </ul>
                   <div class="more_wrap">
                   	    <a ng-if="piList.showShowMoreButton" ng-click='piList.evt.loadMore()' class="more"><span>더보기</span></a>
                   	    <span ng-if="piList.mod.listCount === 0">
			           	   표시할 정보가 없습니다.
		         	    </span>
                   </div>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>