<div class="cpRcrutMod">
    <section>
        <h2 class="skip">사이트 이용 정보</h2>
        <div class="cont-box">
            <div class="form-box-cont">
                <div class="inner4 pt0">
                    <dl>
                        <dt>출연자 모집정보 수정</dt>
                        <dd>
                            <div class="row-group">
                                <span class="select-box">
                                    <select title="분야 선택" meta-Options="PGM_REUT_FIELD" meta-options-data="999$분야" ng-model="cpRcrutMod.pgmReutField"></select>
                                </span>
                            </div>
                            <div class="row-group">
                                <span class="select-box">
                                    <select title="프로그램 선택" ng-model="cpRcrutMod.selPgmInfoSeq" ng-disabled="cpRcrutMod.pgmReutField == '999'"
                                            ng-options="opt.v as opt.k for opt in cpRcrutMod.pgmList">
<!--                                        <option ng-options="data in cpRcrutMod.pgmList track by $index" value="{{data.v}}">{{data.k}}</option>-->
                                    </select>
                                </span>
                            </div>
                            <div class="row-group">
                                <span class="select-box">
                                    <select title="구분 선택" meta-Options="TITLE_GUBUN" meta-options-data="999$구분" ng-model="cpRcrutMod.titleGubun"></select>
                                </span>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="star">촬영일</dt>
                        <dd>
                            <label for="pgmShootKind1" class="rel radio-box"><input type="radio" name="pgmShootKind" id="pgmShootKind1" value="당일촬영" ng-checked="cpRcrutMod.pgmShootKind == '당일촬영'" ng-model="cpRcrutMod.pgmShootKind">당일촬영&nbsp;</label>
                            <label for="pgmShootKind2" class="rel radio-box"><input type="radio" name="pgmShootKind" id="pgmShootKind2" value="숙박촬영" ng-checked="cpRcrutMod.pgmShootKind == '숙박촬영'" ng-model="cpRcrutMod.pgmShootKind">숙박촬영&nbsp;</label><br/>
                            
                            <div class="ms cal">
                                <span class="rel text-input cal">
                                    <input type="text" class="dateSelect" datepicker readonly="readonly" ng-model="cpRcrutMod.pgmStartDtm">
                                    <a href="" class="cal"><span class="hide">달력선택</span></a>
                                </span>
                                <span class="space-block">-</span>
                                <span class="rel text-input cal">
                                    <input type="text" class="dateSelect" datepicker readonly="readonly" ng-model="cpRcrutMod.pgmEndDtm">
                                    <a href="" class="cal"><span class="hide">달력선택</span></a>
                                </span>
                            </div>
                        </dd>
                    </dl>
                    <dl class="clfix infoCheckWrap">
                        <dt class="star">모집분야</dt>
                        <dd class="infoCheck">
                            <div class="list-rdo col"> <!-- 0428 class명 수정-->
                                <span class="rel radio-box" ng-repeat= "data in cpRcrutMod.pgmHopeCastInfo">
                                    <input type="radio" id="sec{{$index}}" ng-checked="data.chk" ng-model="data.chk" name="sec" ng-click="cpRcrutMod.pgmHopeCastClick(data.v)" ng-checked="cpRcrutMod.pgmReutField == 'P12'">
                                    <label for="sec{{$index}}"><span>{{data.k}}</span></label>
                                </span>
                                <span class="text-input" ng-show="cpRcrutMod.pgmReutField == 'P12'">
                                    <input type="text" placeholder="기타 분야입력" ng-model="cpRcrutMod.pgmHopeCastEtc" >
                                </span>
                            </div>
                        </dd>
                    </dl>
                    <dl class="mt30">
                        <dt class="star">모집연령 / 성별 / 인원</dt>
                        <dd class="btbM">
                            <div class="topInput">
                                <div class="row-group">
                                    <span class="select-box">
                                        <select title="연령 선택" ng-model="cpRcrutMod.ageMin">
                                            <option ng-repeat="data in cpRcrutMod.ageList track by $index" value="{{data.v}}">{{data.k}}</option>
                                        </select>
                                    </span>
                                </div>
                                <span class="space-block">~</span>
                                <div class="row-group mr4">
                                    <span class="select-box">
                                        <select title="연령 선택" ng-model="cpRcrutMod.ageMax">
                                            <option ng-repeat="data in cpRcrutMod.ageList track by $index" value="{{data.v}}">{{data.k}}</option>
                                        </select>
                                    </span>
                                </div>
                                <div class="row-group mr4">
                                    <span class="select-box">
                                        <select title="성별 선택" meta-Options="GENDER" meta-options-data="999$성별" ng-model="cpRcrutMod.gender"></select>
                                    </span>
                                </div>
                                <div class="row-group">
                                    <span class="select-box">
                                        <select title="인원 선택" ng-model="cpRcrutMod.peopleNum">
                                            <option ng-repeat="data in cpRcrutMod.personList track by $index" value="{{data.v}}">{{data.k}}</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                            <!-- <div class="bottomInput">
                                <div class="row-group">
                                    <span class="select-box">
                                        <select title="복장 선택" meta-Options="DRESS_INFO" meta-options-data="999$의상" ng-model="cpRcrutMod.dressInfo"></select>
                                    </span>
                                </div>
                                <div class="row-group">
                                    <span class="text-input">
                                        <input type="text" placeholder="역할입력" ng-model="cpRcrutMod.partInfo" >
                                    </span>
                                </div>
                            </div> -->
                            <div class="btn-wrap mt10">
                                <div class="row-group">
                                    <button type="button" class="btn2 blue" ng-click="cpRcrutMod.rcutSubInfoPlus()">추가</button>
                                </div>
                            </div>
                        </dd>
                        <dd class="btbM" ng-repeat="selRcutSubInfoListData in cpRcrutMod.selRcutSubInfoList">
                            <div class="topInput">
                                <div class="row-group">
                                    <span class="select-box">
                                        <select title="연령 선택" ng-options="opt.v as opt.k for opt in cpRcrutMod.ageList" ng-model="selRcutSubInfoListData.ageMin"></select>
                                    </span>
                                </div>
                                <span class="space-block">~</span>
                                <div class="row-group mr4">
                                    <span class="select-box">
                                        <select title="연령 선택" ng-options="opt.v as opt.k for opt in cpRcrutMod.ageList" ng-model="selRcutSubInfoListData.ageMax"></select>
                                    </span>
                                </div>
                                <div class="row-group mr4">
                                    <span class="select-box">
                                        <select title="성별 선택" meta-Options="GENDER" meta-options-data="999$성벌" ng-model="selRcutSubInfoListData.gender"></select>
                                    </span>
                                </div>
                                <div class="row-group">
                                    <span class="select-box">
                                        <select title="인원 선택" ng-options="opt.v as opt.k for opt in cpRcrutMod.personList" ng-model="selRcutSubInfoListData.peopleNum"></select>
                                    </span>
                                </div>
                            </div>
                            <!-- <div class="bottomInput">
                                <div class="row-group">
                                    <span class="select-box">
                                        <select title="복장 선택" meta-Options="DRESS_INFO" meta-options-data="999$의상" ng-model="selRcutSubInfoListData.dressInfo"></select>
                                    </span>
                                </div>
                                <div class="row-group">
                                    <span class="text-input">
                                        <input type="text" placeholder="역할입력" ng-model="selRcutSubInfoListData.partInfo">
                                    </span>
                                </div>
                            </div> -->
                            <div class="btn-wrap mt10">
                                <div class="row-group">
                                    <button type="button" class="btn2 gray" ng-click="cpRcrutMod.rcutSubInfoMin($index)">삭제</button>
                                </div>
                            </div>
                        </dd>
                    </dl>

                    <dl class="mt30">
                        <dt class="star">촬영장소</dt>
                        <dd>
                            <div class="row-group">
                                <span class="text-input">
                                    <input type="text" placeholder="촬영장소 입력" ng-model="cpRcrutMod.pgmPoint">
                                </span>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="star">모임시간</dt>
                        <dd>
                            <div class="ms col2">
                                <span class="select-box">
                                    <select class="sel_m" title="시간선택" ng-model="cpRcrutMod.pgmMeetingHour">
                                        <option ng-repeat="data in cpRcrutMod.pgmMeetingHourList track by $index" value="{{data.v}}">{{data.k}}</option>
                                    </select>
                                </span>
                                <span class="space-block"></span>
                                <span class="select-box">
                                    <select class="sel_m" title="분 선택" ng-model="cpRcrutMod.pgmMeetingMinite">
                                        <option ng-repeat="data in cpRcrutMod.pgmMeetingMiniteList track by $index" value="{{data.v}}">{{data.k}}</option>
                                    </select>
                                </span>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="star">상세정보</dt>
                        <dd>
                                        <span class="text-input">
                                            <textarea placeholder="내용을 입력해 주세요." cols="30" rows="4" ng-model="cpRcrutMod.pgmSupplies"></textarea>
                                        </span>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="star">주요장면</dt>
                        <dd>
                                        <span class="text-input">
                                            <textarea placeholder="내용을 입력해 주세요." cols="30" rows="4" ng-model="cpRcrutMod.pgmMainScene"></textarea>
                                        </span>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="star">기타사항</dt>
                        <dd>
                                        <span class="text-input">
                                            <textarea placeholder="내용을 입력해 주세요." cols="30" rows="4" ng-model="cpRcrutMod.pgmEtcInfo"></textarea>
                                        </span>
                        </dd>
                    </dl>
                    <dl class="person">
                        <dt class="star">담당자</dt>
                        <dd>
                            <div class="ms rel">
                                <span class="select-box">
                                    <select title="담당자 선택" ng-model="cpRcrutMod.chargeMemberListChkVal">
                                        <option ng-repeat="mem in cpRcrutMod.chargeMemberList track by $index" value="{{mem.v}}">{{mem.k}}</option>
                                    </select>
                                </span>
                                <div class="tol">
                                    <span class="tol_fs">
                                        <button type="button" class="tol_fslic" ng-click="cpRcrutMod.chargeMemPlus()"><span class="hide">추가</span></button>
                                    </span>
                                </div>
                            </div>
                            <div class="ms rel" ng-repeat="mem in cpRcrutMod.selChargeMemeList track by $index">
                                <span class="chk-box2">
                                    <input type="checkbox" ng-model="mem.repYn" ng-click="cpRcrutMod.repYnClick(mem)">
                                </span>
                                <span class="infoView infoView2">
                                    <input type="text" readonly ng-model="mem.k" />
                                </span>
                                <div class="tol">
                                    <span class="tol_fs">
                                        <button type="button" class="tol_fssic" ng-click="cpRcrutMod.chargeMemMin(mem)"><span class="hide">삭제</span></button>
                                    </span>
                                </div>
                            </div>
                            <div class="txt-list">
                                <ul>
                                    <li>* 선택된 담당자가 출연자화면에 대표로 노출 됩니다.</li>
                                </ul>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>대표이미지</dt>
                        <dd>
                            <div class="filebox bs3-primary">
                               <form id="ajaxform" action="/api/com/fileUpload.login" method="post" enctype="multipart/form-data" >
                                    <label class="upload-name" for="file">{{cpRcrutMod.fileOrgName}}</label>
                                    <input type="file" id="file" name="file" class="upload-hidden" fileread="cpRcrutMod.readFile" ng-disabled="cpRcrutMod.fileDisabled" accept="image/*">
                                    <input type="hidden" name="busnLinkKey" value="-1"/>
                                    <div class="rightBtn">
                                        <a class="imgUp" ng-click="cpRcrutMod.fileAttach()">이미지등록</a>
                                        <a ng-click="cpRcrutMod.fileDel()">삭제</a>
                                    </div>
                                </form>
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="inner5">
                    <dl>
                        <dt>수정이력</dt>
                        <dd>
                            <ul>
                                <li ng-repeat="data in cpRcrutMod.rcutModifyInfo">{{data.CREATE_DTM | shortDateTime}} ({{$index+1}}회 수정)</li>
                            </ul>
                        </dd>
                    </dl>
                </div>
                <div class="btn_wrap mt25">
                    <div class="row-group">
                        <button type="button" class="btn2 blue" ng-click="cpRcrutMod.modifyRcut()">수정</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>