<div class="cpViewPesnR3List">
    <section id="content">
        <h2 class="skip">사이트 이용 정보</h2>
        <div class="content">
            <div class="com">
                <div class="top_box">
                    <div class="inner top">
                        <div class="flug2 type2"><span>{{cpViewPesnR3List.detailBaseInfo.PGM_REUT_FIELD_NM}}</span></div>
                        <span class="desc top">[{{cpViewPesnR3List.detailBaseInfo.PGM_HOPE_CAST_NM}}] {{cpViewPesnR3List.detailBaseInfo.PGM_NAME}}<label ng-if="cpViewPesnR3List.detailBaseInfo.TITLE_GUBUN != ''">({{cpViewPesnR3List.detailBaseInfo.TITLE_GUBUN}})</label></span>
                    </div>
                </div>
                <div class="btnPage btn_wrap5 fr">
                    <button type="button" class="btn red" ng-click="cpViewPesnR3List.reShootProc()">재촬영</button>
                </div>
                <div class="form-box-cont form-box-cont2 pt0 pb0">
                    <div class="inner4">
                        <dl>
                            <dt class="hide">출연자모집 정보 검색</dt>
                            <dd>
                                <div class="row-group">
                                            <span class="select-box">
                                                <select title="모집상태 선택" ng-options="opt.v as opt.k for opt in cpViewPesnR3List.statusSelelctInfo" ng-model="cpViewPesnR3List.memberStateCode"></select>
                                            </span>
                                </div>
                                <span class="post-input">
                                            <input type="text" class="" placeholder="검색어를 입력해주세요." ng-model="cpViewPesnR3List.searchData">
                                            <button type="button" class="btn_sh" ng-click="cpViewPesnR3List.search(false)"><span class="hide">검색</span></button>
                                        </span>

                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="wrap_job_list my_recommend pt50">
                <div class="com">
                            <span class="chk-box">
                                <input type="checkbox" id="preferredYn" class="rect" ng-model="cpViewPesnR3List.allChk" ng-click="cpViewPesnR3List.allChkFn(cpViewPesnR3List.rcutRequestMemeberList);">
                                <label for="preferredYn"><span class="selectAll">전체선택</span></label>
                            </span>
                </div>
                <div class="inner peopleList">
                    <ul>
                        <li ng-repeat="data in cpViewPesnR3List.rcutRequestMemeberList">
                            <span class="chk-box2"><input type="checkbox" class="rect2" ng-model="data.chk"></span>
                            <span class="img_area" ng-click="cpViewPesnR3List.goDetail(data)"><img src="{{endPoint.service + data.PHOTO_DATA[0].FILE_WEB_PATH}}" onError="this.src='../images/sprite-icon.png'"/></span>
                            <span class="txt"  ng-click="cpViewPesnR3List.goDetail(data)">
                                        <span class="desc">{{data.MEMBER_NM}}</span>
                                        <span class="stateResult stateResult01" ng-if="data.MEMBER_STATE_CODE === 'A1' || data.MEMBER_STATE_CODE === 'A5'">{{data.MEMBER_STATE_NAME}}</span>
                                        <span class="stateResult stateResult02" ng-if="data.MEMBER_STATE_CODE === 'A6'">{{data.MEMBER_STATE_NAME}}</span>
                                        <span class="stateResult stateResult03" ng-if="data.MEMBER_STATE_CODE === 'A2'">{{data.MEMBER_STATE_NAME}}</span>
                                        <span class="date">{{data.MEMBER_AGE}}세 / {{data.MEMBER_GENDER_NM}} / {{data.MEMBER_ADDR}} / {{data.MEMBER_SUBWAY_LINES}} {{data.MEMBER_SUBWAY_NAME}}{{data.MEMBER_SUBWAY_TIME}}분</span>
                                        <span class="date">{{data.SUB_INFO}}</span>
                                    </span>
                                    <button class="btn_phone" ng-click="cpViewPesnR3List.callNumber(data.MEMBER_HP)"></button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="more_wrap" ng-if="cpViewPesnR3List.rcutRequestMemeberList.length < cpViewPesnR3List.rcutRequestMemeberListCount"><a class="more" ng-click="cpViewPesnR3List.search(true)"><span>더보기</span></a></div>
            <div class="more_wrap" ng-if="cpViewPesnR3List.rcutRequestMemeberListCount === 0"><span>조회된 정보가 없습니다.</span></div>
            <div class="form-box-cont">
                <div class="btn_wrap btn_wrap3 btn_wrap4  col2">
                    <button type="button" class="btn blue2" ng-click="cpViewPesnR3List.showReqPushPopup()">알림발송</button>
                    <button type="button" class="btn cyon" ng-click="cpViewPesnR3List.showSchduleMngPopup()">스케줄변경알림 관리</button>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>