<div class="cpViewPesnR2List">
    <section id="content">
        <h2 class="skip">사이트 이용 정보</h2>
        <div class="content">
            <div class="com">
                <div class="top_box">
                    <div class="inner top2">
                        <div class="flug2 type2"><span>{{cpViewPesnR2List.detailBaseInfo.PGM_REUT_FIELD_NM}}</span></div>
                        <span class="desc top">[{{cpViewPesnR2List.detailBaseInfo.PGM_HOPE_CAST_NM}}] {{cpViewPesnR2List.detailBaseInfo.PGM_NAME}}<label ng-if="cpViewPesnR2List.detailBaseInfo.TITLE_GUBUN != ''">({{cpViewPesnR2List.detailBaseInfo.TITLE_GUBUN}})</label></span>
                    </div>
                </div>
            </div>
            <div class="tabBtn tabBtn2">
                <ul>
                    <li class="tabCol tabCol2"><a class ="view01" ng-class="{active : cpViewPesnR2List.memberStateCode === '999'}" ng-click="cpViewPesnR2List.selectMemberStateCode('999')">전체</a></li>
                    <li class="tabCol tabCol2"><a class ="view01" ng-class="{active : cpViewPesnR2List.memberStateCode === 'A3'}" ng-click="cpViewPesnR2List.selectMemberStateCode('A3')">기상</a></li>
                    <li class="tabCol tabCol2"><a class ="view01" ng-class="{active : cpViewPesnR2List.memberStateCode === 'A4'}" ng-click="cpViewPesnR2List.selectMemberStateCode('A4')">출발</a></li>
                    <li class="tabCol tabCol2"><a class ="view01" ng-class="{active : cpViewPesnR2List.memberStateCode === 'A5'}" ng-click="cpViewPesnR2List.selectMemberStateCode('A5')">출석</a></li>
                </ul>
            </div>
            <div class="searchList">
                        <span class="post-input">
                            <input type="text" class="" placeholder="검색어를 입력해주세요."  ng-model="cpViewPesnR2List.viewTab.searchData">
                            <button type="button" class="btn_sh" ng-click="cpViewPesnR2List.search()"><span class="hide">검색</span></button>
                        </span>
            </div>
            <div class="content-cont-view mt30">
                <div class="tab_cont_box_1">
                    <div class="total-wrap">
                        <div class="">
                            <h3>모집정보/현황/ 총모집인원</h3>
                            <div class="value">{{cpViewPesnR2List.requestMemberTotCnt | number}}명 / <em>{{cpViewPesnR2List.requestCompleteCnt | number}}명</em></div>
                            <ul>
                                <li ng-repeat="data in cpViewPesnR2List.requestCompleteInfo">
                                    <span class="label">{{data.AGE_MIN | number}} ~ {{data.AGE_MAX | number}}세  {{data.GENDER_NM}}</span>
                                    <span class="value2">{{data.PEOPLE_NUM | number}}명 / <em>{{data.TOT_CNT | number}}명</em></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="allState">
                    <ul>
                        <li>출발:<span>{{cpViewPesnR2List.requestCompleteEtcInfoA2 | number}}명</span></li>
                        <li>기상:<span>{{cpViewPesnR2List.requestCompleteEtcInfoA1 | number}}명</span></li>
                        <li>출석:<span>{{cpViewPesnR2List.requestCompleteEtcInfoA3 | number}}명</span></li>
                        <li>무단이탈:<span>{{cpViewPesnR2List.requestCompleteEtcInfoA4 | number}}명</span></li>
                        <li>미출석:<span>{{cpViewPesnR2List.requestCompleteEtcInfoA5 | number}}명</span></li>
                    </ul>
                </div>
            </div>

            <div class="tab01">
                <div class="wrap_job_list my_recommend comInList">
                    <div class="form-box-cont">
                        <div class="btn_wrap btn_wrap3 btn_wrap4 col3">
                            <button type="button" class="btn blue2"ng-click="cpViewPesnR2List.attendProc('A1')">출석(지각)</button>
                            <button type="button" class="btn red2" ng-click="cpViewPesnR2List.attendProc('A2')">출석</button>
                            <button type="button" class="btn gray" ng-click="cpViewPesnR2List.attendProc('A3')">종료</button>
                        </div>
                        <div class="btn_wrap btn_wrap3 btn_wrap4 col2 mt10">
                            <button type="button" class="btn blue2" ng-click="cpViewPesnR2List.showNoLeavePopup('A1')">미출석</button>
                            <button type="button" class="btn cyon" ng-click="cpViewPesnR2List.showNoLeavePopup('A2')">무단이탈</button>
                        </div>
                        <div class="btn_wrap btn_wrap3 btn_wrap4 col2 mt10">
                            <button type="button" class="btn btn_blue" ng-click="cpViewPesnR2List.showReqPushPopup()">알림발송</button>
                            <button type="button" class="btn cyon" ng-click="cpViewPesnR2List.showSchduleMngPopup()">스케줄변경알림 관리</button>
                        </div>
                        <div class="btn_wrap btn_wrap3 btn_wrap4 mt10">
                            <button type="button" class="btn2 red" ng-click="cpViewPesnR2List.rcutEmergency()">긴급투입</button>
                        </div>
                    </div>
                    <div class="com">
                                <span class="chk-box">
                                    <input type="checkbox" id="preferredYn" class="rect" ng-model="cpViewPesnR2List.viewTab.allChk" ng-click="cpViewPesnR2List.allChkFn(cpViewPesnR2List.viewTab.rcutRequestMemeberList);">
                                    <label for="preferredYn"><span class="selectAll">전체선택</span></label>
                                </span>
                    </div>
                    <div class="inner peopleList">
                        <ul>
                            <li  ng-repeat="data in cpViewPesnR2List.viewTab.rcutRequestMemeberList">
                                <span class="chk-box2"><input type="checkbox" class="rect2" ng-model="data.chk"></span>
                                <span class="img_area" ng-click="cpViewPesnR2List.goDetail(data)"><img src="{{endPoint.service + data.PHOTO_DATA[0].FILE_WEB_PATH}}" onError="this.src='../images/sprite-icon.png'"/></span>
                                <span class="txt" ng-click="cpViewPesnR2List.goDetail(data)">
                                    <span class="stateInfo2 stateInfo2_01" ng-if="data.MEMBER_STATE_CODE === 'A4'">{{data.MEMBER_STATE_NAME}}</span>
                                    <span class="stateInfo2 stateInfo2_02" ng-if="data.MEMBER_STATE_CODE === 'A3'">{{data.MEMBER_STATE_NAME}}</span>
                                    <span class="stateInfo2 stateInfo2_03" ng-if="data.MEMBER_STATE_CODE === 'A5'">{{data.MEMBER_STATE_NAME}}</span>
                                    <span class="stateInfo2 stateInfo2_03" ng-if="data.MEMBER_STATE_CODE !== 'A3' && data.MEMBER_STATE_CODE !== 'A4' && data.MEMBER_STATE_CODE !== 'A5'">{{data.MEMBER_STATE_NAME}}</span>
                                    <span class="desc">{{data.MEMBER_NM}}</span>
                                    <span class="date">{{data.MEMBER_AGE}}세 / {{data.MEMBER_GENDER_NM}} / {{data.MEMBER_ADDR}} / {{data.MEMBER_SUBWAY_LINES}} {{data.MEMBER_SUBWAY_NAME}}{{data.MEMBER_SUBWAY_TIME}}분</span>
                                    <span class="date">{{data.SUB_INFO}}</span>
                                </span>
                                <button class="btn_phone" ng-click="cpViewPesnR2List.callNumber(data.MEMBER_HP)"></button>
                                <button class="btn_confirm" ng-click="cpViewPesnR2List.procRequest(data, 'P3')"><span class="callPeople callPeople01">취소</span></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="more_wrap" ng-if="cpViewPesnR2List.viewTab.rcutRequestMemeberList.length < cpViewPesnR2List.viewTab.rcutRequestMemeberListCount"><a class="more" ng-click="cpViewPesnR2List.search(true)"><span>더보기</span></a></div>
            <div class="more_wrap" ng-if="cpViewPesnR2List.viewTab.rcutRequestMemeberListCount === 0"><span>조회된 정보가 없습니다.</span></div>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>