<!-- 요청 팝업 -->
<section class="callPop">
    <h3 class="hide">페널티 부여 팝업</h3>
    <div>
        <h4>페널티 부여</h4>
        <div class="innerForm">
            <label for="penaltyCountSelect">페널티 횟수 선택</label>
            <span class="select-box">
                        <select id="penaltyCountSelect" class="sel_m" title="페널티 횟수 선택" ng-model="cmPenaltyP.penaltyCount">
                            <option value="999">선택</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
					</span>
            <label class="hide" for="penaltyEtc">패널티 사유</label>
            <span class="text-area">
						<textarea name="penaltyEtc" id="penaltyEtc" cols="30" rows="10" placeholder="내용입력" ng-model="cmPenaltyP.companyStopInfo"></textarea>
					</span>
            <div class="btn_wrap">
                <div class="row">
                    <button type="button" class="btn" ng-click="cmPenaltyP.confirm()">등록</button>
                </div>
            </div>
            <a ng-click="cmPenaltyP.dismiss()" class="closePop"><span class="hide">닫기</span></a>
        </div>
    </div>
</section>