<div class="cmSignupList">
	<section id="content">
		<h2 class="skip">사이트 이용 정보</h2>
		<div class="bgi guest">
			<div class="top_box">
				<div class="inner_v2">
					<h3>출연자 회원가입 요청승인</h3>
				</div>
			</div>
			<div class="tabBtn">
				<ul>
					<li>
						<a class="view01" ng-class="{ active: cmSignupList.activeTabNumber === 1 }" ng-click="cmSignupList.onTabClick(1)"> 승인대기 </a>
					</li>
					<li>
						<a class="view02" ng-class="{ active: cmSignupList.activeTabNumber === 2 }" ng-click="cmSignupList.onTabClick(2)"> 반려 </a>
					</li>
				</ul>
			</div>
			<div class="tab01" ng-if="cmSignupList.activeTabNumber === 1">
				<div class="form-box-cont form-box-cont2">
					<div class="inner4">
						<dl>
							<dt class="hide">출연자 회원가입 요청승인대기 검색</dt>
							<dd>
								<div class="ms cal row-group">
									<span class="rel text-input cal">
										<input type="text" class="dateSelect" datepicker readonly ng-model="cmSignupList.signupListWaitingTabVars.startDate">
										<em class="hide">달력선택</em>
									</span>
									<span class="space-block">-</span>
									<span class="rel text-input cal">
										<input type="text" class="dateSelect" datepicker readonly ng-model="cmSignupList.signupListWaitingTabVars.endDate">
										<em class="hide">달력선택</em>
									</span>
								</div>
								<span class="post-input">
									<input type="text" placeholder="검색어를 입력해주세요." ng-model="cmSignupList.signupListWaitingTabVars.searchData">
									<button type="button" class="btn_sh" ng-click="cmSignupList.search('M1')">
										<span class="hide">검색</span>
									</button>
								</span>
							</dd>
						</dl>
					</div>
				</div>
				<div class="wrap_job_list my_recommend">
					<div class="com" ng-if="cmSignupList.signupListWaitingTabVars.memberListCount !== 0">
						<span class="chk-box">
							<input type="checkbox" name="selectAll" id="selectAll" ng-model="cmSignupList.signupListWaitingTabVars.isSelectedAll" ng-click="cmSignupList.selectAll(1, cmSignupList.signupListWaitingTabVars.isSelectedAll, cmSignupList.signupListWaitingTabVars.memberList);" class="rect">
							<label for="selectAll">
								<span class="selectAll">전체선택</span>
							</label>
						</span>
					</div>
					<div class="inner peopleList">
						<ul>
							<li ng-repeat="data in cmSignupList.signupListWaitingTabVars.memberList">
								<span class="chk-box2">
									<input type="checkbox" class="rect2" ng-model="data.chk">
								</span>
								<span class="img_area">
									<img src="{{endPoint.service + data.url}}" onError="this.src='../images/sprite-icon.png'" />
								</span>
								<span class="txt" ng-click="cmSignupList.onMemberClick(data, 'M1')">
									<span class="desc">{{data.MEMBER_NM}}</span>
									<span class="date"> {{data.MEMBER_AGE}} / {{data.MEMBER_GENDER_NM}} </span>
									<span class="tag"> {{data.MEMBER_ADDR}} / {{data.MEMBER_SUBWAY_LINES}} {{data.MEMBER_SUBWAY_NAME}} {{data.MEMBER_SUBWAY_TIME | toNumber}}분 </span>
								</span>
								<div class="btn_twoWrap">
									<button class="btn_admission" ng-click="cmSignupList.handleMemberState(data.MEMBER_SEQ, 'M2')">승인</button>
									<button class="btn_admission" ng-click="cmSignupList.handleMemberState(data.MEMBER_SEQ, 'M3')">반려</button>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="more_wrap">
					<a class="more" ng-click="cmSignupList.onShowMoreButtonClick('M1')" ng-if="cmSignupList.signupListWaitingTabVars.showShowMoreButton">
						<span>더보기</span>
					</a>
					<span ng-if="cmSignupList.signupListWaitingTabVars.memberListCount === 0"> 표시할 정보가 없습니다. </span>
				</div>
			</div>
			<div class="tab02" ng-if="cmSignupList.activeTabNumber === 2">
				<div class="form-box-cont form-box-cont2">
					<div class="inner4">
						<dl>
							<dt class="hide">출연자 회원가입 요청반려 검색</dt>
							<dd>
								<div class="ms cal row-group">
									<span class="rel text-input cal">
										<input type="text" class="dateSelect" datepicker readonly ng-model="cmSignupList.signupListDeniedTabVars.startDate">
										<em class="hide">달력선택</em>
									</span>
									<span class="space-block">-</span>
									<span class="rel text-input cal">
										<input type="text" class="dateSelect" datepicker readonly ng-model="cmSignupList.signupListDeniedTabVars.endDate">
										<em class="hide">달력선택</em>
									</span>
								</div>
								<span class="post-input">
									<input type="text" placeholder="검색어를 입력해주세요." ng-model="cmSignupList.signupListDeniedTabVars.searchData">
									<button type="button" class="btn_sh" ng-click="cmSignupList.search('M3')">
										<span class="hide">검색</span>
									</button>
								</span>
							</dd>
						</dl>
					</div>
				</div>
				<div class="wrap_job_list my_recommend">
					<div class="com" ng-if="cmSignupList.signupListDeniedTabVars.memberListCount !== 0">
						<span class="chk-box">
							<input type="checkbox" name="selectAll" id="selectAll" ng-model="cmSignupList.signupListDeniedTabVars.isSelectedAll" ng-click="cmSignupList.selectAll(2, cmSignupList.signupListDeniedTabVars.isSelectedAll, cmSignupList.signupListDeniedTabVars.memberList);" class="rect">
							<label for="selectAll">
								<span class="selectAll">전체선택</span>
							</label>
						</span>
					</div>
					<div class="inner peopleList">
						<ul>
							<li ng-repeat="data in cmSignupList.signupListDeniedTabVars.memberList">
								<span class="chk-box2">
									<input type="checkbox" class="rect2" ng-model="data.chk">
								</span>
								<span class="img_area">
									<img src="{{endPoint.service + data.url}}" onError="this.src='../images/sprite-icon.png'" />
								</span>
								<span class="txt" ng-click="cmSignupList.onMemberClick(data, 'M3')">
									<span class="desc">{{data.MEMBER_NM}}</span>
									<span class="date"> {{data.MEMBER_AGE}} / {{data.MEMBER_GENDER_NM}} </span>
									<span class="tag"> {{data.MEMBER_ADDR}} / {{data.MEMBER_SUBWAY_LINES}} {{data.MEMBER_SUBWAY_NAME}} {{data.MEMBER_SUBWAY_TIME | toNumber}}분 </span>
								</span>
								<div class="btn_twoWrap">
									<button class="btn_admission" ng-click="cmSignupList.handleMemberState(data.MEMBER_SEQ, 'M2')">승인</button>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="more_wrap">
					<a class="more" ng-click="cmSignupList.onShowMoreButtonClick('M3')" ng-if="cmSignupList.signupListDeniedTabVars.showShowMoreButton">
						<span>더보기</span>
					</a>
					<span ng-if="cmSignupList.signupListDeniedTabVars.memberListCount === 0"> 표시할 정보가 없습니다. </span>
				</div>
			</div>
		</div>
	</section>
	<div ng-include="doryConst.FOOTER.URL"></div>
</div>