<div class="signupComp">
    <section>
        <h2 class="skip">사이트 이용 정보</h2>
        <div class="cont-box">
            <div class="form-box-cont">
                <div class="inner4 pt0">
                    <p class="required">* 표시는 필수 입력 정보 입니다.</p>
                    <dl>
                        <dt class="star">업체명</dt>
                        <dd>
                               <span class="text-input">
                                   <input type="text" class="inp_box"  value="" maxlength="20" title="" ng-model='signupComp.companyNm'  placeholder="업체명을 적어주세요."/>
                               </span>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="star">대표자명</dt>
                        <dd>
		                         <span class="text-input">
		                             <input type="text" class="inp_box"  value="" maxlength="20" title="" ng-model='signupComp.companyCeoNm'  placeholder="대표자명을 적어주세요."/>
		                         </span>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="star">대표자 연락처</dt>
                        <dd>
                            <div class="row"> <!--0511 추가-->
                                <span class="select-box">
	                                    <select  class="sel_m" title="통신사 선택" meta-Options="HP_KIND" meta-options-data="999$선택" ng-model="signupComp.companyCeoHpKind"></select>
	                            </span>
                            </div>
                            <div class="ms mt10"><!--0511 클래스 row추가-->
                                <span class="text-input w100" >
                                      <input type="tel" ng-model='signupComp.companyCeoHp' placeholder="(-)하이픈 생략"  input-Filter="n">
                                </span>
                            </div>
                        </dd>
                    </dl>
                     <dl>
                        <dt class="star">담당자명</dt>
                        <dd>
		                         <span class="text-input">
		                             <input type="text" class="inp_box"  value="" maxlength="20" title="" ng-model='signupComp.companyMemberName'  placeholder="담당자명을 적어주세요."/>
		                         </span>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="star">사업자등록번호</dt>
                        <dd>
                                <span class="text-input">
                                    <input type="tel" class="inp_box"  value="" maxlength="20" title="" ng-model='signupComp.companyNo'  input-Filter="n" placeholder="(-)하이픈 생략"/>
                                </span>
                        </dd>
                    </dl>
                    <dl class="idInput">
                        <dt class="star">아이디</dt>
                        <dd>
                            <span class="text-input"><input type="text" class="inp_box" title="" ng-model='signupComp.companyMemberId'  placeholder="아이디를 입력해주세요" style="ime-mode:inactive;"></span>
                           	<div class="btn_wrap"><button type="button" class="btn cyon" ng-click="signupComp.memberIdCheck()">중복확인</button></div>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="star">비밀번호</dt>
                        <dd>
                               <span class="text-input">
                               		<input type="password" classㄴ="inp_box" placeholder="비밀번호 입력해주세요" value="" maxlength="20"  ng-model='signupComp.companyMemberPwd' >
                               </span>
                            	<span class="text-input">
                                     <input type="password" class="inp_box"  placeholder="비밀번호 확인 입력해주세요" value="" maxlength="20" ng-model='signupComp.companyMemberPwdChk' >
                                </span>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="star">연락처 1</dt>
                        <dd>
                            <div class="ms"><!--0511 클래스 row추가-->
                                <span class="text-input w100" >
                                      <input type="tel" ng-model='signupComp.companyTel1' input-Filter="n" placeholder="(-)하이픈 생략">
                                </span>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>연락처 2</dt>
                        <dd>
                            <div class="ms"><!--0511 클래스 row추가-->
                                <span class="text-input w100" >
                                      <input type="tel" ng-model='signupComp.companyTel2' input-Filter="n" placeholder="(-)하이픈 생략">
                                </span>
                            </div>
                        </dd>
                   	 </dl>
                    <dl>
                        <dt class="star">이메일</dt>
                        <dd>
                            <div class="ms">
                                  <span class="text-input">
                                      <input type="text" id="" name="" ng-model='signupComp.companyEmail1' style="ime-mode:inactive;">
                                  </span>
               					  <span class="space_block">@</span>
                  				  <span class="select-box w144" ng-if="signupComp.companyEmail2 !== '0'">
                                      <select ng-model='signupComp.companyEmail2' >
                                          <option ng-repeat="data in signupComp.emailDomainOptions track by $index"  value="{{data.value}}">{{data.text}}</option>
                                      </select>
                                  </span>
                                  <span class="text-input" ng-if="signupComp.companyEmail2 === '0'">
                                  		<input type="text" ng-model="signupComp.companyEmail2Etc">
                                  </span>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>사업자등록증  및 증빙 서류 첨부</dt>
                        <div class="bx">
                            
                            <form id="formfile1" class="filebox" action="/api/com/fileUpload.login" method="post" enctype="multipart/form-data" >
                                <a ng-click="!signupComp.photofileDisabled1 && signupComp.fileAdd('file1')" class="txt-btn"><span>사업자등록증 첨부하기</span></a>
                                <label>{{signupComp.photofileOrgName1}}</label><img src="../images/bg_close.png" style="width: 21px;vertical-align: middle; margin-left: 11px;" ng-click="signupComp.fileDel('file1')" ng-if="signupComp.photofileDisabled1"/>
                                <input type="file" id="file1" name="file" class="upload-hidden" fileread="signupComp.readfile1" accept="image/*" ng-disabled="signupComp.photofileDisabled1">
                                <input type="hidden" name="busnLinkKey" value="-1"/>
                            </form>
                            <form id="formfile2" class="filebox" action="/api/com/fileUpload.login" method="post" enctype="multipart/form-data" >
                                <a ng-click="!signupComp.photofileDisabled2 && signupComp.fileAdd('file2')" class="txt-btn"><span>통장사본 첨부하기</span></a>
                                <label>{{signupComp.photofileOrgName2}}</label><img src="../images/bg_close.png" style="width: 21px;vertical-align: middle; margin-left: 11px;" ng-click="signupComp.fileDel('file2')" ng-if="signupComp.photofileDisabled2"/>
                                <input type="file" id="file2" name="file" class="upload-hidden" fileread="signupComp.readfile2" accept="image/*" ng-disabled="signupComp.photofileDisabled2">
                                <input type="hidden" name="busnLinkKey" value="-1"/>
                            </form>
                            <form id="formfile3" class="filebox" action="/api/com/fileUpload.login" method="post" enctype="multipart/form-data" >
                                <a ng-click="!signupComp.photofileDisabled3 && signupComp.fileAdd('file3')" class="txt-btn"><span>대중문화예술기획업 허가증 첨부</span></a>
                                <label>{{signupComp.photofileOrgName3}}</label><img src="../images/bg_close.png" style="width: 21px;vertical-align: middle; margin-left: 11px;" ng-click="signupComp.fileDel('file3')" ng-if="signupComp.photofileDisabled3"/>
                                <input type="file" id="file3" name="file" class="upload-hidden" fileread="signupComp.readfile3" accept="image/*" ng-disabled="signupComp.photofileDisabled3">
                                <input type="hidden" name="busnLinkKey" value="-1"/>
                            </form>
                            <form id="formfile4" class="filebox" action="/api/com/fileUpload.login" method="post" enctype="multipart/form-data" >
                                <a ng-click="!signupComp.photofileDisabled4 && signupComp.fileAdd('file4')" class="txt-btn"><span>직업소개소 증빙자료 첨부</span></a>
                                <label>{{signupComp.photofileOrgName4}}</label><img src="../images/bg_close.png" style="width: 21px;vertical-align: middle; margin-left: 11px;" ng-click="signupComp.fileDel('file4')" ng-if="signupComp.photofileDisabled4"/>
                                <input type="file" id="file4" name="file" class="upload-hidden" fileread="signupComp.readfile4" accept="image/*" ng-disabled="signupComp.photofileDisabled4">
                                <input type="hidden" name="busnLinkKey" value="-1"/>
                            </form>
                            <form id="formfile5" class="filebox" action="/api/com/fileUpload.login" method="post" enctype="multipart/form-data" >
                                <a ng-click="!signupComp.photofileDisabled5 && signupComp.fileAdd('file5')" class="txt-btn"><span>기타 증빙서류 첨부</span></a>
                                <label>{{signupComp.photofileOrgName5}}</label><img src="../images/bg_close.png" style="width: 21px;vertical-align: middle; margin-left: 11px;" ng-click="signupComp.fileDel('file5')" ng-if="signupComp.photofileDisabled5"/>
                                <input type="file" id="file5" name="file" class="upload-hidden" fileread="signupComp.readfile5" accept="image/*" ng-disabled="signupComp.photofileDisabled5">
                                <input type="hidden" name="busnLinkKey" value="-1"/>
                            </form>
                        </div>
                    </dl>
                    <dl>
                        <dt>계좌번호</dt>
                        <dd class="bank">
                            <div class="row"> <!--0511 추가-->
                                <span class="select-box">
                                     <select id="" title="은행 선택" meta-Options='BANK_NAME' meta-options-data='999$은행선택' ng-model='signupComp.accBankName'></select>
                                 </span>
                            </div>
                            <div class="ms row"><!--0511 클래스 row추가-->
                                <span class="text-input" style="width:20%">
                                      <input type="text" id="" name="" placeholder="예금주" title="" ng-model='signupComp.accName'>
                                </span>
                                <span class="space-block">-</span>
                                <span class="text-input" style="width:100%">
                                      <input type="tel" id="" name="" placeholder="계좌번호" title="" ng-model='signupComp.accNo' input-Filter="n" placeholder="(-)하이픈 생략">
                                </span>
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="textwrap m15">
                    <ul>
                        <li class="f-blue">
				                            해당 앱은  회원가입을 요청 하신 후 해당 (주)파인이엔엠
				                            사무실에 방문 하시고, 면접 절차를 거친 후 승인된 사용자만
				                            이용 가능하십니다.(기업추천자는 면접절차가 없이 해당기업 승인만으로 이용 가능합니다.)
                        </li>
                        <li class="f-blue">
				                            회원가입 요청을 하시면 확인 후 개별 연락 드리도록 하겠습니다.
                        </li>
                    </ul>
                    <div class="btn_wrap"><button type="button" class="btn cyon" ng-click="signupComp.insertCom()">회원가입 요청</button></div>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>