@charset "utf-8";
*{margin:0;padding:0;box-sizing:border-box;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
:before,:after{ box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
html{ -ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;}

body{ -webkit-text-size-adjust:none;}
body, input, textarea, select, button, table {color:#666;font-size:14px;font-weight:400;/* line-height:1.42857143; */letter-spacing: -1px;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent;color:#666;text-decoration:none;}
a:active,a:hover{outline:0;}



button:focus, a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}
dfn{font-style:italic}
h1,h2,h3,h4,h5,h6{font-size:inherit}
mark{background:#FFF9B2;color:#333;display:inline-block;padding:0 3px 0;}
small{font-size:80%}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img,fieldset{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
em{font-style:normal}
hr{margin:15px 0 5px;border-top:1px #d2d1d1 solid;text-shadow:1px 1px 1px #fff}
pre{overflow:auto}
code,kbd,pre,samp{font-size:1em;font-family:monospace,monospace}
address{font-style:normal}
optgroup{font-weight:700}
table{border-collapse:collapse;border-spacing:0;width:100%}
td,th{padding:0}
dl,ul,ol,menu,li{list-style:none}
html,body{height:100%}

.hidden, .hide, .caption, caption {overflow:hidden;position: absolute !important;left:-999em;width:0;height:0;line-height:0;text-indent:-9999px;}
#skip-navigation { width:100%; height:0; top:0; left:0; text-indent:-9999px;}
#skip-navigation ul {}
#skip-navigation ul li {}
#skip-navigation ul li a { display:block; position:absolute; top:0; text-indent:-9999px; overflow:hidden;}
#skip-navigation ul li a:focus,
#skip-navigation ul li a:active { z-index:1100; left:0; width:100%; height:14px; line-height:14px; padding:10px 10px 26px; background:#EE3124; text-indent:0; font-size:12px; color:#fff;}


/** form reset
================================================== */	

	button::-moz-focus-inner,
	input::-moz-focus-inner{border:0;padding:0}



	input[type="text"]:focus,
	input[type="password"]:focus{border:1px solid #425796}

	input[type="search"],
	input[type="text"],
	input[type="password"],
	input[type="search"],
	input[type="number"],
	input[type="file"],
	input[type="tel"],
	input[type="email"]{-webkit-appearance:none;border-radius:0;display:inline-block;line-height:normal;vertical-align:middle;width:100%;background-color:transparent;outline:none}

	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button{height:auto}

	input[type="search"]{-webkit-appearance:textfield;}
	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}

	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button{height:auto;}

	input[type="checkbox"]{-webkit-appearance:none;border-radius: 50%;border:none;vertical-align: middle;width: 20px;height: 20px;border: 2px solid #d1d1d3;background:  #fff;outline:  none;}
	input[type="checkbox"]:checked {background: url(../images/input_bg.png) no-repeat center;background-size:9px 7px;position: relative;/* top: 15px; *//* width: 9px; *//* height: 7px; */}
	input[type="checkbox"].rect{-webkit-appearance:none;border-radius: 0;vertical-align: middle;width: 20px;height: 20px;border: 2px solid #7a7a7a;outline:  none;margin-right: 2px;background: url(../images/input_bg.png) no-repeat center;background-size: 9px 7px;position: relative;}
	input[type="checkbox"].rect:checked {background: url(../images/input_bg_checked.png) no-repeat center;background-size:9px 7px;position: relative;/* top: 15px; *//* width: 9px; */border: 2px solid #425796;/* height: 7px; */}
	input[type="checkbox"].rect2{vertica;heigh;id #7a7a7a;-webkit-appearance: none;border-radius: 0;vertical-align: middle;width: 20px;height: 20px;border: 2px solid #7a7a7a;outline: none;margin-right: 2px;background: url(../images/input_bg.png) no-repeat center;background-size: 9px 7px;position: relative;}
	input[type="checkbox"].rect2:checked {
    background: url(../images/input_bg_checked.png) no-repeat center;
    background-size: 9px 7px;
    position: relative;
    /* top: 15px; */
    /* width: 9px; */
    border: 2px solid #425796;
    /* height: 7px; */
}
	input[type="checkbox"]:disabled {}

	input[type="radio"]{-webkit-appearance: meter; border-radius:0;border:none;vertical-align:middle; width:0;height:0;}
	input[type="radio"]:checked {}
	input[type="radio"]:disabled {}

	input[readonly]:checked {}

	select::-ms-expand {display:none;}
	select{overflow:hidden;vertical-align:middle;width:100%;-webkit-appearance:none;background-color:transparent;border-radius:0;border:none;text-transform:none}
	select[disabled]{cursor:default;}

	textarea {-webkit-border-radius:0;-webkit-appearance:none;resize:none;width:100%;overflow:auto;border-radius:0;border:none;}

	input[type="file"]{}
	input[type="file"]::-ms-value {background-color:#fff;border:0;width:100%;}

	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"]{overflow:visible;cursor:pointer;background-color:transparent;border:none; vertical-align:middle;line-height:100%;-webkit-appearance:button;border-radius:0;}
	button[disabled]{cursor:default;}

	textarea::-webkit-input-placeholder, 
	input[type="text"]::-webkit-input-placeholder, 
	input[type="number"]::-webkit-input-placeholder, 
	input[type="tel"]::-webkit-input-placeholder, 
	input[type="email"]::-webkit-input-placeholder { color:#bcbbbb; font-size:14px;}
	input[type="password"]::-webkit-input-placeholder { color:#bcbbbb; font-size:14px;}
	