@charset "utf-8";

/* 서체로드 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* 공통 */
.hidden, .caption { overflow:hidden; position:relative; left:-999em; width:0; height:0; line-height:0; text-indent:-9999px;}
textarea {padding:10px !important}

.mt35 {margin-top:35px}
.ml30 {margin-left:30px}

/**/
.total-wrap {padding:25px 0;background:#f6f7f9}
.total-wrap h3{text-align:center;margin:0px 0px 10px 0;font-size:15px}
.total-wrap ul{padding-bottom:20px}
.total-wrap li {width:50%;float:left;margin:0px 25;font-size: 12px;text-align:center}
.total-wrap .value {text-align:center;font-size:16px;margin-bottom:20px;font-weight:bold}
.total-wrap .value:before{content:'';background:url('../images/total_bg.png') no-repeat; background-size:38px; height:5px;width:38px;display: block;border-radius: 100px;position: relative;top: 0px;left: 50%;margin-left: -14px;margin-bottom: 10px;}
.total-wrap .value em{color:#680098}
.tab_cont_box_1 {background:#fff}
.tab_cont_box_1 li .value:before{display:none}

.box-con .content-cont-view [class^="tab_cont_box_"]{padding:0}
.admin .btn_wrap{float: right !important;display: initial !important;width: 60px !important;}
.admin {position: relative	}
/*set*/
.inner3 {margin:0px -15px}
.box-con.inner3{padding-bottom:0}
.btn_wrap.r{position:absolute;top:20px;right:0;width:initial !important;margin:0 !important}
.wrap_job_list.ty2 li:first-child .btn_wrap.r{top:0}
.btn_wrap.r button {display:inline-block}

.tabwrap .tabMenu-control.type2 > li {width:50%}
.tabwrap .tabMenu-control {margin:0px 0px 10px}

.tabwrap .tabMenu-control > li a {background:#fff;border:1px solid #e9e9e9;font-size:13px}
.tabwrap .tabMenu-control > li {width: 24.3333%;height:34px;}
.tabwrap .tabMenu-control > li a.active {background:#1a2947;color:#fff;border-bottom:none}

.tabwrap .tabMenu-control.ty2 > li {width:50%;height:34px;}
.tabwrap .tabMenu-control.type3 > li {width:33.333%;height:34px;}

.tabwrap .tabMenu-control.type4 > li {width:25%}

body{font-family: 'Noto Sans KR', sans-serif;}

@media (min-width:1200px){}
@media (min-width:992px){}

@media (min-width:768px){
	.btn_wrap.type3 button:last-child{width: 32.7% !important;}
	.btn_wrap.type3 button{width:32.9% !important}
	.btn_wrap.type2 button {width:49.7% !important}
	.list-rdo.col >.radio-box {width:24.444% !important}
	.person .ms .select-box {width:83% !important}
}
.guest .com .wrap_job_list li{padding: 20px 0;/* position:  relative; *//* max-height: 178px; *//* min-height: 100px; */display:  block;}
.guest .com .wrap_job_list .img_area {/* left: 0px; *//* position: initial; */margin-left: 10px;}
.guest .com .wrap_job_list .img_area img {
    width: 55px;
}
.list-wrap{margin:20px 0}
.sec{background:#fff}
.box-con {background:#fff;padding: 15px;}
.box-con2{padding:0;background:#fff;padding-bottom: 20px;margin-top:10px}
.box-con+.box-con {margin-top:10px}

.guest .com .wrap_job_list .txt {
    /* margin: 20px 0px 20px 40px; */
    position: relative;
    top: 0px;
    /* vertical-align: top; */
}
.dis_b{display:block}
.tol {position: absolute;top: 0;right: 0;/* float:  right; */}
.tol .tol_fs{right: 0px;/* position: absolute; *//* margin: 0px 0 0 8px; */}
.tol_fslic,.tol_fssic{float:left;position:relative;width: 40px;height: 40px;padding-top:1px;border:0;font-family:AppleSDGothicNeo-Regular,HelveticaNeue-Regular,Sans-serif;color:#6a6a6a;white-space:nowrap;line-height:34px;vertical-align:top;background: #30b8c6;border-radius: 4px;margin-right: 5px;}

.tol_fssic {
    margin-right: 0px;
}
.tol_fslic:after, .tol_fssic:after{background: url('../images/ico_set1.png') no-repeat;background-size: 50px;width: 14px;content: '';display: inline-block;height: 3px;position:  absolute;top: 20px;left: 15px;}

.tol_fslic:after {
    background-position: 0px 0px;
}

.tol_fslic:after{background-position: 0px -3px;width: 20px;height: 20px;position:  absolute;left: 8px;top: 10px;}
/*기업*/
.com .wrap_job_list .desc{/* position: absolute; */left: 0px;}
.com .wrap_job_list .txt .date, .com .wrap_job_list .tag {/* position: relative; *//* left: 0px; */}
.com .wrap_job_list .txt .date, .com .wrap_job_list .txt .star {/* display:block; *//* position: absolute; *//* left: 0px; */top: 0;}

.wrap_job_list .txt .star {
    position: absolute;
    /* left:  0; */
    margin-left: 5px;
}

.wrap_job_list .txt .star:after {
    content:  '';
    background: url(../images/star.png) no-repeat;
    display:  block;
    background-size:  100px;
    width: 16px;
    height: 16px;
}

.wrap_job_list .txt .star.ea1:after {
    width: 34px;
    height: 16px;
    background-position: 0px -16px;
}

.com .wrap_job_list .btn_confirm {top:-15px}
.com .chk-box2 input[type="checkbox"]{border-radius:0px}

.com .chk-box2 {
    margin-right: 10px;
    position:  relative;
    top: 10px;
}
.person .chk-box{margin-right:5px}

.com .chk-box { padding: 0px 15px; background: #fff;display: block; height: 30px;}
.all-chk-box {padding: 15px 0px;background: #fff;}
.com .btn_wrap {background:#fff;}
.com .mbrRegist{padding: 0px;}
.com .rowPublic .subject {display: table;padding: 0}
.com .rowPublic li strong {width:95px}
.com .btnPage {overflow:hidden; position:absolute; top:0; right:0; width:88px; height:50px;}
.com .btnPage .mainBtnA {/* float:left; *//* width:44px; *//* height:100%; *//* border-left:1px solid #ebeef3; */}
.com .btnPage .mainBtnA:after {left:18px; top:19px;}
.com .bgMn {display:block; position:absolute; top:1px; width:26px; height:48px; background:url("/content/images/main/bg_mn.png") no-repeat 0 0; z-index:10;}
.com .bgLeft {left:0; width:20px; background-position:-26px 0;}
.com .bgRight {right:0; background-position:0 0;}

.profile {
    width: 130px;
    float: left;
    position: relative;
}
.profile .img{width:130px;}
.pofile{width:130px;float:left;position:relative;}

.list_img_wrap .img_box{width:130px;float:  left;position:  relative;}

.list_img_wrap .profile .page {
    display:  inline-block;
}

.list_img_wrap .img_box .page {
    display:  inline-block;
}

.profile img {
    width: 100%;
    margin-bottom: 8px;
}

.img_box img {
    width: 100%;
}

.profile .fpg_n .fpg_non em {color: #f5064f;}

.fpg_non {
    position:  relative;
    top: -2px;
}

.list_img_wrap .txt_con {padding-left: 150px;}
.list_img_wrap dl dt{float:left;font-weight:600;width: 80px;}
.list_img_wrap dl{margin-bottom:5px}








.mb50 {margin-bottom:50px !important}

.bn{border:0px !important;}
.mt10 {margin-top:10px}
.bgi{background:initial !important                  }
.mypage .wrap{background: #dcdee1}
.header .close, .header .my {/* height: 54px; */width: 50px;/* top: 0; *//* right: 13px; */position: absolute;text-align:  center;}
.sub .header .my{right:0}
.header.error { border-bottom:2px #ccc solid;}
.header h1 {position: absolute;left:0;right:0;top:0;bottom:0;margin:auto;text-align:center;}
.header h1 a {display:block;margin:30px auto;width:100px;box-sizing:  border-box;}
.header h1 a span {font-size:18px;color:#333;display:block;/* margin-top:13px; */}
.sub .header h1.logo {width: initial;/* height: 100%; */}

.sub .header h1.logo span {color: #fff;margin: 15px 0;display:  block;font-size:  18px;font-weight: 600;}

.login .header{height:88px;position:relative;}
.sub .header{background:#425796;/* position:relative; */}
.login .header .close {left: 0px;}
.mt30{margin-top:30px}
.mt10{margin-top: 10px;}
.acc li{display: table-cell;width: 50%;/* margin-right: 2px; */}
/*layout*/

.sub .header h1.logo a::before {width: 80px;height:28px;background-position:0px -58px;top: 12px;position:absolute;}

.header {background-color:#fff;height:54px;position:fixed;left:0;right:0;top:0;z-index:1000;}
	.header.error { border-bottom:2px #ccc solid;}
 	.header h1 {position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;text-align:center;}
	.header h1 a span { font-size:18px; color:#333; display:block; margin-top:13px;}
	.header h1.logo {/* width:136px; */height: 100%;}
	.header h1.logo a:before {background-position: 0px -66px;width:136px;height:17px;content: '';width: 100px;display: block;height: 50px;}
	
.sub .header .full-menu  button::before{content:'';width:25px;height: 16px;background-position: 0px 0px;/* margin-top: 10px; */display:  block;top: 20px;position:  absolute;left: 15px;}
.sub .header .prev button::before {background-position: 0px -191px;}
.sub .header .full-menu button{
	border: none;
	background: none;
	width: 50px;
	height: 54px;
	padding: 0;
}

.sub .header .full-menu{
	position: absolute;
	z-index: 1;
}

.sub .header .prev button::before {background-position: 0px -191px;}



	.header .prev { position:absolute; right:10px; top:0; bottom:0; z-index:10; text-align:center;}
	.header .prev button {height:100%;width:42px;/* padding-top: 8px; */}px
	.header .prev button:before {/* content:''; *//* width:25px; *//* height:25px; *//* background-position: 0px 0px; *//* margin-top: 10px; *//* display:  block; *//* top: 0; */}
	.header .prev button em { font-size:9px; font-weight:700; display:block;}
	



/*box*/
.boxwrap {margin:30px 0 0}

/**/
.flug_l {display:block;text-align:center;font-size:17px;color:#fff;padding: 14px 0PX 14px 14px;border-radius:4px;background:#623b98}
.ar{text-align: right}
.fr{float:right;}

/*margin*/
.mt25{margin-top:25px !important}
.mt8{margin-top:8px}


/*button*/
.txt-btn{display:block;padding:0px 15px 0 0;font-weight:600;position:relative;letter-spacing: -2px;}

.txt-btn span {letter-spacing: -2px;position: relative;}
.txt-btn:after{content:'';background-position:0 0;width:8px;height: 11px;right:0px;top:3px;position: absolute;background:url(../images/mbr_regist.png) no-repeat;background-size:100px 68px;}
.txt-btn span:before{content:'';width:100%;height:1px;background: #000;position:  absolute;bottom: -11px;margin-bottom: 7px;/* margin-right: -10px; */display:  block;}
button[type="button"]+button[type="button"]{margin-top: 0;}


/*----------------------------------------------------------------------*/

legend {position:absolute; left:-9999px;}
.skip, .blind{position:absolute;left:-9999px;}

.inner2{margin:-15px}
.wrap {height:100%;background: #dcdee1;}
.content.career{background:#dcdee1}

.hide{font-size:0;position:absolute}
.contaixner {padding-top:54px;}
#content{background:#dcdee1;/* padding-bottom: 75px; */}
.guest {top: 53px;position: relative;}

.sub .content {
    top: 54px;
    position:  relative;
    background: #fff;
}
.recruit .content {background:initial}

.login .content {
    top: 0px;
    position: relative;
    padding-bottom: 76px;
}

.content.subject{padding:0;background:initial}

.header .close a::before, 
.login .header a.close:after,
.header .prev button::before,
.header h1.logo a::before,
.alert_popup .close:before,
.header .full-menu button::before,
.sub .header .my a::before

{background:url(../images/bg_sprite.png) no-repeat;background-size:100px 250px;/* display:  block; */}


.radio-box label:before{background:url(../images/mbr_regist.png) no-repeat;background-size: 100px 68px;}
.rel {position:relative !important;}
.form-box-cont .bx .txt-btn:after, .txt-btn:after
{background:url(../images/mbr_regist.png) no-repeat;background-size:100px 68px;display:inline-block;}

.radio-box label:before {content:'';width:20px;height:20px}

.form-box-cont .ms {display: table;width:100%;}
.form-box-cont .ms.vs { margin-bottom:20px;}
.form-box-cont .ms + .ms {margin-top:10px;}
.form-box-cont .ms .text-input {display:table-cell;/* width: 32%; */vertical-align:  text-bottom;}

.form-box-cont .ms .text-input.dt  {display:table}
.form-box-cont .ms.col2 .select-box{width: 50%;/* height: 40px; */display: table-cell;}

.form-box-cont .ms.col2 .post-input {
    margin: 0;
    top: 0px;
    position: absolute;
    right: 0;
}
.form-box-cont .ms .select-box {display: inline-block;width:68%;top: 0;/* height: 30px; */box-sizing:  border-box;}

.form-box-cont .ms .select-box select {
    height: 40px;*
    display: block; */
}

.header.login{}
.header.login h1.logo {padding:35px 0 25px;text-align:center;color:#fff;background-position:0px 0px}

.header .prev{position:absolute;left: 0px;top:0px;bottom:0;z-index:10;text-align:center;width: 50px;/* height:46px; */}




.header .close::before {/* content:''; */width:24px;height:25px;background-position: 0px -60px;top: 15px;position:  absolute;right: 0;}
.header .my a::before {content:''; width:24px;height:25px;background-position: 0px -60px;top: 15px;position:  absolute;right: 0;}

.join .header{background:#425796;height:46px}

sub .header .close {position:absolute;right: 15px;top: 0px;bottom:0;z-index:10;text-align:center;width:34px;height: 46px;display:  block;}
.sub .header .close::before {/* content:''; *//* width:24px; *//* height:25px; *//* background-position: 0px -162px; *//* top: 15px; *//* position:absolute; *//* right: 15px; */}

.login .header .close::before{background-position:0px -35px}

.photowrap{background:#f1ffff;padding:20px 25px;}
.photowrap .photo li{display:inline-block;width:49%;vertical-align:top;margin-bottom: 15px}
.photowrap .photo li .img{/* width:150px; */height:150px;background:#f0f0f0;margin-right: 5px;position:  relative;background: #f0f0f0 url(../images/sprite-icon.png) no-repeat center;background-size: 54px;}
.photowrap .photo li .img img {width:100%}
.photowrap .photo li:nth-child(2n) >.img {
    margin-right: 0px;
}
.photowrap .photo li .btnwrap{padding:10px 15px}
.photowrap .photo li .btnwrap button{border-radius:8px;padding:8px 0}

.photowrap .movie{position:relative} 
.photowrap .movie .img{width: 100%;height: 240px;}

.photowrap .movie .img img {
    width: 100%;
    height: 100%;
}
.photowrap .movie .play{position:absolute;top:50%;left:50%;background:url(../images/btn_play.png) no-repeat;width: 45px;height: 45px;background-size: 45px;margin-top: -50px;margin-left: -25px;}


.month .space-block{padding: 0px 10px;px; */width: initial !important;font-size: 18px;/* vertical-align: top; */}

span.space-block { display: table-cell;}
/*.type1 .radio-box {width: 25%;float:left;margin: 5px 0;}*/
.ty02 .radio-box{width:33.333%}
.clfix:after{content:'';display:block;clear:both}
.row-group +.row-group{margin-top:5px}

.recruit_top.mypage{background:#f6f7f9}
	.recruit_top{border-bottom:1px solid #e9e9e9;/* color:#3b5998; */font-weight:600;}
	.flug2 {height:20px;float:left;color:#fff;margin-right:3px;background: #3478d7;padding: 4px 12px 3px;font-size: 11px;border-radius: 3px;line-height: 13px;vertical-align: middle;}

.flug2 span {
    display: inline-block;
    line-height: 10px;
    vertical-align: top;
    padding-top: -5px;
}
	.flug2.off{background:#888888}
	.flug2.on{background:#fff;border:2px solid #fb44b0;color:#fb44b0;height: 22px;}
	
	
	
	.recruit_top .flug.type2 {color:#fff;background:#ec0853;/* padding: 5px 12px; *//* font-size: 11px; *//* border-radius: 3px; *//* margin-right: 5px; *//* vertical-align: middle; */}
	.recruit_top .flug span{display:inline-block;line-height: 12px;vertical-align: top;}
	.recruit_top h3{color:#191919}
	.recruit_top h4{font-size:18px}
	.recruit_top .subject{/* flo at: left; */}
	.recruit_cont dl, .form-box-cont dl{margin-bottom:20px}
	.recruit_cont dl:last-child{margin-bottom:0px}
	.recruit_cont dl:first-child{/* margin-top:10px */}
	.recruit_cont dt, .form-box-cont dt{color:#00337a;font-weight:600;margin-bottom:8px}
	.recruit_cont textarea{border:1px #d4d4d6 solid;padding:8px}
	.subject{vertical-align:middle}
	
	.sidenav-content {
		position:fixed;
		top:0;
		left:0;
		bottom:0;
		z-index:1200;
		width:100%;
		background-color:#fff;
		display:block !important;
		pointer-events:none;
		overflow:hidden;
		-webkit-overflow-scrolling: touch;
		transition: all 0.4s cubic-bezier(.25,.8,.25,1);
		transition-property: transform;
		will-change: transform;
		transform: translate3D(-100%, 0, 0);
	
		-webkit-backface-visibility: hidden;
		   -moz-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
				backface-visibility: hidden;
	
		-webkit-perspective: 1000;
		   -moz-perspective: 1000;
			-ms-perspective: 1000;
				perspective: 1000;
	}
	.backdrop {
		position:fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		/* z-index:1000; */
		opacity: 0.7;
		pointer-events: none;
		background-color: rgba(0,0,0,.74);
		transition: all 0.5s cubic-bezier(.35,0,.25,1);
		transition-property: opacity;
		will-change: opacity;
	}
	.backdrop.active { opacity:1; pointer-events:auto;}
	
	.sidenav-active { overflow:hidden;}
	.sidenav-active .sidenav-content {
		box-shadow:0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
		pointer-events:auto;
		transform:translate3D(0, 0, 0);
	} 
	
	.sidenav-box {}
		.sidenav-box .header-top { height:55px; background-color:#EE3124; position:relative; z-index:100;}
		.sidenav-box .header-top .close-btn { width:55px; height:55px; display:block;}
		.sidenav-box .header-top .close-btn:before { content:''; background-position:-30px 0; width:18px; height:16px; margin:20px 0 0 18px;}
		.sidenav-box .header-top .home { position:absolute; right:0; top:0; bottom:0; width:70px;     text-align:center;}
		.sidenav-box .header-top .home span { color:#fff; font-size:13px; font-weight:700; display:block; margin:17px 0 0 0;}
		.sidenav-box .header-top .home span:before { content:''; background-position:-30px -21px; width:13px; height:11px; display:block; margin:0 auto;}
		.sidenav-box .header-top h1.logo { width:136px; height:17px; position: absolute; left: 0; right:0; top:0; bottom:0; margin:auto; background:url(../images/ci-abl.png) no-repeat left top; background-size:136px 17px;}
		
		
	.sidebar-content { padding-bottom:60px;}
		.sidebar-content .top-menu { width:270px; margin:0 auto; padding-top:20px;}
		.sidebar-content .top-menu:after { content:''; display:block; clear:both;}
		.sidebar-content .top-menu li { float:left; width:33.3333333%; margin-bottom:20px;}	
		.sidebar-content .top-menu li a { display:block; height:78px; width:78px; border:2px #DBDFDF solid; overflow:hidden; border-radius:4px; margin:0 auto;}
		.sidebar-content .top-menu li a:active { border:2px #394263 solid;}
		.sidebar-content .top-menu li a .img { display:block; width:40px; height:30px; margin:15px auto 0;}
		.sidebar-content .top-menu li a .img img { width:100%;}
		.sidebar-content .top-menu li a em { display:block; text-align:center; font-size:11px; color:#333; padding-top:5px; line-height:14px; letter-spacing:-1;}
		.sidebar-content .top-menu li a.sub .img { margin-top:7px;}
		.sidebar-content .top-menu li a.sub em { margin-top:-4px;}
	
	.sidebar-container { position:relative;}
		.sidebar-container .swiper-container { margin:0 27px; height:220px;}
		.sidebar-container .swiper-slide {}
		.sidebar-container .swiper-pagination { bottom:0; left:0; width:100%;}
		.sidebar-container .swiper-pagination-bullet { margin:0 3px; width:12px; height:12px;}
		.sidebar-container .swiper-button-next { background:url(../images/btn_swiper_next.png) no-repeat left top; background-size:15px 27px; width:15px; height:27px; display:none;}
		.sidebar-container .swiper-button-prev { background:url(../images/btn_swiper_prev.png) no-repeat left top; background-size:15px 27px; width:15px; height:27px; display:none;}
		.sidebar-container .swiper-button-next.swiper-button-disabled, 
		.sidebar-container .swiper-button-prev.swiper-button-disabled { opacity:0;}
	
	.sidebar-content .banner { padding:20px 0;}			
	.sidebar-content .banner a { display:block;}
	.sidebar-content .banner img { width:100%;}
	
	.sidebar-content .bot-menu { border-bottom:1px #DBDFDF solid;}		
		.sidebar-content .bot-menu > li {}
		.sidebar-content .bot-menu > li > a { display:block; border-top:1px #DBDFDF solid; font-size:15px; color:#333; padding:13px; position:relative;}
		.sidebar-content .bot-menu > li > a:after { content:''; background-position:-75px -201px; width:12px; height:14px; position:absolute; right:20px; top:18px;}
		.sidebar-content .bot-menu > li.active > a:after { content:''; background-position:-75px -218px; width:12px; height:2px; position:absolute; right:20px; top:23px;}
		.sidebar-content .bot-menu > li.active a + ul { display:block; margin:0 15px 15px;}
		.sidebar-content .bot-menu > li ul { display:none; background-color:#F8F8F8; padding:0 15px; margin-top: -1px; z-index: 1; position: relative;}
		.sidebar-content .bot-menu > li ul li {}	
		.sidebar-content .bot-menu > li ul li > a { display:block; font-size:13px; color:#333; padding:11px 0; border-bottom:1px #DBDFDF solid; position:relative;}
		.sidebar-content .bot-menu > li ul li > a:after { content:''; position:absolute; right:0; top:16px; background-position:-95px -201px; width:7px; height:10px; opacity:0.5;}
		.sidebar-content .bot-menu > li ul li > a:active { color:#394263; font-weight:700;}
		.sidebar-content .bot-menu > li ul li > a:active:after { opacity:1;}
		.sidebar-content .bot-menu > li ul li:last-child > a { border-bottom:none;}
	
	
	.iscroller {
		overflow-y:scroll; 
		-webkit-overflow-scrolling:touch;
		
		transform: translateZ(0);
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		   -moz-user-select: none;
			-ms-user-select: none;
				user-select: none;
		-webkit-text-size-adjust: none;
		   -moz-text-size-adjust: none;
			-ms-text-size-adjust: none;
				text-size-adjust: none;
		/*		
		position: absolute;
		top: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		overflow: hidden;
		*/
		
		width: 100%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		z-index: 1;
	}
	
	.iscroller > .swiper-wrapper > .swiper-slide { display:block !important;}

.footer{background:#30374d;height:75px;width:100%;bottom:0;position:fixed;}
    .footer li{width:25%;/* padding:10px 0; */float:left;}
    .footer li a {width:42px;display:block;margin:0 auto;text-align:center}
    .footer li a:before{content:'';width:34px;height:40px;background: url(../images/fo_c.png) no-repeat left top;background-size: 160px 35px;display:  block;}
	.footer li a span{font-size:9px; font-weight:700; display:block;margin:0 auto;text-align:center;color:#fff }
	
	.footer li.home a:before{background-position: 0px 0px;}
	.footer li.subway:hover a:before{background-position: -36px -32px;}
	.footer li.bus:hover a:before{background-position: -79px -35px;}
	.footer li.guide a:before{background-position: -118px 0px;width: 39px;}.footer{background:#30374d;height:75px;width:100%;bottom:0;position:fixed;}
    .footer li{width:25%;/* padding:10px 0; */float:left;}
    .footer li a {width: 100%;display:block;margin: 10px auto;text-align:center;height: 77px;}
    .footer li a:before{content:'';width: 35px;height: 35px;background: url(../images/fo_c.png) no-repeat left top;background-size: 160px 70px;display:  block;margin: 0 auto;}
	.footer li a span{font-size:9px;font-weight:700;display:block;margin:0 auto;text-align:center;color:#fff;width: 100%;}

.footer li:hover a span {
    color: #5ef6ff;
}
	
	.footer li.home:hover a:before{background-position: 0px -35px;}

.footer li.home.on a:hover {
    /* background:  #fff; */
    /* height: 80px; */
}
	.footer li.subway a:before{background-position: -36px 3px;width: 40px;}
	.footer li.bus a:before{background-position: -79px 0px;width: 26px;}
	.footer li.guide:hover a:before{background-position: -118px -35px;}


.sub .header .close {right: 0px;}

.header .close a, .header .my a {width: 50px;height: 54px;display: block;}

	.login .header h1.logo a::before {/* content:''; *//* width:25px; */height: 30px;background-position: 0px -95px;/* margin-top: 10px; *//* display:  block; */top: 30px;position:  absolute;}
	.header .close a::before,.header .my a::before {left: 15px;content:'';width: 20px;height: 20px;background-position: 0px -133px;/* margin-top: 10px; */display:  block;top: 15px;position:  absolute;}

.sub .header .close a::before{background-position: 0px -162px;}
.sub .header .my a::before {background-position: 0px -25px;right:0;width:26px;height:26px}

	.header .close a em { font-size:9px; font-weight:700; display:block;}
	.header .prev button::before{content:'';width:25px;height:25px;background-position: 0px -133px;/* margin-top: 10px; */display:  block;top: 15px;position:  absolute;left: 15px;}

.sub .header .prev button::before{background-position: 0px -191px;}

/* icon */
.flug.step{border:2px solid #48c4c6;color:#48c4c6;content:'';}
.flug.guest {border:2px solid #696cff;color:#696cff;top: 0;}
.flug.artist{border:2px solid #6fd6b9;color:#6fd6b9}
.flug{font-size:8px;padding: 2px 4px;border-radius: 2px;/* vertical-align: top; */background:#fff;}

.ico_step em {line-height: 21px;display: inline-block;/* margin-top: 8px; */vertical-align: top;}
.ico_hot{background: #ec0853;color:#fff;padding: 1px 3px;border-radius:  3px;font-size: 8px;/* vertical-align: middle; */}
.required {color:#ec0853}

/*group*/
.fl{float:left;}
.rel{/* position:relative */}
.dpi{display:inline-block !important}
/*color*/

/*간격*/
.w144{width: 144px !important;}
.w158{width:158px !important}
.w150{width: 100px !important;display:block;}

.ml20{margin-left:20px !important}
.ml37{margin-left: 73px !important;}
.ml10{margin-left: 6px;}

.mt20 {margin-top:20px !important}
.pt35 {margin-top:35px !important}

.h10{padding:10px 0}
.m15{margin: 15px !important;}

/* button */

.btn_confirm {display:inline-block;overflow:hidden;border-radius:0;text-align:center;width:60px;/* height:40px; */}
.btn_confirm span {display:block;margin:0;padding: 8px 0;width:100%;/* box-sizing:border-box; *//* font:inherit; */font-size:11px;/* letter-spacing:-1px; *//* line-height:20px; */vertical-align:top;background: #0055ca;color: #fff;border:1px solid #dbdbdb;-webkit-text-size-adjust:none;border-radius: 4px;line-height: 12px;}

.btn_cancel{text-align:center;width:60px;position:absolute;right: 15px;bottom: 20px;}
.btn_cancel span {width: 100%;background:#949ba1;display:block;vertical-align:middle;padding: 9px 0;color: #fff;border-radius: 2px;line-height: 12px;}

.btn_more{/* padding:15px 0; */text-align:center;color:#000;width:100%;display:  block;}
.btn_more:after{content:'';}


.more_wrap{padding: 8px 0;text-align:center;background:#fff;border-top:1px solid #f2f2f2;}

.btn_xs {display:block;text-align:center;/* margin-left:8px; */font-size:17px;color:#fff;padding: 14px 16PX;border-radius:4px;width: 100%;}
.btn_r{border-radius: 20px;border:1px solid #fb44b0;/* padding: 5px 10px; */background: transparent;}

.sample {
    line-height: 12px;
    font-size: 11px;
    font-weight: 600;
}
.btn_r .guide:after {content:'';background-position: right 0px;width: 12px;height: 12px;position: absolute;left: 10px;top:10px}
.btn_r .sample:after {content:'';background-position: right -77px;width: 12px;height: 12px;position: absolute;left: 10px;top:10px}

.btn_r.b{border:1px solid #034e80;background:transparent;float:  right;position: absolute !important;right: 0px;bottom: 0px;}
.btn_r.b2{border:1px solid #034e80;background:transparent;float:  right;position: absolute !important;right: 0px;bottom: 0px;background:  #f1ffff;color: #425796;padding: 4px 0 4px 18px;width: 84px;/* top: 4px; */}

.btn_r.b2 span:after {
    /* content:  ''; */
    /* background:  url('../images/icon_play.png') no-repeat; */
    /* display:  inline-block; */
}
.btn_r.b2 .sample:after{content:'';width: 20px;height: 14px;background-size: 5px;background:url('../images/icon_play.png')no-repeat;display:  inline-block;position:  absolute;background-size: 15px;top: 6px;left: 8px;}

.ty01{background:#623b98 !important}
.ty02 {background:#0055ca !important}

/* heading */
/*.tit, .tit_n {padding: 15px 12px;border-bottom:1px solid #d1d3d7;font-size: 15px;position:relative;}*/

.sidenav-content {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    z-index:1200;
    width:100%;
    background-color:#fff;
	display:block !important;
    pointer-events:none;
    overflow:hidden;
    -webkit-overflow-scrolling: touch;
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);
    transition-property: transform;67
    will-change: transform;
    transform: translate3D(-100%, 0, 0);

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
            backface-visibility: hidden;

        -ms-perspective: 1000;
            perspective: 1000;
}
    -webkit-perspective: 1000;
	   -moz-perspective: 1000;
	   





/* radio */
.list-rdo.col .radio-box {width:25%}
.list-group {margin-top:10px}
.list-group span{width:25% !important;/* display:  inline-block; */}

.radio-box label {/* margin-left: 5px; */vertical-align:top;font-size: 15px;}
.radio-box label:before {content:'';display:block;position:absolute;left:0;top:0;width:21px;height:21px;/* background:initial */}
.radio-box input[type="radio"]:checked + label:before {background-position: -80px -50px}
.radio-box input[type="radio"] + label:before {background-position: -57px -50px;}

.radio-box input {}
.radio-box input {border:2px solid #d1d1d3;/* position:absolute; */left:0;top:0;width:18px;height:18px;border-radius: 50%;vertical-align: top;}
.radio-box label {margin:0px 0px 0px 5px;vertical-align:top;/* font-size: 12px; */vertical-align: top;}

.item {display:inline-block; width:33.333%; padding-left:9px; box-sizing:border-box; vertical-align:top;}
.item label {display:block; position:relative; padding-left:25px; font-size:14px; color:#666;}
.item label:before {content:''; display:block; position:absolute; left:0; top:0; width:21px; height:21px; background:url('../images/mbr_regist.png') no-repeat -53px -229px; background-size:100px 250px; -webkit-transform:translateY(-4px); transform:translateY(-4px);}
.item input[type="radio"]:checked + label:before {back544ground-position:-82px -229px}
 
/* 채용정보 리스트 - 공통 테두리 */
.subject_bx {background:#fff;border-bottom:1px solid #d1d3d7;/* border-top:1px solid #d1d3d7; */margin-bottom: 10px;}
.subject_bx:first-child {padding-top:0}
.subject_wrap .subject_bx:last-child{margin:0}
.subject_bx h3.tit, .subject_bx h3.tit_n{border-bottom:1px solid #ddd;padding: 15px;position:relative;font-weight: 600;color: #191919;margin-bottom:0px;height: 40px;}
.subject_bx .tit h3,.subject_bx .tit_n h3{/* line-height: 40px; */display:  block;/* padding-bottom: 36px; */padding-left:15px;height:100%;/* padding-top: 3px; */line-height: 19px;}
.subject_bx h3.tit:after{position:absolute;bottom:0;content:'';left: 0;border: 1px solid #ec0853;width: 92px;}

/* 채용정보 리스트 - 리스트(세로) */

.subject_bx:last-child{margin:initial;border-bottom:0px;}
.wrap_job_list.my_recommend .date{display:block;margin-top:5px;}
.wrap_job_list{width:100%;box-sizing:border-box;background:#f6f7f9;}
wrap_job_list my_recommend.com{}
.wrap_job_list.ty2 li {padding:20px}
.wrap_job_list.ty2 li:last-child{border-bottom: 1px solid #f2f2f2;}

.wrap_job_list.my_recommend .btn_confirm{/* position:relative; */float:right;right:20px;}
.wrap_job_list.my_recommend .btn_confirm.st2{top:0}
.wrap_job_list.type2 {background:#fff}

    .wrap_job_list li{border-bottom: 1px solid #f2f2f2;padding: 20px 0 20px 86px;position:  relative;}
    .wrap_job_list li:last-child{/* border:0px; */}
	.wrap_job_list .img_area{background:#fff;width: 55px;height: 55px;/* border:1px solid #ededed; */top: 0px;position: relative;/* left: 16px; *//* border-radius: 0px; */display:  inline-block;vertical-align: top;}

.wrap_job_list .txt {
    left: 10px;
    position: relative;
    top: 0px;
    /* float: right; */
    display:  inline-block;
    width: 77%;
}
	.wrap_job_list .img_area img{width:100%;height:100%;border-radius: 15px;}
    .wrap_job_list .txt_area{margin: 5px 0;}
    .wrap_job_list .date{padding-right:18px;color:#000}:first
    .desc2 {line-height: 19px;white-space:nowrap;color:#ec0853;font-weight:600;/* vertical-align: top; *//* display: block; */}
	.desc {line-height: 19px;color: #3b5998;font-weight:600;vertical-align: top;line-height: 18px;display: block;}
	.wrap_job_list .tag {/* padding: 10px 0; */color:#000;display:  block;}
	.wrap_job_list .btn_confirm{position:absolute;right: 15px;bottom: 20px;}

	.wrap_job_list_2{width:100%;box-sizing:border-box;background:#fff;margin: 15px 0 0;}
	.wrap_job_list_2 .radio-box label >span{display:inline-block;font-size:18px;color:#00337a;line-height:14px}
	.wrap_job_list_2 .radio-box {margin-right:30px}
	.wrap_job_list_2 .local-btn.on span:after {position: absolute;content:'';background: url('../images/bg_edit.png')no-repeat;background-size: 22px;width: 22px;height: 22px;left: 6px;top: 4px;}
	.wrap_job_list_2 .local-btn span:after {position: absolute;content:'';background: url('../images/bg_edit.png')no-repeat;background-size: 22px;width: 22px;height: 22px;left: 6px;top: 4px;background-position: 0px -22px;}

.wrap_job_list_2 .local-btn.on span:before {
    content:  '';
    width: 65px;
    display:  inline-block;
    height: 30px;
    border-radius: 30px;
    border: 2px solid #3478d7;
    position:  relative;
}
	.wrap_job_list_2 .local-btn span {position: absolute;right: 0px;font-size: 12px;top: -5px;}

.wrap_job_list_2 .local-btn.on span >em {
    position:  absolute;
    left: 32px;
    top: 5px;
    color: #0055ca;
}
.wrap_job_list_2 .local-btn span:before {
    content:  '';
    width: 65px;
    display:  inline-block;
    height: 30px;
    border-radius: 30px;
    border: 2px solid #b1b1b1;
    position:  relative;
}
	.wrap_job_list_2 .local-btn span {position: absolute;right: 0px;font-size: 12px;top: -5px;}

.wrap_job_list_2 .local-btn span >em {
    position:  absolute;
    left: 32px;
    top: 5px;
    color: #b1b1b1;
}

.wrap_job_list_2 .local-btn {
    position: absolute;
    right: 20px;
}

.wrap_job_list_2 .top:after {
    content: '';
    clear:  both; 
    display:  block;
}
	.wrap_job_list_2 li{border-bottom: 1px solid #e1e2e4;padding: 20px 0 20px 0px;position:  relative;margin: 0px -20px;}
	.wrap_job_list_2 li:first-child{border-top: 1px solid #e1e2e4;}
	.wrap_job_list_2 li.active{background: #f6f7f9}
	.wrap_job_list_2 .flug {float: left;/* width:85px; */margin: 0px 20px;}
	.wrap_job_list_2 .flug .step{border:2px solid #48c4c6;color:#48c4c6;border-radius: 4px;line-height: 20px;}

	.wrap_job_list_2 .text{padding-left:85px;} 
	.wrap_job_list_2 .text2{padding-left:20px;position:relative}

.wrap_job_list_2 .text2 .btn_wrap {
    margin: 0px;
} 
	.wrap_job_list_2 span{display:block}

	.wrap_job_list_2.ty2 span{display:inline-block}
	.wrap_job_list_2.ty2 .date {float: right;margin-right: 20px;}
	.wrap_job_list_2.ty2 .sub{display: block !important}
	.wrap_job_list_2.ty2 .btn_wrap {position:absolute;right: 20px;top:0;padding:0;width:initial;}
	.wrap_job_list_2.ty2 .btn_wrap button{width:85px}
	.wrap_job_list_2.ty3 li{padding:10px 0}
	.wrap_job_list_2.ty3{margin:0;margin-bottom:15px}
	.wrap_job_list_2.ty3 span{display:inline-block}

.wrap_job_list_2.ty3 span.ti {
    margin-left: 20px;
}
	.wrap_job_list_2.ty3 .radio-box {margin-right:30px;margin-left:20px}
	.wrap_job_list_2 .sale-price, .sale-txt{font-size:17px;/* text-decoration:line-through; */color:#191919;margin-right:30px;min-width: 65px;}

.wrap_job_list_2 .sale-price:after {
    content:  '';
    position:  absolute;
    left:  0;
    top: 10px;
    background:  url('../images/bg_del.png') no-repeat;
    background-size: 88px;
    width: 88px;
    height: 6px;
    /* margin-right: 12px; */
    /* display:  block; */
}
	.wrap_job_list_2 .price {color:#ec0853;font-size:18px;position:  relative;/* padding-left: 12px; */}
	.wrap_job_list_2.ty3.bn  li{border:0;padding: 15px 0px 0px !important;/* padding: 0; */}
	.wrap_job_list_2.ty3 .select-box {width:184px}
	.wrap_job_list_2.ty3 .select-box {position:  relative;float:  right;width: 135px;right: 20px;/* top: -10px; */}
	.wrap_job_list_2.ty3.bn .radio-box label >span {font-size:16px;color:#000}
	.wrap_job_list_2.ty3.bn{padding-top: 0;}


/* 채용정보 추천 */
.wrap_job_list.recommend .desc{color:#466bb1}
.wrap_job_list.recommend li{background: #fff}
.wrap_job_list.recommend .txt_area{margin:0}
.wrap_job_list.recommend .tag, .wrap_job_list.close_recommend .tag {margin:5px 0;}

/* 내게맞춤정보 */
.wrap_job_list.close_recommend li{background: #fff}
.wrap_job_list.close_recommend .date{display:block;}
.wrap_job_list.close_recommend .txt_area{margin:0;position: relative;}

.wrap_info_job {margin:0px 15px;}
#content.pageRecruit{background:#fff;padding: 30px;}
.rowPublic { border-bottom:1px solid #e9e9e9; padding: 15px 25px;}
.rowPublic2{margin: 30px 0;border-top:1px solid #e9e9e9;/* border-bottom:1px solid #e9e9e9; */}
.rowPublic.st2{margin-top:10px !important}
.rowPublic2.st3{margin-top:0}
.rowPublic::after{content:'';display:block;clear:both}
.rowPublic li{padding:12px 0}
.rowPublic li strong{float:left;width:75px;font-weight:600;color:#000}
.rowPublic li .subject{padding-left:90px}
.rowPublic li .subject span{display:block;float: initial;width: 100%;font-weight:400;line-height:15px}
.rowPublic li:first-child{padding:0;}

.btn_wrap {padding: 0px 0px 10px;width:  100%;position:  relative;/* background: #fff; */}

.btn_wrap.type3 button:last-child {
    margin: 0px;
}

.btn_wrap button {
    /* margin-bottom: 10px; */
}

.btn_wrap button:last-child {
    margin-bottom: 0;
    margin-right: 0px;
}
.btn_wrap button+button{/* margin-top:10px */}
.btn_wrap span{color:#fff;text-align:center;display:block}

.inp_group + .inp_group {
    margin-top: 10px;
}
.btn_wrap a{padding: 12px 0;width:100%;display:block;box-sizing: border-box;border-radius: 4px;height: 25px;margin-bottom:5px;line-height:100%;}
.btn_blue{background:#29245a;color:#fff;}
.btn_cyon{background:#30b8c6;color:#fff;}
.btn_gray{background:#949ba1;color:#fff;}
.btn_skyblue{background:#8da3cb;color:#fff }

/* popup */

#layerPopup{
	padding:20px; 
	border:4px solid #ddd; 
	position:absolute; 
	left:100px; 
	top:100px; 
	background:#fff;
  }
  
  #layerPopup button{
	cursor:pointer;
  }

  /*로그인*/
 .tabMenu-control {margin-top:40px; margin:0 25px 23px 25px;position:relative;background:#fff}
.tabMenu-control:after {content:""; display:block; height:0; clear:both; }
.tabMenu-control > li {float:left; width:50%; height:43px; box-sizing:border-box; text-align:center; z-index:1;}
.tabMenu-control > li a {position:relative;display:block;color:#666;/* font-size:13px; */margin-left:-1px;line-height:2.5em;font-weight:normal;background-color:#f8f8f8;border:1px solid #e8e8e8;border-bottom:1px solid #0055ca;letter-spacing:-1px;}
.tabMenu-control > li a.active {color:#0055ca; background-color:#fff; border:1px solid #0055ca; border-bottom:none;z-index:2;}
.tabMenu-control > li.corp.on {margin-bottom:43px;}
.tabMenu-control > li ul {overflow:hidden; position:absolute; left:0; top:49px; width:100%;}
.tabMenu-control > li li {float:left; width:33.3%/*50%*/;}
.tabMenu-control > li li button {color:#999; width:100%; padding:8px 0;}
.tabMenu-control > li li .on {position:relative; color:#333;}
.tabMenu-control > li li .icn:before {content:""; display:inline-block; width:14px; height:13px; background-position:0 -105px;}
.tabMenu-control > li li .on:before {content:""; display:inline-block; width:14px; height:13px; background-position:-20px -105px;}
.inp_box{border-radius:0;box-sizing:border-box;border:1px solid #d2d2d2;padding:0 8px;padding:0px\9;width:100%;padding:10px 0;}

.content-cont-view {background:#fff}
.content-cont-view [class^="tab_cont_box_"] {padding:0PX 20px;}

/* login_style */
#login #container {}
.login_form {padding:0px}
#login .login_form:after {content:""; display:block; height:0; clear:both;}
#login .login_form .id_row input,
#login .login_form .pw_row input {width:100%}
#login .login_form .pw_row {margin-top:-1px;}
#login .login_form .btnRegi {text-align: center;}

#login .check_row {position: relative;margin-top:10px;}
#login .check_row .ck label {display:inline-table;padding-left:5px;padding-top:3px;color:#333;vertical-align:top;}
.error{margin:15px 0; color:#ec0853}
#login .check_row .find {position: absolute;top:0;right:0;font-size:0.93em;}
#login .check_row .find a {position: relative;padding-left:9px;}
#login .check_row .find a:last-child:after {content:""; position:absolute;left:2px; top:3px; width:1px; height:12px; background:#eee;}

.btLoin {width:100%;background:#3399ff;color:#fff;font-weight:bold;border-radius:2px; -webkit-box-sizing:border-box;min-height:50px; font-size:1.28em;margin-top:10px;}
.btLoin:first-child{margin-top:30px} 
.btSocial.dev_loading {color: #fff;}
.btSocial.dev_loading .icn {background-position: 4px -147px;}
.btSocial_row {margin-top:17px;}
.btSocial_row .tbl {display:inline-table;width:100%;margin-bottom:8px;}
.btSocial_row .cel {display:table-cell;position: relative;width:50%;}
.btSocial_row .cel .loadingImg {position: absolute;top: 50%;left: 50%;width: 20px;height: 20px;margin-top: -10px;margin-left: -10px;}
.btSocial_row .sp {display:inline-block;width:8px;}
.btSocial {width:100%;background:#fff;color:#666;border-radius:2px;-webkit-box-sizing:border-box;min-height:40px; border:1px solid #d2d2d2;font-size:0.929em;text-align: left;}
.btSocial .icn {display:inline-block;width:30px;height:18px;margin-right:8px;vertical-align:middle;margin-left:10px;}
.btSocial .icnFb {background-position:4px -50px;}
.btSocial .icnNa {background-position:-33px -50px;}
.btSocial .icnGl {background-position:-80px -50px;}
.btSocial .icnKo {background-position:-120px -50px;}

.loginTool {position: relative; margin:0 25px 8px 25px; min-height:15px;}
.loginTool:after {content:""; display:block; height:0; clear:both;}
.loginTool .btN {position: absolute;top:0;right:84px;}
.loginTool .btN_special {position: absolute;top:0;right:0;}
.loginTool .btN {font-size:0.786em; padding-right:12px;background-position:100% 4px;}
.loginTool .btN_on {color: #333;background-position: 100% -23px;}

.loginTool ul {overflow:hidden; padding-top:20px; margin:15px auto 12px auto; width:291px;}
.loginTool .key_special {width:287px;}
.loginTool li {border:1px solid #d9d9d9; width:25px; height:24px; float:left; margin:-1px -1px 0 0; -webkit-box-shadow:0 1px rgb(232, 232, 232, 1); color:#858585; font-size:0.7em; padding:2px 0 0 3px; position:relative; background:#fff;}
.loginTool .key_special li {width:22px;}
.loginTool ul span {position:absolute; font-size:1.14em; -webkit-text-stroke-width:.03em; top:12px; right:3px; color:#141414;}
.loginTool .key_co li:nth-child(11) {margin-left:14px; clear:both;}
.loginTool .key_co li:nth-ch15ild(20) {margin-left:29px; clear:both;}
.loginTool .key_special li:first-child {margin-left:12px;}
.loginTool .characterT {top:1px; font-weight:bold;}
.row +.row{margin-top:10px}

.row:after {
    clear: both;
    content:  '';
    display: block;
}
.col2 .in-group {float:left;width: 49%;margin-right: 6px;}

.col2 .in-group:last-child {
    margin-right: 0;
}
.col2 .in-group button {margin-right:7px;}

.check_row {position: relative;margin-top:10px;}
.check_row .ck label {display:inline-table;padding-left:5px;padding-top:3px;color:#333;vertical-align: top;FONT-SIZE: 13px;}
.check_row .find {position: absolute;top: 2px;top: 3px;0font-size:0.93em;font-size: 13px;letter-spacing: -1px;right: 0;}
.check_row .find a {position: relative;padding-left:9px;}
.check_row .find a:last-child:after {content:""; position:absolute;left:2px; top:3px; width:1px; height:12px; background:#eee;}
.ch_box {cursor:pointer;border:1px solid #7a7a7a;width:20px;height:20px;}

.textwrap {margin: 10px}
.textwrap li{padding: 3px 0;text-indent:  -15px;margin-left: 15px;}
.textwrap li .dot:after{content:'';width:3px;height: 3px;border-radius:50%;left:0;top:0;display:  inline-block;margin-right: 10px;background: #888;}

.find_wrap{margin:20px}
.inpgroup span{margin-bottom:10px;display:block}
.find_wrap h3{font-size:14px;color:#00337a;margin-bottom:10px}

.btn_area {text-align:center;width:100%;margin:0px}
.btn_area a{color:#fff;background: #30b8c6;display:block;padding:15px 0}
.form-box-cont {/* padding:0 15px 15px; */background:#fff;}
.form-box-cont.pt { padding:0 0 15px;}
	.form-box-cont h3 { font-size:15px;margin-bottom:10px;margin-top:20px}
	.form-box-cont h3.nx { margin-top:25px;}
	.form-box-cont h3 em { color:#e53b2c;}
	
	.form-box-cont [class^="f-box-"] { margin-bottom:27px;}
	 .text-input {/* background-color:#fff; */}
	 .text-input+.text-input{margin-top:7px}
	.text-input input {}
	.select-box {background-color:#fff;/* border-radius:4px; */}
	.form-box-cont .select-box:after {/* top:17px; */}
	.form-box-cont .select-box select {padding: 0px 10px;/* margin-right:70px; */height: 40px;}
	.text-input input {font-size:14px !important;color:#000;padding:9px 12px 10px;}	
	.space_block { display:table-cell; width:20px; text-align:center;}
	.text-input input {font-size:14px !important;color:#000;padding:9px 12px 10px;}	
	.text-input input[type="password"] {/* font-size:20px !important; */color:#000;padding:0 12px 0;height:37px;}	
	
/*button*/
.photowrap .btn_wrap{padding:0px 0px 15px;text-align:right;}
.photowrap .btn_wrap span{color:#425796;padding-left:14px;font-weight:600}

.btn {display:block;border-radius:10px;color:#fff;width:100%;font-size:15px;padding:14px 12px;/* margin-bottom:6px; */margin-left:0;border: 0;box-shadow:  none;}
.button:last-child{margin:0}

.blue{background-color:#425796;}
.blue span, .cyon span,.gray span{color:#fff !important}
.cyon{background-color: #30b8c6}
.skyblue{background:#0055ca}
.blue2{background:#29245a}
.blue3{background:#3478d7}
.gray2{background:#ededed}
.gray2 span{color:#bbbbbb}

.btn_wrap.type1{padding: 0px;left: 0;/* background: #fff; *//* height: 97px; *//* bottom: 0; */}
.btn_wrap.type1 button{border-radius:0}
.btn_wrap.type2{padding:20px 0;margin: 0;}


.bt{border-top:1px solid #d1d1d3;padding-top:15px;margin-left: -15px;margin-right: -15px;padding: 0px 15px !important;}
/*color*/
.f-blue {color:#3b5998}
.col_ty_01{color:#ec0853}
.ico{color:#ec0853;border:1px solid #ec0853;padding:0px 6px;display:inline-block;border-radius: 2px;margin-left:10px;line-height:20px;}

/* ------------------------------------------- */
/* 회원가입 */
input,
textarea,
/*select { -webkit-appearance:none;}*/
input[type="text"],
input[type="tel"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="email"] {border-radius:2px;-webkit-box-sizing:border-box;border: 0;padding:0 8px;font-size:1.071em;}
.mbrRegist {padding:10px 0;letter-spacing:-1px;background:#fff;}
.mbrRegist .rowGroup {margin-bottom:10px} 
.mbrRegist .rowGroup .row {/* border-top:1px solid #eaeaea; */display:table;width:100%;/* padding:11px 0; */}
.mbrRegist .rowGroup .row .inr {margin: 0 20px;min-height:28px;}
.mbrRegist .rowGroup .row .inr_1 {margin-right:110px;}
.mbrRegist .rowGroup .chkTxt .inr_1 input {width:64%;}

.mbrRegist .rowGroup .row:first-child {border-top:0 none;}
.mbrRegist .rowGroup .row label {display:none;}
.mbrRegist .rowGroup .row input {width:100%;}
.mbrRegist .rowGroup .chkTxt label {display: block;width:70px;}
.mbrRegist .rowGroup .chkTxt input {width: 100%;}


.ct-box{margin:30px 15px 30px;}
.ct-box .ms {display: table;width:100%;}
.ct-box .ms .select-box, .ct-box .ms .text-input {display:t3able-cell;/* width: 50%; */}

.ct-box.type1{/* margin:30px 15px 0px; */}

.subject_bx .tit, .subject_bx .tit_n {position:relative;/* height: 30px; */}
.tit{color:#00337a;font-weight:600;margin-bottom:10px;display: block;}

.form-box-cont {padding: 15px 0;}
.form-box-cont.edit{margin-top:10px}
.form-box-cont.edit .ms-top{margin:12px 0}
.form-box-cont dl{/* padding-top: 20px; */}

.form-box-cont .btn_wrap button{/* width:33.3333%; */}
	
	.form-box-cont .text-input input {}
	.form-box-cont .select-box:after {/* top:17px; */}
	.form-box-cont .select-box select {}	

	.form-box-cont .ms {display: table;width:100%;}

.form-box-cont .ms.month {
    text-align:  center;
    margin-bottom: 20px;
    margin-left: 10px;
}

.form-box-cont .ms.month span {
    display:  inline-block;
    vertical-align: middle;
}

.form-box-cont .ms.v1 .text-input {
    display: table-cell;
    width: 100%;
}

	.form-box-cont .ms span label{display:inline-block}
	.form-box-cont .ms .col-group {display: table-cell;width: 50%;margin-right: 5px;}
	.form-box-cont .ms.vs { margin-bottom:20px;}
	.form-box-cont .ms + .ms { margin-top:10px;}
	.form-box-cont .ms .tit { display:table-cell; border:1px #CFCFCF solid; border-radius:4px; overflow: hidden; font-size: 14px; color: #000; padding: 9px 12px 10px; background-color:#F6F6F6;}
		
	.form-box-cont .bx { display:table; width:100%; margin-top:10px; background:#eee;padding:25px 15px}
	.form-box-cont .bx .txt-btn{display:block;/* text-decoration: underline; */padding:5px 0;}
	.form-box-cont .bx .txt-btn:after{content:'';background-position:0 0;width: 8px;height: 11px;left: 10px;position:  relative;}

	.select-box {display:block;border:1px #CFCFCF solid;/* overflow:hidden; */position:relative;padding-top:0 !important;background-color:#fff;width:  100%;/* height: 40px; */margin: 0px;padding:  0;display:  block;}
	.select-box select {font-size:13px;color:#000;/* padding:5px 30px 8px 8px; */}
	.select-box:after { content:''; position:absolute; right:12px; top:13px; width:0; height:0; display:block;  border-top:5px solid #989898; border-bottom:5px solid transparent; border-right:5px solid transparent; border-left:5px solid transparent;}
	
	.text-input {width:100%;display: table;border:1px #d4d4d6 solid;overflow:hidden;vertical-align: middle;box-sizing:  border-box;}
	.text-input input { font-size:14px !important; color:#000; padding:9px 12px 10px;}	
	.text-input input[type="password"] , .text-input input[type="text"] 
	{font-size:20px !important;color:#18191b;padding:0 12px 0;height:43px;font-size: 16px;}	
	.id_list{font-size:20px !important;color:#000;padding:10px 12px;border:1px #d4d4d6 solid;text-align:center}	
	.select-box select[disabled] { background-color:#DEDEDE;}
	.text-input input[disabled] { background-color:#DEDEDE;}
	.text-input input[focus] { background-color:#DEDEDE;}

	.select-box select {font-size:14px;color:#000;/* padding:9px 35px 12px 12px; */width: 100%;}
	.select-box:after {
	content:'';
	position:absolute;
	right:14px;
	top:18px;
	width:0;
	height:0;
	display:block;
	border-top:7px solid #989898;
	border-bottom:7px solid transparent;
	border-right:7px solid transparent;
	border-left:7px solid transparent;
	}
	
.ms .text-input {display:table-cell;width: initial;}
	.ms-top{margin:12px 0 30px}
	.ms .select-box +.ms .select-box{margin-right:0}270

	.ms .select-box{width: 150px;display: inline-block;/* margin-right: 7px; */}
	.ms .select-box:last-child{/* margin-right:0 */}
.ms .select-box:nth-child(2) {/* margin-right:0; */}
	/*.ms .text-input{width:110px}*/
.w210{width: 100%;padding-right: 120px;display: inline-block;}

.col_group.type1 span{width: 50%;}

.w100{width: 100px !important;display: inline-block;}
.w200{width:200px}
.w208{width:208px;}
.rel{/* position:relative */}

.list-rdo.col >.radio-box {
    width: 32%;
    display: inline-block;
    margin-bottom: 10px;
}
.list-rdo.col2 .radio-box{ width:23%;display: inline-block;}

.btn-wrap{/* display: inline-block; */}
.btn-wrap.st2{margin:20px 0 30px}
.ct-box .btn-wrap{position: absolute;right:0;top:0}
.btn_wrap +.btn_wrap{/* margin-top:10px; */}
.btn_wrap.type2 button{width:49%;display:table-cell}
.btn_wrap.type3 button{width: 32%;float: left;margin-right: 5px;}
.btn_wrap.type3 button:last-child{margin-right:0}

.mbrRegist dt, .form-box-cont .ms strong{margin-bottom:8px;font-weight:600;color:#00337a;min-width: 80px;display:  block;}
.mbrRegist dt em{color:#ec0853}
.mbrRegist dl{margin: 10px;padding: 10px 0px 0;}



.mbrRegist dl:after {
    clear: both;
    display:  block;
    content: '';
}
.mbrRegist dl:first-child{/* margin-top:20px; */}
.gray{background:#949ba1 !important}
.white{background:#fff;border:1px solid #ed2676; color:#ed2676}
.red{background: #b13e71}

only screen and (max-device-width: 1024px) and (max-device-width: 768px){}

.post-input {border-bottom:1px solid #3478d7;height: 40px;margin: 5px 0;display:block;position:relative;}
.post-input input:focus{border:0 !important}
.btn_sh {position:absolute;right:0;width:20px;height:20px; display:block;top:10px;background:url(../images/btn_search.png) no-repeat;background-size:20px 20px;}

.post-input input {height: 30px;}
.post-search {margin: 25px;}
.total{background:#f6f7f9;border-top:1px solid #bbb;border-bottom:1px solid #bbb;padding:12px 0;color:#676767;text-align:center}
.zipcode_adress{margin:12px 0}
.zipcode_adress li{border-bottom:1px solid #bbbbbb;}
.zipcode_adress li .zipcode_item{border-bottom:1px solid #e9e9e9;display:block;padding:14px 20px}
.zipcode{color:#466bb1;padding:14px 14px 0px;display:block}px
.zipcode_adress li .zipcode_item:last-child {border-bottom: 0;}
.more{/* padding:12px 0; */text-align:center;}
.more span{position:relative;color:#666}
.more span::after{content:'';width:11px;height: 16px;background: url(../images/bg_arrow.png) no-repeat right;background-size: 11px;right: -22px;display:  block;position: absolute;top: 1px;margin-left: 20px;}

/** popup
================================================== */	
.pop-test-btn { background-color:#f0f0f0; padding:12px; margin:12px; border:1px #d7d7d7 solid; display:block; border-radius:5px;}

.popup { position:fixed; z-index:2015; left:0; right:0; top:0; height:100%; background-color:#fff; display:none;}
.popup .close { position:absolute; right:0; top:0; width:46px; height:46px; display:block; z-index:200;}
.popup .close:before { content:''; width:18px; height:18px; background-position:-110px -37px; margin:15px 0 0 14px;}
.popup .close .hidden { width:46px; display:block; height:46px; left:0;}

.popup .pay-close { position:absolute; right:0; top:0; width:46px; height:46px; display:block;}
.popup .pay-close:before { content:''; background:url(../images/payClose.png) no-repeat left top; background-size:17px 19px; display:inline-block; width:19px; height:19px; margin:17px 0 0 15px;}

.popup .close-suv { position:absolute; right:0; top:0; width:46px; height:46px; display:block;}
.popup .close-suv:before { content:''; width:18px; height:18px; background-position:-225px 0; margin:15px 0 0 14px;}

.popup .prev-suv { position:absolute; left:0; top:0; width:46px; height:46px; display:block;}
.popup .prev-suv:before { content:''; width:11px; height:17px; background-position:-150px -74px; margin:14px 0 0 14px;}

.popup .popup_area { height:100%;}
.popup .popup_area h2.title { position:absolute; left:0; right:0; top:0; background-color:#343848; z-index:100;}
.popup .popup_area h2.title span { color:#fff; font-size:17px; font-weight:700; display:block; margin:9px 33px 12px 15px;}
.popup .popup_area h2.title-suv { position:absolute; left:0; right:0; top:0; border-bottom:1px #8D6C6C solid;}
.popup .popup_area h2.title-suv span { color:#333; font-size:17px; font-weight:700; display:block; margin:9px 33px 12px 15px; text-align:center;}

/** alert popup
================================================== */	
.alert_popup { position:fixed; z-index:2015; left:20px; right:20px; background-color:#fff; display:none; top:20px !important;}
.alert_popup .close { position:absolute; right:0; top:0; width:46px; height:46px;}
.alert_popup .close:before {content:'';width:18px;height: 18px;background-position: 0px -162px;margin: 15px 0 0 14px;display:  block;}	
.alert_popup .popup_area {
    background: #fff;
    /* z-index: 99999; */
    position: absolute;width:100%
}
.alert_popup .popup_area h2.title { position:absolute; left:0; right:0; top:0; background-color:#3354a9;}
.alert_popup .popup_area h2.title span {color:#fff;font-size:17px;font-weight:700;display:block;margin:9px 33px 12px 15px;text-align:  center;}
.alert_popup .scroll-box-content {padding: 70px 20px 15px;background: #fff;z-index: 1000000;}

.alert_popup .scroll-box-content .text-box {
    overflow:  scroll;
    border:  1px solid #e9e9e9;
    padding:  12px;
    margin-top: 15px;
    height: 200px;
}
.alert_popup .c-info-pointer-text { margin-top:0;}
.alert_popup .btn-boxs { margin-top:20px;}
.alert_popup .btn-boxs:after { content:''; clear:both; display:block;}
.alert_popup .btn-boxs span { float:left; width:50%; display:block;}
.alert_popup .btn-boxs a { display:block; text-align:center; font-size:14px; color:#fff; font-weight:700; padding:12px 0 14px; background-color:#EE3124;}
.alert_popup .btn-boxs a.cancel { background-color:#3A4263;}
.alert_popup .btn-boxs span:first-child a { margin-right:5px;}
.alert_popup .btn-boxs span:last-child a { margin-left:5px;}
.alert_popup .ct-info-box div {float:left;width:48%;display: table-cell;margin-right:8px;}

.alert_popup .ct-info-box div:last-child {
    margin-right: 0;
} 
.alert_popup .ct-info-box h2{font-size:14px;color:#00337a;font-weight:bold;height: 26px;text-align:  center;line-height: 100%;display:  block;}
.alert_popup .ct-info-box div .imgbox{height:250px;width:100%;display: block;}

.alert_popup .ct-info-box div .imgbox img {
    width: 100%;
    height: 100%;
}
.alert_popup .ct-info-box:after{content:'';clear:both;display:block}
.popup_area .form-box-cont, .popup_area .mbrRegist, .popup_area .mbrRegist dl:first-child{padding:0}
.popup_area .form-box-cont{margin-bottom:10px}
.popup_area .mbrRegist dl {margin:0}












.mypage-wrap li.coment {padding-left:50px}
.mypage-wrap li{padding:20px 25px;background:#f8f8f8;border-bottom: 1px solid #e9e9e9}
.mypage-wrap li.active {background:#fff}
.mypage-wrap li strong{margin-top:10px;display:block;color:#000;font-size:15px}
.flug.type3{background:#888;color:#fff;width:60px;text-align:center;border-radius:3px}
.mypage-wrap li.coment:after{content:'';background:url(../images/bg_coment.png) no-repeat;background-size: 10px;width: 10px;height: 10px;display:  block;position:  absolute;left: 30px;top: 20px;}

.flug span {
    vertical-align: top;
    line-height: 11px;
}
.flug.type4{border:1px solid #fb44b0;color:#fb44b0;background:#fff;;width:60px;text-align:center;border-radius:3px;font-size:12px;vertical-align: top}
.fl_l{float:left;min-width:60px !important}

/* 출연자 */
.top_box{padding:15px 0px;border-bottom:1px solid #e9e9e9;background:#fff;height:50px;/* line-height:40px */}
.top_box .tit{float: left;color:#191919;font-size:18px;font-weight:600;margin-right: 10px;}
.top_box .sub {vertical-align: middle;font-size:14px;color:#191919;/* margin-left: 10px; *//* text-indent: -11px; */display:  inline-block;}

.top_box2{background: #f1ffff;padding: 15px 0px;font-size: 14px;border-bottom:1px solid #e9e9e9}
.top_box2 span{color:#3b5998;text-align:center;display:block;font-weight: 600;}
.cont-box {
    position:  relative;
    top: 54px;
}
.top_edit_box {background:#fff}
.top_edit_box .form-box-cont{margin:0;padding:0}
.top_edit_box .form-box-cont {padding:10px 0 !important}
.subject_bx .tit_n .chk-box {position:absolute;right:15px;top: 10px;height: 20px;}

.guest .tabMenu-control {margin:0}
.guest .tabMenu-control > li a {background:#fff;border:1px solid #e9e9e9;font-size:13px}
.guest .tabMenu-control > li {width: 24.3333%;height:34px;}
.guest .tabMenu-control > li a.active {background:#1a2947;color:#fff;border-bottom:none}

.guest .tabMenu-control.ty2 > li {width:50%;height:34px;}

.guest .tabMenu-control.type4 > li {width:25%}


.inner{padding: 0px 15px;/* padding-bottom: 0px; */}
.guest .content-cont-view [class^="tab_cont_box_"] , .guest .form-box-cont{padding: 20px 0;}
.txt-bull {margin:30px 0}
.txt-bull.ty2 {margin:20px 0px 0px}
.wrap_job_list li.active{	background:#f6f7f9}
.call {border-radius: 20px;width: 82px;display:block;background:#d7d7d7;line-height:30px;padding: 0px 15px;font-weight: 600;color:#808080;position: absolute;left:15px;top:15px;text-align:  center;}
.call.on{background:#ec0853;color: #fff;}
.guest .content-cont-view {/* border-bottom:1px solid #e9e9e9; */padding-top: 15px;}
.guest .wrap_job_list li{padding: 10px 0px;border-bottom: 1px solid #e9e9e9;}
.guest .wrap_job_list li:first-child{border-top:1px solid #e9e9e9;}
.guest .wrap_job_list li .person{
    position:  absolute;
    left: 15px;
    top: 15px;
    padding-left: 27px;
}

.person .chk-box2 {margin-right:10px;top:10px;position:relative}
.person .chk-box2 input{border-radius:0px}
.detail {margin:15px}
.guest .wrap_job_list li .person span{font-weight: 600;color:#000}
.guest .wrap_job_list.person li{padding-top:50px;background:#fff}
.guest .wrap_job_list li .person button:after {content:'';background: url('../images/bg_close.png') no-repeat;background-size:19px;width:19px;height:19px;display:  inline-block;position:  absolute;left: 0px;top: 2px;}
.guest .search {margin: 10px 0 25px;}
.guest .text-input input {height: 40px;}
.guest .rowPublic {padding:0;margin: 0px;background: #fff;}
.guest .subject_bx .tit:after {position:absolute;left:0px;bottom:0px;width:96px;content:'';border-bottom:3px solid #ec0853}
.guest .subject_bx .tit_n:after {position:absolute;left:0px;bottom:0px;width:120px;content:'';border-bottom:2px solid #23b8ba}
.guest .subject_bx .tit, .guest .subject_bx .tit_n {margin:0;border-bottom:1px solid #bbbbbb;padding: 10px 0;color:#191919;font-size:15px;}
.wrap_job_list.my_recommend li { background: #fff; padding:15px}
.subject_bx .tit_n .chk-box span{color:#666;font-size:13px}
.btn_wrap.col2 button{width: 49.2%;display:inline-block;}
.btn_wrap.col3 button{width: 32.3333%;display:inline-block;}
.wrap_job_list .sub span,.wrap_job_list .sub strong{display:block;font-weight:400}

.wrap_job_list.schedule li{padding-top:60px} 
.wrap_job_list.schedule .img_area , .wrap_job_list.person .img_area {top:initial}
.guest .wrap_job_list .img_area.ty1 img{border-radius:0}
.btn_wrap2 {padding: 15px 15px 0px 0px;position:relative;margin-left: -71px;/}
.btn_wrap2.col2 button{width:49%;display:inline-block;border-radius: 0px}

.wrap_job_list.schd{padding:0}

.guest .content-cont-view [class^="tab_cont_box_"] .txt-bull{margin: 0;}
.txt-bull li:after {content:'';width:3px;height:3px;border-radius: 50%;display: block;background: #000;position: absolute;left:2px;top:7px}
.txt-bull li{padding-left:20px;position: relative;line-height:16px;margin-bottom:8px}

.form-box-cont .ms .text-input .cal{position:absolute;right: 10px;top: -2px;display:  inline-block;}
.form-box-cont .ms .text-input .cal:after{content:'';width: 17px;height: 17px;background:url('../images/bg_cal.png') no-repeat;background-size:17px;display:  inline-block;position:  absolute;top: 10px;right: 0;}
.cal {/* margin:10px 0 */}
.cal2 {margin:25px 0}

.inner_v2 {padding:0px 15px}
.inner_v3 {margin-left:-88px}
.wrap_job_list.schedule li:last-child, .wrap_job_list li:last-child{border-bottom: 0px}
.btn2{border-radius:8px !important}
.guest .tabMenu-control > li a {border-bottom:1px solid #e8e8e8}
.tb table {width:100%}
.tb th{background: #edf5fd}
.tb td{background: #fff;padding: 12px 10px;text-align: left}
.tb tr{border-bottom: 1px solid #e4e4e4}
.coupon {/* padding:15px; *//* font-size:18px; */} 
.coupon strong{font-weight:400;margin-right: 30px}
.coupon span{font-weight:600;color:#00337a}
.txt li {color:#666;font-weight:400}


.space-block{padding: 0px 3px;width: initial !important;}
.calendar_week_row {width:100%;background: #f5faff;}

.sk {
    width: 100%;
    padding: 0px 15px;
    background:  #f5faff;
}
#calendarDiv{
	position:absolute;
	width:170px;
    height:199px;
	border:1px solid #CCCCCC;
	padding:0px;
	background-color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
	padding-bottom:5px;
	visibility:hidden;
}
#calendarDiv span,#calendarDiv img{
	float:left;
}
#calendarDiv .selectBox,#calendarDiv .selectBoxOver{
	
	line-height:12px;
	padding:1px;
	cursor:pointer;
	padding-left:2px;
}

#calendarDiv .selectBoxTime,#calendarDiv .selectBoxTimeOver{	
	line-height:12px;
	padding:1px;
	cursor:pointer;
	padding-left:2px;
}

#calendarDiv td{
	padding:3px;
	margin:0px;
}



#calendarDiv .selectBox{
	border:1px solid #E2EBED;		
	color: #E2EBED;
	position:relative;
}
#calendarDiv .selectBoxOver{
	border:1px solid #FFF;
	background-color: #317082;
	color: #FFF;
	position:relative;
}
#calendarDiv .selectBoxTime{
	border:1px solid #317082;		
	color: #317082;
	position:relative;
}
#calendarDiv .selectBoxTimeOver{
	border:1px solid #216072;	
	color: #216072;
	position:relative;
}

#calendarDiv .topBar{
	height:21px;
	padding:4px;
	margin-bottom:4px;
	background-color: #F6F6F6;
    border-bottom:1px solid #cccccc;
}

#calendarDiv .activeDay{	/* Active day in the calendar */
	color:#FF0000;
	font-weight:bold;
}
#calendarDiv .todaysDate{
	height:17px;
	line-height:17px;
	padding:2px;
	background-color: #E2EBED;
	text-align:center;
	position:absolute;
	bottom:0px;
	width:201px;
}
#calendarDiv .todaysDate div{
	float:left;
}
	
#calendarDiv .timeBar{
	height:17px;
	line-height:17px;
	background-color: #E2EBED;
	width:72px;
	color:#FFF;
	position:absolute;
	right:0px;
}

#calendarDiv .timeBar div{
	float:left;
	margin-right:1px;
}


#calendarDiv .monthYearPicker{
	background-color: #E2EBED;
	border:1px solid #AAAAAA;
	position:absolute;
	color: #317082;
	left:0px;
	top:15px;
	z-index:10000;
	display:none;

}
#calendarDiv #monthSelect{
	width:12px;
	text-align:center;
}
#calendarDiv .monthYearPicker div{
	float:none;
	clear:both;	
	padding:1px;
	margin:1px;	
	cursor:pointer;
}
#calendarDiv .monthYearActive{
	background-color:#317082;
	color: #E2EBED;
}

#calendarDiv td{
	text-align:right;
	cursor:pointer;
}

#calendarDiv .topBar img{
	cursor:pointer;
}
#calendarDiv .topBar div{
	float:left;
	margin-right:1px;
}

.calendar_week_row td{
	/* font-family: 굴림, 돋움, Arial, Helvetica, sans-serif; */
	font-size: 12px;
	font-weight: bold;
	width: 15%;
	font-size: 18px;
	text-align:  center;
}

.calendar_day_row td{
    font-family: Arial, Helvetica, sans-serif;
    /* border:1px solid #ffffff; */
    background: #f5faff;
    padding: 10px;
    height:1.6em;
    line-height:1.6em;
    text-align:center;
    white-space:nowrap;
    font-size: 18px;
    text-decoration: none;
    text-align:center;
}

.calendar_cell.sign {
    /* opacity: 0.3; */
    color: #000;
}

.calendar_cell.sign span,  .calendar_cell.back span{
    /* opacity: .5; */
    color: #c6c6c6;
}

.calendar_day_row  .calendar_cell.sign:after {
    content:  '';
    position:  absolute;
    background: url('../images/bg_sign.png') no-repeat center;
    left: 10px;
    top: 10px;
    width:  30px;
    height: 30px;
    background-size: 30px;
    opacity: initial;
    z-index: 99;
}

#calendar_month_txt {
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;    
    font-weight: bold;
    color:#000;
    text-align:center;
}

#calendar_year_txt {
	font-family: Arial, Helvetica, sans-serif;   
    font-size:12px; 
    font-weight: bold;
    color:#000;
    width:35px;
    text-align:center;
    vertical-align:center;
}

.calendar_week_cell {
    color:#000;
}

.calendar_week_red {
    color: #ff5c5c;
}

.calendar_week_blue {
    color:#0171B9;
}

#calendarContentDiv {
    padding: 0 5px 5px 5px;
}

.leftArrow1 {
    padding-top:3px;
    padding-left:15px;
}
.mb0{margin:0 !important}

.rightArrow1 {
    padding-top:3px;
    padding-right:5px;
}

.leftArrow2 {
    padding-top:3px;
    padding-right:4px;
}

.rightArrow2 {
    padding-top:3px;
}

.calendar_cell {
    color:#000;
    position:  relative;
}

.calendar_cell_red {
    color:#F3661F;
}

.calendar_cell_blue {
    color:#0171B9;
}

.mypage {
    float:  left;
    margin: 20px;
}
.mypage li{float: left;width: 33.3333%;/* margin-right: 30px; *//* text-align:  center; */margin:  0 auto;/* display:  block; */}

.mypage li:nth-child(3n) > a {
    padding-bottom: 20px;
    padding-right: 0px;
}

.mypage li a {
    position:  relative;
    /* padding-right: 30px; */
    display:  block;
    width: 114px;
    box-sizing: border-box;
    /* text-align:  center; */
    /* margin: 0 auto; */
}

.mypage li .icon {
    text-align:  center;
    width: 65px;
    position: relative;
    /* left: 10px; */
}

.mypage li:last-child {
    margin-right: 0;
}
.mypage li .icon {width:64px;height:64px;border-radius:50%;border:2px solid #ccc;content: '';/* height:65px; *//* width:65px; */background-size: 33px;display:  block;position: auto;ve; */text-align:;margin: 0px auto;}
.mypage li .icon:before {background:url('../images/mypage-1.png')no-repeat;content:' ';width: 33px;height:33px;display:  block;position:  absolute;left: 15px;top: 15px;background-size: 33px;}

.mypage li .icon.movie:before {background: url('../images/mypage-3.png')no-repeat;background-size: 33px;}
.mypage li .icon.cal:before{background:url('../images/mypage-1.png')no-repeat;}
.mypage li .icon.email:before{background:url('../images/mypage-4.png')no-repeat;background-size:33px;top:20px}
.mypage li .icon.order:before{background:url('../images/mypage-5.png')no-repeat;background-size:33px;}
.mypage li .icon.coupon:before{background:url('../images/mypage-6.png')no-repeat;background-size:33px;top: 15px;}
.mypage li .icon.pn:before{background:url('../images/mypage-7.png')no-repeat;background-size:33px;top: 15px;}
.mypage li .txt {margin-top:8px;/* margin: 0 auto; */text-align:  center;/* width: 114px; *//* display:  block; */min-height: 80px;}
.mypage li .txt strong{display:block;color:#00337a;margin-bottom: 5px;}

@media (min-width:320px){
.mypage li a{padding-right:20px}
.mypage {margin:20px 0}
.form-box-cont .ms.col2 .post-input {width: 60%;}
}

/*btn*/
.btn_s {height:25px;line-height:13px;display:block;padding:0px 10px;border-radius:4px}
.bt_gray{background: #949ba1}
.bt_gray span{background:#fff}

.wrap_job_list.ty2 li .btn_wrap{text-align:  right;/* position: absolute; */float: right;width: 60px;right: 0;text-align:  right;margin: 12px 0 0;}

.wrap_job_list.ty2 li .btn_wrap .btn_s a {}
.fl_r {/* float: right; */}