<div class='ppDetail'>
    <section id="content">
        <h2 class="skip">사이트 이용 정보</h2>    
        <div class="content">
            <div class="com">
                <div class="top_box">
                    <div class="inner top"> 
                        <div class='flug2 flug3' ng-if="ppDetail.mod.prog.viewType != '' && ppDetail.mod.prog.viewType === ppDetail.IDENTIFIERS.VIEW_TYPES.URGENT"><span >긴급</span></div>                     
                        <div class="flug2 "><span>{{ppDetail.mod.data.detailBaseInfo.PGM_REUT_FIELD_NM}}</span></div>
                        <span class="desc top">{{ ppDetail.mod.data.detailBaseInfo.PGM_REUT_FIELD_NM }}{{ppDetail.mod.data.detailBaseInfo.PGM_NAME}}<label ng-if="ppDetail.mod.data.detailBaseInfo.TITLE_GUBUN != ''">({{ppDetail.mod.data.detailBaseInfo.TITLE_GUBUN}})</label></span>
                    </div>
                </div>
                <div class="rowPublic rowPublic1">
                        <ul>
                            <li>
                                <strong>모집분야</strong>
                                <div class="subject" ng-bind='ppDetail.mod.data.detailBaseInfo.PGM_HOPE_CAST_NM'>수습 3개월</div>                        
                            </li>
                            <li>
                                <strong>촬영일</strong>
                                <div class="subject">{{ppDetail.mod.data.detailBaseInfo.PGM_START_DTM2 | shortDate}} ~ {{ppDetail.mod.data.detailBaseInfo.PGM_END_DTM2 | shortDate}} <label ng-if="ppDetail.mod.data.detailBaseInfo.PGM_SHOOT_KIND">({{ppDetail.mod.data.detailBaseInfo.PGM_SHOOT_KIND}})</label></div>                        
                            </li>
                            <li>
                                <strong>장소</strong> 
                                <div class="subject" ng-bind='ppDetail.mod.data.detailBaseInfo.PGM_POINT'>강남역 3번 출구 부근</div>                        
                            </li>
                            <li>
                                <strong>시간</strong>
                                <div class="subject">{{ppDetail.mod.data.detailBaseInfo.PGM_MEETING_HOUR}}시{{ppDetail.mod.data.detailBaseInfo.PGM_MEETING_MINITE}}분</div>                        
                            </li>
                            <li>
                                <strong>상세정보</strong>
                                <div class="subject" ng-bind='ppDetail.mod.data.detailBaseInfo.PGM_SUPPLIES'>검은정장,검은모자></div>                        
                            </li>
                            <li>
                                <strong>주요장면</strong>
                                <div class="subject" ng-bind='ppDetail.mod.data.detailBaseInfo.PGM_MAIN_SCENE'>저승사자들이 함께 모여있는 장면 입니다.</div>                        
                            </li>
                            <li>
                                <strong>성별/나이</strong>
                                <div class="subject">
                                    <div class="row-group" ng-repeat="item in ppDetail.mod.data.subPeopleInfo">
                                        <span>{{item.AGE_MIN}}~{{item.AGE_MAX}}세 {{item.GENDER == 'G1' ? '남자' : '여자'}}</span>
                                    </div>
                                </div>
                            </li>
                        </ul>   
                    </div>
                    <div class="rowPublic rowPublic1">
                        <ul>
                            <li>
                                <strong>기타사항</strong>
                                <div class="subject" ng-bind='ppDetail.mod.data.detailBaseInfo.ETC_INFO'>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="rowPublic rowPublic1">
                        <ul>
                            <li>
                                <strong>담당자</strong>
                                <div class="subject">
                                    <div class="row-group" ng-repeat="item in ppDetail.mod.data.chargeInfo">
                                        <span>{{item.COMPANY_NM}}, {{item.COMPANY_MEMBER_POSITION}}</span>
                                        <span>{{item.COMPANY_MEMBER_NAME}} ({{item.COMPANY_MEMBER_PHONE_NO | fmtPhone }})</span>
                                        <div class="btn_wrap5">
                                            <button class="btn_phone" ng-disabled="item.COMPANY_MEMBER_PHONE_NO == ''" ng-click="ppDetail.evt.callNumber(item.COMPANY_MEMBER_PHONE_NO)"></button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="rowPublic rowPublic1">
                        <ul>
                            <li>
                                <strong>수정이력</strong>
                                <div class="subject">
                                    <div class="row-group">
                                        <!--<span>2017.09.22, 10:00  </span>-->
                                        <span ng-repeat='item in ppDetail.mod.data.modifyInfo' ng-bind="item.CREATE_DTM"></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="rowPublic rowPublic1" ng-if="ppDetail.mod.data.detailBaseInfo.realEndDtm">
                        <ul>
                            <li>
                                <strong>모집촬영종료</strong>
                                <div class="subject">
                                    <div class="row-group">
                                        <!--<span>2017.09.22, 10:00  </span>-->
                                        <span ng-bind="ppDetail.mod.data.detailBaseInfo.PGM_REAL_END_DTM"></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="form-box-cont" ng-if='ppDetail.mod.prog.states.accept'>
                        <div class="btn_wrap btn_wrap3 btn_wrap4">
                            <button type="button" class="btn btn_blue" ng-click='ppDetail.evt.prog.accept()'>수락</button>
                        </div>
                    </div>
                    <div class="form-box-cont" ng-if='ppDetail.mod.prog.states.submit && ppDetail.viewReqBtn'>
                        <div class="btn_wrap btn_wrap3 btn_wrap4">
                            <button type="button" class="btn btn_blue" ng-click='ppDetail.evt.prog.showRcrutReqPopup()'>신청</button>
                        </div>
                    </div>
                    <div class="form-box-cont" ng-if='ppDetail.mod.prog.states.acceptCancel'>
                        <div class="btn_wrap btn_wrap3 btn_wrap4">
                            <button type="button" class="btn btn_cyon" ng-click='ppDetail.evt.prog.noti.open()'>알람등록 / 수정</button>
                            <button type="button" class="btn gray mt10" ng-click='ppDetail.evt.prog.acceptCancel()'>수락취소</button>
                        </div>
                    </div>          
                    <div class="form-box-cont" ng-if='ppDetail.mod.prog.states.cancel'>
                        <div class="btn_wrap btn_wrap3 btn_wrap4">
                            <button type="button" class="btn btn_cyon" ng-click='ppDetail.evt.prog.noti.open()'>알람등록 / 수정</button>
                            <button type="button" class="btn gray mt10" ng-click='ppDetail.evt.prog.cancel()' ng-if="ppDetail.mod.data.detailBaseInfo.RCUT_BASE_STATE =='R1'">신청취소</button>
                        </div>
                    </div>   
                    <div class="form-box-cont" ng-if='ppDetail.mod.sche.states.attendance'>
                        <div class="btn_wrap btn_wrap3 btn_wrap4 col3">
                            <button type="button" class="btn btn_blue" ng-click='ppDetail.evt.sche.wakeup()' ng-disabled="ppDetail.mod.sche.data.managerDetailInfo[0].ME_GETUP_DTM">기상</button>
                            <button type="button" class="btn btn_red" ng-click='ppDetail.evt.sche.depart()' ng-disabled="ppDetail.mod.sche.data.managerDetailInfo[0].ME_STRART_DTM">출발</button>
                            <button type="button" class="btn btn_cyon" ng-click='ppDetail.evt.sche.attend()' ng-disabled="ppDetail.mod.sche.data.managerDetailInfo[0].ME_ATTEND_DTM">출석</button>
                        </div>
                        <div class="btn_wrap btn_wrap3 btn_wrap4 mt10">
                            <button type="button" class="btn btn_skyblue" ng-click='ppDetail.evt.sche.modChk()' ng-disabled="ppDetail.mod.data.modifyInfo.length === 0">스케줄변경체크</button>
                        </div>
                        <div class="btn_wrap btn_wrap3 btn_wrap4 mt10">
                            <button type="button" class="btn gray" ng-click='ppDetail.evt.sche.finish()' ng-disabled="ppDetail.mod.sche.data.managerDetailInfo[0].ME_END_DTM">종료</button>
                        </div>
                    </div>
                    <div class="form-box-cont" ng-if='ppDetail.mod.sche.states.cancel'>
                        <div class="btn_wrap btn_wrap3 btn_wrap4">
                            <button type="button" class="btn btn_cyon" ng-click='ppDetail.evt.sche.noti.open()'>알람등록 / 수정</button>
                            <button type="button" class="btn gray mt10" ng-click='ppDetail.evt.sche.cancel()' ng-if="ppDetail.mod.data.detailBaseInfo.RCUT_BASE_STATE =='R1'">수락취소</button>
                        </div>
                        <div class="btn_wrap btn_wrap3 btn_wrap4 mt10">
                            <button type="button" class="btn btn_skyblue" ng-click='ppDetail.evt.sche.modChk()' ng-disabled="ppDetail.mod.data.modifyInfo.length === 0">스케줄변경체크</button>
                        </div>
                    </div>
                    <div class="form-box-cont" ng-if='ppDetail.mod.resume.states.accept'>
                        <div class="btn_wrap btn_wrap3 btn_wrap4">
                            <button type="button" class="btn btn_blue" ng-click='ppDetail.evt.resume.accept()'>수락</button>
                        </div>
                    </div>
                    <div class="form-box-cont" ng-if='ppDetail.mod.resume.states.cancel'>
                        <div class="btn_wrap btn_wrap3 btn_wrap4">
                            <button type="button" class="btn btn_blue" ng-click='ppDetail.evt.resume.cancel()' ng-if="ppDetail.mod.data.detailBaseInfo.RCUT_BASE_STATE =='R1'">신청취소</button>
                        </div>
                    </div>
                    <div class="form-box-cont" ng-if='ppDetail.mod.standby.states.submit'>
                        <div class="btn_wrap btn_wrap3 btn_wrap4">
                            <button type="button" class="btn btn_blue" ng-click='ppDetail.evt.standby.submit()' ng-disabled='ppDetail.mod.standby.states.cancel'>촬영순번대기 신청</button>
                        </div>
                    </div>
            </div>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>