<div class="cpRcrutList">
    <section id="content">
        <h2 class="skip">사이트 이용 정보</h2>
        <div class="bgi guest">
            <div class="top_box">
                <div class="inner_v2">
                    <h3>출연자모집 정보 관리</h3>
                </div>
            </div>
            <div class="form-box-cont form-box-cont2">
                <div class="inner4">
                    <dl>
                        <dt class="hide">출연자모집 정보 검색</dt>
                        <dd>
                            <div class="row-group">
                                            <span class="select-box">
                                                <select title="프로그램상태 선택" ng-model="cpRcrutList.stateKind">
                                                    <option value="999">전체</option>
                                                    <option value="S1">예정(모집중)프로그램</option>
                                                    <option value="S2">예정(모집완료)프로그램</option>
                                                    <option value="S3">진행중프로그램</option>
                                                    <option value="S4">종료프로그램</option>
                                                </select>
                                            </span>
                            </div>
                            <div class="ms cal row-group" >
                                            <span class="rel text-input cal">
                                                <input type="text" class="dateSelect" datepicker readonly="readonly" ng-model="cpRcrutList.pgmStartDtm">
                                                <a href="" class="cal"><span class="hide">달력선택</span></a>
                                            </span>
                                <span class="space-block">-</span>
                                <span class="rel text-input cal">
                                                <input type="text" class="dateSelect" datepicker readonly="readonly" ng-model="cpRcrutList.pgmEndDtm">
                                                <a href="" class="cal"><span class="hide">달력선택</span></a>
                                            </span>
                            </div>
                            <span class="post-input">
                                            <input type="text" class="" placeholder="검색어를 입력해주세요." ng-model="cpRcrutList.searchData">
                                            <button type="button" class="btn_sh" ng-click="cpRcrutList.search(false)"><span class="hide">검색</span></button>
                                        </span>
                        </dd>
                    </dl>
                </div>
            </div>
            <!-- / 추천정보 -->
            <div class="subject_bx subject_bx2">
                <div class="wrap_job_list my_recommend">
                    <ul>
                        <li class="active" ng-repeat="data in cpRcrutList.rcutList">
                            <a ng-click="cpRcrutList.goDetail(data)">
                                <span class="img_area img_area2"><img ng-src="{{endPoint.service + data.FILE_WEB_PATH}}" onError="this.src='../images/sprite-icon.png'"/></span>
                                <span class="flug step">{{data.PGM_REUT_FIELD_NM}}</span>
                                <span class="desc desc2">{{'['+data.PGM_HOPE_CAST + '] ' + data.PGM_NAME}}<label ng-if="data.TITLE_GUBUN != ''">({{data.TITLE_GUBUN}})</label></span>
                                <span class="date date2">촬영일:<em>{{data.PGM_START_DTM | shortDate}} ~ {{data.PGM_END_DTM | shortDate}}</em><label ng-if="data.PGM_SHOOT_KIND">({{data.PGM_SHOOT_KIND}})</label></span>
                                <span class="tag tag2">{{data.PGM_POINT}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="more_wrap" ng-if="cpRcrutList.rcutList.length < cpRcrutList.rcutListCount"><a ng-click="cpRcrutList.search(true);" class="more"><span>더보기</span></a></div>
                <div class="more_wrap" ng-if="cpRcrutList.rcutListCount === 0"><span>조회된 정보가 없습니다.</span></div>
            </div>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>