<div class="cmPesnInfoCareer">
    <section id="content">
        <h2 class="skip">사이트 이용 정보</h2>
        <div class="bgi guest">
            <div class="form-box-cont form-box-cont2">
                <div class="inner4 add" ng-repeat="data in cmPesnInfoCareer.memberCareerInfo">
                    <dl>
                        <dt class="hide">경력등록 / 수정</dt>
                        <dd>
                            <div class="row-group">
                              <span class="select-box">
                                <select
                                        class="w90"
                                        meta-Options="FIELD"
                                        meta-options-data="999$분야선택"
                                        ng-model="data.FIELD"
                                ></select>
                              </span>
                            </div>
                            <div class="row-group">
                              <span class="text-input">
                                <input
                                        type="text"
                                        placeholder="작품명 또는 프로그램명 입력"
                                        ng-model="data.PGM_NAME"
                                >
                              </span>
                            </div>
                            <div class="ms col2 mt5">
                              <span class="select-box">
                                <select
                                        meta-Options="BROADCASTING_STATION"
                                        meta-options-data="999$방송사 선택"
                                        ng-model="data.BROADCASTING_STATION"
                                ></select>
                              </span>
                                <span class="space-block"></span>
                                <span class="select-box">
                                <select
                                        ng-options="data.value as data.text for data in cmPesnInfoCareer.yearOptions"
                                        ng-model="data.YEAR"
                                ></select>
                              </span>
                            </div>
                            <div class="ms col2 mt5">
                                  <span class="select-box">
                                    <select
                                            meta-Options="PART"
                                            meta-options-data="999$배역 선택"
                                            ng-model="data.PART"
                                    ></select>
                                  </span>
                                <span class="space-block"></span>
                                <span class="select-box">
                                <select
                                        ng-options="data.value as data.text for data in cmPesnInfoCareer.linesYnOptions"
                                        ng-model="data.LINES_YN"
                                ></select>
                              </span>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>