<div class="piRegCareer">
	<section id="content">
		<h2 class="skip">사이트 이용 정보</h2>
		<div class="bgi guest">
			<div class="form-box-cont form-box-cont2">
				<div class="inner4">
					<dl>
						<dt class="hide">경력등록 / 수정</dt>
						<dd>
							<div class="row-group">
								<span class="select-box"> <select class="w90"
									meta-Options="FIELD" meta-options-data="999$분야선택"
									ng-model="piRegCareer.field"></select>
								</span>
							</div>
							<div class="row-group">
								<span class="text-input"> <input type="text"
									placeholder="작품명 또는 프로그램명 입력" ng-model="piRegCareer.pgmName">
								</span>
							</div>
							<div class="ms col2 mt5">
								<span class="select-box"> <select
									meta-Options="BROADCASTING_STATION"
									meta-options-data="999$방송사 선택"
									ng-model="piRegCareer.broadcastingStation"></select>
								</span> <span class="space-block"></span> <span class="select-box">
									<select
									ng-options="data.value as data.text for data in piRegCareer.yearOptions"
									ng-model="piRegCareer.year"></select>
								</span>
							</div>
							<div class="ms col2 mt5">
								<span class="select-box"> <select meta-Options="PART"
									meta-options-data="999$배역 선택" ng-model="piRegCareer.part"></select>
								</span> <span class="space-block"></span> <span class="select-box">
									<select
									ng-options="data.value as data.text for data in piRegCareer.linesYnOptions"
									ng-model="piRegCareer.linesYn"></select>
								</span>
							</div>
							<div class="btn_wrap type4">
								<button type="button" class="btn white"
									ng-click="piRegCareer.resetForm()">초기화</button>
								<button type="button" class="btn blue4"
									ng-click="piRegCareer.addMemberCareerInfo()">추가</button>
								<button type="button" class="btn gray"
									ng-click="piRegCareer.removeAll()">전체삭제</button>
							</div>
						</dd>
					</dl>
				</div>
				<div class="inner4 add"
					ng-repeat="data in piRegCareer.memberCareerInfo">
					<dl>
						<dt class="hide">경력등록 / 수정</dt>
						<dd>
							<div class="row-group">
								<span class="select-box"> <select class="w90"
									meta-Options="FIELD" meta-options-data="999$분야선택"
									ng-model="data.field"></select>
								</span>
							</div>
							<div class="row-group">
								<span class="text-input"> <input type="text"
									placeholder="작품명 또는 프로그램명 입력" ng-model="data.pgmName">
								</span>
							</div>
							<div class="ms col2 mt5">
								<span class="select-box"> <select
									meta-Options="BROADCASTING_STATION"
									meta-options-data="999$방송사 선택"
									ng-model="data.broadcastingStation"></select>
								</span> <span class="space-block"></span> <span class="select-box">
									<select
									ng-options="data.value as data.text for data in piRegCareer.yearOptions"
									ng-model="data.year"></select>
								</span>
							</div>
							<div class="ms col2 mt5">
								<span class="select-box"> <select meta-Options="PART"
									meta-options-data="999$배역 선택" ng-model="data.part"></select>
								</span> <span class="space-block"></span> <span class="select-box">
									<select
									ng-options="data.value as data.text for data in piRegCareer.linesYnOptions"
									ng-model="data.linesYn"></select>
								</span>
							</div>
							<div class="btn_wrap">
								<button type="button" class="btn gray"
									ng-click="piRegCareer.removeCareerInfo($index)">삭제</button>
							</div>
						</dd>
					</dl>
				</div>
				<div class="btn_wrap">
					<button type="submit" class="btn cyon"
						ng-click="piRegCareer.onClickSave()">저장</button>
				</div>
			</div>
		</div>
	</section>
	<div ng-include="doryConst.FOOTER.URL"></div>
</div>
