
<!-- 푸시알람 팝업 -->
<section class="infoAcceptPop">
	<h3 class="hide">정보 동의 팝업</h3>
	<div>
		<h4 class="hide">푸시알람 동의</h4>
		<p>클릭잡의 원할한 이용을 위하여 PUSH 알림에 동의를 받고 있습니다. 미 동의 시 이용에 제약이 있실 수 있습니다.</p>
		<div class="infoCheck">
			<input ng-model="iaPushP.chkVal" checked="checked" type="radio" value="Y" name="locationInfo" id="locationInfo_ok">
			<label for="locationInfo_ok" class="mr12">동의</label>
			<input ng-model="iaPushP.chkVal" type="radio" value="N" name="locationInfo" id="locationInfo_no">
			<label for="locationInfo_no">미동의</label>
		</div>
		<div class="confirmPop">
			<a ng-click='iaPushP.agree()'>확인</a>
		</div>
	</div>
</section>
<!-- / 푸시알람 팝업 -->