<div class='piDetail'>
    <section id="content">
        <h2 class="skip">사이트 이용 정보</h2>    
        <div class="guest">
            <div class="mypage-wrap">
                <div class="recruit_top">
                    <ul>
                        <li class="active">
                            <div class="top">
                                <div class="flug2" ng-class="{off : piDetail.viewData.STATE == 'N'}" ><span ng-if="piDetail.viewData.STATE == 'Y'">답변완료</span><span ng-if="piDetail.viewData.STATE == 'N'">미처리</span></div>
                                <span class="subject">{{piDetail.viewData.QNA_KIND_NM}} <label ng-if="piDetail.viewData.PGM_NAME">> {{piDetail.viewData.PGM_NAME}}</label><label ng-if="piDetail.viewData.TITLE_GUBUN != ''">({{piDetail.viewData.TITLE_GUBUN}})</label> </span>
                            </div>
                            <strong>{{piDetail.viewData.TITLE}}</strong>
                            <span class="date">{{piDetail.viewData.CREATE_DTM | shortDate}}</span>
                        </li>   
                    </ul>
                </div>
                <div class="recruit_cont">
                   <ul>
                       <li class="active">
                           	{{piDetail.viewData.DETAIL_CNTN1}}
                       </li>
                       <li class="rel coment" ng-if="piDetail.viewData.DETAIL_CNTN2">
							{{piDetail.viewData.DETAIL_CNTN2}}                            
                       </li>    
                       <li class="rel coment" ng-if="!piDetail.viewData.DETAIL_CNTN2">
							답변대기중
                       </li>                       
                   </ul>
                   <div class="btn_wrap inner">
                        <a ng-click="piDetail.goList()" class="btn_blue"><span>목록</span></a>
                   </div>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>