<div class="main">
    <section id="content">
        <h2 class="skip">사이트 이용 정보</h2>
        <div class="guest ">
            <div class="com">
                <div class="subject_bx">
                    <div class="speed_job_list banner-swiper-container" ng-if="main.bannerListCount > 0">
                        <div class='swiper-wrapper'>
                            <div ng-repeat='item in main.bannerList' class='swiper-slide' on-last-repeat='banner'>
                                <a data-banner-link-info='{{item.BANNER_LINK_INFO}}' info-seq='{{item.BANNER_INFO_SEQ}}' onclick="bannerClick(this)">
                                    <span class=" bannerImg">
                                        <img src="{{endPoint.service + item.FILE_WEB_PATH}}" onError="this.src='../images/sprite-icon.png'"/>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                
                    <div class="tit_n tit_n01" ng-if="main.mod.urg.list.length > 0">
                        <h3>출연자 모집(급구)</h3>
                    </div>
                    <div class="speed_job_list urg-swiper-container" ng-if="main.mod.urg.list.length > 0" >
                        <div class='swiper-wrapper'>
                            <div ng-repeat='item in main.mod.urg.list' class='swiper-slide' on-last-repeat='urg'>
                                <a href='javascript:' onclick='urgClick()'>
                                    <span class="img_area" >
                                        <img src="{{endPoint.service + item.FILE_WEB_PATH}}" onError="this.src='../images/sprite-icon.png'"/>
                                    </span>
                                    <span class="txt_area" >
                                        <span class="flug {{item.PGM_REUT_FIELD}}">&nbsp;{{item.PGM_REUT_FIELD_NM}}&nbsp;</span>
                                        		<span class="desc">[{{item.PGM_HOPE_CAST}}] {{item.PGM_NAME}}<label ng-if="item.TITLE_GUBUN != ''">({{item.TITLE_GUBUN}})</label></span>
                                        <span class="ico_hot" ng-if="item.EMER_YN === 'Y'">긴급</span>
                                        <span class="subTxt">
                                            <span class="date">촬영일:
                                                <em ng-bind='item.PGM_START_DTM | shortDate'></em><label ng-if="item.PGM_SHOOT_KIND">({{item.PGM_SHOOT_KIND}})</label>
                                            </span>
                                            <span class="addr" ng-bind='item.PGM_POINT'></span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="subject_bx">
                        <div class="tit_n"><h3>추천정보</h3></div>
                        <div class="wrap_job_list recommend2">
                            <ul>
                                <li ng-repeat='item in main.mod.ad.list'>
                                    <a >
                                        <span class="img_area" ng-click="main.evt.go()">
                                            <img src="{{endPoint.service + item.FILE_WEB_PATH}}" onError="this.src='../images/sprite-icon.png'"/>
                                        </span>
                                        <span class="txt_area" ng-click="main.evt.go()">
                                            <span class="flug {{item.PGM_REUT_FIELD}}">&nbsp;{{item.PGM_REUT_FIELD_NM}}&nbsp;</span>
                                        		<span class="desc">[{{item.PGM_HOPE_CAST}}] {{item.PGM_NAME}}<label ng-if="item.TITLE_GUBUN != ''">({{item.TITLE_GUBUN}})</label></span>
                                            <div class="subTxt">
                                                <span class="date">촬영일:
                                                    <em ng-bind='item.PGM_START_DTM | shortDate'></em><label ng-if="item.PGM_SHOOT_KIND">({{item.PGM_SHOOT_KIND}})</label></span>
                                                <span class="tag" ng-bind="item.PGM_POINT + ' / ' + item.AGE_MIN + '~' + item.AGE_MAX + '세 ' + item.TOT_COUNT + ' 명 / ' + item.GENDER"></span>
                                            </div>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="more_wrap" ng-if='main.mod.ad.totalCnt != main.mod.ad.list.length' ng-click='main.evt.load(main.IDENTIFIERS.ITM_TYPES.ADVERTISE)'><a class="more"><span>더보기</span></a></div>
                        <div class="more_wrap" ng-if="main.mod.ad.list.length === 0"><span>조회된 정보가 없습니다.</span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>
