<!-- 요청 팝업 -->
<section class="callPop">
    <h3 class="hide">출연종료 시간 선택 팝업</h3>
    <div>
        <h4>출연종료 시간 선택</h4>
        <div class="innerForm">
            <!-- <label for="ageSelect">나이_성별 선택</label> -->
            <div class="ms col2">
                <span class="select-box">
                    <select class="sel_m" title="시간선택" ng-model="cpRcrutClsP.pgmRealEndHour">
                        <option ng-repeat="data in cpRcrutClsP.pgmRealEndHourList track by $index" value="{{data.v}}">{{data.k}}</option>
                    </select>
                </span>
                <span class="space-block"></span>
                <span class="select-box">
                    <select class="sel_m" title="분 선택" ng-model="cpRcrutClsP.pgmRealEndMinite">
                        <option ng-repeat="data in cpRcrutClsP.pgmRealEndMiniteList track by $index" value="{{data.v}}">{{data.k}}</option>
                    </select>
                </span>
            </div>
            <div class="btn_wrap">
                <div class="row">
                    <button type="button" class="btn" ng-click="cpRcrutClsP.confirm()">출연종료</button>
                </div>
            </div>
            <a ng-click="cpRcrutClsP.dismiss()" class="closePop"><span class="hide">닫기</span></a>
        </div>
    </div>
</section>