<!-- 일정 정보 등록  -->
<section class="infoAcceptPop" >
    <h3 class="hide">정보 동의 팝업</h3>
    <div>
        <h4 class="hide">일정 정보 등록</h4>
        <p>촬영 요청을 받기 위해서는 일정을 등록하셔야 합니다. <br />촬영 일정을 등록해 주세요.</p>
        <div class="popBtn">
            <button type="button" class="btn btn_cyon" ng-click='pmMainScheP.evt.go()'>일정등록하러가기</button>
        </div>
        <div class="infoCheck">
            <input type="checkbox" name="dayOut" id="dayOut" class="rect2" ng-click='pmMainScheP.evt.hide.oneDay()'>
                <label for="dayOut" class="checkPop mr12">오늘하루 보지 않기</label>
            <input type="checkbox" name="monthOut" id="monthOut" class="rect2" ng-click='pmMainScheP.evt.hide.thirtyDays()'>
                <label for="monthOut" class="checkPop">30일간 보지 않기</label>
        </div>
    </div>
</section>
<!-- 일정 정보 등록 -->