<div class="caPesnMng">
    <section id="content">
      <h2 class="skip">소속 사용자 관리</h2>
      <div class="bgi guest">
        <div class="top_box">
          <div class="inner_v2">
            <h3>소속 사용자 관리</h3>
          </div>
        </div>
        <div class="form-box-cont form-box-cont2 pt0 pb0">
          <div class="inner4">
            <dl>
              <dt class="hide">소속 사용자 관리</dt>
              <dd>
                <div class="row-group">
                  <span class="select-box">
                    <select
                      class="sel_m"
                      title="소속 선택"
                      ng-model="caPesnMng.userRoleId"
                    >
                      <option
                        ng-repeat="data in caPesnMng.userRoleOptions"
                        value="{{data.value}}"
                      >
                        {{data.text}}
                      </option>
                    </select>
                  </span>
                </div>
                <span class="post-input">
                  <input
                    type="text"
                    placeholder="검색어를 입력해주세요."
                    ng-model="caPesnMng.searchTerm"
                  >
                  <button type="button" class="btn_sh" ng-click="caPesnMng.search()">
                    <span class="hide">검색</span>
                  </button>
                </span>
              </dd>
            </dl>
          </div>
        </div>
        <div class="belongList">
            <dl
            ng-repeat="data in caPesnMng.companyMemberList"
            ng-click="caPesnMng.onMemberClick(data)"
          >
                <dt><span>[{{data.COMPANY_MEMBER_ORG_NAME}}]</span>{{data.COMPANY_MEMBER_NAME}}</dt>
                <dd>{{data.COMPANY_MEMBER_PHONE_NO | fmtPhone}}</dd>
                <dd>{{data.COMPANY_MEMBER_TEL | fmtPhone}}</dd>
                <dd>{{data.COMPANY_MEMBER_EMAIL}}</dd>
            </dl>
        </div>
        <div class="more_wrap" >
          <a class="more" ng-if="caPesnMng.showShowMoreButton" ng-click="caPesnMng.onShowMoreButtonClick()">
            <span>더보기</span>
          </a>
          <span ng-if="caPesnMng.companyMemberListCount === 0">
              표시할 정보가 없습니다.
      	  </span>
        </div>
      </div>
    </section>
  <div ng-include="doryConst.FOOTER.URL"></div>
</div>