<div class="findPWChange">
    <section>
        <div class="content">
            <div class="ct-box type1">
                <h3 class="tit">비밀번호재설정</h3>
                <div class="id_row row text-input">
                    <input type="password" class="inp_box black" name="ID" id="ID" placeholder="비밀번호(6~8자 영문, 숫자)" value="" maxlength="20" title="업체명" ng-model="findPWChange.userPw">
                </div>
                <div class="pw_row row text-input">
                    <input type="password" class="inp_box" name="PWD" id="PWD" placeholder="비밀번호확인(6~8자 영문, 숫자)" value="" maxlength="20" title="대표자명" ng-model="findPWChange.userPwConfrim">
                </div>

            </div>
            <div class="btn_wrap type1"><button type="submit" class="btn cyon" ng-click="findPWChange.changePassword()">확인</button></div>

        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>