<div class='psMng'>
        <section id="content">
                <h2 class="skip">사이트 이용 정보</h2>    
                <div class="guest">
                    <div class="top_box">
                        <div class="inner">
                            <h3 class="tit"><span>일정관리</span></h3>
                            <span class="sub">나의 촬영 불가능 일자를 체크합니다.</span>
                        </div>
                    </div>   
                    <div class="subject_bx">
                        <div class="inner">
                            <div class="txt-bull ty2">
                                <ul>
                                    <li>촬영이 불가능한 날짜를 선택하신 후 저장 버튼을 눌러주세요. 
                                            한번 더 터치 시 가능일로 변경 됩니다. </li>                                
                                </ul>
                            </div>
                        </div>
                        <div class="row-group">
                                    <div class="form-box-cont">
                                        <div class="inner">
                                        <div class="ms month">
                                            <span class="select-box w100">
                                                <select id="" title="유형 선택" ng-model='psMng.mod.cal.sel.year' ng-options = 'item for item in psMng.mod.cal.years' ng-change="psMng.evt.sel('year' , '{{psMng.mod.cal.sel.year}}')" >
                                                </select>
                                            </span>
                                            <span class="space-block">년</span>
                                            <span class="select-box w100">
                                                <select id="" title="유형 선택" ng-model='psMng.mod.cal.sel.month' ng-options = 'month for month in psMng.mod.cal.months' ng-change="psMng.evt.sel('month' , '{{psMng.mod.cal.sel.month}}')">
                                                </select>
                                            </span>
                                            <span class="space-block">월</span>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                        <div class="sk">
                            <table>
                                <tbody>
                                    <tr class="calendar_week_row">
                                        <td scope="col" class="calendar_week_red">일</td>
                                        <td scope="col" class="calendar_week_cell">월</td>
                                        <td scope="col" class="calendar_week_cell">화</td>
                                        <td scope="col" class="calendar_week_cell">수</td>
                                        <td scope="col" class="calendar_week_cell">목</td>
                                        <td scope="col" class="calendar_week_cell">금</td>
                                        <td scope="col" class="calendar_week_blue">토</td>
                                    </tr>
                                    <tr class="calendar_day_row" ng-repeat='week in psMng.mod.cal.month'>
                                        <td ng-repeat='day in week' class='{{day.cls}}' ng-class="{ 'sign' : day.noAttendance }" ng-click='psMng.evt.cal.setNoAttend(day)'>
                                            <span ng-bind='day.text'></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="btn_wrap"><div class="inner"><button type="button" class="btn blue2" ng-click='psMng.evt.cal.save()'>저장</button></div></div>
                    </div>
                </div>
            </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>
