<table>
    <tbody>
        <tr class="calendar_week_row">
            <td scope="col" class="calendar_week_red">일</td>
            <td scope="col" class="calendar_week_cell">월</td>
            <td scope="col" class="calendar_week_cell">화</td>
            <td scope="col" class="calendar_week_cell">수</td>
            <td scope="col" class="calendar_week_cell">목</td>
            <td scope="col" class="calendar_week_cell">금</td>
            <td scope="col" class="calendar_week_blue">토</td>
        </tr>
        <tr class="calendar_day_row">
            <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="calendar_cell back"><span>31</span></td>
        <td class="calendar_cell sign"><span>1</span></td>
        <td class="calendar_cell"><span>2</span></td>
        <td class="activeDay">3</td>
        <td class="calendar_cell_blue"><span>4</span></td></tr>
        <tr class="calendar_day_row">
        <td class="calendar_cell_red"><span>6</span></td><td class="calendar_cell"><span>7</span></td>
        <td class="calendar_cell"><span>8</span></td><td class="calendar_cell"><span>9</span></td>
        <td class="calendar_cell"><span>10</span></td><td class="calendar_cell"><span>11</span></td>
        <td class="calendar_cell_blue"><span>12</span></td></tr><tr class="calendar_day_row">
            <td class="calendar_cell_red"><span>13</span></td><td class="calendar_cell"><span>14</span></td>
            <td class="calendar_cell"><span>15</span></td><td class="calendar_cell"><span>16</span></td>
            <td class="calendar_cell"><span>17</span></td><td class="calendar_cell"><span>18</span></td>
            <td class="calendar_cell_blue"><span>19</span></td></tr><tr class="calendar_day_row">
                <td class="calendar_cell_red"><span>20</span></td><td class="calendar_cell"><span>21</span></td>
                <td class="calendar_cell"><span>22</span></td><td class="calendar_cell"><span>23</span></td>
                <td class="calendar_cell"><span>24</span></td><td class="calendar_cell"><span>25</span></td>
                <td class="calendar_cell_blue"><span>26</span></td></tr><tr class="calendar_day_row">
                    <td class="calendar_cell_red"><span>27</span></td><td class="calendar_cell"><span>28</span></td>
                        <td class="calendar_cell"><span>29</span></td><td class="calendar_cell"><span>30</span></td>
                        <td class="calendar_cell"><span>31</span></td></tr></tbody>
</table>