<div class="caPesnMod">
    <section>
      <h2 class="skip">사용자 정보 수정</h2>
      <div class="cont-box">
        <div class="top_box">
          <div class="inner_v2">
            <h3>사용자 정보 수정</h3>
          </div>
        </div>

        <div class="form-box-cont">
          <div class="inner4 pt0">
            <dl class="viewPerson">
              <dt class="star">이름</dt>
              <dd class="nameField">{{caPesnMod.userName}}</dd>
            </dl>
            <dl class="viewPerson">
              <dt class="star">아이디</dt>
              <dd class="idField">{{caPesnMod.userId}}</dd>
            </dl>
            <dl class="mt30">
              <dt class="star">비밀번호</dt>
              <dd>
                <div class="row-group">
                  <span class="text-input">
                    <input
                      type="password"
                      placeholder="비밀번호(6~8자 영문, 숫자)"
                      ng-model="caPesnMod.password"
                    >
                  </span>
                </div>
                <div class="row-group">
                  <span class="text-input">
                    <input
                      type="password"
                      placeholder="비밀번호(6~8자 영문, 숫자)"
                      ng-model="caPesnMod.passwordConf"
                    >
                  </span>
                </div>
              </dd>
            </dl>
            <dl>
                <dt class="star">연락처</dt>
                <dd>
                <div class="ms col2">
                  <span class="select-box">
                    <select
                      class="sel_m"
                      title="통신사 선택"
                      meta-Options="HP_KIND"
                      meta-options-data="999$선택"
                      ng-model="caPesnMod.mobileProviderId"
                    >
                    </select>
                  </span>
                  <span class="space-block"></span>
                  <span class="text-input">
                    <input type="tel" ng-model="caPesnMod.mobileNumber">
                  </span>
                </div>
                </dd>
            </dl>
            <dl>
              <dt>내선번호</dt>
              <dd>
                <div class="row-group">
                  <span class="text-input">
                    <input
                      type="tel"
                      placeholder="내선번호"
                      ng-model="caPesnMod.phoneNumber"
                    >
                  </span>
                </div>
              </dd>
            </dl>
            <dl>
                <dt class="star">이메일</dt>
                <dd>
                <div class="ms col2">
                  <span class="text-input">
                    <input type="text" ng-model="caPesnMod.emailId" style="ime-mode:inactive;">
                  </span>
                  <span class="space-block">@</span>
                  <span class="select-box">
                    <select
                      class="sel_m"
                      title="이메일 도메인 선택"
                      ng-model="caPesnMod.emailDomainId"
                    >
                      <option
                        ng-repeat="data in caPesnMod.emailDomainOptions track by $index"
                        value="{{data.value}}"
                      >
                        {{data.text}}
                      </option>
                    </select>
                  </span>
                </div>
                <div class="ms col1">
                  <span class="text-input" ng-if="caPesnMod.emailDomainId === '0'">
                    <input type="text" ng-model="caPesnMod.emailDomain">
                  </span>
                </div>
                </dd>
            </dl>
            <dl>
              <dt class="star">직책</dt>
              <dd>
                <div class="row-group">
                  <span class="text-input">
                    <input type="text" placeholder="직책 입력" ng-model="caPesnMod.userPosition">
                  </span>
                </div>
              </dd>
            </dl>
            <dl>
                <dt class="star">소속</dt>
                <dd>
                <div class="ms col2">
                  <span class="select-box">
                    <select
                      class="sel_m"
                      title="소속 선택"
                      ng-model="caPesnMod.userRoleId"
                    >
                      <option
                        ng-repeat="data in caPesnMod.userRoleOptions"
                        value="{{data.value}}"
                      >
                        {{data.text}}
                      </option>
                    </select>
                  </span>
                </div>
                </dd>
            </dl>
          </div>
          <div class="btn_wrap btn_wrap3 col2 mt35" ng-if="caPesnMod.ceoYn!='Y'">
            <button
              type="button"
              class="btn blue4"
              ng-click="caPesnMod.onModifyClick()"
            >
              수정
            </button>
            <button
              type="button"
              class="btn gray"
              ng-click="caPesnMod.onDeleteClick()"
            >
              삭제
            </button>
          </div>
          <div class="btn_wrap btn_wrap3 mt35" ng-if="caPesnMod.ceoYn=='Y'">
            <button
                    type="button"
                    class="btn blue4"
                    ng-click="caPesnMod.onModifyClick()"
            >
              수정
            </button>
          </div>
        </div>
      </div>
    </section>
  <div ng-include="doryConst.FOOTER.URL"></div>
</div>