<div class='cnNtList'>
    <section id="content">
        <h2 class="skip">사이트 이용 정보</h2>
        <div class="bgi guest">
            <div class="top_box">
                <div class="inner_v2">
                    <h3>공지사항</h3>
                </div>
            </div>
            <div class="mypage-wrap">
                <div class="form-box-cont">
                    <div class="inner">
                        <div class="btn-wrap">
                            <div class="row-group">
                                <button type="button" ng-click='cnNtList.insert()' class="btn cyon">공지하기</button>
                            </div>
                        </div>
                    </div>
                    <div class="inner ms col2">
                        <span class="select-box">
                            <select class="sel_m"
                                    title="전체"
                                    meta-options-data="999$전체"
                                    ng-model="cnNtList.searchNotiKind">
                                <option value="999">전체</option>
                                <option value="P">출연자공지</option>
                                <option value="C">기업공지</option>
                                <option value="CC">기업내공지</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="recruit_cont">
                    <ul>
                        <li ng-repeat='item in cnNtList.notiList' ng-click='cnNtList.goDetail(item)'>
                            <div class="top">
                                <div class="flug type5 P8"><span ng-if="item.NOTI_KIND == 'P'">출연자공지</span><span ng-if="item.NOTI_KIND == 'CC'">기업내공지</span><span ng-if="item.NOTI_KIND == 'C'">기업공지</span><span ng-if="item.NOTI_KIND == 'A'">전체공지</span></div>
                                <span class="subject" ng-class="{required : item.TOP_NOTI_YN == 'Y'}"><h3>{{item.TITLE}}</h3></span>
                            </div>
                            <span class="date fr">{{item.CREATE_DTM | shortDate}}</span>
                        </li>
                    </ul>
                    <div class="more_wrap" ng-if="cnNtList.notiList.length < cnNtList.notiListCount"><a class="more" ng-click="cnNtList.selectNotiList(true)"><span>더보기</span></a></div>
                    <div class="more_wrap" ng-if="cnNtList.notiListCount === 0"><span>조회된 정보가 없습니다.</span></div>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>