<section class="callPop">
    <h3 class="hide">메시지 발송 팝업</h3>
    <div>
        <h4>메시지 발송</h4>
        <div class="innerForm">
            <label class="hide" for="messageIn">메시지 내용입력</label>
            <span class="text-area">
						<textarea name="messageIn" id="messageIn" cols="30" rows="10" placeholder="내용입력" ng-model="cpReqPushP.msg"></textarea>
					</span>
            <div class="btn_wrap">
                <div class="row">
                    <button type="button" class="btn" ng-click="cpReqPushP.confirm()">확인</button>
                </div>
            </div>
            <a ng-click="cpReqPushP.dismiss()" class="closePop"><span class="hide">닫기</span></a>
        </div>
    </div>
</section>