<div class="cpProgmReg">
    <section>
        <h2 class="skip">사이트 이용 정보</h2>
        <div class="cont-box">
            <div class="form-box-cont">
                <div class="inner4 pt0">
                    <dl>
                        <dt>프로그램 등록</dt>
                        <dd>
                            <div class="row-group">
                                            <span class="select-box">
                                                <select meta-Options="PGM_REUT_FIELD" meta-options-data="999$분야" ng-model="cpProgmReg.pgmReutField">
                                                </select>
                                            </span>
                            </div>
                            <div class="row-group">
                                            <span class="text-input">
                                                <input type="text" placeholder="프로그램명 입력" ng-model="cpProgmReg.pgmName">
                                            </span>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="star">촬영기간</dt>
                        <dd>
                            <div class="ms cal">
                                            <span class="rel text-input cal">
                                                <input type="text" class="dateSelect" datepicker readonly="readonly" ng-model="cpProgmReg.pgmStartDtm">
                                                <a href="" class="cal"><span class="hide">달력선택</span></a>
                                            </span>
                                <span class="space-block">-</span>
                                <span class="rel text-input cal">
                                                <input type="text" class="dateSelect" datepicker readonly="readonly" ng-model="cpProgmReg.pgmEndDtm">
                                                <a href="" class="cal"><span class="hide">달력선택</span></a>
                                            </span>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="star">주요사항 </dt>
                        <dd>
                                        <span class="text-input">
                                            <textarea placeholder="내용을 입력해 주세요." cols="30" rows="7" ng-model="cpProgmReg.mainInfo"></textarea>
                                        </span>
                        </dd>
                    </dl>
                    <dl>
                        <dt>기타사항 </dt>
                        <dd>
                                        <span class="text-input">
                                            <textarea placeholder="내용을 입력해 주세요." cols="30" rows="7" ng-model="cpProgmReg.etcInfo"></textarea>
                                        </span>
                        </dd>
                    </dl>
                    <dl class="person">
                        <dt class="star">담당자</dt>
                        <dd>
                            <div class="ms rel">
                                <span class="select-box">
                                    <select title="유형 선택" ng-model="cpProgmReg.chargeMemberListChkVal">
                                        <option ng-repeat="mem in cpProgmReg.chargeMemberList track by $index" value="{{mem.v}}">{{mem.k}}</option>
                                    </select>
                                </span>
                                <div class="tol">
                                    <span class="tol_fs">
                                        <button type="button" class="tol_fslic" ng-click="cpProgmReg.chargeMemPlus()"><span class="hide">추가</span></button>
                                    </span>
                                </div>
                            </div>
                            <div class="ms rel" ng-repeat="mem in cpProgmReg.selChargeMemeList track by $index">
                                <span class="chk-box2">
                                    <input type="checkbox" ng-model="mem.repYn" ng-click="cpProgmReg.repYnClick(mem)">
                                </span>
                                <span class="infoView infoView2">
                                    <input type="text" readonly ng-model="mem.k"/>
                                </span>
                                <div class="tol">
                                    <span class="tol_fs">
                                        <button type="button" class="tol_fssic" ng-click="cpProgmReg.chargeMemMin(mem)"><span class="hide">삭제</span></button>
                                    </span>
                                </div>
                            </div>
                            <div class="txt-list">
                                <ul>
                                    <li>* 선택된 담당자가 출연자화면에 대표로 노출 됩니다.</li>
                                </ul>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>대표이미지</dt>
                        <dd>
                            <div class="filebox bs3-primary">
                                <form id="ajaxform" action="/api/com/fileUpload.login" method="post" enctype="multipart/form-data" >
                                    <label class="upload-name" for="file">{{cpProgmReg.fileOrgName}}</label>
                                    <input type="file" id="file" name="file" class="upload-hidden" fileread="cpProgmReg.readFile" ng-disabled="cpProgmReg.fileDisabled" accept="image/*">
                                    <input type="hidden" name="busnLinkKey" value="-1"/>
                                    <div class="rightBtn">
                                        <a class="imgUp" ng-click="cpProgmReg.fileAttach()">이미지등록</a>
                                        <a ng-click="cpProgmReg.fileDel()">삭제</a>
                                    </div>
                                </form>
                            </div>
                        </dd>
                    </dl>
                    <div class="btn-wrap mt35">
                        <!--<div class="row-group">-->
                            <!--<button type="button" class="btn2 blue">대표이미지등록</button>-->
                        <!--</div>-->
                        <div class="row-group">
                            <button type="button" class="btn2 cyon" ng-click="cpProgmReg.insertPgm()">등록</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>