<div class="findIDInfo">
    <section>
        <div class="content">
            <div class="ct-box">
                <h3 class="tit">아이디</h3>
                <div class="id_list">
                    <p ng-bind='findIDInfo.mod.user_id'></p>
                </div>
                <div class="btn_wrap">
                    <span class="inp_group"><button type="button" class="btn skyblue" ng-click='findIDInfo.evt.login()'>로그인</button></span>
                    <span class="inp_group"><button type="button" class="btn cyon" ng-click='findIDInfo.evt.findPW()'>비밀번호찾기</button></span> <!--0426 수정 div그룹 합침-->
                </div>
            </div>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>