<div class="cmPesnInfo">
    <section id="content">
        <h2 class="skip">사이트 이용 정보</h2>
        <div class="content">
            <div class="com">
                <div class="top_box2" ng-if="cmPesnInfo.prevViewId === 'cmMain' || cmPesnInfo.prevViewId === 'cmMngList.tab1' || cmPesnInfo.prevViewId === 'cmMngList.tab2' || cmPesnInfo.prevViewId === 'cmMngList.tab3'">
                    <div class="inner">
                        <span>{{cmPesnInfo.memberDetailInfo.MEMBER_NM}}</span>&nbsp;
                    </div>
                </div>
                <div class="top_box2" ng-if="cmPesnInfo.prevViewId === 'cpViewPesnR1List'">
                    <div class="inner">
                        <span>{{cmPesnInfo.memberDetailInfo.MEMBER_NM}}</span>
                        <!-- <span class="stateInfo2 stateInfo03">요청중</span> -->
                        <!-- <span class="stateInfo2 stateInfo02">신청</span> -->
                        <!-- <span class="stateInfo2 stateInfo01">확정</span> -->
                        <span class="stateInfo2 stateInfo01" ng-if="cmPesnInfo.rcutRequestMemeberInfo.MEMBER_STATE_CODE === 'A7'">{{cmPesnInfo.rcutRequestMemeberInfo.MEMBER_STATE_NAME}}</span>
                        <span class="stateInfo2 stateInfo02" ng-if="cmPesnInfo.rcutRequestMemeberInfo.MEMBER_STATE_CODE === 'A8'">{{cmPesnInfo.rcutRequestMemeberInfo.MEMBER_STATE_NAME}}</span>
                        <span class="stateInfo2 stateInfo03" ng-if="cmPesnInfo.rcutRequestMemeberInfo.MEMBER_STATE_CODE === 'A9'">{{cmPesnInfo.rcutRequestMemeberInfo.MEMBER_STATE_NAME}}</span>
                    </div>
                </div>
                <div class="top_box2" ng-if="cmPesnInfo.prevViewId === 'cpViewPesnR2List'">
                    <div class="inner">
                        <span>{{cmPesnInfo.memberDetailInfo.MEMBER_NM}}</span>
                        <span class="stateInfo2 stateInfo01" ng-if="cmPesnInfo.rcutRequestMemeberInfo.MEMBER_STATE_CODE === 'A4'">{{cmPesnInfo.rcutRequestMemeberInfo.MEMBER_STATE_NAME}}</span>
                        <span class="stateInfo2 stateInfo02" ng-if="cmPesnInfo.rcutRequestMemeberInfo.MEMBER_STATE_CODE === 'A3'">{{cmPesnInfo.rcutRequestMemeberInfo.MEMBER_STATE_NAME}}</span>
                        <span class="stateInfo2 stateInfo03" ng-if="cmPesnInfo.rcutRequestMemeberInfo.MEMBER_STATE_CODE === 'A5'">{{cmPesnInfo.rcutRequestMemeberInfo.MEMBER_STATE_NAME}}</span>
                        <span class="stateInfo2 stateInfo03" ng-if="cmPesnInfo.rcutRequestMemeberInfo.MEMBER_STATE_CODE !== 'A3' && 
                        											cmPesnInfo.rcutRequestMemeberInfo.MEMBER_STATE_CODE !== 'A4' && 
                        											cmPesnInfo.rcutRequestMemeberInfo.MEMBER_STATE_CODE !== 'A5'">{{cmPesnInfo.rcutRequestMemeberInfo.MEMBER_STATE_NAME}}</span>
                    </div>
                </div>
                <div class="top_box2" ng-if="cmPesnInfo.prevViewId === 'cpViewPesnR3List'">
                    <div class="inner">
                        <span>
                            <i class="infoAttend">{{cmPesnInfo.rcutRequestMemeberInfo.MEMBER_STATE_NAME}}</i>
                            {{cmPesnInfo.memberDetailInfo.MEMBER_NM}}
                        </span>
                    </div>
                </div>
                <div class="rowPublic bdbn">
                    <div class="list_img_wrap">
                        <div class="profile">
                            <div class="img" ng-click="cmPesnInfo.viewPhotoPopup()"><img ng-src="{{endPoint.service + cmPesnInfo.memberPhotoAttachInfo[0].FILE_WEB_PATH}}" onError="this.src='../images/sprite-icon.png'"></div>
                            <div class="fpg_n">
                                <span class="fpg_non" ng-if="cmPesnInfo.memberPhotoAttachInfo.length > 0"><em>1</em> / {{cmPesnInfo.memberPhotoAttachInfo.length}}</span>
                                <button ng-if="cmPesnInfo.memberVideoAttachInfo.length > 0" ng-click="cmPesnInfo.viewCommonVideo(cmPesnInfo.memberVideoAttachInfo[0].FILE_WEB_PATH)" type="button" class="rel btn_r b2"><span class="sample">출연자영상</span></button>
                            </div>
                        </div>
                        <div class="txt_con">
                            <dl>
                                <dt>연령</dt>
                                <dd>{{cmPesnInfo.memberDetailInfo.MEMBER_AGE + '세'}}</dd>
                            </dl>
                            <dl>
                                <dt>성별</dt>
                                <dd>{{cmPesnInfo.memberDetailInfo.GENDER_NM}}</dd>
                            </dl>
                            <dl>
                                <dt>키/ 몸무게</dt>
                                <dd>{{cmPesnInfo.memberDetailInfo.HEIGHT + 'cm / ' + cmPesnInfo.memberDetailInfo.WEIGHT + 'kg'}}</dd>
                            </dl>
                            <dl>
                                <dt>거주지</dt>
                                <dd>{{cmPesnInfo.memberDetailInfo.MEMBER_ADDR}}</dd>
                            </dl>
                            <dl>
                                <dt>주변 지하철</dt>
                                <dd>{{cmPesnInfo.memberDetailInfo.MEMBER_SUBWAY_LINES + ' / ' + cmPesnInfo.memberDetailInfo.MEMBER_SUBWAY_NAME + ' / ' + cmPesnInfo.memberDetailInfo.MEMBER_SUBWAY_TIME + '분'}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="rowPublic rowPublic1">
                    <ul>
                        <li>
                            <span class="warning myHide" ng-class="{'myShow' : cmPesnInfo.memberDetailInfo.MEMBER_BKLST != '0', 'myHide' : cmPesnInfo.memberDetailInfo.MEMBER_BKLST == '0'}">주의!!! 블랙리스트 회원</span>
                        </li>
                        <li>
                            <strong>도망,미출석 횟수</strong>
                            <span class="subject">{{cmPesnInfo.attendRecommendCnt.ATTEND_NO_LEAVE_CNT}}회</span>
                        </li>
                        <li>
                            <strong>추천받은 횟수</strong>
                            <span class="subject">{{cmPesnInfo.attendRecommendCnt.RECOMMEND_CNT}}회</span>
                        </li>
                    </ul>
                </div>
                <div class="rowPublic rowPublic1">
                    <ul>
                        <li>
                            <strong>분야</strong>
                            <span class="subject">{{cmPesnInfo.memberDetailInfo.SUPPORT_FULL}}</span>
                        </li>
                        <li>
                            <strong>직업</strong>
                            <span class="subject">{{cmPesnInfo.memberDetailInfo.JOB_NM}}</span>
                        </li>
                        <li>
                            <strong>연락처</strong>
                            <span class="subject">{{cmPesnInfo.memberDetailInfo.MEMBER_HP | fmtPhone}}</span>
                        </li>
                        <li>
                            <strong>이메일</strong>
                            <span class="subject">{{cmPesnInfo.memberDetailInfo.EMAIL}}</span>
                        </li>
                        <li>
                            <strong>방송등급</strong>
                            <span class="subject">{{cmPesnInfo.memberDetailInfo.CLASS_INFO_NM}}</span>
                        </li>
                        <li>
                            <strong>의상</strong>
                            <span class="subject">{{cmPesnInfo.memberDetailInfo.dressInfo}}</span>
                        </li>
                        <li>
                            <strong>신체사항</strong>
                            <span class="subject">{{cmPesnInfo.memberDetailInfo.BODY_INFO_NM}}</span>
                        </li>
                        <li>
                            <strong>헤어상태</strong>
                            <span class="subject">{{cmPesnInfo.memberDetailInfo.HAIR_STATE_NM + ' ' + cmPesnInfo.memberDetailInfo.HAIR_HEIGHT_NM}}</span>

                        </li>
                        <li>
                            <strong>헤어상태 상세</strong>
                            <span class="subject">{{cmPesnInfo.memberDetailInfo.HAIR_ETC}}</span>

                        </li>
                        <li>
                            <strong>치아교정</strong>
                            <span class="subject">{{cmPesnInfo.memberDetailInfo.TOOTH_CORREC_NM}}</span>
                        </li>
                        <li>
                            <strong>노출가능여부</strong>
                            <span class="subject">{{cmPesnInfo.memberDetailInfo.EXPOSURE_INFO_NM}}</span>
                        </li>
                        <li>
                            <strong>문신</strong>
                            <span class="subject">{{cmPesnInfo.memberDetailInfo.TATOO_INFO_NM}}</span>
                        </li>
                        <li>
                            <strong>피어싱</strong>
                            <span class="subject">{{cmPesnInfo.memberDetailInfo.PIER_INFO_NM}}</span>
                        </li>
                        <li>
                            <strong>문신, 피어싱 상세</strong>
                            <span class="subject">{{cmPesnInfo.memberDetailInfo.TATOO_ETC}}</span>
                        </li>
                        <li>
                            <strong>수염</strong>
                            <span class="subject">{{cmPesnInfo.memberDetailInfo.BEARD_INFO_NM}}</span>
                        </li>
                        <li>
                            <strong>보조개</strong>
                            <span class="subject">{{cmPesnInfo.memberDetailInfo.DIMPLE_INFO_NM}}</span>
                        </li>
                        <li>
                            <strong>눈쌍커플</strong>
                            <span class="subject">{{cmPesnInfo.memberDetailInfo.DOUBLE_EYE_INFO_NM}}</span>
                        </li>
                        <li>
                            <strong>하의사이즈</strong>
                            <span class="subject">{{cmPesnInfo.memberDetailInfo.BOTTOMS_SIZE_NM}}</span>
                        </li>
                        <li>
                            <strong>상의사이즈</strong>
                            <span class="subject">{{cmPesnInfo.memberDetailInfo.TOP_SIZE_NM}}</span>
                        </li>
                        <li>
                            <strong>발사이즈</strong>
                            <span class="subject">{{cmPesnInfo.memberDetailInfo.FOOT_SIZE}}</span>
                        </li>
                        <li>
                            <strong>운전여부</strong>
                            <span class="subject">{{cmPesnInfo.memberDetailInfo.driveInfo}}</span>
                        </li>
                        <li>
                            <strong>패널티</strong>
                            <div class="subject">
<!--                                <button class="txt-btn" ng-click="cmPesnInfo.viewPenalty()"><span>패널티 사유 보기</span></button>-->
                                <div class="form-box-cont4">
                                <span class="select-box">
                                    <select class="sel_m">
                                        <option>패널티 사유 보기</option>
                                        <option ng-repeat="data in cmPesnInfo.penaltyInfo | filter:{PENALTY_KIND : 'P1'} track by $index">{{data.PENALTY_NAME}}</option>
                                    </select>
                                </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="rowPublic rowPublic1">
                    <ul>
                        <li>
                            <strong>경력사항</strong>
                            <div class="subject">
                                <button class="txt-btn" ng-click="cmPesnInfo.viewCareer()"><span>경력사항보기</span></button>
                            </div>
                        </li>
                        <li>
                            <strong>평가</strong>
                            <div class="subject">
                                <div class="row-group" ng-repeat="data in cmPesnInfo.memberReviewInfo">
                                    {{data.REVIEW_CNTN}} ({{data.COMPANY_NM}})
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="rowPublic rowPublic1">
                    <ul>
                        <li>
                            <strong>최근작품</strong><br>
                            <strong>(일주일)</strong>
                            <div class="subject">
                                <div class="row-group" ng-repeat="data in cmPesnInfo.memberLatestInfo">
                                    [{{data.PGM_REUT_FIELD}}] [{{data.PGM_HOPE_CAST}}] {{data.PGM_NAME}}<label ng-if="data.TITLE_GUBUN != ''">({{data.TITLE_GUBUN}})</label> {{data.PGM_START_DTM | shortDate}}
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="rowPublic rowPublic1"
                     ng-if="(cmPesnInfo.prevViewId === 'cpViewPesnR2List' || cmPesnInfo.prevViewId === 'cpViewPesnR3List')
                            && cmPesnInfo.memberAminEtcInfo">
                    <ul>
                        <li>
                            <strong>출연자 <br /> / 확인사항</strong>
                            <span class="subject" ng-if="cmPesnInfo.memberAminEtcInfo[0].ME_ATTEND_DTM">출석 : ({{cmPesnInfo.memberAminEtcInfo[0].ME_ATTEND_DTM | shortDateTime}}), {{cmPesnInfo.memberAminEtcInfo[0].ME_ATTEND_POINT | nullChk}}</span>
                            <span class="subject" ng-if="cmPesnInfo.memberAminEtcInfo[0].ME_END_DTM">종료 : ({{cmPesnInfo.memberAminEtcInfo[0].ME_END_DTM | shortDateTime}}), {{cmPesnInfo.memberAminEtcInfo[0].ME_END_POINT | nullChk}}</span>
                        </li>
                    </ul>
                </div>
                <div class="rowPublic rowPublic1"
                     ng-if="(cmPesnInfo.prevViewId === 'cpViewPesnR2List' || cmPesnInfo.prevViewId === 'cpViewPesnR3List')
                            && cmPesnInfo.memberAminEtcInfo">
                    <ul>
                        <li>
                            <strong>관리자 <br /> / 확인사항</strong>
                            <span class="subject" ng-if="cmPesnInfo.memberAminEtcInfo[0].GETUP_HOUR">기상시간(알람) : {{cmPesnInfo.memberAminEtcInfo[0].GETUP_HOUR | nullChk}}시 {{cmPesnInfo.memberAminEtcInfo[0].GETUP_MINITE | nullChk}}분</span>
                            <span class="subject" ng-if="cmPesnInfo.memberAminEtcInfo[0].START_HOUR">출발시간(알람) : {{cmPesnInfo.memberAminEtcInfo[0].START_HOUR | nullChk}}시 {{cmPesnInfo.memberAminEtcInfo[0].START_MINITE | nullChk}}분</span>
                            
                            <span class="subject" ng-if="cmPesnInfo.memberAminEtcInfo[0].COMPANY_MEMBER_ATTEND_DTM">출석 : ({{cmPesnInfo.memberAminEtcInfo[0].ATTEND_NO_STATE === 'A3' ? '지각, ' : ''}}{{cmPesnInfo.memberAminEtcInfo[0].COMPANY_MEMBER_ATTEND_DTM | shortDateTime}}), {{cmPesnInfo.memberAminEtcInfo[0].COMPANY_MEMBER_ATTEND_POINT | nullChk}}</span>
                            <span class="subject" ng-if="cmPesnInfo.memberAminEtcInfo[0].COMPANY_MEMBER_END_DTM">종료 : ({{cmPesnInfo.memberAminEtcInfo[0].COMPANY_MEMBER_END_DTM | shortDateTime}}), {{cmPesnInfo.memberAminEtcInfo[0].COMPANY_MEMBER_END_POINT | nullChk}}</span>
                            <span class="subject" ng-if="cmPesnInfo.memberAminEtcInfo[0].ATTEND_NO_LEAVE_STATE === 'A1'"><i>미출석</i> : {{cmPesnInfo.memberAminEtcInfo[0].ATTEND_NO_LEAVE_NOTE | nullChk}}</span>
                            <span class="subject" ng-if="cmPesnInfo.memberAminEtcInfo[0].ATTEND_NO_LEAVE_STATE === 'A2'"><i>무단이탈</i> : {{cmPesnInfo.memberAminEtcInfo[0].ATTEND_NO_LEAVE_NOTE | nullChk}}</span>
<!--                             <a class="editInfo gray" ng-if="cmPesnInfo.prevViewId === 'cpViewPesnR3List'">수정</a> -->
                        </li>
                    </ul>
                </div>
                <div class="form-box-cont" ng-if="cmPesnInfo.prevViewId === 'cmMain' || cmPesnInfo.prevViewId === 'cmMngList.tab1'">
                    <div class="btn_wrap">
                        <a class="blue" ng-click="cmPesnInfo.showProgmSelectPopup()"><span>출연요청</span></a>
                        <button type="button" class="btn2 red2 mt10" ng-click="cmPesnInfo.showPenaltyPopup()">패널티 부여</button>
                        <button type="button" class="btn2 red mt10" ng-click="cmPesnInfo.setBkLst('I')" ng-if="cmPesnInfo.memberDetailInfo.MEMBER_BKLST == '0'">블랙리스트 등록</button>
                        <button type="button" class="btn2 blue mt10" ng-click="cmPesnInfo.setBkLst('D')" ng-if="cmPesnInfo.memberDetailInfo.MEMBER_BKLST != '0'">블랙리스트 해제</button>
                    </div>
                </div>
                <!-- prevView === 출연수락/요청중 탭 -->
                <div class="form-box-cont" ng-if="cmPesnInfo.prevViewId === 'cmMngList.tab2'">
                    <div class="btn_wrap">
                        <button type="button" class="btn2 gray" ng-click="cmPesnInfo.procRequest(cmPesnInfo.memberInfo, 'P3')">취소</button>
                        <button type="button" class="btn2 red2 mt10" ng-click="cmPesnInfo.showPenaltyPopup()">패널티 부여</button>
                        <button type="button" class="btn2 red mt10" ng-click="cmPesnInfo.setBkLst('I')" ng-if="cmPesnInfo.memberDetailInfo.MEMBER_BKLST == '0'">블랙리스트 등록</button>
                        <button type="button" class="btn2 blue mt10" ng-click="cmPesnInfo.setBkLst('D')" ng-if="cmPesnInfo.memberDetailInfo.MEMBER_BKLST != '0'">블랙리스트 해제</button>
                    </div>
                </div>
                <div class="form-box-cont" ng-if="cmPesnInfo.prevViewId === 'cpViewPesnR1List'">
                    <div class="btn_wrap btn_wrap3 btn_wrap4 mt10" ng-if="cmPesnInfo.rcutRequestMemeberInfo.MEMBER_STATE_CODE !== 'A7'">
                        <button type="button" class="btn blue4" ng-if="cmPesnInfo.rcutRequestMemeberInfo.MEMBER_STATE_CODE === 'A8'" ng-click="cmPesnInfo.procRequest(cmPesnInfo.rcutRequestMemeberInfo, 'P2')">수락</button>
                        <button type="button" class="btn gray" ng-if="cmPesnInfo.rcutRequestMemeberInfo.MEMBER_STATE_CODE === 'A9'" ng-click="cmPesnInfo.procRequest(cmPesnInfo.rcutRequestMemeberInfo, 'P1')">요청취소</button>
                    </div>
                    <div class="btn_wrap btn_wrap3 btn_wrap4 col2 mt10" ng-if="cmPesnInfo.rcutRequestMemeberInfo.MEMBER_STATE_CODE === 'A7'">
                        <button type="button" class="btn2 btn_cyon" ng-click="cmPesnInfo.showReqPushPopup()">알림발송</button>
                        <button type="button" class="btn2 gray" ng-click="cmPesnInfo.procRequest(cmPesnInfo.rcutRequestMemeberInfo, 'P3')">취소</button>
                    </div>
                    <div class="btn_wrap btn_wrap3 btn_wrap4 mt10">
                        <button type="button" class="btn2 red2" ng-click="cmPesnInfo.showPenaltyPopup()">패널티 부여</button>
                        <button type="button" class="btn2 red mt10" ng-click="cmPesnInfo.setBkLst('I')" ng-if="cmPesnInfo.memberDetailInfo.MEMBER_BKLST == '0'">블랙리스트 등록</button>
                        <button type="button" class="btn2 blue mt10" ng-click="cmPesnInfo.setBkLst('D')" ng-if="cmPesnInfo.memberDetailInfo.MEMBER_BKLST != '0'">블랙리스트 해제</button>
                    </div>
                </div>
                <div class="form-box-cont" ng-if="cmPesnInfo.prevViewId === 'cpViewPesnR2List'">
                    <div class="btn_wrap btn_wrap3 btn_wrap4">
                        <button type="button" class="btn2 blue" ng-click="cmPesnInfo.showReqPushPopup()">알림발송</button>
                    </div>
                    <div class="btn_wrap btn_wrap3 btn_wrap4 col3 mt10">
                    	<button type="button" class="btn blue2" ng-click="cmPesnInfo.attendProc('A1')">출석(지각)</button>
                        <button type="button" class="btn red2" ng-click="cmPesnInfo.attendProc('A2')">출석</button>
                        <button type="button" class="btn gray" ng-click="cmPesnInfo.attendProc('A3')">종료</button>
                    </div>
                    <div class="btn_wrap btn_wrap3 btn_wrap4 col2 mt10">
                     	<button type="button" class="btn blue2" ng-click="cmPesnInfo.showNoLeavePopup('A1')">미출석</button>
                        <button type="button" class="btn cyon" ng-click="cmPesnInfo.showNoLeavePopup('A2')">무단이탈</button>
                    </div>
                    <div class="btn_wrap btn_wrap3 btn_wrap4 mt30">
                        <button type="button" class="btn2 gray" ng-click="cmPesnInfo.showReviewPopup()">평가입력</button>
                        <button type="button" class="btn2 red2 mt10" ng-click="cmPesnInfo.showPenaltyPopup()">패널티 부여</button>
                        <button type="button" class="btn2 red mt10" ng-click="cmPesnInfo.setBkLst('I')" ng-if="cmPesnInfo.memberDetailInfo.MEMBER_BKLST == '0'">블랙리스트 등록</button>
                        <button type="button" class="btn2 blue mt10" ng-click="cmPesnInfo.setBkLst('D')" ng-if="cmPesnInfo.memberDetailInfo.MEMBER_BKLST != '0'">블랙리스트 해제</button>
                    </div>
                </div>
                <div class="form-box-cont" ng-if="cmPesnInfo.prevViewId === 'cpViewPesnR3List'">
                    <div class="btn_wrap btn_wrap3 btn_wrap4">
                        <button type="button" class="btn2 blue" ng-click="cmPesnInfo.showReqPushPopup()">알림발송</button>
                        <button type="button" class="btn2 red2 mt10" ng-click="cmPesnInfo.showPenaltyPopup()">패널티 부여</button>
                        <button type="button" class="btn2 red mt10" ng-click="cmPesnInfo.setBkLst('I')" ng-if="cmPesnInfo.memberDetailInfo.MEMBER_BKLST == '0'">블랙리스트 등록</button>
                        <button type="button" class="btn2 blue mt10" ng-click="cmPesnInfo.setBkLst('D')" ng-if="cmPesnInfo.memberDetailInfo.MEMBER_BKLST != '0'">블랙리스트 해제</button>
                    </div>
                </div>
                <!-- 승인대기 탭에서 호출시 -->
				<div class="form-box-cont"
					ng-if="cmPesnInfo.prevViewId === 'cmSignupList.M1'">
					<div class="btn_wrap">
						<button type="button" class="btn2 cyon" ng-click="cmPesnInfo.handleMemberState('M2')">
							승인</button>
					</div>
					<div class="btn_wrap">
						<button type="button" class="btn2 gray" ng-click="cmPesnInfo.handleMemberState('M3')">
							반려</button>
					</div>
                    <div class="btn_wrap btn_wrap3 btn_wrap4">
                        <button type="button" class="btn2 red2 mt10" ng-click="cmPesnInfo.showPenaltyPopup()">패널티 부여</button>
                        <button type="button" class="btn2 red mt10" ng-click="cmPesnInfo.setBkLst('I')" ng-if="cmPesnInfo.memberDetailInfo.MEMBER_BKLST == '0'">블랙리스트 등록</button>
                        <button type="button" class="btn2 blue mt10" ng-click="cmPesnInfo.setBkLst('D')" ng-if="cmPesnInfo.memberDetailInfo.MEMBER_BKLST != '0'">블랙리스트 해제</button>
                    </div>
				</div>
				<!-- 반려 탭에서 호출시 -->
				<div class="form-box-cont"
					ng-if="cmPesnInfo.prevViewId === 'cmSignupList.M3'">
					<div class="btn_wrap">
						<button type="button" class="btn2 cyon"
							ng-click="cmPesnInfo.handleMemberState('M2')">
							승인</button>
					</div>
                    <div class="btn_wrap btn_wrap3 btn_wrap4">
                        <button type="button" class="btn2 red2 mt10" ng-click="cmPesnInfo.showPenaltyPopup()">패널티 부여</button>
                        <button type="button" class="btn2 red mt10" ng-click="cmPesnInfo.setBkLst('I')" ng-if="cmPesnInfo.memberDetailInfo.MEMBER_BKLST == '0'">블랙리스트 등록</button>
                        <button type="button" class="btn2 blue mt10" ng-click="cmPesnInfo.setBkLst('D')" ng-if="cmPesnInfo.memberDetailInfo.MEMBER_BKLST != '0'">블랙리스트 해제</button>
                    </div>
				</div>
			</div>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>