<div class='prList'>
    <section id="content">
        <h2 class="skip">사이트 이용 정보</h2>    
        <div class="guest">
            <div class="top_box">
                <div class="inner">
                    <h3 class="tit"><span>신청(요청)현황 </span></h3>
                    <span class="sub">신청정보를 확인/수락/ 취소 합니다.</span>
                </div>
            </div>   
            <div class="cont-box">
                <div class="content-cont-view">
                    <div class="inner">
                        <ul class="tabMenu-control cont-view">
                            <li><a data-tab-area="tab_cont_box_1" ng-class="{ 'active' : prList.mod.tab === prList.IDENTIFIER.TAB_SEL.COM_REQUEST } " ng-click='prList.evt.tab(prList.IDENTIFIER.TAB_SEL.COM_REQUEST)'>요청현황</a></li>
                            <li><a data-tab-area="tab_cont_box_2" ng-class="{ 'active' : prList.mod.tab === prList.IDENTIFIER.TAB_SEL.MY_REQUEST }  " ng-click='prList.evt.tab(prList.IDENTIFIER.TAB_SEL.MY_REQUEST)' >신청현황</a></li>
                            <li><a data-tab-area="tab_cont_box_3" ng-class="{ 'active' : prList.mod.tab === prList.IDENTIFIER.TAB_SEL.MY_CANCEL }   " ng-click='prList.evt.tab(prList.IDENTIFIER.TAB_SEL.MY_CANCEL)'>취소현황</a></li>
                        </ul>
                        <!--tab_cont_box_1 -->
                        <div class="tab_cont_box_1" ng-if='prList.mod.tab === prList.IDENTIFIER.TAB_SEL.COM_REQUEST'>
                            <div class="txt-bull">
                                <ul>
                                    <li>요청을 “수락＂하시면 촬영정보관리에서 해당 내용을 확인하고 관리 하실 수 있습니다. </li>
                                    <li>12시간 내에 수락하지 않으면 요청이 취소됩니다.</li>
                                </ul>
                            </div>
                            <div class="search">
                                <span class="post-input">
                                    <input type="text" class="" ng-model='prList.mod.search.searchData' placeholder="검색어를 입력해주세요.">
                                    <button type="button" class="btn_sh" ng-click='prList.evt.search()'><span class="hide">검색</span></button>
                                </span>
                            </div>
                            <div class="rowPublic">
                                <div class="wrap_job_list type2">
                                    <ul>
                                        <li ng-repeat='item in prList.mod.list'>
                                            <a ng-click="prList.evt.go(item.RCUT_BASE_SEQ , item.REQUST_INFO_SEQ)">
                                                <span class="img_area">
                                                    <img src="{{endPoint.service + item.FILE_WEB_PATH}}" onError="this.src='../images/sprite-icon.png'"></span>
                                                <span class="flug {{item.PGM_REUT_FIELD}}">&nbsp;{{item.PGM_REUT_FIELD_NM}}&nbsp;</span>
                                                <span class="desc">[{{item.PGM_HOPE_CAST}}] {{item.PGM_NAME}}<label ng-if="item.TITLE_GUBUN != ''">({{item.TITLE_GUBUN}})</label>  </span>
                                                
                                                <div class="tag">
                                                    <span class="date">촬영일: <em ng-bind='item.PGM_START_DTM | shortDate'></em><label ng-if="item.PGM_SHOOT_KIND">({{item.PGM_SHOOT_KIND}})</label></span>
                                                    <span class="tag" ng-bind='item.PGM_POINT'></span>
                                                </div>     
                                            </a>
                                            <div class="btn_wrap2">
                                                <button type="button" class="btn btn2 cyon" ng-click='prList.evt.cont.submit(item.REQUST_INFO_SEQ , item.RCUT_BASE_SEQ)'><span>수락 </span></button>
                                            </div>
                                        </li>    
                                    </ul>
                                </div>
                            </div> 
                            <div class="more_wrap"  >
                                <a ng-if='prList.mod.states.moreVisible' ng-click='prList.evt.loadMore()' class="more"><span>더보기</span></a>
                                <span ng-if='prList.mod.list.length === 0'>
                                    표시할 정보가 없습니다.
                                </span>
                            </div>
                        </div> 
                        <!--tab_cont_box_2-->
                        <div class="tab_cont_box_2" ng-if='prList.mod.tab === prList.IDENTIFIER.TAB_SEL.MY_REQUEST'>
                            <div class="txt-bull">
                                <ul>
                                    <li>촬영일이 임박한 순으로 보여집니다. </li>
                                    <li>신청내용을 프로그램 담당자가 수락하면 촬영정보관리에서 해당 내용을 확인하고 관리 하실 수 있습니다. 
                                    </li>
                                </ul>
                            </div>
                            <div class="form-box-cont">
                                <div class="ms">
                                    <span class="rel text-input">
                                        <input type="text" name="rrn1" ng-model='prList.mod.search.startDate' datepicker readonly>
                                        <a href="" class="cal"><span class="hide">달력선택</span></a>
                                    </span>
                                    <span class="space-block">-</span>
                                    <span class="rel text-input">
                                    <input type="text" name="rrn2" ng-model='prList.mod.search.endDate' datepicker readonly>
                                    <a href="" class="cal"><span class="hide">달력선택</span></a>
                                    </span>  
                                </div>
                            </div>
                            <div class="search">
                                <span class="post-input">
                                    <input type="text" class="" ng-model='prList.mod.search.searchData' placeholder="검색어를 입력해주세요.">
                                    <button type="button" class="btn_sh" ng-click='prList.evt.search()'><span class="hide">검색</span></button>
                                </span>
                            </div>
                            <div class="rowPublic">
                                    <div class="wrap_job_list type2">
                                        <ul>
                                            <li ng-repeat='item in prList.mod.list'>
                                                
                                                    <span ng-click="prList.evt.go(item.RCUT_BASE_SEQ , item.REQUST_INFO_SEQ)" class="img_area">
                                                        <img src="{{endPoint.service + item.FILE_WEB_PATH}}" onError="this.src='../images/sprite-icon.png'"></span>
                                                    <span ng-click="prList.evt.go(item.RCUT_BASE_SEQ , item.REQUST_INFO_SEQ)" class="flug {{item.PGM_REUT_FIELD}}">&nbsp;{{item.PGM_REUT_FIELD_NM}}&nbsp;</span>
                                                    <span ng-click="prList.evt.go(item.RCUT_BASE_SEQ , item.REQUST_INFO_SEQ)" class="desc">[{{item.PGM_HOPE_CAST}}] {{item.PGM_NAME}}<label ng-if="item.TITLE_GUBUN != ''">({{item.TITLE_GUBUN}})</label>  </span>
                                                    
                                                    <span class="wait_flug"ng-if="item.REQUEST_STATE == 'R4'">출연대기</span>

                                                    <div ng-click="prList.evt.go(item.RCUT_BASE_SEQ , item.REQUST_INFO_SEQ)" class="tag">
                                                        <span class="date">촬영일: <em ng-bind='item.PGM_START_DTM | shortDate'></em> <label ng-if="item.PGM_SHOOT_KIND">({{item.PGM_SHOOT_KIND}})</label></span>
                                                        <span class="tag" ng-bind='item.PGM_POINT'></span>
                                                    </div>
                                                <div class="btn_wrap2 mt30">
                                                    <button type="button" class="btn btn2 gray" ng-click='prList.evt.req.cancel(item.REQUST_INFO_SEQ , item.RCUT_BASE_SEQ)'><span>취소 </span></button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                            </div> 
                            <div class="more_wrap"  >
                                <a ng-if='prList.mod.states.moreVisible' ng-click='prList.evt.loadMore()' class="more"><span>더보기</span></a>
                                <span ng-if='prList.mod.list.length === 0'>
                                    표시할 정보가 없습니다.
                                </span>
                            </div>
                        </div>
                        <!--tab_cont_box_3-->
                        <div class="tab_cont_box_3" ng-if='prList.mod.tab === prList.IDENTIFIER.TAB_SEL.MY_CANCEL'>
                            <div class="txt-bull">
                                <ul>
                                    <li>촬영 신청/수락 후 취소를 10회 이상 하면 3일간 프로그램 이용이
                                            정지됩니다. 또한 촬영이 12시간 이하로 남았을 때 취소 시 
                                            패널티가 1회 부가 되며 패널티가 3회 이상이면 프로그램 이용이
                                                3일간 정지됩니다.</li>
                                    <li>촬영취소 및 스케줄 변경으로 관리자가 취소한 스케줄 또는 내가 취소한 스케줄 목록을 보여줍니다 </li>
                                </ul>
                            </div>
                            <div class="search ">
                                <span class="post-input">
                                    <input type="text" class="" ng-model='prList.mod.search.searchData' placeholder="검색어를 입력해주세요.">
                                    <button type="button" class="btn_sh" ng-click='prList.evt.search()'><span class="hide">검색</span></button>
                                </span>
                            </div>
                            <div class="rowPublic">
                                <div class="wrap_job_list person ">
                                    <ul>
                                        <li ng-repeat='item in prList.mod.list'>
                                            <a ng-click="prList.evt.go(item.RCUT_BASE_SEQ , item.REQUST_INFO_SEQ)">
                                                <div class="person"><button><span ng-bind='item.CANCEL_KIND_NM'>담당자취소</span></button></div>
                                                <span class="img_area"><img src="{{endPoint.service + item.FILE_WEB_PATH}}" onError="this.src='../images/sprite-icon.png'"></span>
                                                <span class="flug {{item.PGM_REUT_FIELD}}">&nbsp;{{item.PGM_REUT_FIELD_NM}}&nbsp;</span>
                                                <span class="desc">[{{item.PGM_HOPE_CAST}}] {{item.PGM_NAME}}<label ng-if="item.TITLE_GUBUN != ''">({{item.TITLE_GUBUN}})</label>  </span>
                                                
                                                <div class="tag">
                                                    <span class="date">촬영일: <em ng-bind='item.PGM_START_DTM | shortDate'></em><label ng-if="item.PGM_SHOOT_KIND">({{item.PGM_SHOOT_KIND}})</label></span>
                                                    <span class="tag" ng-bind='item.PGM_POINT'></span>
                                                </div>     
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="more_wrap"  >
                                <a ng-if='prList.mod.states.moreVisible' ng-click='prList.evt.loadMore()' class="more"><span>더보기</span></a>
                                <span ng-if='prList.mod.list.length === 0'>
                                    표시할 정보가 없습니다.
                                </span>
                            </div>
                        </div> 
                    </div>
                </div> 
            </div>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>