<section class="callPop">
    <h3 class="hide">{{cpNoLeaveP.attendNoLeaveState === 'A1' ? '미출석 팝업' : '무단이탈 팝업'}}</h3>
    <div>
        <h4>{{cpNoLeaveP.attendNoLeaveState === 'A1' ? '미출석' : '무단이탈'}}</h4>
        <div class="innerForm">
            <label class="hide" for="nonAttend">{{cpNoLeaveP.attendNoLeaveState === 'A1' ? '미출석 내용입력' : '무단이탈 내용입력'}}</label>
            <span class="text-area">
						<textarea name="nonAttend" id="nonAttend" cols="30" rows="10" placeholder="내용입력" ng-model="cpNoLeaveP.attendNoLeaveNote"></textarea>
					</span>
            <div class="btn_wrap">
                <div class="row">
                    <button type="button" class="btn" ng-click="cpNoLeaveP.confirm()">등록</button>
                </div>
            </div>
            <a ng-click="cpNoLeaveP.dismiss()" class="closePop"><span class="hide">닫기</span></a>
        </div>
    </div>
</section>