<div class="findPW">
    <div class="content">
        <div class="form-box-cont   ">
            <h3 class="tit">휴대폰번호로 찾기</h3>
            <div class='row text-input' ng-if="findPW.mod.states.login === 'L2'">
                <input ng-model='findPW.mod.companyNm' type='text' class='inp_box' name='name' placeholder='업체명' value='' maxlength='20' title='업체명' autocomplete="false">
            </div>
            <div class="row text-input">
                <input ng-model='findPW.mod.userId' type="text" class="inp_box" name="ID" id="ID" placeholder="아이디" value="" maxlength="20" title="업체명">
            </div>
            <div class="row text-input">
                <input ng-model='findPW.mod.userName' type="text" class="inp_box" name="PWD" id="PWD" placeholder="{{findPW.mod.states.login | ph_nm}}" value="" maxlength="20" title="대표자명">
            </div>
                <div class="ms col2">
                          <span class="select-box">
                            <select
                                    class="sel_m"
                                    title="통신사 선택"
                                    meta-Options="HP_KIND"
                                    meta-options-data="999$선택"
                                    ng-model="findPW.mod.userHpkind"
                            >
                            </select>
                          </span>
                    <span class="space-block"></span>
                    <span class="text-input">
                            <input type="tel" ng-model="findPW.mod.userHp">
                          </span>
                </div>
            <div class="textwrap mt25">
                <ul>
                    <li class="f-blue">
                        <span class="dot"></span>
                        위의 방법으로 확인이 어려운 경우, 070-5213-1747 으로 문의하여 주세요.
                    </li>
                    <li class="f-blue" ng-if='findPW.mod.states.login == "L2"'>
                        <span class="dot"></span>
                        업체명은 띄어쓰기를 하지 말고 입력해주세요.<br>
                        주식회사인 경우 (주)를 꼭 붙여주세요
                        EX) (주)OOO
                    </li>
                </ul>
            </div>
            <div class="btn_wrap"><button ng-click='findPW.evt.request.submit()' type="submit" class="btn cyon">비밀번호찾기</button></div>
        </div>
    </div>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>