<!-- 요청 팝업 -->
<section class="contractPop">
    <h3 class="hide">근로계약서 신청 팝업</h3>
    <div>
        <h4>신청정보 동의</h4>
        <div class="innerForm">
            <div class="layout1" ng-bind-html="ppLaborContractP.view1"></div>
            <span class="chk-box">
                <input type="checkbox" class="rect2" id="viewChk1Yn" ng-model="ppLaborContractP.viewChk1">
                <label for="viewChk1Yn"><span>확인</span></label>
            </span>
            <div class="layout2" ng-bind-html="ppLaborContractP.view2"></div>
            <span class="chk-box">
                <input type="checkbox" class="rect2" id="viewChk2Yn" ng-model="ppLaborContractP.viewChk2">
                <label for="viewChk2Yn"><span>확인</span></label>
            </span>
            <div class="btn_layout">
                <div class="row">
                    <button type="button" class="btn" ng-click="ppLaborContractP.confirm()">확인</button>
                </div>
            </div>
            <a ng-click="ppLaborContractP.dismiss()" class="closePop"><span class="hide">닫기</span></a>
        </div>
    </div>
</section>