로그인

<label>{{plugin.aa}}</label><br>
<button ng-click="plugin.toast()">토스트 버튼</button><br>
<button ng-click="plugin.sendHttp()">통신 버튼</button><br>
<button ng-click="plugin.picker()">피커 버튼</button><br>
<button ng-click="plugin.inAppBrowser()">inapp 버튼</button><br>
<button ng-click="plugin.searchAddr()">내위치 버튼</button><br>
<button ng-click="plugin.netInfo()">네트워크상태 버튼</button><br>
<button ng-click="plugin.setData()">변수저장</button><br>
<button ng-click="plugin.getData()">변수가져오기</button><br>
<button ng-click="plugin.removeData()">변수삭제</button><br>
<button ng-click="plugin.actionSheet()">이미지불러오기</button><br>
<button ng-click="plugin.setAlarm(10)">10초 후 알람설정</button><br>
<button ng-click="plugin.setAlarm(30)">30초 후 알람설정</button><br>
<button ng-click="plugin.setAlarm(60)">1분 후 알람설정</button><br>
<input type="file" id="file" name="file" accept="image/*" capture><br>
<input type="file" id="file2" name="file" accept="image/*" capture="capture"><br>
<input type="file" accept="image/*" capture="camera"><br>
<input type="file" accept="video/*" capture="camcorder"><br>
<input type="file" accept="audio/*" capture="microphone"><br>
<input type="file" id="file6" name="file" ng><br>
<input type="file" id="file7" name="file" accept="image/*" capture><br>
<input type="file" id="file8" name="file" accept="image/*" capture><br>
<br>
<br>
<img ng-src="{{plugin.imgPath}}" ng-if="plugin.imgPath"><br>
<br>

<input type="time" style="width:270px;" ng-model="plugin.agreeEndDate"><br>
<br>

<select class="likeSelectSel"
        meta-options="DRESS_INFO"
        meta-options-data="$선택"
        ng-model="plugin.test"
        ng-disabled=""
        >
</select>

