
<section class="callPop guestpop" >
        <h3 class="hide">출석/종료 관리 팝업</h3>
        <div>
            <h4>기상 시간 및 출발장소 입력</h4>
            <div class="innerForm">
                <dl>
                    <dt>기상시간</dt>
                    <dd>
                        <div class="ms two">
                            <span class="select-box select-box2">
                                <select id="" class="sel_m" title="시간 선택" ng-model='pnInsertP.mod.wakeup.hour' ng-options='item.t for item in pnInsertP.mod.hours'>

                                </select>  
                            </span>
                            <span class="space-block txt pdr10">시</span>
                            <span class="select-box select-box2">
                                <select id="" class="sel_m" title="분 선택" ng-model='pnInsertP.mod.wakeup.min' ng-options='item.t for item in pnInsertP.mod.mins'>
                                    <option value="0">분</option>
                                </select>
                            </span>
                            <span class="space-block txt">분</span>
                        </div>
                    </dd>
                </dl>
                <dl class="mt10">
                    <dt>출발시간</dt>
                    <dd>
                        <div class="ms two">
                            <span class="select-box select-box2">
                                <select id="" class="sel_m" title="시간 선택" ng-model='pnInsertP.mod.departure.hour' ng-options='item.t for item in pnInsertP.mod.hours'>
                                    <option value="0">시</option>
                                </select>  
                            </span>
                            <span class="space-block txt pdr10">시</span>
                            <span class="select-box select-box2">
                                <select id="" class="sel_m" title="분 선택" ng-model='pnInsertP.mod.departure.min' ng-options='item.t for item in pnInsertP.mod.mins'>
                                    <option value="0">분</option>
                                </select>  
                            </span>
                            <span class="space-block txt">분</span>
                        </div>
                    </dd>
                </dl>
                <dl class="mt10">
                    <dt>출발장소</dt>
                    <dd>
                        <div class="ms col2">
                            <span class="rel text-input">
                                <input type="text" name="" class="" placeholder="장소입력" ng-model='pnInsertP.mod.departure.location'>
                                <label class="hide" for="">장소입력</label>
                            </span>
                        </div>
                    </dd>
                </dl>
                <span class="chk-box">
                    <input type="checkbox" name="preferredYn" id="preferredYn" ng-click='pnInsertP.evt.pop.close()'>
                    <label for="preferredYn"><span>다음에 입력하기</span></label>
                </span>
                <span class="aramInfoTxt">※ 현재보다 과거일 경우에는 알람 등록이 안됩니다.</span>
                <div class="btn_wrap">
                    <div class="row">
                        <button type="button" class="btn" ng-click='pnInsertP.evt.submit()' ng-if='pnInsertP.mod.meta.memberSubInfoSeq === -1'>등록</button>
                        <button type="button" class="btn" ng-click='pnInsertP.evt.update()' ng-if='pnInsertP.mod.meta.memberSubInfoSeq !== -1'>수정</button>
                    </div>
                </div>
                <a ng-click='pnInsertP.evt.pop.close()' class="closePop"><span class="hide">닫기</span></a>
            </div>
        </div>
    </section>