<div class='pnNtList'>
    <section id="content">
        <h2 class="skip">사이트 이용 정보</h2>
        <div class="bgi guest">
            <div class="top_box">
                <div class="inner_v2">
                    <h3>공지사항</h3>
                </div>
            </div>
            <div class="mypage-wrap">
                <div class="recruit_cont">
                    <ul>
                        <li ng-repeat='item in pnNtList.notiList' ng-click='pnNtList.goDetail(item)'>
                            <span ng-class="{required : item.TOP_NOTI_YN == 'Y'}"><h3>{{item.TITLE}}</h3></span>
                            <span class="date fr">{{item.CREATE_DTM | shortDate}}</span>
                        </li>
                    </ul>
                    <div class="more_wrap" ng-if="pnNtList.notiList.length < pnNtList.notiListCount"><a class="more" ng-click="pnNtList.selectNotiList(true)"><span>더보기</span></a></div>
                    <div class="more_wrap" ng-if="pnNtList.notiListCount === 0"><span>조회된 정보가 없습니다.</span></div>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>