<div class='pnList'>
    <section id="content">
        <h2 class="skip">사이트 이용 정보</h2>    
        <div class="guest">
            <div class="top_box">
                <div class="inner">
                    <h3 class="tit"><span>알림확인</span></h3>
                    <span class="sub">스케줄 관리자로부터 온 알림을 확인합니다.</span>
                </div>
            </div>   
            <div class="cont-box">
                <div class="content-cont-view">
                    <div class="inner">
                        <ul class="tabMenu-control ty2 cont-view">
                            <li ng-repeat='item in pnList.mod.msgOpts.list'>
                                <a ng-class="{ 'active' : pnList.mod.msgOpts.selected === item.COMMON_INFO_VALUE1 }" ng-bind='item.COMMON_INFO_VALUE2' data-tab-area="tab_cont_box_{{$index + 1}}" ng-click='pnList.evt.tab(item.COMMON_INFO_VALUE1)'>미 확인 알림</a>
                            </li>
                            <!-- <li><a href="javascript:" data-tab-area="tab_cont_box_2">확인 알림</a></li> -->
                            
                        </ul>
                        <!--tab_cont_box_1 -->
                        <div class="tab_cont_box_1" ng-if='pnList.mod.msgOpts.selected === pnList.mod.msgOpts.list[0].COMMON_INFO_VALUE1'>
                            <div class="row-group">
                                <span class="select-box">
                                    <select id="" title="유형 선택" ng-model='pnList.mod.msgTypes.selected' ng-options='item.COMMON_INFO_VALUE1 as item.COMMON_INFO_VALUE2 for item in pnList.mod.msgTypes.list' ng-change='pnList.evt.sel(item.COMMON_INFO_VALUE1)'>
                                    </select>
                                </span>
                            </div>
                            <div class="wrap_job_list_2 ty2">
                                <ul>
                                    <li ng-repeat='item in pnList.mod.list'>
                                        <a>     
                                            <div class="top">
                                                <div class="flug"><span class="step">&nbsp;&nbsp;{{item.MESSAGE_TYPE_NM}}&nbsp;&nbsp;</span></div>
                                                <span class="date" ng-bind='item.RESERVE_DTM | shortDateTime'></span>
                                            </div>
                                            <div class="text2"> 
                                                <span class="desc" ng-bind='item.TITLE'></span>  
                                                <span class="sub" ng-bind='item.MESSAGE'></span>     
                                                <span class="btn_wrap" >
                                                    <!-- P2 : 스케줄 변경 -->
                                                    <button type="button" class="btn btn2 blue" ng-click='pnList.evt.accept(item.PUSH_RESULT_SEQ)'><span>확인 </span></button>
                                                </span>                                            
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>                                 
                            <div class="more_wrap">
                            	<a ng-if="pnList.showShowMoreButton" ng-click='pnList.evt.loadMore()' class="more"><span>더보기</span></a>
                            	<span ng-if="pnList.mod.listCount === 0">
						           	   표시할 정보가 없습니다.
					         	</span>
                            </div>  
                        </div> 
                        <!--tab_cont_box_2-->
                        <div class="tab_cont_box_2" ng-if='pnList.mod.msgOpts.selected === pnList.mod.msgOpts.list[1].COMMON_INFO_VALUE1'>
                            <div class="row-group">
                                <span class="select-box">
                                        <select id="" title="유형 선택" ng-model='pnList.mod.msgTypes.selected' ng-options='item.COMMON_INFO_VALUE1 as item.COMMON_INFO_VALUE2 for item in pnList.mod.msgTypes.list' ng-change='pnList.evt.sel(item.COMMON_INFO_VALUE1)'>
                                    </select>
                                </span>
                            </div>
                            <div class="wrap_job_list_2 ty2">
                                <ul>
                                    <li ng-repeat='item in pnList.mod.list'>
                                        <a>     
                                            <div class="top">
                                                <div class="flug"><span class="step">&nbsp;&nbsp;{{item.MESSAGE_TYPE_NM}}&nbsp;&nbsp;</span></div>
                                                <span class="date" ng-bind='item.RESERVE_DTM | shortDateTime'></span>
                                            </div>
                                            <div class="text2"> 
                                                <span class="desc" ng-bind='item.TITLE'></span>  
                                                <span class="sub" ng-bind='item.MESSAGE'></span> 
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>                                 
                            <div class="more_wrap">
                            	<a ng-if="pnList.showShowMoreButton" ng-click='pnList.evt.loadMore()' class="more"><span>더보기</span></a>
                            	<span ng-if="pnList.mod.listCount === 0">
						           	   표시할 정보가 없습니다.
					         	</span>
                            </div>    
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>