<div class="caNewReg">
    <section>
      <h2 class="skip">사이트 이용 정보</h2>
      <div class="cont-box">
        <div class="top_box">
          <div class="inner_v2">
            <h3>사용자 신규등록</h3>
          </div>
        </div>

        <div class="form-box-cont">
          <div class="inner4 pt0">
            <dl>
              <dt class="star">이름</dt>
              <dd>
                <div class="row-group">
                  <span class="text-input">
                    <input type="text" placeholder="이름 입력" ng-model="caNewReg.userName">
                  </span>
                </div>
              </dd>
            </dl>
            <dl>
              <dt class="star">아이디</dt>
              <dd>
                <div class="ms">
                  <span class="rel text-input idInput">
                    <input type="text" placeholder="아이디 입력" ng-model="caNewReg.userId" style="ime-mode:inactive;">
                  </span>
                  <span class="overlapId">
                    <button ng-click="caNewReg.validateUserId()">
                     	 중복확인
                    </button>
                  </span>
                </div>
              </dd>
            </dl>
            <dl class="mt30">
              <dt class="star">비밀번호</dt>
              <dd>
                <div class="row-group">
                  <span class="text-input">
                    <input
                      type="password"
                      placeholder="비밀번호(6~8자 영문, 숫자)"
                      ng-model="caNewReg.password"
                    >
                  </span>
                </div>
                <div class="row-group">
                  <span class="text-input">
                    <input
                      type="password"
                      placeholder="비밀번호(6~8자 영문, 숫자)"
                      ng-model="caNewReg.passwordConf"
                    >
                  </span>
                </div>
              </dd>
            </dl>
            <dl>
                <dt class="star">연락처</dt>
                <dd>
                <div class="ms col2">
                  <span class="select-box">
                    <select
                      class="sel_m"
                      title="통신사 선택"
                      meta-Options="HP_KIND"
                      meta-options-data="999$선택"
                      ng-model="caNewReg.mobileProviderId"
                    >
                    </select>
                  </span>
                  <span class="space-block"></span>
                  <span class="text-input">
                    <input type="tel" ng-model="caNewReg.mobileNumber">
                  </span>
                </div>
                </dd>
            </dl>
            <dl>
              <dt>내선번호</dt>
              <dd>
                <div class="row-group">
                  <span class="text-input">
                    <input
                      type="tel"
                      placeholder="내선번호"
                      ng-model="caNewReg.phoneNumber"
                    >
                  </span>
                </div>
              </dd>
            </dl>
            <dl>
                <dt class="star">이메일</dt>
                <dd>
                <div class="ms col2">
                  <span class="text-input">
                    <input type="text" ng-model="caNewReg.emailId" style="ime-mode:inactive;">
                  </span>
                  <span class="space-block">@</span>
                  <span class="select-box">
                    <select
                      class="sel_m"
                      title="이메일 도메인 선택"
                      ng-model="caNewReg.emailDomainId"
                    >
                      <option
                        ng-repeat="data in caNewReg.emailDomainOptions track by $index"
                        value="{{data.value}}"
                      >
                        {{data.text}}
                      </option>
                    </select>
                  </span>
                </div>
                <div class="ms col1">
                  <span class="text-input" ng-if="caNewReg.emailDomainId === '0'">
                    <input type="text" ng-model="caNewReg.emailDomain">
                  </span>
                </div>
                </dd>
            </dl>
            <dl>
              <dt class="star">직책</dt>
              <dd>
                <div class="row-group">
                  <span class="text-input">
                    <input type="text" placeholder="직책 입력" ng-model="caNewReg.userPosition">
                  </span>
                </div>
              </dd>
            </dl>
            <dl>
                <dt class="star">소속</dt>
                <dd>
                <div class="ms col2">
                  <span class="select-box">
                    <select
                      class="sel_m"
                      title="소속 선택"
                      ng-model="caNewReg.userRoleId"
                    >
                      <option
                        ng-repeat="data in caNewReg.userRoleOptions"
                        value="{{data.value}}"
                      >
                        {{data.text}}
                      </option>
                    </select>
                  </span>
                </div>
                </dd>
            </dl>
          </div>
          <div class="btn_wrap mt25">
            <div class="row-group">
            <button type="button" class="btn2 btn_blue" ng-click="caNewReg.registerUser()">등록</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  <div ng-include="doryConst.FOOTER.URL"></div>
</div>