<div class="cmMyPage">
    <section id="content">
        <h2 class="skip">사이트 이용 정보</h2>
        <div class="bgi guest">
            <div class="top_box">
                <div class="inner_v2">
                    <h3>마이페이지</h3>
                </div>
            </div>

            <ul class="mypageMenu">
                <li class="myBtn01"><a ng-click="cmMyPage.goPage('comp.mypagec.cmNotiChk')">알림확인</a></li>
                <li class="myBtn02"><a ng-click="cmMyPage.goPageInfoMod()">정보수정</a></li>
                <li class="myBtn03"><a ng-click="cmMyPage.goPage('comp.mypagec.cmNotiSet')">알림설정</a></li>
                <li class="myBtn04"><a ng-click="cmMyPage.logOut()">로그아웃</a></li>
            </ul>
        </div>
        <div class="bottomMenu">
            <ul>
                <li><a ng-click="cmMyPage.goPage('comp.mypagec.cmInfoMod')">정보수정</a></li>
                <li><a ng-click="cmMyPage.goPage('comp.mypagec.cmNotiSet')">알림설정</a></li>
                <li><a ng-click="cmMyPage.logOut()">로그아웃</a></li>
            </ul>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>