<div class="cqQnaList">
    <section id="content">
        <h2 class="skip">사이트 이용 정보</h2>
        <div class="bgi guest">
            <div class="top_box">
                <div class="inner_v2">
                    <h3>1:1문의 답변관리</h3>
                </div>
            </div>
            <div class="form-box-cont form-box-cont2">
                <div class="inner4">
                    <dl>
                        <dt class="hide">1:1문의 답변관리</dt>
                        <dd>
                            <div class="row-group">
                                <span class="select-box">
                                    <select title="답변상태 선택" ng-model="cqQnaList.stateKind">
                                        <option value="999">전체</option>
                                        <option value="N">미처리</option>
                                        <option value="Y">답변완료</option>
                                    </select>
                                </span>
                            </div>
                            <div class="ms cal row-group" >
                                <span class="rel text-input cal">
                                    <input datepicker type="text" class="dateSelect" name="startDate" ng-model="cqQnaList.startDate" readonly>
                                    <a href="" class="cal"><span class="hide">달력선택</span></a>
                                </span>
                                <span class="space-block">-</span>
                                <span class="rel text-input cal">
                                    <input datepicker type="text" class="dateSelect" name="endDate" ng-model="cqQnaList.endDate" readonly>
                                    <a href="" class="cal"><span class="hide">달력선택</span></a>
                                </span>
                            </div>
                            <span class="post-input">
                                <input type="text" class="" placeholder="검색어를 입력해주세요." ng-model="cqQnaList.searchData">
                                <button type="button" class="btn_sh" ng-click="cqQnaList.selectQnaList(false)"><span class="hide">검색</span></button>
                            </span>
                        </dd>
                    </dl>
                </div>
            </div>
            <!-- / 추천정보 -->
            <div class="subject_bx subject_bx2">
                <div class="wrap_job_list my_recommend">
                    <ul>
                        <li class="qaList" ng-class="{qaFinish : data.STATE ==='Y'}" ng-repeat="data in cqQnaList.qnaList">
                            <a ng-click="cqQnaList.goDetail(data)">
                                <span class="qaNot">{{data.STATE ==='Y' ? '답변완료' : '미처리'}}</span>
                                <span class="program">{{data.QNA_KIND_NM}} &gt; {{data.PGM_NAME}}<label ng-if="data.TITLE_GUBUN != ''">({{data.TITLE_GUBUN}})</label></span>
                                <span class="title">{{data.TITLE}}</span>
                                <span class="date">{{data.CREATE_DTM | shortDateTime}}</span>
                                <span class="profile">{{data.WRITE_NAME}} ({{data.WRITE_PHONE | fmtPhone}}, {{data.WRITE_EMAIL}})</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="more_wrap" ng-if="cqQnaList.qnaList.length < cqQnaList.qnaListCount"><a class="more" ng-click="cqQnaList.selectQnaList(true)"><span>더보기</span></a></div>
                <div class="more_wrap" ng-if="cqQnaList.qnaListCount === 0"><span>조회된 정보가 없습니다.</span></div>
            </div>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>