<section class="callPop">
    <h3 class="hide">평가입력 팝업</h3>
    <div>
        <h4>평가입력</h4>
        <div class="innerForm">
            <label class="hide" for="evaluationIn">평가 내용입력</label>
            <span class="text-area">
						<textarea name="evaluationIn" id="evaluationIn" cols="30" rows="10" placeholder="내용입력" ng-model="cpReviewP.reviewCntn"></textarea>
					</span>
            <div class="btn_wrap">
                <div class="row">
                    <button type="button" class="btn" ng-click="cpReviewP.confirm()">확인</button>
                </div>
            </div>
            <a ng-click="cpReviewP.dismiss()" class="closePop"><span class="hide">닫기</span></a>
        </div>
    </div>
</section>