<div class='psList'>
    <section id="content">
        <h2 class="skip">사이트 이용 정보</h2>
        <div class="guest">
            <div class="top_box">
                <div class="inner">
                    <h3 class="tit"><span>스케줄관리</span></h3>
                    <span class="sub">나의스케줄 정보를 확인하고 관리합니다.</span>
                </div>
            </div>
            <div class="cont-box">
                <div class="content-cont-view">
                    <div class="inner">
                        <ul class="tabMenu-control cont-view">

                            <li><a ng-click='psList.evt.chngMenu(psList._IDENTIFIERS.VIEWTYPE.WAITING)' ng-class="{ 'active' : psList.mod.viewType == psList._IDENTIFIERS.VIEWTYPE.WAITING }" data-tab-area="tab_cont_box_1">대기중 스케줄</a></li>
                            <li><a ng-click='psList.evt.chngMenu(psList._IDENTIFIERS.VIEWTYPE.BEING)' ng-class="{ 'active'   : psList.mod.viewType == psList._IDENTIFIERS.VIEWTYPE.BEING}"  data-tab-area="tab_cont_box_2">진행 스케줄</a></li>
                            <li><a ng-click='psList.evt.chngMenu(psList._IDENTIFIERS.VIEWTYPE.FINISHED)' ng-class="{ 'active': psList.mod.viewType == psList._IDENTIFIERS.VIEWTYPE.FINISHED}" data-tab-area="tab_cont_box_3">완료 스케줄</a></li>
                        </ul>
                        <!--tab_cont_box_1 -->
                        <div class="tab_cont_box_1" ng-if='psList.mod.viewType === psList._IDENTIFIERS.VIEWTYPE.WAITING'>
                            <div class="txt-bull">
                                <ul>
                                    <li class="inner">내가 신청한 프로그램을 담당자가 수락 또는 담당자가 요청한 프로그램을 내가 수락하면 “대기중 스케줄” 목록에 보여 줍니다.      </li>
                                </ul>
                            </div>
                            <div class="form-box-cont">
                                <div class="ms inner_v2">
                                        <span class="text-input">
                                            <input type="text" datepicker ng-model='psList.mod.search.startDate' id="rrn1" name="rrn1"></span>
                                    <span class="space-block">-</span>
                                    <span class="text-input">
                                            <input type="text" datepicker ng-model='psList.mod.search.endDate' id="rrn2" name="rrn2">
                                        </span>
                                </div>
                            </div>
                            <div class="search inner_v2">
                                    <span class="post-input">
                                        <input type="text" ng-model='psList.mod.search.searchData' class="" placeholder="검색어를 입력해주세요.">
                                        <button type="button" class="btn_sh" ng-click="psList.evt.search()"><span class="hide">검색</span></button>
                                    </span>
                            </div>
                            <div class="rowPublic">
                                <div class="wrap_job_list">
                                    <ul ng-if='psList.mod.items.length > 0'>
                                        <li ng-repeat='item in psList.mod.items'>
                                            <a ng-click='psList.evt.go(item.REQUST_INFO_SEQ , item.RCUT_BASE_SEQ)'>
                                                            <span class="img_area">
                                                                <img src="{{endPoint.service + item.FILE_WEB_PATH}}" onError="this.src='../images/sprite-icon.png'"></span>
                                                            </span>
                                                <span class="flug {{item.PGM_REUT_FIELD}}">&nbsp;{{item.PGM_REUT_FIELD_NM}}&nbsp;</span>
                                                <span class="desc">[{{item.PGM_HOPE_CAST}}] {{item.PGM_NAME}}<label ng-if="item.TITLE_GUBUN != ''">({{item.TITLE_GUBUN}})</label>  </span>

                                                <div class="tag">
                                                    <span class="date">촬영일: <em ng-bind='item.PGM_START_DTM | shortDate'></em><label ng-if="item.PGM_SHOOT_KIND">({{item.PGM_SHOOT_KIND}})</label></span>
                                                    <span class="tag" ng-bind='item.PGM_POINT'></span>
                                                </div>
                                            </a>
                                            <div class="btn_wrap2 col2">
                                                <button type="button" class="btn blue" ng-click='psList.evt.noti(item)'><span>알람등록 </span></button>
                                                <button type="button" class="btn gray" ng-click='psList.evt.waiting.cancel(item.REQUST_INFO_SEQ)'><span>취소 </span></button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--tab_cont_box_2-->
                        <div class="tab_cont_box_2" ng-if='psList.mod.viewType === psList._IDENTIFIERS.VIEWTYPE.BEING' ng-cloak>
                            <div class="txt-bull">
                                <ul>
                                    <li>촬영일이 임박한 순으로 보여집니다. </li>
                                    <li>신청내용을 프로그램 담당자가 수락하면 촬영정보관리에서 해당 내용을 확인하고 관리 하실 수 있습니다. </li>
                                </ul>
                            </div>
                            <div class="rowPublic">
                                <div class="wrap_job_list">
                                    <div class="psLists" ng-repeat='item in psList.mod.items track by $index'>
                                        <div class="myCheck">
                                            <ul>
<!--                                                 <li><input class="hide" type="button" id="wakeUp{{$index}}" name="wakeUp" ng-click='psList.evt.being.wakeup(item.REQUST_INFO_SEQ)' ng-disabled="item.ME_GETUP_DTM"><label for="wakeUp{{$index}}" ng-class="{'on' : item.ME_GETUP_DTM}">기상</label></li> -->
<!--                                                 <li><input class="hide" type="button" id="nowGo{{$index}}" name="nowGo" ng-click='psList.evt.being.depart(item.REQUST_INFO_SEQ, item)' ng-disabled="item.ME_STRART_DTM"><label for="nowGo{{$index}}" ng-class="{'on' : item.ME_STRART_DTM}">출발</label></li> -->
                                            </ul>
                                        </div>
                                        <ul ng-if='psList.mod.items.length > 0'>
                                            <li>
                                                <a ng-click='psList.evt.go(item.REQUST_INFO_SEQ , item.RCUT_BASE_SEQ)'>
                                                        <span class="img_area ty1">
                                                            <img src="{{endPoint.service + item.FILE_WEB_PATH}}" onError="this.src='../images/sprite-icon.png'">
                                                        </span>
                                                    <span class="flug {{item.PGM_REUT_FIELD}}">&nbsp;{{item.PGM_REUT_FIELD_NM}}&nbsp;</span>
                                                    <span class="desc">[{{item.PGM_HOPE_CAST}}] {{item.PGM_NAME}}<label ng-if="item.TITLE_GUBUN != ''">({{item.TITLE_GUBUN}})</label>  </span>

                                                    <div class="tag">
                                                        <span class="date">촬영일: <em ng-bind='item.PGM_START_DTM | shortDate'></em><label ng-if="item.PGM_SHOOT_KIND">({{item.PGM_SHOOT_KIND}})</label></span>
                                                        <span class="tag" ng-bind='item.PGM_POINT'></span>
                                                    </div>
                                                    <div class="sub">
                                                        <span>{{item.COMPANY_NM}}, {{item.COMPANY_MEMBER_POSITION}}</span>
                                                        <span>{{item.COMPANY_MEMBER_NM}} ({{item.COMPANY_MEMBER_PHONE_NO | fmtPhone }})</span>
                                                    </div>

                                                </a>
                                                <div class="btn_wrap2 col2" ng-if="item.PGM_START_DTM >= psList.mod.currentDate">
                                                    <div class="row">
                                                        <button type="button" class="btn blue" ng-click='psList.evt.noti(item)'><span>알람등록 </span></button>
                                                        <button type="button" class="btn gray" ng-click='psList.evt.waiting.cancel(item.REQUST_INFO_SEQ)'><span>취소 </span></button>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--tab_cont_box_3-->
                        <div class="tab_cont_box_3" ng-if='psList.mod.viewType === psList._IDENTIFIERS.VIEWTYPE.FINISHED' ng-cloak>
                            <div class="txt-bull">
                                <ul>
                                    <li class="inner">촬영일이 임박한 순으로 보여집니다. </li>
                                </ul>
                            </div>
                            <div class="form-box-cont">
                                <div class="ms inner_v2">
                                        <span class="text-input">
                                            <input datepicker type="text" ng-model='psList.mod.search.startDate' id="" name="rrn1"></span>
                                    <span class="space-block">-</span>
                                    <span class="text-input">
                                            <input datepicker type="text" ng-model='psList.mod.search.endDate' id="" name="rrn2">
                                        </span>
                                </div>
                            </div>
                            <div class="search inner_v2">
                                    <span class="post-input">
                                        <input type="text" ng-model='psList.mod.search.searchData' class="" placeholder="검색어를 입력해주세요.">
                                        <button type="button" class="btn_sh" ng-click='psList.evt.search()'><span class="hide">검색</span></button>
                                    </span>
                            </div>
                            <div class="rowPublic">
                                <div class="wrap_job_list schedule">

        
                                    <ul ng-if='psList.mod.items.length > 0'>
                                        <li ng-repeat='item in psList.mod.items' class="active">
                                            <a ng-click='psList.evt.go(item.REQUST_INFO_SEQ , item.RCUT_BASE_SEQ)'>
                                                <div class="call on">출석완료</div>
                                                <span class="img_area">
                                                        <img src="{{endPoint.service + item.FILE_WEB_PATH}}" onError="this.src='../images/sprite-icon.png'">
                                                    </span>
                                                <span class="flug {{item.PGM_REUT_FIELD}}">&nbsp;{{item.PGM_REUT_FIELD_NM}}&nbsp;</span>
                                                <span class="desc">[{{item.PGM_HOPE_CAST}}] {{item.PGM_NAME}}<label ng-if="item.TITLE_GUBUN != ''">({{item.TITLE_GUBUN}})</label>  </span>

                                                <div class="tag">
                                                    <span class="date">촬영일: <em ng-bind='item.PGM_START_DTM | shortDate'></em><label ng-if="item.PGM_SHOOT_KIND">({{item.PGM_SHOOT_KIND}})</label></span>
                                                    <span class="tag" ng-bind='item.PGM_POINT'></span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='more_wrap'  >
                    <a class="more" ng-if='psList.mod.visibility.more' ng-click='psList.evt.loadMore()'><span>더보기</span></a>
                    <span ng-if="psList.mod.items.length === 0">
                        표시할 정보가 없습니다.
                    </span>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>
