<div class='pmMyPage'>
	<section id="content">
		<h2 class="skip">사이트 이용 정보</h2>
		<div class="guest">
			<div class="top_box">
				<div class="inner">
					<h3 class="tit">
						<span>마이페이지</span>
					</h3>
					<span class="sub"></span>
				</div>
			</div>

			<div class="subject_bx">
				<div class="inner">
					<div class="mypage">
						<ul>
							<li><a
								ng-click='pmMyPage.evt.goTo.resume()'>
									<div class="icon list"></div>
									<div class="txt">
										<strong>신청/요청현황</strong> <span>프로그램을 확인/수락/취소합니다.</span>
									</div>
							</a></li>
							<li><a
								ng-click='pmMyPage.evt.goTo.idleSche()'>
									<div class="icon cal"></div>
									<div class="txt">
										<strong>일정관리</strong> <span>나의 촬영 불가능 일자를 체크합니다. </span>
									</div>
							</a></li>
							<li><a
								ng-click='pmMyPage.evt.goTo.sche()'>
									<div class="icon movie"></div>
									<div class="txt">
										<strong>촬영정보관리</strong> <span>촬영 담당자로부터 온 알림을 확인합니다.</span>
									</div>
							</a></li>
							<li><a
								ng-click='pmMyPage.evt.goTo.noti()'>
									<div class="icon email"></div>
									<div class="txt">
										<strong>알림확인</strong> <span>촬영 담당자로부터 온 알림을 확인합니다.</span>
									</div>
							</a></li>
							<li><a
								ng-click='pmMyPage.evt.goTo.coupShop()'>
									<div class="icon order"></div>
									<div class="txt">
										<strong>쿠폰구매</strong> <span>촬영섭외를 받을 수 있는 이용권을 구매합니다.</span>
									</div>
							</a></li>
							<li><a
								ng-click="pmMyPage.evt.goTo.coupList()">
									<div class="icon coupon"></div>
									<div class="txt">
										<strong>쿠폰현황</strong> <span>현재 나의 보유 쿠폰 개수를 확인합니다.</span>
									</div>
							</a></li>
							<li><a
								ng-click='pmMyPage.evt.goTo.pnlty()'>
									<div class="icon pnel"></div>
									<div class="txt">
										<strong>패널티 현황</strong> <span>나의 패널티 현황을 확인합니다.</span>
									</div>
							</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div ng-include="doryConst.FOOTER.URL"></div>
</div>