<div class="cpPaymtInfo">
	<section id="content">
		<h2 class="skip">정산관리</h2>
		<div class="bgi guest">
			<div class="top_box">
				<div class="inner_v2">
					<h3>정산관리</h3>
				</div>
			</div>
			<div class="form-box-cont form-box-cont2">
				<div class="inner4">
					<dl>
						<dt class="hide">정산관리</dt>
						<dd>
							<div class="row-group">
								<span class="select-box">
									<select title="정산상태 선택" ng-model="cpPaymtInfo.settlementStateId">
										<option ng-repeat="data in cpPaymtInfo.settlementStateOptions" value="{{data.value}}">{{data.text}}</option>
									</select>
								</span>
							</div>
							<span class="post-input">
								<input type="text" placeholder="검색어를 입력해주세요." ng-model="cpPaymtInfo.searchTerm">
								<button type="button" class="btn_sh" ng-click="cpPaymtInfo.search()">
									<span class="hide">검색</span>
								</button>
							</span>
						</dd>
					</dl>
				</div>
			</div>
			<div class="wrap_job_list my_recommend">
				<div class="com">
					<span class="chk-box" ng-if="cpPaymtInfo.detailListCount !== 0">
						<input type="checkbox" class="rect" id="selectAll" ng-model="cpPaymtInfo.isSelectedAll" ng-click="cpPaymtInfo.toggleSelectAll()">
						<label for="selectAll">
							<span class="selectAll">전체선택</span>
						</label>
					</span>
				</div>
				<div class="inner peopleList">
					<ul>
						<li class="resultList" ng-repeat="data in cpPaymtInfo.detailList">
							<span class="chk-box2">
								<input type="checkbox" class="rect2" ng-model="data.chk">
							</span>
							<span class="txt">
								<span class="stateResult01">{{data.CALCULATE_STATE_CODE_NAME}}</span>
								<span class="desc" ng-click="cpPaymtInfo.onNameClick(data)"> {{data.MEMBER_NM}} ({{data.MEMBER_HP | fmtPhone}}) </span>
								<span class="time">{{data.ADMIN_TOT_TM}}시간</span>
								<span class="bank" ng-if="data.ACC_NO">{{data.ACC_BANK_NAME}}: {{data.ACC_NO}}({{data.ACC_NAME}})</span>
								<span class="pNumber">{{data.MEMBER_RRN | fmtRRN}}</span>
								<span class="attend mt25">
									<span>출석(본인)</span>
									({{data.ME_ATTEND_DTM | shortDateTime}}), {{data.ME_ATTEND_POINT}}
									<br />
									<span>출석(담당자)</span>
									({{data.COMPANY_MEMBER_ATTEND_DTM | shortDateTime}}), {{data.COMPANY_MEMBER_ATTEND_POINT}}
								</span>
								<span class="finish">
									<span>종료(본인)</span>
									({{data.ME_END_DTM | shortDateTime}}), {{data.ME_END_POINT}}
									<br />
									<span>종료(담당자)</span>
									({{data.COMPANY_MEMBER_END_DTM | shortDateTime}}), {{data.COMPANY_MEMBER_END_POINT}}
								</span>
								<span class="charge mt10"> {{data.COMPANY_MEMBER_POSITION}} {{data.COMPANY_MEMBER_NAME}} ({{data.COMPANY_MEMBER_PHONE_NO | fmtPhone}}) </span>
							</span>
						</li>
					</ul>
				</div>
				<div class="more_wrap">
					<a class="more" ng-if="cpPaymtList.showShowMoreButton" ng-click="cpPaymtList.searchMore();">
						<span>더보기</span>
					</a>
					<span ng-if="cpPaymtInfo.detailListCount === 0"> 표시할 출연자가 없습니다. </span>
				</div>
				<div class="form-box-cont pt30 pb30" ng-if="cpPaymtInfo.detailListCount !== 0">
					<div class="btn_wrap btn_wrap3 btn_wrap4  col2">
						<button type="button" class="btn btn_blue" ng-click="cpPaymtInfo.onCompleteButtonClick()">완료처리</button>
						<button type="button" class="btn btn_cyon" ng-click="cpPaymtInfo.onSendNotificationClick()">알림발송</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div ng-include="doryConst.FOOTER.URL"></div>
</div>