<div class='pnNtDetail'>
    <section id="content">
        <h2 class="skip">사이트 이용 정보</h2>    
        <div class="guest">
            <div class="mypage-wrap">
                <div class="recruit_cont">
                    <ul>
                        <li class="active">
                            <span ng-class="{required : pnNtDetail.viewData.TOP_NOTI_YN == 'Y'}"><h3>{{pnNtDetail.viewData.TITLE}}</h3></span>
                            <span class="date fr">{{pnNtDetail.viewData.CREATE_DTM | shortDate}}</span>
                        </li>   
                    </ul>
                </div>
                <div class="recruit_cont">
                   <ul>
                       <li class="active">
                           	{{pnNtDetail.viewData.DETAIL_CNTN}}
                       </li>
                   </ul>
                   <div class="btn_wrap inner">
                        <a ng-click="pnNtDetail.goList()" class="btn_blue"><span>목록</span></a>
                   </div>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>