<div class="pcList">
    <section id="content">
        <h2 class="skip">사이트 이용 정보</h2>    
        <div class="bgi guest">
            <div class="top_box">
                <div class="inner_v2">
                    <h3>쿠폰현황 <span class="titSub">현재 나의 보유 쿠폰 개수를 확인합니다</span></h3>
                </div>
            </div>
            <div class="myCoupon">
                <dl>
                    <dt>나의 보유쿠폰</dt>
                    <dd>{{ccCopnList.myCouponCount}}개</dd>
                </dl>
            </div>
            <div class="top_box4">
                <div class="inner_v2">
                    <h3><span class="titSub">
                        쿠폰은 모집정보 등록 때 출연자 명 수에 맞춘 개수를 차감하며 스케쥴 변경 시 인원을 추가해야하는 변경이면 쿠폰과
                        동일하거나 쿠폰갯수보다 적은 인원의 추가만이 가능합니다. 즉, 쿠폰의 개수만큼 인원의 가용이 가능합니다.
                    </span></h3>
                </div>
            </div>
            <div class="form-box-cont form-box-cont2 orderList">
                <div class="ms cal row-group" >
                    <span class="rel text-input cal">
                        <input type="text" id="" name="rrn1" ng-model='ccCopnList.startDate' datepicker class="dateSelect" readonly>
                        <a href="" class="cal"><span class="hide">달력선택</span></a>
                    </span>
                    <span class="space-block">-</span>
                    <span class="rel text-input cal">
                        <input type="text" id="" name="rrn2" class="dateSelect" ng-model='ccCopnList.endDate' datepicker readonly>
                        <a href="" class="cal"><span class="hide">달력선택</span></a>
                    </span>
                </div>
                <ul class="myCpHistory">
                    <li ng-repeat='item in ccCopnList.myCouponInfoList'>
                        <span class="cState " ng-class="{'cUsed' : item.CODENAMECODE == 'C3' && item.CODENAMECODE_NM == '사용', 'cUsed2' : item.CODENAMECODE == 'C3' && item.CODENAMECODE_NM == '취소' , 'cGift' : item.CODENAMECODE == 'C2', 'cBuy' : item.CODENAMECODE == 'C1'}" ng-bind='item.CODENAMECODE_NM'></span>
                        <span class="cTit">{{item.VIEWTIELE}} {{item.VIEWCOUNT}}개</span>
                        <span class="cDate">{{item.VIEWDATE | shortDate}}</span>
                    </li>
                </ul>
                <div class="more_wrap">
                	<a ng-if="ccCopnList.showShowMoreButton" ng-click='ccCopnList.searchMore()' class="more"><span>더보기</span></a>
                	 <span ng-if="ccCopnList.myCouponInfoListCount === 0">
			              표시할 정보가 없습니다.
			         </span>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>