<div id="total_menu_wrap" class="sidenav-content">
  <div class="sidenav-box">
    <div class="header-top">
      <div class="logInfoTop">
	      <a class="loginBtn" ng-click="loginBtn()">{{loginText}}</a>
	      <span class="userInfoTxt">{{loginInfoText}}</span>
      </div>
      <a class="home" ng-click="menuCloseBtn(); goHome()"><span class="hide">HOME</span></a>
      <a id="close-button" class="close-btn" ng-click="menuCloseBtn()"><span class="hidden">닫기</span></a>
    </div>
    <div id="iscroller" class="iscroller">
      <div class="sidebar-content">
        <ul class="bot-menu" ng-model="menu">
          <li ng-repeat="dep1 in menu">
              <dl ng-if="dep1.COMMON_INFO_VALUE1 !== 'C9' && dep1.COMMON_INFO_VALUE1 !== 'M4'" >
                <dt ng-if="!dep1.menu"><a ng-click="menuCloseBtn(); moveView(dep1.COMMON_INFO_VALUE6);">{{dep1.COMMON_INFO_VALUE2}}</a></dt>
                <dt ng-if="dep1.menu"><a ng-click="toggle($event)">{{dep1.COMMON_INFO_VALUE2}}</a></dt>
                <dd ng-if="dep1.menu" ng-repeat="dep2 in dep1.menu"><a ng-click="menuCloseBtn(); moveView(dep2.COMMON_INFO_VALUE6);">{{dep2.COMMON_INFO_VALUE2}}</a></dd>
              </dl>
              <div ng-if="dep1.COMMON_INFO_VALUE1 === 'C9'" class="btn_wrap"><div class="inner"><button type="button" class="btn skyblue" ng-click="menuCloseBtn(); moveView(dep1.COMMON_INFO_VALUE6);">{{dep1.COMMON_INFO_VALUE2}}</button></div></div>
              <div ng-if="dep1.COMMON_INFO_VALUE1 === 'M4'" class="btn_wrap"><div class="inner"><button type="button" class="btn skyblue" ng-click="menuCloseBtn(); moveView(dep1.menu[0].COMMON_INFO_VALUE6);">{{dep1.menu[0].COMMON_INFO_VALUE2}}</button></div></div>
          </li>
          <li ng-if="loginKind === 'L1'">
            <div class="btn_wrap"><div class="inner"><button type="button" class="btn red" ng-click="menuCloseBtn(); moveView('pesn.html#/alarm/paList');">기상 출발 알람</button></div></div>
          </li>
          <li ng-if="loginKind === 'L1'">
            <div class="btn_wrap"><div class="inner"><button type="button" class="btn btn_green" ng-click="menuCloseBtn(); moveView('pesn.html#/notice/pnNtList');">공지사항</button></div></div>
          </li>
          <li ng-if="loginKind === 'L2'">
            <div class="btn_wrap"><div class="inner"><button type="button" class="btn btn_green" ng-click="menuCloseBtn(); moveView('comp.html#/notice/cnNtList');">공지사항</button></div></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- / sidenav-content -->
