<div class="cmMain">
    <section id="content">
        <h2 class="skip">사이트 이용 정보</h2>
        <div class="guest ">
            <div class="com">
                <div class="subject_bx">
                    
                    <div class="speed_job_list banner-swiper-container" ng-if="cmMain.bannerListCount > 0">
                        <div class='swiper-wrapper'>
                            <div ng-repeat='item in cmMain.bannerList' class='swiper-slide' on-last-repeat>
                                <a data-banner-link-info='{{item.BANNER_LINK_INFO}}'  info-seq='{{item.BANNER_INFO_SEQ}}' onclick="bannerClick(this)">
                                    <span class=" bannerImg" >
                                        <img src="{{endPoint.service + item.FILE_WEB_PATH}}" onError="this.src='../images/sprite-icon.png'"/>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tit_n">
                        <h3>출연자 정보</h3>
                        <span class="chk-box infoClick">
                                    <input type="checkbox" name="preferredYn" id="preferredYn" ng-model="cmMain.preferredYn">
                                    <label for="preferredYn"><span>검색조건모두 열기</span></label>
                                </span>
                    </div>
                    <div class="inner">
                        <div class="mbrRegist mb50">
                            <fieldset>
                                <legend>회원가입</legend>
                                <div class="form-box-cont">
                                    <div class="ms">
                                        <span class="chk-box2">
                                            <input type="checkbox" name="bkLstYn" id="bkLstYn" class="rect" ng-model="cmMain.bkLstYn">
                                            <label for="bkLstYn"><span class="selectAll">블랙리스트</span></label>
                                        </span>
                                    </div>
                                    <div class="ms col2">
                                                <span class="select-box">
                                                    <select class="sel_m"
                                                            title="지원분야 전체"
                                                            meta-options="PGM_REUT_FIELD"
                                                            meta-options-data="999$지원분야"
                                                            ng-model="cmMain.supportField">
                                                    </select>
                                                </span>
                                        <span class="space-block"></span>
                                        <span class="select-box">
                                                    <select class="sel_m"
                                                            title="희망배역 전체"
                                                            meta-options-data="999$희망배역"
                                                            ng-model="cmMain.hopeCast"
                                                            ng-disabled="cmMain.supportField === '999'">
                                                        <option ng-repeat="data in cmMain.hopeCastInfo track by $index" value="{{data.v}}">{{data.k}}</option>
                                                    </select>
                                                </span>
                                    </div>
                                    <div class="ms col2">
                                                <span class="select-box">
                                                    <select class="sel_m" title="연령시작"
                                                            ng-model="cmMain.startAge">
                                                        <option ng-repeat="data in cmMain.ageList track by $index" value="{{data.v}}">{{data.k}}</option>
                                                    </select>
                                                </span>
                                        <span class="space-block"></span>
                                        <span class="select-box">
                                                    <select class="sel_m" title="연령종료"
                                                            ng-model="cmMain.endAge">
                                                        <option ng-repeat="data in cmMain.ageList track by $index" value="{{data.v}}">{{data.k}}</option>
                                                    </select>
                                                </span>
                                    </div>
                                    <div class="ms col2">
                                                <span class="select-box">
                                                    <select class="sel_m"title="성별 전체"
                                                            meta-options="GENDER"
                                                            meta-options-data="999$성별"
                                                            ng-model="cmMain.memberGender">
                                                    </select>
                                                </span>
                                        <span class="space-block"></span>
                                        <span class="select-box">
                                                    <select class="sel_m" title="키 전체" ng-model="cmMain.height">
                                                        <option value="999">키</option>
                                                        <option value="100~0">100이하</option>
                                                        <option value="100~110">100~110</option>
                                                        <option value="110~120">110~120</option>
                                                        <option value="120~130">120~130</option>
                                                        <option value="130~140">130~140</option>
                                                        <option value="140~145">140~145</option>
                                                        <option value="145~150">145~150</option>
                                                        <option value="150~155">150~155</option>
                                                        <option value="155~160">155~160</option>
                                                        <option value="160~165">160~165</option>
                                                        <option value="165~170">165~170</option>
                                                        <option value="170~175">170~175</option>
                                                        <option value="175~180">175~180</option>
                                                        <option value="180~900">180이상</option>
                                                    </select>
                                                </span>
                                    </div>
                                    <div class="ms col2">
                                                    <span class="select-box">
                                                        <select class="sel_m"
                                                                title="보유의상1 전체"
                                                                meta-options="DRESS_INFO"
                                                                meta-options-data="999$보유의상1 전체"
                                                                ng-model="cmMain.dressInfo">
                                                        </select>
                                                    </span>
                                        <span class="space-block"></span>
                                        <span class="select-box">
                                                        <select class="sel_m"
                                                                title="보유의상2 전체"
                                                                meta-options="DRESS_INFO"
                                                                meta-options-data="999$보유의상2 전체"
                                                                ng-model="cmMain.dressInfo2">
                                                        </select>
                                                    </span>
                                    </div>
                                    <div class="ms col2">
                                                    <span class="select-box">
                                                        <select class="sel_m"
                                                                title="헤어 컬러"
                                                                meta-options="HAIR_STATE"
                                                                meta-options-data="999$헤어 컬러"
                                                                ng-model="cmMain.hairState">
                                                        </select>
                                                    </span>
                                        <span class="space-block"></span>
                                        <span class="select-box">
                                                        <select class="sel_m"
                                                                title="헤어 길이"
                                                                meta-options="HAIR_HEIGHT"
                                                                meta-options-data="999$헤어 길이"
                                                                ng-model="cmMain.hairHeight">
                                                        </select>
                                                    </span>
                                    </div>
                                    <div class="ms col2">
                                                    <span class="select-box">
                                                        <select class="sel_m"
                                                                title="문신"
                                                                meta-options="TATOO_INFO"
                                                                meta-options-data="999$문신"
                                                                ng-model="cmMain.tatooInfo">
                                                        </select>
                                                    </span>
                                        <span class="space-block"></span>
                                        <span class="select-box">
                                                        <select id="" class="sel_m"
                                                                title="운전"
                                                                ng-model="cmMain.driveInfo">
                                                            <option value="999">운전</option>
                                                            <option value="D1">자동차운전가능</option>
                                                            <option value="D2">오토바이운전가능</option>
                                                            <option value="D3">자전거운전가능</option>
                                                            <option value="ALL">모든운전가능</option>
                                                        </select>
                                                    </span>
                                    </div>
                                        <div class="ms col2" ng-show="cmMain.preferredYn === true">
                                                    <span class="select-box">
                                                        <select class="sel_m"
                                                                title="몸무게"
                                                                ng-model="cmMain.weight">
                                                            <option value="999">몸무게</option>
                                                            <option value="30~0">30이하</option>
                                                            <option value="30~35">30~35</option>
                                                            <option value="34~40">34~40</option>
                                                            <option value="40~45">40~45</option>
                                                            <option value="45~50">45~50</option>
                                                            <option value="50~55">50~55</option>
                                                            <option value="55~60">55~60</option>
                                                            <option value="60~65">60~65</option>
                                                            <option value="65~70">65~70</option>
                                                            <option value="70~75">70~75</option>
                                                            <option value="75~80">75~80</option>
                                                            <option value="80~85">80~85</option>
                                                            <option value="85~90">85~90</option>
                                                            <option value="90~95">90~95</option>
                                                            <option value="95~100">95~100</option>
                                                            <option value="100~900">100이상</option>
                                                        </select>
                                                    </span>
                                            <span class="space-block"></span>
                                            <span class="select-box">
                                                        <select class="sel_m"
                                                                title="출연횟수"
                                                                ng-model="cmMain.requestCount">
                                                            <option ng-repeat="data in cmMain.requestList track by $index" value="{{data.v}}">{{data.k}}</option>
                                                        </select>
                                                    </span>
                                        </div>
                                        <div class="ms col2" ng-show="cmMain.preferredYn === true">
                                                    <span class="select-box">
                                                        <select class="sel_m"
                                                                title="신체사항"
                                                                meta-options="BODY_INFO"
                                                                meta-options-data="999$신체사항"
                                                                ng-model="cmMain.bodyInfo">
                                                        </select>
                                                    </span>
                                            <span class="space-block"></span>
                                            <span class="select-box">
                                                        <select class="sel_m"
                                                                title="보유 방송등급"
                                                                meta-options="CLASS_INFO"
                                                                meta-options-data="999$보유 방송등급"
                                                                ng-model="cmMain.classInfo">
                                                        </select>
                                                    </span>
                                        </div>
                                    <div class="ms col2" ng-show="cmMain.preferredYn === true">
                                        <span class="select-box">
                                                        <select id="" class="sel_m"
                                                                title="피어싱"
                                                                meta-options="PIER_INFO"
                                                                meta-options-data="999$피어싱"
                                                                ng-model="cmMain.pierInfo">
                                                        </select>
                                                    </span>
                                    </div>
                                    <div class="ms col2">
                                                        <span class="rel text-input cal">
                                                            <input datepicker type="text" class="dateSelect" name="startDate" ng-model="cmMain.startDate" readonly>
                                                            <em class="hide">달력선택</em>
                                                        </span>
                                                        <span class="space-block"></span>
                                                        <span class="rel text-input cal">
                                                            <input datepicker type="text" class="dateSelect" name="endDate" ng-model="cmMain.endDate" readonly>
                                                            <em class="hide">달력선택</em>
                                                        </span>
                                    </div>
                                    <div class="rel ms col2">
                                                        <span class="select-box select01">
                                                            <select class="sel_m" title="전체" ng-model="cmMain.searchKind">
                                                                <option value="999">전체</option>
                                                                <option value="2">이름</option>
                                                                <option value="4">연락처</option>
                                                                <option value="1">사는곳</option>
                                                                <option value="3">근처역</option>
                                                            </select>
                                                        </span>
                                        <span class="space-block"></span>
                                        <span class="post-input">
                                                            <input type="text" class="" placeholder="검색어를 입력해주세요." ng-model="cmMain.searchData">
                                                            <button type="button" class="btn_sh" ng-click="cmMain.search(false);"><span class="hide">검색</span></button>
                                                        </span>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="wrap_job_list my_recommend" ng-if="cmMain.memberList.length > 0">
                        <div class="com">
                                    <span class="chk-box">
                                        <input type="checkbox" name="allCheck" id="allCheck" class="rect" ng-model="cmMain.isAllChk" ng-click="cmMain.allChk(cmMain.memberList);">
                                        <label for="allCheck"><span class="selectAll">전체선택</span></label>
                                    </span>
                        </div>
                        <div class="inner peopleList">
                            <ul>
                                <li ng-repeat="data in cmMain.memberList">
                                    <span class="chk-box2"><input type="checkbox" class="rect2" ng-model="data.chk"></span>
                                    <span ng-click="cmMain.goDetail(data)" class="img_area"><img src="{{endPoint.service + data.url}}" onError="this.src='../images/sprite-icon.png'"/></span>
                                    <span class="txt">
                                        <span ng-click="cmMain.goDetail(data)" class="desc">{{data.MEMBER_NM}}</span>

                                        <span ng-click="cmMain.goDetail(data)" class="date">{{data.MEMBER_AGE + ' / ' + data.MEMBER_GENDER_NM}}</span>
                                        <span ng-click="cmMain.goDetail(data)" class="tag">{{data.MEMBER_ADDR + ' / ' + data.MEMBER_SUBWAY_LINES + ' / ' + data.MEMBER_SUBWAY_NAME + ' ' + data.MEMBER_SUBWAY_TIME + '분'}}</span>
                                    </span>
                                    <span class="star" ng-class="{'ea1' : data.MEMBER_INTERSET == '1'}" ng-click="cmMain.intersetMem('I', data)"></span>
                                    <button ng-click="cmMain.showProgmSelectPopup(data)" class="btn_confirm"><span>요청</span></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="more_wrap" ng-if="cmMain.memberList.length < cmMain.memberListCount"><a ng-click="cmMain.search(true);" class="more"><span>더보기</span></a></div>
                    <div class="more_wrap" ng-if="cmMain.memberListCount === 0"><span>조회된 정보가 없습니다.</span></div>
                </div>
            </div>
            <div class="btn_wrap mt25 mb25">
                <div class="row-group">
                    <button type="button" ng-if="cmMain.memberListCount !== 0" class="btn2 blue" ng-click="cmMain.showCheckedProgmSelectPopup()">출연 요청</button>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>