<div class='pcShop'>
    <section id="content">
        <h2 class="skip">사이트 이용 정보</h2>    
        <div class="bgi guest">
            <div class="top_box">
                <div class="inner_v2">
                    <h3>쿠폰구매 <span class="titSub">촬영 요청 및 수락을 할 수 있는 이용권을 구매합니다.</span></h3>
                </div>
            </div>
            <div class="">
                <ul class="couponShop">
                    <li ng-repeat="data in pcShop.couponMngMemList">
                        <label for="selPrice01{{$index}}" >	
                        	<input type="radio" ng-model="pcShop.selData" value="{{$index}}"name="selprice" id="selPrice01{{$index}}">
                            <span class="amount">개인쿠폰 {{data.couponCnt}}개</span>
                            <span ng-if="data.couponAmt != data.couponDiscountAmt" class="price disc">{{data.couponAmt}}원</span>
                            <span class="discPrice">{{data.couponDiscountAmt}}원</span>
                        </label> 
                    </li>
                </ul>
            </div>
            
            <div class="btn_wrap mt20 mb25">
                <div class="row">
                    <button type="button" class="btn red" ng-click="pcShop.buy()">구매</button>
                </div>
                <p class="btnSubTxt">결제관련 문의사항은 070-5213-1747(고객센터)로 연락 부탁드립니다.</p>
            </div>
        </div>
     </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>