<div class="login">
	<div class="content">
		<h1 class="loginLogo">
			<img src="../images/logo.png" alt="클릭잡 로고">
		</h1>
		<div class="content-cont-view">
			<ul class="tabMenu-control cont-view">
				<li><a href="#/login"
					ng-click="login.evt.changeLoginState(login.IDENTIFIERS.LOGIN.PERSONAL)"
					ng-class="{ 'active' : login.states.login == login.IDENTIFIERS.LOGIN.PERSONAL }"
					data-tab-area="tab_cont_box_1">개인회원</a></li>
				<li><a href="#/login"
					ng-click="login.evt.changeLoginState(login.IDENTIFIERS.LOGIN.CORPS)"
					ng-class="{ 'active' : login.states.login == login.IDENTIFIERS.LOGIN.CORPS }"
					data-tab-area="tab_cont_box_2">기업회원</a></li>
			</ul>
			<div class="tab_cont_box_1">
				<div>
					<fieldset class="login_form">
						<legend class="hidden">로그인</legend>
						<div class="id_row row text-input">
							<input type="text" class="inp_box" ng-model='login.mod.id'
								placeholder="{{login.texts.placeholder}}" title="아이디입력"
								autocomplete="off">
						</div>
						<div class="pw_row row text-input">
							<input type="password" class="inp_box" ng-model="login.mod.pw"
								placeholder="비밀번호" title="비밀번호 입력" autocomplete="off"
								style='position: fixed; top: -10000px;'> <input
								type="password" class="inp_box" ng-model="login.mod.pw"
								placeholder="비밀번호" title="비밀번호 입력" autocomplete="off">
						</div>
						<div class="error" ng-if="login.states.isError">
							<span ng-bind='login.texts.error'></span>
						</div>
						<div class="check_row">
							<span class="chk-box"> <input type="checkbox"
								name="Save_Login" value="1" id="lb_lgoin_1" class="rect"
								ng-model="login.states.autoLogin"> <label
								for="lb_lgoin_1">자동 로그인</label>
							</span> <span class="find"> <a
								ng-click="goView('public.html#/findID');">아이디 찾기</a> <a
								ng-click="goView('public.html#/findPW');">비밀번호 찾기</a>
							</span>
						</div>
						<div class="btn_wrap">
							<span class="inp_group"><button type="button"
									ng-click="login.evt.submit()" class="btn blue">로그인</button></span> <span
								class="inp_group"><button type="button"
									ng-click='login.evt.signup()' class="btn cyon">회원가입 요청</button></span>
						</div>
						<div class="textwrap">
							<ul>
								<li class="f-blue"
									ng-if="login.states.login == login.IDENTIFIERS.LOGIN.PERSONAL">
									<em>클릭잡</em>은 앱 특성상 회원가입 요청 후 관리자의 개인정보 확인 절차 단계를 거쳐 이용 하실 수
									있습니다.
								</li>
								<li class='f-blue'
									ng-if='login.states.login == login.IDENTIFIERS.LOGIN.CORPS'>
									기업회원은 회원가입 요청 후 관리자의 확인 절차를 거친 후 이용 하실 수 있습니다.</li>
							</ul>
						</div>
					</fieldset>
				</div>
			</div>
			<!--//개인회원-->
		</div>
	</div>
	<div ng-include="doryConst.FOOTER.URL"></div>
</div>