<div class="caMenuAdd">
    <section>
      <h2 class="skip">소속추가</h2>
      <div class="cont-box">

        <div class="form-box-cont">
          <div class="inner4 pt0">
            <dl>
              <dt class="">소속추가</dt>
              <dd>
                <div class="row-group">
                  <span class="rel text-input idInput">
                    <input type="text" placeholder="소속명칭 입력">
                  </span>
                </div>
              </dd>
            </dl>
          </div>
          <div>
            [알림설정 영역]
          </div>
          <div class="btn_wrap mt35">
            <div class="row-group">
              <button type="button" class="btn2 blue2">등록</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  <div ng-include="doryConst.FOOTER.URL"></div>
</div>