<div class="findID">
    <section>
        <!-- 기업 조회 시작 -->
        <div class="content">
            <div class="form-box-cont">
                <div class='boxwrap'>
                    <h3 class="tit" ng-if="findID.mod.states.login == 'L1'">휴대폰번호로 찾기</h3>
                    <div  class="radio-group" ng-if="findID.mod.states.login == 'L2'">
                                <span class="rel radio-box">
                                    <input type="radio" name="login" ng-model='findID.mod.states.type' ng-value='findID.IDENTIFIERS.TYPES.BY_PN_NUM' id="mobile" value="1"><label for="mobile"><span>휴대폰번호로찾기</span></label>
                                </span>
                        <span class="rel radio-box">
                                    <input type="radio" name="login" ng-model='findID.mod.states.type' ng-value='findID.IDENTIFIERS.TYPES.BY_CORPS_REGIST_NUM' id="mobile1" value="2"><label for="mobile1"><span>사업자등록번호로찾기</span></label>
                                </span>
                    </div>
                </div>
                <div class="boxwrap">
                    <!-- 기업 회원 전용 -->
                    <div class="row text-input" ng-if="findID.mod.states.login == 'L2'">
                        <input type="text" class="inp_box" placeholder="업체명" value="" maxlength="20" title="업체명" ng-model='findID.mod.companyNm'>
                    </div>
                    <div class="row text-input" ng-if="findID.mod.states.type == findID.IDENTIFIERS.TYPES.BY_CORPS_REGIST_NUM">
                        <input type="text" class="inp_box" placeholder="대표자명" value="" maxlength="20" title="대표자명" ng-model='findID.mod.companyCeoNm'>
                    </div>
                    <!-- 개인 회원 전용 -->
                    <div class="row text-input" ng-if="findID.mod.states.type == findID.IDENTIFIERS.TYPES.BY_PN_NUM">
                        <input type="text" class="inp_box" placeholder="이름" value="" maxlength="20" title="이름" ng-model='findID.mod.userName'>
                    </div>
                    <div class="row" style='margin-top:10px;' ng-if="findID.mod.states.type == findID.IDENTIFIERS.TYPES.BY_CORPS_REGIST_NUM">
                        <strong class="tit">사업자 등록 번호</strong>
                        <div class="text-input mt8">
                            <input type="tel" class="inp_box" placeholder="사업자등록번호 입력 – 없이 숫자만 입력" value="" maxlength="20" title="사업자등록번호 입력 – 없이 숫자만 입력" ng-model='findID.mod.companyNo'>
                        </div>
                    </div>
                </div>
                <div class="boxwrap row ms" ng-if="findID.mod.states.type == findID.IDENTIFIERS.TYPES.BY_PN_NUM">
                    <span class="select-box">
                            <select
                                    class="sel_m"
                                    title="통신사 선택"
                                    meta-Options="HP_KIND"
                                    meta-options-data="999$선택"
                                    ng-model="findID.mod.userHpkind"
                            >
                            </select>
                          </span>
                    <span class="space-block"></span>
                    <span class="text-input">
                                <input type="tel" ng-model='findID.mod.userHp'>
                    </span>
                </div>

                <div class="textwrap">
                    <ul>
                        <li class="f-blue">
                            <span class="dot"></span>
                            위의 방법으로 확인이 어려운 경우, 070-5213-1747 으로 문의하여 주세요.
                        </li>
                        <li class="f-blue" ng-if="findID.mod.states.login == 'L2'">
                            <span class="dot"></span>
                            업체명은 띄어쓰기를 하지 말고 입력해주세요.<br>
                            주식회사인 경우 (주)를 꼭 붙여주세요
                            EX) (주)OOO
                        </li>
                    </ul>
                </div>
                <div class="btn_wrap"><button type="button" class="btn cyon" ng-click='findID.evt.submit()'>아이디찾기</button></div>
            </div>
        </div>
        <!-- 기업 조회 종료  -->
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>