<div class="footer">
  <ul>
    <li><a ng-click="linkTerm01()">이용약관</a></li>
    <li><a ng-click="linkTerm02()">개인정보처리방침</a></li>
  </ul>
  <p>Copyright ©Clickjob., Ltd. All Rights Reserved.</p>
</div>