<!DOCTYPE html>
<html manifest="../app.manifest">
<head>
<meta charset="UTF-8">
<title>클릭잡</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<!-- <meta name="viewport"
  content="width=2560px,user-scalable=no,target-densityDpi=device-dpi"> -->
<!-- build:css({bower_components,vendor}) styles/vendor.css -->
<!-- bower:css -->
<!-- endbower -->
<!-- endbuild -->
<!-- build:css(assets) styles/common.css -->
<link rel="stylesheet" href="../styles/base.css">
<link rel="stylesheet" href="../styles/style.css">
<link rel="stylesheet" href="../styles/jquery-ui.css">
<link rel="stylesheet" href="../styles/jquery.bxslider.css">

<!-- endbuild -->
</head>
<body class="sub">
  <div id="skip-navigation">
    <ul>
      <li><a href="#containerContent">본문영역 바로가기</a></li>
    </ul>
  </div>
  <div class="wrap">
    <header class="header" ng-if="viewDepth > 1">
        <h1 class="logo"><span>{{menuTitle}}</span></h1>
        <span class="prev"><a ng-click="prevBtn()"><span class="hide">이전</span></a></span>
        <span class="close"><a ng-click="closeBtn()"><span class="hide">닫기</span></a></span>
    </header>
    <header class="header" ng-if="viewDepth == 1">
        <span class="full-menu"><button type="button" id="open-sidenav" ng-click="menuOpenBtn()"><em class="hidden">전체메뉴</em></button></span>
        <h1 class="logo"><a ng-click="logoBtn()" ><span class="hidden">click-job</span></a></h1>
        <span class="my"><a ng-click="myPageBtn()" ><em class="hidden">MY</em></a></span>
    </header>
    <left-menu></left-menu>
    <div ui-view></div>
    <footer class="footer">
      <ul>
        <li class="home"><a ng-click="goHome()"><span>Home</span></a></li>
        <li class="subway"><a ng-click="goSubWay()"><span>지하철노선도</span></a></li>
        <li class="bus"><a ng-click="goBus()"><span>버스노선도</span></a></li>
        <li class="guide"><a ng-click="goAppGuide()"><span>앱가이드</span></a></li>
      </ul>
    </footer>
    <div id="layerSpaceWrap"></div>
  </div>
  <div class="loding" ng-if="requestCount > 0">
    <span class="lodingImgBg"></span>
  </div>

<!--  	<script type="text/javascript" -->
<!--     src="../vendor/AES/aes.js"></script> -->
<!--     <script type="text/javascript" -->
<!--     src="../vendor/AES/AesUtil.js"></script> -->
<!--      	<script type="text/javascript" -->
<!--     src="../vendor/AES/pbkdf2.js"></script> -->
<!--      	<script type="text/javascript" -->
<!--     src="../vendor/AES/sha256.js"></script> -->
  
  <!-- build:js({bower_components,vendor}) scripts/vendor.js -->
  <!-- bower:js -->
  <!-- endbower -->
  <script type="text/javascript"
    src="../bower_components/moment/locale/ko.js"></script>
  
  <!-- endbuild -->

  <!-- build:js({.tmp,assets}) scripts/common.js -->
  <script type="text/javascript" src="../scripts/jquery.v3.2.1.min.js"></script>
  <script type="text/javascript" src="../scripts/jquery.form.min.js"></script>
  <script type="text/javascript" src="../scripts/jquery-ui.js"></script>
  <script type="text/javascript" src="../scripts/jquery.bxslider.min.js"></script>

  <script type="text/javascript" src="../scripts/appcache.js"></script>
  <script type="text/javascript" src="../scripts/lodash.mixin.js"></script>
  <script type="text/javascript" src="../scripts/cordova-loader.js"></script>

  <!-- inject:common:js -->
  <!-- endinject -->
  <!-- endbuild -->

  <!-- build:js(.tmp) scripts/domain.js -->
  <!-- inject:js -->
  <!-- endinject -->
  <!-- endbuild -->
  <div id="naviBg" ng-show="menuOpen" style="display:block"></div>

  <div id="fixLayout" style="height:0px;overflow:hidden;">fix layout</div>
  
</body>
</html>
