<div class='pmMain'>
    <section id="content">
        <h2 class="skip"></h2>    
        <div class="guest ">
            <div class="com">
                <div class="subject_bx">
                    
                    <div class="speed_job_list banner-swiper-container" ng-if="pmMain.bannerListCount > 0">
                        <div class='swiper-wrapper'>
                            <div ng-repeat='item in pmMain.bannerList' class='swiper-slide' on-last-repeat='banner' >
                                <a href='javascript:' data-banner-link-info='{{item.BANNER_LINK_INFO}}' info-seq='{{item.BANNER_INFO_SEQ}}' onclick="bannerClick(this)">
                                    <span class=" bannerImg" >
                                        <img src="{{endPoint.service + item.FILE_WEB_PATH}}" onError="this.src='../images/sprite-icon.png'"/>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tit_n tit_n01" ng-if="pmMain.mod.urg.list.length > 0">
                        <h3>출연자 모집(급구)</h3>
                    </div>
                    <div class="speed_job_list urg-swiper-container" ng-if="pmMain.mod.urg.list.length > 0">
                        <div class='swiper-wrapper'>
                            <div ng-repeat='item in pmMain.mod.urg.list' class='swiper-slide' on-last-repeat='urg'>
                                <a href="javascript://" data-rcut-base-seq='{{item.RCUT_BASE_SEQ}}' data-requst-info-seq='{{item.REQUST_INFO_SEQ}}' onclick='urgClick(this)' >
                                    <span class="img_area">
                                        <img src="{{pmMain.const.endPoint + item.FILE_WEB_PATH}}" onError="this.src='../images/sprite-icon.png'"/>
                                    </span>
                                    <span class="txt_area">
                                        <span class="flug {{item.PGM_REUT_FIELD}}">&nbsp;{{item.PGM_REUT_FIELD_NM}}&nbsp;</span>
                                        <span class="desc">[{{item.PGM_HOPE_CAST}}] {{item.PGM_NAME}}<label ng-if="item.TITLE_GUBUN != ''">({{item.TITLE_GUBUN}})</label></span>
                                        <span class="ico_hot">긴급</span>
                                        <span class="subTxt">
                                            <span class="date">촬영일:  
                                                <em ng-bind='item.PGM_START_DTM | shortDate'></em><label ng-if="item.PGM_SHOOT_KIND">({{item.PGM_SHOOT_KIND}})</label>
                                            </span>
                                            <span class="addr" ng-bind="item.PGM_POINT + ' / ' + item.AGE_MIN + '~' + item.AGE_MAX + '세 ' + item.TOT_COUNT + ' 명 / ' + item.GENDER"></span>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="subject_bx" ng-if="pmMain.mod.co.list.length > 0">
                            <div class="tit_n">
                                <h3>내게 맞춤 정보</h3>
                                <span class="chk-box infoClick">
                                    <input type="checkbox" name="preferredYn" ng-checked='pmMain.mod.ad.display' id="preferredYn" class="viewAll" ng-click='pmMain.evt.ad.setDisplay()'>
                                    <label for="preferredYn"><span>추천정보 보지 않기</span></label>
                                </span>
                            </div>
                            <div class="wrap_job_list recommend2" >
                                <ul>
                                    <li ng-repeat="item in pmMain.mod.co.list">
                                        <a  ng-click='pmMain.evt.co.go(item.RCUT_BASE_SEQ , item.REQUST_INFO_SEQ)'>
                                            <span class="img_area">
                                                <img src="{{pmMain.const.endPoint + item.FILE_WEB_PATH}}" onError="this.src='../images/sprite-icon.png'"/>
                                            </span>
                                            <span class='txt_area'>
                                                <span class="flug {{item.PGM_REUT_FIELD}}">&nbsp;{{item.PGM_REUT_FIELD_NM}}&nbsp;</span>
                                        		<span class="desc">[{{item.PGM_HOPE_CAST}}] {{item.PGM_NAME}}<label ng-if="item.TITLE_GUBUN != ''">({{item.TITLE_GUBUN}})</label></span>
                                                <!-- <span class="ico_hot">긴급</span> -->
                                                <span class="subTxt">
                                                    <span class="date">촬영일: 
                                                        <em ng-bind='item.PGM_START_DTM | shortDate'></em><label ng-if="item.PGM_SHOOT_KIND">({{item.PGM_SHOOT_KIND}})</label></span>
                                                    <span class="tag" ng-bind="item.PGM_POINT + ' / ' + item.AGE_MIN + '~' + item.AGE_MAX + '세 ' + item.TOT_COUNT + ' 명 / ' + item.GENDER"></span>
                                                </span>     
                                            </span>
                                        </a> 
                                        <button class="btn_confirm" ng-click='pmMain.evt.co.accept(item)' ng-if='item.STATE_KIND === "S1"' ng-cloak>
                                            <span class="callPeople ">수락</span>
                                        </button>                          
                                        <button class="btn_confirm" ng-click='pmMain.evt.co.cancel(item)' ng-if='item.STATE_KIND === "S2"' ng-cloak>
                                            <span class="callPeople callPeople01">취소</span>
                                        </button>                          
                                    </li>  
                                    
                                </ul>
                        </div>
                        <div class="more_wrap" ng-click='pmMain.evt.co.loadMore()' ng-if='pmMain.mod.co.listMaxCount !== pmMain.mod.co.list.length'>
                            <a class="more" >
                                <span>더보기</span>
                            </a>
                        </div>
                    </div>
                    <div class="subject_bx" ng-if="pmMain.mod.ad.display">
                            <div class="tit_n">
                                <h3>추천정보</h3>
                            </div>
                            <div class="wrap_job_list recommend2">
                                <ul>
                                    <li ng-repeat='item in pmMain.mod.ad.list'>
                                        <a ng-click='pmMain.evt.ad.go(item.RCUT_BASE_SEQ , item.REQUST_INFO_SEQ)'>
                                            <span class="img_area">
                                                <img src="{{pmMain.const.endPoint + item.FILE_WEB_PATH}}" onError="this.src='../images/sprite-icon.png'"/>
                                            </span>
                                            <span class="txt_area">
                                                <span class="flug {{item.PGM_REUT_FIELD}}">&nbsp;{{item.PGM_REUT_FIELD_NM}}&nbsp;</span>
                                        		<span class="desc">[{{item.PGM_HOPE_CAST}}] {{item.PGM_NAME}}<label ng-if="item.TITLE_GUBUN != ''">({{item.TITLE_GUBUN}})</label></span>
                                                <!-- <span class="ico_hot">긴급</span> -->
                                                <div class="subTxt">
                                                    <span class="date">촬영일: 
                                                        <em ng-bind='item.PGM_START_DTM | shortDate'></em><label ng-if="item.PGM_SHOOT_KIND">({{item.PGM_SHOOT_KIND}})</label></span>
                                                    <span class="tag" ng-bind="item.PGM_POINT + ' / ' + item.AGE_MIN + '~' + item.AGE_MAX + '세 ' + item.TOT_COUNT + ' 명 / ' + item.GENDER"></span>
                                                </div>     
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                        </div>
                        <div class="more_wrap" >
                            <a class="more"  ng-click='pmMain.evt.ad.loadMore()' ng-if='pmMain.mod.ad.listMaxCount !== pmMain.mod.ad.list.length'>
                                <span>더보기</span>
                            </a>
                            <span ng-if='pmMain.mod.ad.listMaxCount === 0'>표시할 정보가 없습니다</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="doryConst.FOOTER.URL"></div>
</div>
