<section class="callPop">
    <h3 class="hide">스케줄변경알림 리스트</h3>
    <div>
        <h4>스케줄변경알림 관리</h4>
        <div class="innerForm">
            <p class="pTopTxt">변경일 : <span>{{cpSchduleMngP.lastSchedulePushInfo[0].CREATE_DTM | shortDate}}</span></p>
            <div class="popScrollWarp">
                <table class="scList">
                    <caption class="hide">스케줄 변경내역 리스트</caption>
                    <colgroup>
                        <col style="width:50%" />
                        <col style="width:50%" />
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">이름(전화번호)</th>
                        <th scope="col">확인일시</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in cpSchduleMngP.lastSchedulePushInfo">
                        <td>{{data.MEMBER_NM}} ({{data.MEMBER_HP | fmtPhone}})</td>
                        <td>{{data.OPEN_DTM | shortDate}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <a ng-click="cpSchduleMngP.close();" class="closePop"><span class="hide">닫기</span></a>
        </div>
    </div>
</section>