<div class="singupPesn">
	<section>
		<h2 class="skip">사이트 이용 정보</h2>
		<div class="cont-box">
			<div class="form-box-cont">
				<div class="inner4 pt0">
					<p class="required">* 표시는 필수 입력 정보 입니다.</p>
					<div class="ms ms-top col2">
						<span class="select-box"> <select class="sel_m disabled"
							title="회원유형 선택" meta-options="MEMBER_KIND" disabled
							meta-options-data="999$회원유형선택" ng-model="piPesnMod.memberKind">
						</select>
						</span> <span class="space-block"></span> <span class="select-box">
							<select title="추천기업선택" ng-model="piPesnMod.memberCompayInfo"
							ng-class="{'disabled' : true}" disabled>
								<option
									ng-repeat="mem in piPesnMod.memberCompayInfoList track by $index"
									value="{{mem.v}}">{{mem.k}}</option>
						</select>
						</span>
					</div>
					<dl ng-if="piPesnMod.memberKind === 'M2'">
						<dt class="star">회사명</dt>
						<dd>
							<span class="text-input"> <input type="text"
								class="inp_box" value="" maxlength="20" title="회사명"
								ng-model="piPesnMod.memberEntercompayInfo" disabled>
							</span>
						</dd>
					</dl>
					<!--//회사명-->
					<dl>
						<dt>이름</dt>
						<dd>
							<span class="text-input"> <input type="text"
								class="inp_box" value="" maxlength="20" title="이름"
								ng-model="piPesnMod.memberNm" disabled>
							</span>
						</dd>
					</dl>
					<dl>
						<dt>아이디</dt>
						<dd>
							<span class="text-input"> <input type="text"
								class="inp_box" value="" maxlength="20" title="아이디"
								ng-model="piPesnMod.memberId" disabled>
							</span>
						</dd>
					</dl>
					<dl>
						<dt class="star">비밀번호</dt>
						<dd>
							<span class="text-input"> <input type="password"
								class="inp_box" placeholder="비밀번호(6~8자 영문, 숫자)" value=""
								maxlength="20" ng-model="piPesnMod.memberPw">
							</span> <span class="text-input"> <input type="password"
								class="inp_box" placeholder="비밀번호 확인(6~8자 영문, 숫자)" value=""
								maxlength="20" ng-model="piPesnMod.memberPwChk">
							</span>
						</dd>
					</dl>
					<dl class="genderSelect">
						<dt class="fl">성별</dt>
						<dd>
							<div class="ml37">
								<span class="rel radio-box"
									ng-repeat="data in piPesnMod.memberGenderInfo"> <input
									type="radio" id="sec{{$index}}" name="sec"
									ng-model="piPesnMod.memberGender" value="{{data.v}}"> <label
									for="sec{{$index}}"><span>{{data.k}}</span></label>
								</span>
							</div>
						</dd>
					</dl>
					<dl>
						<dt class="star">주민등록번호</dt>
						<dd>
							<div class="ms type1">
								<span class="text-input"><input type="tel"
									input-Filter="n" id="rrn1" name="rrn1" class="tf_m type2"
									maxlength="6" placeholder="앞자리 입력" title="앞자리 입력"
									autocomplete="off" ng-model="piPesnMod.memberRrn1"
									disabled="disabled"></span> <span class="space-block">-</span>
								<span class="text-input"> <input type="password"
									input-Filter="n" id="rrn2" name="rrn2"
									class="tf_m type2 nppfs-npv" npkencrypt="on"
									data-keypad-type="num" data-keypad-theme="mobile"
									placeholder="뒷자리 입력" title="뒷자리 입력"
									ng-model="piPesnMod.memberRrn2" maxlength="7"
									disabled="disabled">
								</span>
							</div>
						</dd>
					</dl>
					<dl class="addressInput">
						<dt class="star">거주지</dt>
						<dd>
							<div class="ms col2 row">
								<span class="text-input"> <input type="text"
									class="inp_box" placeholder="우편번호" title="우편번호" disabled
									ng-model="piPesnMod.memberAddrNo">
								</span> <span class="space-block"></span>
								<div class="btn_wrap">
									<button type="button" class="btn cyon"
										ng-click="piPesnMod.addrSearch()">주소검색</button>
								</div>
							</div>
							<div class="ms">
								<span class="text-input"> <input type="text"
									class="inp_box" placeholder="기본주소" title="기본주소" disabled
									ng-model="piPesnMod.memberAddrBase">
								</span>
							</div>
							<div class="ms col3 row">
								<span class="select-box"> <select class="sel_m"
									title="호선선택" meta-options="SUBWAY_LINES"
									meta-options-data="999$호선선택" ng-model="piPesnMod.memberSubwayLines">
								</select>
								</span>
								<span class="space-block"></span> 
								<span class="text-input"> <input type="text"
									class="tf_m type2" placeholder="가까운 지하철역명 입력"
									title="가까운 지하철역명 입력" ng-model="piPesnMod.memberSubwayName">
								</span> <span class="space-block"></span> <span class="select-box">
									<select
									ng-options="data.value as data.text for data in piPesnMod.subwayTimeOptions"
									ng-model="piPesnMod.memberSubwayTime"></select>
								</span>
							</div>
						</dd>
					</dl>
					<dl>
						<dt>연락처</dt>
						<dd>
							<div class="ms col2">
								<!--0511 추가-->
								<span class="select-box"> <select class="sel_m"
									title="통신사 선택" meta-Options="HP_KIND" ng-disabled="piPesnMod.hpAuthDis"
									meta-options-data="999$선택" ng-model="piPesnMod.memberHpKind">
								</select>
								</span> <span class="space-block"></span> <span class="text-input">
									<input type="tel" ng-model="piPesnMod.memberHp" ng-disabled="piPesnMod.hpAuthDis"
									input-Filter="n" maxlength="15">
								</span>
							</div>
						</dd>
						<dd>
							<div class="btn_wrap">
								<button type="button" class="btn cyon" ng-if="!piPesnMod.hpAuthDis"
									ng-click="piPesnMod.hpAuth()">전화번호 인증</button>
								<button type="button" class="btn cyon" ng-if="piPesnMod.hpAuthDis"
									ng-click="piPesnMod.reHpAuth()">전화번호 재인증</button>
							</div>
						</dd>
					</dl>
					<!--추가-->
					<dl>
						<dt class="star">키/몸무게</dt>
						<dd>
							<div class="ms">
								<span class="text-input"> <input type="tel" id=""
									name="" placeholder="" title="키입력" ng-model="piPesnMod.height"
									input-Filter="n" maxlength="4">
								</span> <span class="space-block">/</span> <span class="text-input">
									<input type="tel" id="" name="" placeholder="" title="몸무게입력"
									ng-model="piPesnMod.weight" input-Filter="n" maxlength="4">
								</span>
							</div>
						</dd>
					</dl>
					<dl>
						<dt class="star">이메일</dt>
						<dd>
							<div class="ms col2">
								<span class="text-input"> <input type="text"
									ng-model="piPesnMod.emailId" style="ime-mode: inactive;" >
								</span> <span class="space-block">@</span> <span class="select-box">
									<select class="sel_m" title="이메일 도메인 선택"
									ng-model="piPesnMod.emailDomainId"
									ng-options="data.value as data.text for data in piPesnMod.emailDomainOptions">
								</select>
								</span>
							</div>
							<div class="ms col1">
								<span class="text-input" ng-if="piPesnMod.emailDomainId === '0'">
									<input type="text" ng-model="piPesnMod.emailDomain">
								</span>
							</div>
						</dd>
					</dl>
					<dl class="fileUp">
						<dt class="fl">사업자등록증 및 증빙 서류 첨부</dt>
						<dd>
							<div class="ms col1">
								<form id="form" class="filebox"
									action="/api/com/fileUpload.login" method="post"
									enctype="multipart/form-data">
									<a
										ng-click="!piPesnMod.companyNofileDisabled && piPesnMod.fileAdd()"
										class="txt-btn ml20 fr"><span>사진등록하기</span></a> <label>{{piPesnMod.companyNofileOrgName}}</label><img
										src="../images/bg_close.png"
										style="width: 21px; vertical-align: middle; margin-left: 11px;"
										ng-click="piPesnMod.fileDel()"
										ng-if="piPesnMod.companyNofileDisabled" /> <input type="file"
										id="file" name="file" class="upload-hidden"
										fileread="piPesnMod.readfile" accept="image/*"
										ng-disabled="piPesnMod.companyNofileDisabled"> <input
										type="hidden" name="busnLinkKey" value="-1" />
								</form>
							</div>
						</dd>
					</dl>
					<dl>
						<dt>계좌번호</dt>
						<dd class="bank">
							<div class="row">
								<!--0511 클래스 row추가-->
								<span class="select-box"> <!--0511 클래스 w100삭제--> <select
									id="" title="은행 선택" meta-Options='BANK_NAME'
									meta-options-data='999$은행선택' ng-model='piPesnMod.accBankName'>

								</select>
								</span>
							</div>
							<div class="ms row">
								<!--0511 클래스 row추가-->
								<span class="text-input">
									<input type="text" id="" name="" placeholder="예금주"
										   title="예금주 입력" ng-model='piPesnMod.accName'>
								</span>
								<span class="space-block"></span>
								<span class="text-input">
									<input type="tel" id=""
										name="" placeholder="계좌번호" title="계좌번호 입력" input-Filter="n"
										ng-model='piPesnMod.accNo'>
								</span>
							</div>
						</dd>
					</dl>
					<dl class="fileUp2">
						<dt class="fl">사진등록</dt>
						<dd>
							<button class="txt-btn ml20"
								ng-click="piPesnMod.onAddPhotoButtonClick()">사진등록하기</button>
						</dd>
					</dl>
					<dl class="fileUp2">
						<dt class="fl">영상등록</dt>
						<dd>
							<button class="txt-btn ml20"
								ng-click="piPesnMod.onAddVideoButtonClick()">영상등록하기</button>
						</dd>
					</dl>
					<dl class="fileUp2">
						<dt class="fl">경력사항</dt>
						<dd>
							<button class="txt-btn ml20"
								ng-click="piPesnMod.onAddCareerButtonClick()">경력사항등록하기</button>
						</dd>
					</dl>
					<div class="btn-wrap mt35">
						<div class="row-group">
							<button type="submit" class="btn cyon"
								ng-click="piPesnMod.onUpdateInfoClick('1')">기본정보 수정</button>
						</div>
						<div class="row-group">
							<button type="submit" class="btn red"
								ng-click="piPesnMod.onUpdateInfoClick('2')">상세정보 수정</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div ng-include="doryConst.FOOTER.URL"></div>
</div>