<div class='paList'>
    <section id="content">
        <h2 class="skip">사이트 이용 정보</h2>    
        <div class="guest">
            <div class="top_box">
                <div class="inner">
                    <h3 class="tit"><span>알람 확인</span></h3>
                    <span class="sub">예약된 알람들을 확인합니다.</span>
                </div>
            </div>
            <div class="subject_bx">
                <div class="wrap_job_list_2 ty2">
                                <ul if='paList.mod.list.length > 0'>
                                    <li ng-repeat='item in paList.mod.list'>
                                        <a>     
                                            <div class="top">
                                                <!-- <div class="flug"><span class="step">&nbsp;&nbsp;{{item.MESSAGE_TYPE_NM}}&nbsp;&nbsp;</span></div> -->
                                                <span class="date" ng-bind='item.date | shortDateTime'></span>
                                            </div>
                                            <div class="text2"> 
                                                <span class="desc" ng-bind='item.title'></span>
                                                <span class="sub" ng-bind='item.mesg'></span>
                                                <span class="btn_wrap" >
                                                    <!-- P2 : 스케줄 변경 -->
                                                    <button type="button" class="btn btn2 blue" ng-click='paList.evt.del(item.id)'><span>취소 </span></button>
                                                </span>                                            
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>                                 
                            <div class="more_wrap">
                                <span ng-if="paList.mod.list.length === 0">
                                    표시할 정보가 없습니다.
					         	</span>
                            </div>

                </div>
            </div>
        <!--<div style='position:absolute; width : 100%; bottom:0;'>-->
            <!--<button type='button' style='background-color:black; width: 100%; height:30px; color :white; bottom:0;' ng-click='paList.dev.add(10)'>1000초 뒤 메시지 추가</button>-->
            <!--<button type='button' style='background-color:black; width: 100%; height:30px; color :white; bottom:0;' ng-click=''>알람으로</button>-->
        <!--</div>-->
    </section>
    <!--<div ng-include="doryConst.FOOTER.URL"></div>-->
</div>