<div class='piForm'>
	<section>
		<h2 class="skip">사이트 이용 정보</h2>
		<div class="guest">
			<div class="top_box">
				<div class="inner">
					<h4>
						<span>1:1 문의하기</span>
					</h4>
				</div>
			</div>
			<div class="recruit_cont">
				<div class="inner">
					<div class="form-box-cont">
						<dl>
							<dt>전화번호</dt>
							<dd>
								<div class="ms">
									<span class="select-box w100"> <select id=""
										title="연락처 선택"
										ng-options='item as item.text for item in piForm.mod.hp.list'
										ng-model='piForm.mod.hp.first'></select>
									</span> <span class="space-block">-</span> <span class="text-input">
										<input type="tel" class="tf_m type2" maxlength="4"
										title="앞번호 입력" autocomplete="off"
										ng-model='piForm.mod.hp.second'>
									</span> <span class="space-block">-</span> <span class="text-input">
										<input type="tel" maxlength="4" title="뒷번호 입력"
										ng-model='piForm.mod.hp.third'>
									</span>
								</div>
							</dd>
						</dl>
						<dl>
							<dt>이메일</dt>
							<dd>
								<div class="ms">
									<span class="text-input"> <input type="text" id=""
										name="" title="이메일주소 입력" ng-model='piForm.mod.mail.account'>
									</span> <span class="space_block">@</span> <span
										class="select-box w150"> <input type='text'
										title='이메일 입력' ng-model='piForm.mod.mail.inserted'
										ng-if='piForm.mod.mail.domain.val === 0' /> <select id=""
										title="이메일 선택" ng-model='piForm.mod.mail.domain'
										ng-options='item as item.text for item in piForm.mod.mail.list'>
									</select>
									</span>
								</div>
							</dd>
							</dd>
						</dl>
						<dl>
							<dt>유형</dt>
							<dd>
								<div class="row-group">
									<span class="select-box"> <select id="" title="유형 선택"
										meta-options="QNA_KIND" ng-model="piForm.mod.qnaKind.selected">

									</select>
									</span>
								</div>
								<div class="row-group"
									ng-if="piForm.mod.qnaKind.selected === 'Q1'">
									<span class="select-box"> <select id="" title="유형 선택"
										ng-model='piForm.mod.programs.selected'
										ng-options='item.PGM_NAME for item in piForm.mod.programs.list'>
									</select>
									</span>
								</div>
							</dd>
							</dd>
						</dl>
						<dl>
							<dt>제목</dt>
							<dd>
								<span class="text-input"> <input type="text" id=""
									name="" ng-model='piForm.mod.title' placeholder='제목을 입력해주세요'>
								</span>
							</dd>
							</dd>
						</dl>
						<dl>
							<dt>내용</dt>
							<dd>
								<textarea placeholder="내용을 입력해 주세요." cols="30" rows="7"
									ng-model='piForm.mod.content'></textarea>
							</dd>
						</dl>
						<div class="btn-wrap">
							<div class="row-group">
								<button type="button" class="btn blue2"
									ng-click='piForm.evt.submit()'>등록</button>
							</div>
							<div class="row-group">
								<button type="button" class="btn cyon"
									ng-click='piForm.evt.goToList()'>나의 문의내역</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div ng-include="doryConst.FOOTER.URL"></div>
</div>